@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-jlHKytNFKwBc: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-headline-text-color-universal-primary: var(
    --token-jlHKytNFKwBc
  );
  --token-GewyeJPNTPeR: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-headline-text-color-universal-secondary: var(
    --token-GewyeJPNTPeR
  );
  --token-GMs-TAuR23IX: var(--token-kIiIOw_bUl8D);
  --plasmic-token-headline-text-color-universal-helper: var(
    --token-GMs-TAuR23IX
  );
  --token-vKyycje2mAhs: var(--token-lWEO2ZudSDrD);
  --plasmic-token-headline-text-color-universal-on-color: var(
    --token-vKyycje2mAhs
  );
  --token-riLo8Q7dAv1G: var(--token-Bus8cwXd8WG7);
  --plasmic-token-headline-text-color-status-disabled: var(
    --token-riLo8Q7dAv1G
  );
  --token-mBAlsIjQNU2x: var(--token-IY7haS73fBUX);
  --plasmic-token-headline-text-color-status-error: var(--token-mBAlsIjQNU2x);
  --token-vHuDcXTY4t14: var(--token-pmmltM-TYoqS);
  --plasmic-token-headline-text-color-status-information: var(
    --token-vHuDcXTY4t14
  );
  --token-Bdz7cbtySgJw: var(--token-aob4eJ7jGN8F);
  --plasmic-token-headline-text-color-status-success: var(--token-Bdz7cbtySgJw);
  --token-qLtv3Uyq4CjE: var(--token-1nsZ9eFjcPqQ);
  --plasmic-token-headline-text-color-brand-primary: var(--token-qLtv3Uyq4CjE);
  --token-YQ3hSJsKZuXS: var(--token-ELMZ4I9cKBM1);
  --plasmic-token-headline-text-color-brand-secondary: var(
    --token-YQ3hSJsKZuXS
  );
  --token-PzmJI-i32VgV: var(--token-18ML8UJB4uG-);
  --plasmic-token-headline-text-color-theme-standard: var(--token-PzmJI-i32VgV);
  --token-8NDeGB1wAMXt: var(--token-ievpyAjbeNbB);
  --plasmic-token-headline-size-sm: var(--token-8NDeGB1wAMXt);
  --token-lEFlBqcJ97w6: var(--token-qF-w8l-jyW6w);
  --plasmic-token-headline-size-md: var(--token-lEFlBqcJ97w6);
  --token-eWW6o5jMv-hg: var(--token-qPU1F-X3MnB5);
  --plasmic-token-headline-size-xl: var(--token-eWW6o5jMv-hg);
  --token-wQhJxeWYSDso: var(--token-8EeNaM011TxK);
  --plasmic-token-headline-line-height-sm: var(--token-wQhJxeWYSDso);
  --token-SNBtI4Yjfr-e: var(--token-IFo4m96bzTC-);
  --plasmic-token-headline-line-height-xs: var(--token-SNBtI4Yjfr-e);
  --token-ohEUdq7mPIpB: var(--token-S0oQw7ldxD8U);
  --plasmic-token-headline-font-family-default: var(--token-ohEUdq7mPIpB);
  --token-ykhNTaZQFBgY: var(--token-rXe-me5Dhyf0);
  --plasmic-token-headline-font-family-emphasis: var(--token-ykhNTaZQFBgY);
  --token-8MBHaQ2qRP3d: var(--token-owdqgKd1gRPb);
  --plasmic-token-headline-size-lg: var(--token-8MBHaQ2qRP3d);
  --token-QhmzvQHmmYpo: var(--token-eU71-XZSTeNn);
  --plasmic-token-headline-size-xs: var(--token-QhmzvQHmmYpo);
  --token-wWWMfYkCjmhW: var(--token-NV5iQ6edBkI8);
  --plasmic-token-headline-line-height-md: var(--token-wWWMfYkCjmhW);
  --token-ywIn3Ry7OR5c: var(--token-8IAAh1M2Z5ey);
  --plasmic-token-headline-line-height-lg: var(--token-ywIn3Ry7OR5c);
  --token-VzOdcp0MCTsM: var(--token--a-5Z6jiRRTX);
  --plasmic-token-headline-line-height-xl: var(--token-VzOdcp0MCTsM);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0xwlVgTMB1RF_text-decoration-line: none;
  --mixin-0xwlVgTMB1RF_text-overflow: clip;
  --mixin-0xwlVgTMB1RF_user-select: text;
  --mixin-0xwlVgTMB1RF_white-space: pre-wrap;
  --mixin-0xwlVgTMB1RF_letter-spacing: normal;
  --mixin-0xwlVgTMB1RF_line-height: 20px;
  --mixin-0xwlVgTMB1RF_text-transform: none;
  --mixin-0xwlVgTMB1RF_text-align: left;
  --mixin-0xwlVgTMB1RF_color: #1c2b36;
  --mixin-0xwlVgTMB1RF_font-style: normal;
  --mixin-0xwlVgTMB1RF_font-weight: 400;
  --mixin-0xwlVgTMB1RF_font-size: 16px;
  --mixin-0xwlVgTMB1RF_font-family: "Source Sans Pro", sans-serif;
  --mixin-NtwXjUamH0T0_color: #1c2b36;
  --mixin-NtwXjUamH0T0_font-weight: 700;
  --mixin-NtwXjUamH0T0_font-size: 48px;
  --mixin-NtwXjUamH0T0_line-height: 64px;
  --mixin-NtwXjUamH0T0_letter-spacing: -1px;
  --mixin-NtwXjUamH0T0_font-family: "Merriweather", serif;
  --mixin-NtwXjUamH0T0_white-space: pre-wrap;
  --mixin-VL-XbXTwbYgl_color: #1c2b36;
  --mixin-VL-XbXTwbYgl_font-size: 42px;
  --mixin-VL-XbXTwbYgl_font-weight: 700;
  --mixin-VL-XbXTwbYgl_letter-spacing: -0.5px;
  --mixin-VL-XbXTwbYgl_line-height: 50px;
  --mixin-VL-XbXTwbYgl_font-family: "Merriweather", serif;
  --mixin-VL-XbXTwbYgl_white-space: pre-wrap;
  --mixin-VyIy_AJi_udM_color: #0070f3;
  --mixin-VyIy_AJi_udM_white-space: pre-wrap;
  --mixin-BBDgX3uhHw6-_color: #1c2b36;
  --mixin-BBDgX3uhHw6-_font-size: 36px;
  --mixin-BBDgX3uhHw6-_font-weight: 600;
  --mixin-BBDgX3uhHw6-_line-height: 40px;
  --mixin-BBDgX3uhHw6-_font-family: "Merriweather", serif;
  --mixin-BBDgX3uhHw6-_white-space: pre-wrap;
  --mixin-Fru_NiE2tx8L_color: #1c2b36;
  --mixin-Fru_NiE2tx8L_font-size: 32px;
  --mixin-Fru_NiE2tx8L_font-weight: 600;
  --mixin-Fru_NiE2tx8L_line-height: 36px;
  --mixin-Fru_NiE2tx8L_font-family: "Merriweather", serif;
  --mixin-Fru_NiE2tx8L_white-space: pre-wrap;
  --mixin-vcrLkq21sHGn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vcrLkq21sHGn_border-bottom-color: #dddddd;
  --mixin-vcrLkq21sHGn_border-bottom-style: solid;
  --mixin-vcrLkq21sHGn_border-bottom-width: 1px;
  --mixin-vcrLkq21sHGn_border-left-color: #dddddd;
  --mixin-vcrLkq21sHGn_border-left-style: solid;
  --mixin-vcrLkq21sHGn_border-left-width: 1px;
  --mixin-vcrLkq21sHGn_border-right-color: #dddddd;
  --mixin-vcrLkq21sHGn_border-right-style: solid;
  --mixin-vcrLkq21sHGn_border-right-width: 1px;
  --mixin-vcrLkq21sHGn_border-top-color: #dddddd;
  --mixin-vcrLkq21sHGn_border-top-style: solid;
  --mixin-vcrLkq21sHGn_border-top-width: 1px;
  --mixin-vcrLkq21sHGn_border-bottom-left-radius: 3px;
  --mixin-vcrLkq21sHGn_border-bottom-right-radius: 3px;
  --mixin-vcrLkq21sHGn_border-top-left-radius: 3px;
  --mixin-vcrLkq21sHGn_border-top-right-radius: 3px;
  --mixin-vcrLkq21sHGn_font-family: "Inconsolata";
  --mixin-vcrLkq21sHGn_padding-bottom: 1px;
  --mixin-vcrLkq21sHGn_padding-left: 4px;
  --mixin-vcrLkq21sHGn_padding-right: 4px;
  --mixin-vcrLkq21sHGn_padding-top: 1px;
  --mixin-vcrLkq21sHGn_white-space: pre-wrap;
  --mixin-fnXP9Xx_y_vF_border-left-color: #dddddd;
  --mixin-fnXP9Xx_y_vF_border-left-style: solid;
  --mixin-fnXP9Xx_y_vF_border-left-width: 3px;
  --mixin-fnXP9Xx_y_vF_color: #888888;
  --mixin-fnXP9Xx_y_vF_padding-left: 10px;
  --mixin-fnXP9Xx_y_vF_white-space: pre-wrap;
  --mixin-Sxt_hwE2N6l__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Sxt_hwE2N6l__border-bottom-color: #dddddd;
  --mixin-Sxt_hwE2N6l__border-bottom-style: solid;
  --mixin-Sxt_hwE2N6l__border-bottom-width: 1px;
  --mixin-Sxt_hwE2N6l__border-left-color: #dddddd;
  --mixin-Sxt_hwE2N6l__border-left-style: solid;
  --mixin-Sxt_hwE2N6l__border-left-width: 1px;
  --mixin-Sxt_hwE2N6l__border-right-color: #dddddd;
  --mixin-Sxt_hwE2N6l__border-right-style: solid;
  --mixin-Sxt_hwE2N6l__border-right-width: 1px;
  --mixin-Sxt_hwE2N6l__border-top-color: #dddddd;
  --mixin-Sxt_hwE2N6l__border-top-style: solid;
  --mixin-Sxt_hwE2N6l__border-top-width: 1px;
  --mixin-Sxt_hwE2N6l__border-bottom-left-radius: 3px;
  --mixin-Sxt_hwE2N6l__border-bottom-right-radius: 3px;
  --mixin-Sxt_hwE2N6l__border-top-left-radius: 3px;
  --mixin-Sxt_hwE2N6l__border-top-right-radius: 3px;
  --mixin-Sxt_hwE2N6l__font-family: "Inconsolata";
  --mixin-Sxt_hwE2N6l__padding-bottom: 3px;
  --mixin-Sxt_hwE2N6l__padding-left: 6px;
  --mixin-Sxt_hwE2N6l__padding-right: 6px;
  --mixin-Sxt_hwE2N6l__padding-top: 3px;
  --mixin-Sxt_hwE2N6l__white-space: pre-wrap;
  --mixin-IOGG-iQCHYvk_display: flex;
  --mixin-IOGG-iQCHYvk_flex-direction: column;
  --mixin-IOGG-iQCHYvk_align-items: stretch;
  --mixin-IOGG-iQCHYvk_justify-content: flex-start;
  --mixin-IOGG-iQCHYvk_list-style-position: outside;
  --mixin-IOGG-iQCHYvk_padding-left: 40px;
  --mixin-IOGG-iQCHYvk_position: relative;
  --mixin-IOGG-iQCHYvk_list-style-type: disc;
  --mixin-IOGG-iQCHYvk_white-space: pre-wrap;
  --mixin-JcPfcLzXglHz_display: flex;
  --mixin-JcPfcLzXglHz_flex-direction: column;
  --mixin-JcPfcLzXglHz_align-items: stretch;
  --mixin-JcPfcLzXglHz_justify-content: flex-start;
  --mixin-JcPfcLzXglHz_list-style-position: outside;
  --mixin-JcPfcLzXglHz_padding-left: 40px;
  --mixin-JcPfcLzXglHz_position: relative;
  --mixin-JcPfcLzXglHz_list-style-type: decimal;
  --mixin-JcPfcLzXglHz_white-space: pre-wrap;
  --mixin-kknSVhmK-uvS_color: #1c2b36;
  --mixin-kknSVhmK-uvS_font-size: 28px;
  --mixin-kknSVhmK-uvS_font-weight: 600;
  --mixin-kknSVhmK-uvS_line-height: 28px;
  --mixin-kknSVhmK-uvS_font-family: "Merriweather", serif;
  --mixin-kknSVhmK-uvS_white-space: pre-wrap;
  --mixin-pMDPsDgalyd8_color: #1c2b36;
  --mixin-pMDPsDgalyd8_font-size: 24px;
  --mixin-pMDPsDgalyd8_font-weight: 600;
  --mixin-pMDPsDgalyd8_line-height: 24px;
  --mixin-pMDPsDgalyd8_font-family: "Merriweather", serif;
  --mixin-pMDPsDgalyd8_white-space: pre-wrap;
  --mixin-SbYaOZsUZnXd_color: #3291ff;
  --mixin-SbYaOZsUZnXd_white-space: pre-wrap;
  --mixin-MN3lD3NMaLfZ_white-space: pre-wrap;
  --mixin-YZBOfSlXuURy_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0xwlVgTMB1RF_font-family);
  font-size: var(--mixin-0xwlVgTMB1RF_font-size);
  font-weight: var(--mixin-0xwlVgTMB1RF_font-weight);
  font-style: var(--mixin-0xwlVgTMB1RF_font-style);
  color: var(--mixin-0xwlVgTMB1RF_color);
  text-align: var(--mixin-0xwlVgTMB1RF_text-align);
  text-transform: var(--mixin-0xwlVgTMB1RF_text-transform);
  line-height: var(--mixin-0xwlVgTMB1RF_line-height);
  letter-spacing: var(--mixin-0xwlVgTMB1RF_letter-spacing);
  white-space: var(--mixin-0xwlVgTMB1RF_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-NtwXjUamH0T0_color);
  font-weight: var(--mixin-NtwXjUamH0T0_font-weight);
  font-size: var(--mixin-NtwXjUamH0T0_font-size);
  line-height: var(--mixin-NtwXjUamH0T0_line-height);
  letter-spacing: var(--mixin-NtwXjUamH0T0_letter-spacing);
  font-family: var(--mixin-NtwXjUamH0T0_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-VL-XbXTwbYgl_color);
  font-size: var(--mixin-VL-XbXTwbYgl_font-size);
  font-weight: var(--mixin-VL-XbXTwbYgl_font-weight);
  letter-spacing: var(--mixin-VL-XbXTwbYgl_letter-spacing);
  line-height: var(--mixin-VL-XbXTwbYgl_line-height);
  font-family: var(--mixin-VL-XbXTwbYgl_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-VyIy_AJi_udM_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-BBDgX3uhHw6-_color);
  font-size: var(--mixin-BBDgX3uhHw6-_font-size);
  font-weight: var(--mixin-BBDgX3uhHw6-_font-weight);
  line-height: var(--mixin-BBDgX3uhHw6-_line-height);
  font-family: var(--mixin-BBDgX3uhHw6-_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Fru_NiE2tx8L_color);
  font-size: var(--mixin-Fru_NiE2tx8L_font-size);
  font-weight: var(--mixin-Fru_NiE2tx8L_font-weight);
  line-height: var(--mixin-Fru_NiE2tx8L_line-height);
  font-family: var(--mixin-Fru_NiE2tx8L_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vcrLkq21sHGn_font-family);
  border-radius: var(--mixin-vcrLkq21sHGn_border-top-left-radius)
    var(--mixin-vcrLkq21sHGn_border-top-right-radius)
    var(--mixin-vcrLkq21sHGn_border-bottom-right-radius)
    var(--mixin-vcrLkq21sHGn_border-bottom-left-radius);
  padding: var(--mixin-vcrLkq21sHGn_padding-top)
    var(--mixin-vcrLkq21sHGn_padding-right)
    var(--mixin-vcrLkq21sHGn_padding-bottom)
    var(--mixin-vcrLkq21sHGn_padding-left);
  border-top: var(--mixin-vcrLkq21sHGn_border-top-width)
    var(--mixin-vcrLkq21sHGn_border-top-style)
    var(--mixin-vcrLkq21sHGn_border-top-color);
  border-right: var(--mixin-vcrLkq21sHGn_border-right-width)
    var(--mixin-vcrLkq21sHGn_border-right-style)
    var(--mixin-vcrLkq21sHGn_border-right-color);
  border-bottom: var(--mixin-vcrLkq21sHGn_border-bottom-width)
    var(--mixin-vcrLkq21sHGn_border-bottom-style)
    var(--mixin-vcrLkq21sHGn_border-bottom-color);
  border-left: var(--mixin-vcrLkq21sHGn_border-left-width)
    var(--mixin-vcrLkq21sHGn_border-left-style)
    var(--mixin-vcrLkq21sHGn_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-fnXP9Xx_y_vF_color);
  padding-left: var(--mixin-fnXP9Xx_y_vF_padding-left);
  border-left: var(--mixin-fnXP9Xx_y_vF_border-left-width)
    var(--mixin-fnXP9Xx_y_vF_border-left-style)
    var(--mixin-fnXP9Xx_y_vF_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Sxt_hwE2N6l__font-family);
  border-radius: var(--mixin-Sxt_hwE2N6l__border-top-left-radius)
    var(--mixin-Sxt_hwE2N6l__border-top-right-radius)
    var(--mixin-Sxt_hwE2N6l__border-bottom-right-radius)
    var(--mixin-Sxt_hwE2N6l__border-bottom-left-radius);
  padding: var(--mixin-Sxt_hwE2N6l__padding-top)
    var(--mixin-Sxt_hwE2N6l__padding-right)
    var(--mixin-Sxt_hwE2N6l__padding-bottom)
    var(--mixin-Sxt_hwE2N6l__padding-left);
  border-top: var(--mixin-Sxt_hwE2N6l__border-top-width)
    var(--mixin-Sxt_hwE2N6l__border-top-style)
    var(--mixin-Sxt_hwE2N6l__border-top-color);
  border-right: var(--mixin-Sxt_hwE2N6l__border-right-width)
    var(--mixin-Sxt_hwE2N6l__border-right-style)
    var(--mixin-Sxt_hwE2N6l__border-right-color);
  border-bottom: var(--mixin-Sxt_hwE2N6l__border-bottom-width)
    var(--mixin-Sxt_hwE2N6l__border-bottom-style)
    var(--mixin-Sxt_hwE2N6l__border-bottom-color);
  border-left: var(--mixin-Sxt_hwE2N6l__border-left-width)
    var(--mixin-Sxt_hwE2N6l__border-left-style)
    var(--mixin-Sxt_hwE2N6l__border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-IOGG-iQCHYvk_display);
  flex-direction: var(--mixin-IOGG-iQCHYvk_flex-direction);
  align-items: var(--mixin-IOGG-iQCHYvk_align-items);
  justify-content: var(--mixin-IOGG-iQCHYvk_justify-content);
  list-style-position: var(--mixin-IOGG-iQCHYvk_list-style-position);
  padding-left: var(--mixin-IOGG-iQCHYvk_padding-left);
  position: var(--mixin-IOGG-iQCHYvk_position);
  list-style-type: var(--mixin-IOGG-iQCHYvk_list-style-type);
  flex-column-gap: var(--mixin-IOGG-iQCHYvk_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-JcPfcLzXglHz_display);
  flex-direction: var(--mixin-JcPfcLzXglHz_flex-direction);
  align-items: var(--mixin-JcPfcLzXglHz_align-items);
  justify-content: var(--mixin-JcPfcLzXglHz_justify-content);
  list-style-position: var(--mixin-JcPfcLzXglHz_list-style-position);
  padding-left: var(--mixin-JcPfcLzXglHz_padding-left);
  position: var(--mixin-JcPfcLzXglHz_position);
  list-style-type: var(--mixin-JcPfcLzXglHz_list-style-type);
  flex-column-gap: var(--mixin-JcPfcLzXglHz_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-kknSVhmK-uvS_color);
  font-size: var(--mixin-kknSVhmK-uvS_font-size);
  font-weight: var(--mixin-kknSVhmK-uvS_font-weight);
  line-height: var(--mixin-kknSVhmK-uvS_line-height);
  font-family: var(--mixin-kknSVhmK-uvS_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-pMDPsDgalyd8_color);
  font-size: var(--mixin-pMDPsDgalyd8_font-size);
  font-weight: var(--mixin-pMDPsDgalyd8_font-weight);
  line-height: var(--mixin-pMDPsDgalyd8_line-height);
  font-family: var(--mixin-pMDPsDgalyd8_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-SbYaOZsUZnXd_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
