.contentBase {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
}
.contentStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0px;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
.slotTargetContentSlot {
  color: var(--token-jlHKytNFKwBc);
  line-height: var(--token-wWWMfYkCjmhW);
  font-size: var(--token-lEFlBqcJ97w6);
  font-family: var(--token-ohEUdq7mPIpB);
}
.slotTargetContentSlotcolors_secondary {
  color: var(--token-GewyeJPNTPeR);
}
.slotTargetContentSlotcolors_standard {
  color: var(--token-18ML8UJB4uG-);
}
.slotTargetContentSlotcolors_main {
  color: var(--token-qLtv3Uyq4CjE);
}
.slotTargetContentSlotcolors_ancillary {
  color: var(--token-YQ3hSJsKZuXS);
}
.slotTargetContentSlotcolors_success {
  color: var(--token-Bdz7cbtySgJw);
}
.slotTargetContentSlotcolors_information {
  color: var(--token-vHuDcXTY4t14);
}
.slotTargetContentSlotcolors_error {
  color: var(--token-mBAlsIjQNU2x);
}
.slotTargetContentSlotcolors_disabled {
  color: var(--token-riLo8Q7dAv1G);
}
.slotTargetContentSlotcolors_helper {
  color: var(--token-GMs-TAuR23IX);
}
.slotTargetContentSlotcolors_onColor {
  color: var(--token-vKyycje2mAhs);
}
.slotTargetContentSlotfamily_secondary {
  font-family: var(--token-ykhNTaZQFBgY);
}
.slotTargetContentSlotsize_xxs {
  font-size: var(--token-Ldq67M9_iDBp);
  line-height: var(--token-8_MaayjU5amP);
}
.slotTargetContentSlotsize_xs {
  line-height: var(--token-SNBtI4Yjfr-e);
  font-size: var(--token-QhmzvQHmmYpo);
}
.slotTargetContentSlotsize_sm {
  line-height: var(--token-wQhJxeWYSDso);
  font-size: var(--token-8NDeGB1wAMXt);
}
.slotTargetContentSlotsize_lg {
  font-size: var(--token-8MBHaQ2qRP3d);
  line-height: var(--token-ywIn3Ry7OR5c);
}
.slotTargetContentSlotsize_xl {
  font-size: var(--token-eWW6o5jMv-hg);
  line-height: var(--token-ywIn3Ry7OR5c);
}
.slotTargetContentSlotsize_xxl {
  font-size: var(--token-qPU1F-X3MnB5);
  line-height: var(--token--a-5Z6jiRRTX);
}
.slotTargetContentSlotweight_black {
  font-weight: 900;
}
.slotTargetContentSlotweight_extraBold {
  font-weight: 800;
}
.slotTargetContentSlotweight_bold {
  font-weight: 700;
}
.slotTargetContentSlotweight_semiBold {
  font-weight: 600;
}
.slotTargetContentSlotweight_medium {
  font-weight: 500;
}
.slotTargetContentSlotweight_light {
  font-weight: 300;
}
.slotTargetContentSlotjustification_left {
  text-align: left;
}
.slotTargetContentSlotjustification_center {
  text-align: center;
}
.slotTargetContentSlotjustification_right {
  text-align: right;
}
.slotTargetContentSlotjustification_justification {
  text-align: justify;
}
.text__ls3Hi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
