@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-GvwepD7koTSZ: var(--token-0Wi4-uPa1R04);
  --plasmic-token-avatar-emphasis-bold-text-color: var(--token-GvwepD7koTSZ);
  --token-6hd5YnAlhxd4: var(--token-kIiIOw_bUl8D);
  --plasmic-token-badge-emphasis-bold-background-color: var(
    --token-6hd5YnAlhxd4
  );
  --token-oB7APAbpquTs: var(--token-gX7wDxh76h7C);
  --plasmic-token-badge-padding-h-xs: var(--token-oB7APAbpquTs);
  --token-RNBcX6cfZXvo: var(--token-b3CwEocSWMMK);
  --plasmic-token-badge-padding-v-md: var(--token-RNBcX6cfZXvo);
  --token-ooUkD9JFdXYs: var(--token-2RB-LlABK1rQ);
  --plasmic-token-badge-radii-round: var(--token-ooUkD9JFdXYs);
  --token-yzf8B6nK4Sw3: var(--token-dxvNs_t726zZ);
  --plasmic-token-badge-background-status-error-color: var(
    --token-yzf8B6nK4Sw3
  );
  --token-KaYgGlpPQ1EB: var(--token-9f-hjXZ04LK0);
  --plasmic-token-badge-background-status-warning-color: var(
    --token-KaYgGlpPQ1EB
  );
  --token-oLmQwOkgcmG_: var(--token-sKSyOc4fIH5Q);
  --plasmic-token-badge-background-status-success-color: var(
    --token-oLmQwOkgcmG_
  );
  --token-Xw_AZRaTJuAl: var(--token-UryOpF4cmLPA);
  --plasmic-token-badge-background-status-info-color: var(--token-Xw_AZRaTJuAl);
  --token-hGRU1HiAQGiw: var(--token-u-iP0l2uFOS6);
  --plasmic-token-badge-radii-square: var(--token-hGRU1HiAQGiw);
  --token-DFms3aO3cJZk: var(--token-Fe-dojLZRR5Y);
  --plasmic-token-badge-background-color-red-color: var(--token-DFms3aO3cJZk);
  --token-f23Qy641W2OQ: var(--token-hTg70p0Lt2HB);
  --plasmic-token-badge-background-color-yellow-color: var(
    --token-f23Qy641W2OQ
  );
  --token-x6g_G4uWNdNF: var(--token-8h5zgsPm-oqe);
  --plasmic-token-badge-background-color-green-color: var(--token-x6g_G4uWNdNF);
  --token-XOjYdA42Y0k7: var(--token-bqpn-PRIChLj);
  --plasmic-token-badge-background-color-blue-color: var(--token-XOjYdA42Y0k7);
  --token-tzseko_y4xzp: var(--token-AaEUXQfmg-bt);
  --plasmic-token-badge-background-color-lime-color: var(--token-tzseko_y4xzp);
  --token-Ygo8BKLLIkF2: var(--token-s1rd0VmW0ll9);
  --plasmic-token-badge-background-color-teal-color: var(--token-Ygo8BKLLIkF2);
  --token-CVTP9XFbghIK: var(--token-sDkCX19iqWXj);
  --plasmic-token-badge-background-color-turquiose-color: var(
    --token-CVTP9XFbghIK
  );
  --token-CtIy-MHE1FiV: var(--token-ZbNV73qXRfwe);
  --plasmic-token-badge-background-color-aqua-color: var(--token-CtIy-MHE1FiV);
  --token-jfIiZCj5Qevr: var(--token-3vKXB2DLVrYj);
  --plasmic-token-badge-background-color-indigo-color: var(
    --token-jfIiZCj5Qevr
  );
  --token-vnUq2x7bv_i-: var(--token-k9He2QsuTbau);
  --plasmic-token-badge-background-color-pink-color: var(--token-vnUq2x7bv_i-);
  --token-ntO5pCYQSH7A: var(--token-lglHoO-Efzvx);
  --plasmic-token-badge-background-color-purple-color: var(
    --token-ntO5pCYQSH7A
  );
  --token-XOJH_gxe_AzF: var(--token-10BV8D3CuUzQ);
  --plasmic-token-badge-padding-h-md: var(--token-XOJH_gxe_AzF);
  --token-zgY_kVrG-pNz: var(--token-UWq52Z58Sbph);
  --plasmic-token-badge-padding-h-sm: var(--token-zgY_kVrG-pNz);
  --token-gQwW9wAxVP7v: var(--token-bSLtDw-rslXx);
  --plasmic-token-badge-padding-h-lg: var(--token-gQwW9wAxVP7v);
  --token-emnmROZ7RhWu: var(--token-gX7wDxh76h7C);
  --plasmic-token-badge-padding-v-lg: var(--token-emnmROZ7RhWu);
  --token-2fXLLF7yC9wG: var(--token-UViPLtUgj48y);
  --plasmic-token-avatar-emphasis-bold-border-color: var(--token-2fXLLF7yC9wG);
  --token-30bn7_mVTj3v: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-avatar-emphasis-minimal-text-color: var(--token-30bn7_mVTj3v);
  --token-KZ2gr_8OwSom: var(--token-Ot9tdOY-wz83);
  --plasmic-token-badge-emphasis-subtle-background-color: var(
    --token-KZ2gr_8OwSom
  );
  --token-9fEzaTbNGUOg: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-badge-emphasis-subtle-text-color: var(--token-9fEzaTbNGUOg);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wv4gzWRiEVQZ_font-family: "Inter", sans-serif;
  --mixin-wv4gzWRiEVQZ_font-size: 16px;
  --mixin-wv4gzWRiEVQZ_font-weight: 400;
  --mixin-wv4gzWRiEVQZ_font-style: normal;
  --mixin-wv4gzWRiEVQZ_color: #535353;
  --mixin-wv4gzWRiEVQZ_text-align: left;
  --mixin-wv4gzWRiEVQZ_text-transform: none;
  --mixin-wv4gzWRiEVQZ_line-height: 1.5;
  --mixin-wv4gzWRiEVQZ_letter-spacing: normal;
  --mixin-wv4gzWRiEVQZ_white-space: pre-wrap;
  --mixin-wv4gzWRiEVQZ_user-select: text;
  --mixin-wv4gzWRiEVQZ_text-decoration-line: none;
  --mixin-wv4gzWRiEVQZ_text-overflow: clip;
  --mixin-Ik2lKGAd-IC6_color: #000000;
  --mixin-Ik2lKGAd-IC6_font-weight: 700;
  --mixin-Ik2lKGAd-IC6_font-size: 64px;
  --mixin-Ik2lKGAd-IC6_line-height: 1;
  --mixin-Ik2lKGAd-IC6_letter-spacing: -1px;
  --mixin-Ik2lKGAd-IC6_white-space: pre-wrap;
  --mixin-FmZ2fVmoc-Vp_color: #000000;
  --mixin-FmZ2fVmoc-Vp_font-size: 48px;
  --mixin-FmZ2fVmoc-Vp_font-weight: 700;
  --mixin-FmZ2fVmoc-Vp_letter-spacing: -0.5px;
  --mixin-FmZ2fVmoc-Vp_line-height: 1.1;
  --mixin-FmZ2fVmoc-Vp_white-space: pre-wrap;
  --mixin-PCcgW3GtIdo5_color: #0070f3;
  --mixin-PCcgW3GtIdo5_white-space: pre-wrap;
  --mixin-hvyR9ft2QWBm_color: #000000;
  --mixin-hvyR9ft2QWBm_font-size: 32px;
  --mixin-hvyR9ft2QWBm_font-weight: 600;
  --mixin-hvyR9ft2QWBm_line-height: 1.2;
  --mixin-hvyR9ft2QWBm_white-space: pre-wrap;
  --mixin-tTtVecL9Mx95_color: #000000;
  --mixin-tTtVecL9Mx95_font-size: 24px;
  --mixin-tTtVecL9Mx95_font-weight: 600;
  --mixin-tTtVecL9Mx95_line-height: 1.3;
  --mixin-tTtVecL9Mx95_white-space: pre-wrap;
  --mixin-kJGE2qw00F7H_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kJGE2qw00F7H_border-bottom-color: #dddddd;
  --mixin-kJGE2qw00F7H_border-bottom-style: solid;
  --mixin-kJGE2qw00F7H_border-bottom-width: 1px;
  --mixin-kJGE2qw00F7H_border-left-color: #dddddd;
  --mixin-kJGE2qw00F7H_border-left-style: solid;
  --mixin-kJGE2qw00F7H_border-left-width: 1px;
  --mixin-kJGE2qw00F7H_border-right-color: #dddddd;
  --mixin-kJGE2qw00F7H_border-right-style: solid;
  --mixin-kJGE2qw00F7H_border-right-width: 1px;
  --mixin-kJGE2qw00F7H_border-top-color: #dddddd;
  --mixin-kJGE2qw00F7H_border-top-style: solid;
  --mixin-kJGE2qw00F7H_border-top-width: 1px;
  --mixin-kJGE2qw00F7H_border-bottom-left-radius: 3px;
  --mixin-kJGE2qw00F7H_border-bottom-right-radius: 3px;
  --mixin-kJGE2qw00F7H_border-top-left-radius: 3px;
  --mixin-kJGE2qw00F7H_border-top-right-radius: 3px;
  --mixin-kJGE2qw00F7H_font-family: "Inconsolata";
  --mixin-kJGE2qw00F7H_padding-bottom: 1px;
  --mixin-kJGE2qw00F7H_padding-left: 4px;
  --mixin-kJGE2qw00F7H_padding-right: 4px;
  --mixin-kJGE2qw00F7H_padding-top: 1px;
  --mixin-kJGE2qw00F7H_white-space: pre-wrap;
  --mixin-nfdrtFkgPR3N_border-left-color: #dddddd;
  --mixin-nfdrtFkgPR3N_border-left-style: solid;
  --mixin-nfdrtFkgPR3N_border-left-width: 3px;
  --mixin-nfdrtFkgPR3N_color: #888888;
  --mixin-nfdrtFkgPR3N_padding-left: 10px;
  --mixin-nfdrtFkgPR3N_white-space: pre-wrap;
  --mixin-frknDLUcj_tT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-frknDLUcj_tT_border-bottom-color: #dddddd;
  --mixin-frknDLUcj_tT_border-bottom-style: solid;
  --mixin-frknDLUcj_tT_border-bottom-width: 1px;
  --mixin-frknDLUcj_tT_border-left-color: #dddddd;
  --mixin-frknDLUcj_tT_border-left-style: solid;
  --mixin-frknDLUcj_tT_border-left-width: 1px;
  --mixin-frknDLUcj_tT_border-right-color: #dddddd;
  --mixin-frknDLUcj_tT_border-right-style: solid;
  --mixin-frknDLUcj_tT_border-right-width: 1px;
  --mixin-frknDLUcj_tT_border-top-color: #dddddd;
  --mixin-frknDLUcj_tT_border-top-style: solid;
  --mixin-frknDLUcj_tT_border-top-width: 1px;
  --mixin-frknDLUcj_tT_border-bottom-left-radius: 3px;
  --mixin-frknDLUcj_tT_border-bottom-right-radius: 3px;
  --mixin-frknDLUcj_tT_border-top-left-radius: 3px;
  --mixin-frknDLUcj_tT_border-top-right-radius: 3px;
  --mixin-frknDLUcj_tT_font-family: "Inconsolata";
  --mixin-frknDLUcj_tT_padding-bottom: 3px;
  --mixin-frknDLUcj_tT_padding-left: 6px;
  --mixin-frknDLUcj_tT_padding-right: 6px;
  --mixin-frknDLUcj_tT_padding-top: 3px;
  --mixin-frknDLUcj_tT_white-space: pre-wrap;
  --mixin-wUylA_o3t0LQ_display: flex;
  --mixin-wUylA_o3t0LQ_flex-direction: column;
  --mixin-wUylA_o3t0LQ_align-items: stretch;
  --mixin-wUylA_o3t0LQ_justify-content: flex-start;
  --mixin-wUylA_o3t0LQ_list-style-position: outside;
  --mixin-wUylA_o3t0LQ_padding-left: 40px;
  --mixin-wUylA_o3t0LQ_position: relative;
  --mixin-wUylA_o3t0LQ_list-style-type: disc;
  --mixin-wUylA_o3t0LQ_white-space: pre-wrap;
  --mixin-iawlWhYjCpFE_display: flex;
  --mixin-iawlWhYjCpFE_flex-direction: column;
  --mixin-iawlWhYjCpFE_align-items: stretch;
  --mixin-iawlWhYjCpFE_justify-content: flex-start;
  --mixin-iawlWhYjCpFE_list-style-position: outside;
  --mixin-iawlWhYjCpFE_padding-left: 40px;
  --mixin-iawlWhYjCpFE_position: relative;
  --mixin-iawlWhYjCpFE_list-style-type: decimal;
  --mixin-iawlWhYjCpFE_white-space: pre-wrap;
  --mixin-4SglTnnlpku9_color: #000000;
  --mixin-4SglTnnlpku9_font-size: 20px;
  --mixin-4SglTnnlpku9_font-weight: 600;
  --mixin-4SglTnnlpku9_line-height: 1.5;
  --mixin-4SglTnnlpku9_white-space: pre-wrap;
  --mixin-k6lcQCWLPhif_color: #000000;
  --mixin-k6lcQCWLPhif_font-size: 16px;
  --mixin-k6lcQCWLPhif_font-weight: 600;
  --mixin-k6lcQCWLPhif_line-height: 1.5;
  --mixin-k6lcQCWLPhif_white-space: pre-wrap;
  --mixin-ASRiVA21NuBi_color: #3291ff;
  --mixin-ASRiVA21NuBi_white-space: pre-wrap;
  --mixin-3-q6INmIZDVa_white-space: pre-wrap;
  --mixin-cPR4ZFfoErrv_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wv4gzWRiEVQZ_font-family);
  font-size: var(--mixin-wv4gzWRiEVQZ_font-size);
  font-weight: var(--mixin-wv4gzWRiEVQZ_font-weight);
  font-style: var(--mixin-wv4gzWRiEVQZ_font-style);
  color: var(--mixin-wv4gzWRiEVQZ_color);
  text-align: var(--mixin-wv4gzWRiEVQZ_text-align);
  text-transform: var(--mixin-wv4gzWRiEVQZ_text-transform);
  line-height: var(--mixin-wv4gzWRiEVQZ_line-height);
  letter-spacing: var(--mixin-wv4gzWRiEVQZ_letter-spacing);
  white-space: var(--mixin-wv4gzWRiEVQZ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Ik2lKGAd-IC6_color);
  font-weight: var(--mixin-Ik2lKGAd-IC6_font-weight);
  font-size: var(--mixin-Ik2lKGAd-IC6_font-size);
  line-height: var(--mixin-Ik2lKGAd-IC6_line-height);
  letter-spacing: var(--mixin-Ik2lKGAd-IC6_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-FmZ2fVmoc-Vp_color);
  font-size: var(--mixin-FmZ2fVmoc-Vp_font-size);
  font-weight: var(--mixin-FmZ2fVmoc-Vp_font-weight);
  letter-spacing: var(--mixin-FmZ2fVmoc-Vp_letter-spacing);
  line-height: var(--mixin-FmZ2fVmoc-Vp_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-PCcgW3GtIdo5_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-hvyR9ft2QWBm_color);
  font-size: var(--mixin-hvyR9ft2QWBm_font-size);
  font-weight: var(--mixin-hvyR9ft2QWBm_font-weight);
  line-height: var(--mixin-hvyR9ft2QWBm_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-tTtVecL9Mx95_color);
  font-size: var(--mixin-tTtVecL9Mx95_font-size);
  font-weight: var(--mixin-tTtVecL9Mx95_font-weight);
  line-height: var(--mixin-tTtVecL9Mx95_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kJGE2qw00F7H_font-family);
  border-radius: var(--mixin-kJGE2qw00F7H_border-top-left-radius)
    var(--mixin-kJGE2qw00F7H_border-top-right-radius)
    var(--mixin-kJGE2qw00F7H_border-bottom-right-radius)
    var(--mixin-kJGE2qw00F7H_border-bottom-left-radius);
  padding: var(--mixin-kJGE2qw00F7H_padding-top)
    var(--mixin-kJGE2qw00F7H_padding-right)
    var(--mixin-kJGE2qw00F7H_padding-bottom)
    var(--mixin-kJGE2qw00F7H_padding-left);
  border-top: var(--mixin-kJGE2qw00F7H_border-top-width)
    var(--mixin-kJGE2qw00F7H_border-top-style)
    var(--mixin-kJGE2qw00F7H_border-top-color);
  border-right: var(--mixin-kJGE2qw00F7H_border-right-width)
    var(--mixin-kJGE2qw00F7H_border-right-style)
    var(--mixin-kJGE2qw00F7H_border-right-color);
  border-bottom: var(--mixin-kJGE2qw00F7H_border-bottom-width)
    var(--mixin-kJGE2qw00F7H_border-bottom-style)
    var(--mixin-kJGE2qw00F7H_border-bottom-color);
  border-left: var(--mixin-kJGE2qw00F7H_border-left-width)
    var(--mixin-kJGE2qw00F7H_border-left-style)
    var(--mixin-kJGE2qw00F7H_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-nfdrtFkgPR3N_color);
  padding-left: var(--mixin-nfdrtFkgPR3N_padding-left);
  border-left: var(--mixin-nfdrtFkgPR3N_border-left-width)
    var(--mixin-nfdrtFkgPR3N_border-left-style)
    var(--mixin-nfdrtFkgPR3N_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-frknDLUcj_tT_font-family);
  border-radius: var(--mixin-frknDLUcj_tT_border-top-left-radius)
    var(--mixin-frknDLUcj_tT_border-top-right-radius)
    var(--mixin-frknDLUcj_tT_border-bottom-right-radius)
    var(--mixin-frknDLUcj_tT_border-bottom-left-radius);
  padding: var(--mixin-frknDLUcj_tT_padding-top)
    var(--mixin-frknDLUcj_tT_padding-right)
    var(--mixin-frknDLUcj_tT_padding-bottom)
    var(--mixin-frknDLUcj_tT_padding-left);
  border-top: var(--mixin-frknDLUcj_tT_border-top-width)
    var(--mixin-frknDLUcj_tT_border-top-style)
    var(--mixin-frknDLUcj_tT_border-top-color);
  border-right: var(--mixin-frknDLUcj_tT_border-right-width)
    var(--mixin-frknDLUcj_tT_border-right-style)
    var(--mixin-frknDLUcj_tT_border-right-color);
  border-bottom: var(--mixin-frknDLUcj_tT_border-bottom-width)
    var(--mixin-frknDLUcj_tT_border-bottom-style)
    var(--mixin-frknDLUcj_tT_border-bottom-color);
  border-left: var(--mixin-frknDLUcj_tT_border-left-width)
    var(--mixin-frknDLUcj_tT_border-left-style)
    var(--mixin-frknDLUcj_tT_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wUylA_o3t0LQ_display);
  flex-direction: var(--mixin-wUylA_o3t0LQ_flex-direction);
  align-items: var(--mixin-wUylA_o3t0LQ_align-items);
  justify-content: var(--mixin-wUylA_o3t0LQ_justify-content);
  list-style-position: var(--mixin-wUylA_o3t0LQ_list-style-position);
  padding-left: var(--mixin-wUylA_o3t0LQ_padding-left);
  position: var(--mixin-wUylA_o3t0LQ_position);
  list-style-type: var(--mixin-wUylA_o3t0LQ_list-style-type);
  flex-column-gap: var(--mixin-wUylA_o3t0LQ_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-iawlWhYjCpFE_display);
  flex-direction: var(--mixin-iawlWhYjCpFE_flex-direction);
  align-items: var(--mixin-iawlWhYjCpFE_align-items);
  justify-content: var(--mixin-iawlWhYjCpFE_justify-content);
  list-style-position: var(--mixin-iawlWhYjCpFE_list-style-position);
  padding-left: var(--mixin-iawlWhYjCpFE_padding-left);
  position: var(--mixin-iawlWhYjCpFE_position);
  list-style-type: var(--mixin-iawlWhYjCpFE_list-style-type);
  flex-column-gap: var(--mixin-iawlWhYjCpFE_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-4SglTnnlpku9_color);
  font-size: var(--mixin-4SglTnnlpku9_font-size);
  font-weight: var(--mixin-4SglTnnlpku9_font-weight);
  line-height: var(--mixin-4SglTnnlpku9_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-k6lcQCWLPhif_color);
  font-size: var(--mixin-k6lcQCWLPhif_font-size);
  font-weight: var(--mixin-k6lcQCWLPhif_font-weight);
  line-height: var(--mixin-k6lcQCWLPhif_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ASRiVA21NuBi_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
