@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-c5awEjlI6eRu: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-kicker-text-color-primary: var(--token-c5awEjlI6eRu);
  --token-hfD9xy7ZV7Zo: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-kicker-text-color-secondary: var(--token-hfD9xy7ZV7Zo);
  --token-TFB2IiD_RR3d: var(--token-kIiIOw_bUl8D);
  --plasmic-token-kicker-text-color-helper: var(--token-TFB2IiD_RR3d);
  --token-IdLdKc99MVnA: var(--token-lWEO2ZudSDrD);
  --plasmic-token-kicker-text-color-on-color: var(--token-IdLdKc99MVnA);
  --token-612yGAHTOy6Y: var(--token-Bus8cwXd8WG7);
  --plasmic-token-kicker-text-color-disabled: var(--token-612yGAHTOy6Y);
  --token-9yWCj6OWyfgH: var(--token-IY7haS73fBUX);
  --plasmic-token-kicker-text-color-error: var(--token-9yWCj6OWyfgH);
  --token-QeHAg4TJDtdh: var(--token-pmmltM-TYoqS);
  --plasmic-token-kicker-text-color-information: var(--token-QeHAg4TJDtdh);
  --token-E1sYZgB_DMS-: var(--token-aob4eJ7jGN8F);
  --plasmic-token-kicker-text-color-success: var(--token-E1sYZgB_DMS-);
  --token-YRnixWY_LyZM: var(--token-1nsZ9eFjcPqQ);
  --plasmic-token-kicker-text-color-theme-main: var(--token-YRnixWY_LyZM);
  --token-cHgemXE7cY_I: var(--token-ELMZ4I9cKBM1);
  --plasmic-token-kicker-text-color-theme-ancillary: var(--token-cHgemXE7cY_I);
  --token-w3XG7Is7sEmB: var(--token-18ML8UJB4uG-);
  --plasmic-token-kicker-text-color-theme-standard: var(--token-w3XG7Is7sEmB);
  --token-bOeIvM3ZeaFF: var(--token-Ldq67M9_iDBp);
  --plasmic-token-kicker-size-sm: var(--token-bOeIvM3ZeaFF);
  --token-UK64fj68JPHQ: var(--token-3hRiRQ6Lj9le);
  --plasmic-token-kicker-size-md: var(--token-UK64fj68JPHQ);
  --token-Vg30Sil0ztgv: var(--token-8_MaayjU5amP);
  --plasmic-token-kicker-line-height-sm: var(--token-Vg30Sil0ztgv);
  --token-BYRT_wk6ffGx: var(--token-rXe-me5Dhyf0);
  --plasmic-token-headline-font-family-primary: var(--token-BYRT_wk6ffGx);
  --token-jltX12bMEkGX: var(--token-S0oQw7ldxD8U);
  --plasmic-token-kicker-font-family-emphasis: var(--token-jltX12bMEkGX);
  --token-XaTSsTtkxR38: var(--token-eU71-XZSTeNn);
  --plasmic-token-kicker-size-lg: var(--token-XaTSsTtkxR38);
  --token-gY9aGVEjBu9d: var(--token-GBnIhWNMzLiI);
  --plasmic-token-kicker-line-height-md: var(--token-gY9aGVEjBu9d);
  --token-587leZ6WBZYf: var(--token-IFo4m96bzTC-);
  --plasmic-token-kicker-line-height-lg: var(--token-587leZ6WBZYf);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-9BCnDyDMysZp_text-decoration-line: none;
  --mixin-9BCnDyDMysZp_text-overflow: clip;
  --mixin-9BCnDyDMysZp_user-select: text;
  --mixin-9BCnDyDMysZp_white-space: pre-wrap;
  --mixin-9BCnDyDMysZp_letter-spacing: normal;
  --mixin-9BCnDyDMysZp_line-height: 20px;
  --mixin-9BCnDyDMysZp_text-transform: none;
  --mixin-9BCnDyDMysZp_text-align: left;
  --mixin-9BCnDyDMysZp_color: #1c2b36;
  --mixin-9BCnDyDMysZp_font-style: normal;
  --mixin-9BCnDyDMysZp_font-weight: 400;
  --mixin-9BCnDyDMysZp_font-size: 16px;
  --mixin-9BCnDyDMysZp_font-family: "Source Sans Pro", sans-serif;
  --mixin-mIg912Jv7dmJ_color: #1c2b36;
  --mixin-mIg912Jv7dmJ_font-weight: 700;
  --mixin-mIg912Jv7dmJ_font-size: 48px;
  --mixin-mIg912Jv7dmJ_line-height: 64px;
  --mixin-mIg912Jv7dmJ_letter-spacing: -1px;
  --mixin-mIg912Jv7dmJ_font-family: "Merriweather", serif;
  --mixin-mIg912Jv7dmJ_white-space: pre-wrap;
  --mixin-mNu8Ef3_hTki_color: #1c2b36;
  --mixin-mNu8Ef3_hTki_font-size: 42px;
  --mixin-mNu8Ef3_hTki_font-weight: 700;
  --mixin-mNu8Ef3_hTki_letter-spacing: -0.5px;
  --mixin-mNu8Ef3_hTki_line-height: 50px;
  --mixin-mNu8Ef3_hTki_font-family: "Merriweather", serif;
  --mixin-mNu8Ef3_hTki_white-space: pre-wrap;
  --mixin-kkpDly6aDIJ0_color: #0070f3;
  --mixin-kkpDly6aDIJ0_white-space: pre-wrap;
  --mixin-NdOjJQ5DiUnV_color: #1c2b36;
  --mixin-NdOjJQ5DiUnV_font-size: 36px;
  --mixin-NdOjJQ5DiUnV_font-weight: 600;
  --mixin-NdOjJQ5DiUnV_line-height: 40px;
  --mixin-NdOjJQ5DiUnV_font-family: "Merriweather", serif;
  --mixin-NdOjJQ5DiUnV_white-space: pre-wrap;
  --mixin-i2F10gNxjcnW_color: #1c2b36;
  --mixin-i2F10gNxjcnW_font-size: 32px;
  --mixin-i2F10gNxjcnW_font-weight: 600;
  --mixin-i2F10gNxjcnW_line-height: 36px;
  --mixin-i2F10gNxjcnW_font-family: "Merriweather", serif;
  --mixin-i2F10gNxjcnW_white-space: pre-wrap;
  --mixin-RVwBNJd63Hi__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RVwBNJd63Hi__border-bottom-color: #dddddd;
  --mixin-RVwBNJd63Hi__border-bottom-style: solid;
  --mixin-RVwBNJd63Hi__border-bottom-width: 1px;
  --mixin-RVwBNJd63Hi__border-left-color: #dddddd;
  --mixin-RVwBNJd63Hi__border-left-style: solid;
  --mixin-RVwBNJd63Hi__border-left-width: 1px;
  --mixin-RVwBNJd63Hi__border-right-color: #dddddd;
  --mixin-RVwBNJd63Hi__border-right-style: solid;
  --mixin-RVwBNJd63Hi__border-right-width: 1px;
  --mixin-RVwBNJd63Hi__border-top-color: #dddddd;
  --mixin-RVwBNJd63Hi__border-top-style: solid;
  --mixin-RVwBNJd63Hi__border-top-width: 1px;
  --mixin-RVwBNJd63Hi__border-bottom-left-radius: 3px;
  --mixin-RVwBNJd63Hi__border-bottom-right-radius: 3px;
  --mixin-RVwBNJd63Hi__border-top-left-radius: 3px;
  --mixin-RVwBNJd63Hi__border-top-right-radius: 3px;
  --mixin-RVwBNJd63Hi__font-family: "Inconsolata";
  --mixin-RVwBNJd63Hi__padding-bottom: 1px;
  --mixin-RVwBNJd63Hi__padding-left: 4px;
  --mixin-RVwBNJd63Hi__padding-right: 4px;
  --mixin-RVwBNJd63Hi__padding-top: 1px;
  --mixin-RVwBNJd63Hi__white-space: pre-wrap;
  --mixin-Qb2h1Sm4tZIG_border-left-color: #dddddd;
  --mixin-Qb2h1Sm4tZIG_border-left-style: solid;
  --mixin-Qb2h1Sm4tZIG_border-left-width: 3px;
  --mixin-Qb2h1Sm4tZIG_color: #888888;
  --mixin-Qb2h1Sm4tZIG_padding-left: 10px;
  --mixin-Qb2h1Sm4tZIG_white-space: pre-wrap;
  --mixin-JxbeYhrdBkxq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JxbeYhrdBkxq_border-bottom-color: #dddddd;
  --mixin-JxbeYhrdBkxq_border-bottom-style: solid;
  --mixin-JxbeYhrdBkxq_border-bottom-width: 1px;
  --mixin-JxbeYhrdBkxq_border-left-color: #dddddd;
  --mixin-JxbeYhrdBkxq_border-left-style: solid;
  --mixin-JxbeYhrdBkxq_border-left-width: 1px;
  --mixin-JxbeYhrdBkxq_border-right-color: #dddddd;
  --mixin-JxbeYhrdBkxq_border-right-style: solid;
  --mixin-JxbeYhrdBkxq_border-right-width: 1px;
  --mixin-JxbeYhrdBkxq_border-top-color: #dddddd;
  --mixin-JxbeYhrdBkxq_border-top-style: solid;
  --mixin-JxbeYhrdBkxq_border-top-width: 1px;
  --mixin-JxbeYhrdBkxq_border-bottom-left-radius: 3px;
  --mixin-JxbeYhrdBkxq_border-bottom-right-radius: 3px;
  --mixin-JxbeYhrdBkxq_border-top-left-radius: 3px;
  --mixin-JxbeYhrdBkxq_border-top-right-radius: 3px;
  --mixin-JxbeYhrdBkxq_font-family: "Inconsolata";
  --mixin-JxbeYhrdBkxq_padding-bottom: 3px;
  --mixin-JxbeYhrdBkxq_padding-left: 6px;
  --mixin-JxbeYhrdBkxq_padding-right: 6px;
  --mixin-JxbeYhrdBkxq_padding-top: 3px;
  --mixin-JxbeYhrdBkxq_white-space: pre-wrap;
  --mixin-8F49poWPChbD_display: flex;
  --mixin-8F49poWPChbD_flex-direction: column;
  --mixin-8F49poWPChbD_align-items: stretch;
  --mixin-8F49poWPChbD_justify-content: flex-start;
  --mixin-8F49poWPChbD_list-style-position: outside;
  --mixin-8F49poWPChbD_padding-left: 40px;
  --mixin-8F49poWPChbD_position: relative;
  --mixin-8F49poWPChbD_list-style-type: disc;
  --mixin-8F49poWPChbD_white-space: pre-wrap;
  --mixin-l95aFzMn9xAG_display: flex;
  --mixin-l95aFzMn9xAG_flex-direction: column;
  --mixin-l95aFzMn9xAG_align-items: stretch;
  --mixin-l95aFzMn9xAG_justify-content: flex-start;
  --mixin-l95aFzMn9xAG_list-style-position: outside;
  --mixin-l95aFzMn9xAG_padding-left: 40px;
  --mixin-l95aFzMn9xAG_position: relative;
  --mixin-l95aFzMn9xAG_list-style-type: decimal;
  --mixin-l95aFzMn9xAG_white-space: pre-wrap;
  --mixin-k0DUl5IrXEyY_color: #1c2b36;
  --mixin-k0DUl5IrXEyY_font-size: 28px;
  --mixin-k0DUl5IrXEyY_font-weight: 600;
  --mixin-k0DUl5IrXEyY_line-height: 28px;
  --mixin-k0DUl5IrXEyY_font-family: "Merriweather", serif;
  --mixin-k0DUl5IrXEyY_white-space: pre-wrap;
  --mixin-JvEDtgauQAWI_color: #1c2b36;
  --mixin-JvEDtgauQAWI_font-size: 24px;
  --mixin-JvEDtgauQAWI_font-weight: 600;
  --mixin-JvEDtgauQAWI_line-height: 24px;
  --mixin-JvEDtgauQAWI_font-family: "Merriweather", serif;
  --mixin-JvEDtgauQAWI_white-space: pre-wrap;
  --mixin-TUnaH9IfbR_7_color: #3291ff;
  --mixin-TUnaH9IfbR_7_white-space: pre-wrap;
  --mixin-B0m7PIZxCbUQ_white-space: pre-wrap;
  --mixin-a3vRzPoBhOGm_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-9BCnDyDMysZp_font-family);
  font-size: var(--mixin-9BCnDyDMysZp_font-size);
  font-weight: var(--mixin-9BCnDyDMysZp_font-weight);
  font-style: var(--mixin-9BCnDyDMysZp_font-style);
  color: var(--mixin-9BCnDyDMysZp_color);
  text-align: var(--mixin-9BCnDyDMysZp_text-align);
  text-transform: var(--mixin-9BCnDyDMysZp_text-transform);
  line-height: var(--mixin-9BCnDyDMysZp_line-height);
  letter-spacing: var(--mixin-9BCnDyDMysZp_letter-spacing);
  white-space: var(--mixin-9BCnDyDMysZp_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-mIg912Jv7dmJ_color);
  font-weight: var(--mixin-mIg912Jv7dmJ_font-weight);
  font-size: var(--mixin-mIg912Jv7dmJ_font-size);
  line-height: var(--mixin-mIg912Jv7dmJ_line-height);
  letter-spacing: var(--mixin-mIg912Jv7dmJ_letter-spacing);
  font-family: var(--mixin-mIg912Jv7dmJ_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-mNu8Ef3_hTki_color);
  font-size: var(--mixin-mNu8Ef3_hTki_font-size);
  font-weight: var(--mixin-mNu8Ef3_hTki_font-weight);
  letter-spacing: var(--mixin-mNu8Ef3_hTki_letter-spacing);
  line-height: var(--mixin-mNu8Ef3_hTki_line-height);
  font-family: var(--mixin-mNu8Ef3_hTki_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-kkpDly6aDIJ0_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-NdOjJQ5DiUnV_color);
  font-size: var(--mixin-NdOjJQ5DiUnV_font-size);
  font-weight: var(--mixin-NdOjJQ5DiUnV_font-weight);
  line-height: var(--mixin-NdOjJQ5DiUnV_line-height);
  font-family: var(--mixin-NdOjJQ5DiUnV_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-i2F10gNxjcnW_color);
  font-size: var(--mixin-i2F10gNxjcnW_font-size);
  font-weight: var(--mixin-i2F10gNxjcnW_font-weight);
  line-height: var(--mixin-i2F10gNxjcnW_line-height);
  font-family: var(--mixin-i2F10gNxjcnW_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RVwBNJd63Hi__font-family);
  border-radius: var(--mixin-RVwBNJd63Hi__border-top-left-radius)
    var(--mixin-RVwBNJd63Hi__border-top-right-radius)
    var(--mixin-RVwBNJd63Hi__border-bottom-right-radius)
    var(--mixin-RVwBNJd63Hi__border-bottom-left-radius);
  padding: var(--mixin-RVwBNJd63Hi__padding-top)
    var(--mixin-RVwBNJd63Hi__padding-right)
    var(--mixin-RVwBNJd63Hi__padding-bottom)
    var(--mixin-RVwBNJd63Hi__padding-left);
  border-top: var(--mixin-RVwBNJd63Hi__border-top-width)
    var(--mixin-RVwBNJd63Hi__border-top-style)
    var(--mixin-RVwBNJd63Hi__border-top-color);
  border-right: var(--mixin-RVwBNJd63Hi__border-right-width)
    var(--mixin-RVwBNJd63Hi__border-right-style)
    var(--mixin-RVwBNJd63Hi__border-right-color);
  border-bottom: var(--mixin-RVwBNJd63Hi__border-bottom-width)
    var(--mixin-RVwBNJd63Hi__border-bottom-style)
    var(--mixin-RVwBNJd63Hi__border-bottom-color);
  border-left: var(--mixin-RVwBNJd63Hi__border-left-width)
    var(--mixin-RVwBNJd63Hi__border-left-style)
    var(--mixin-RVwBNJd63Hi__border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Qb2h1Sm4tZIG_color);
  padding-left: var(--mixin-Qb2h1Sm4tZIG_padding-left);
  border-left: var(--mixin-Qb2h1Sm4tZIG_border-left-width)
    var(--mixin-Qb2h1Sm4tZIG_border-left-style)
    var(--mixin-Qb2h1Sm4tZIG_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JxbeYhrdBkxq_font-family);
  border-radius: var(--mixin-JxbeYhrdBkxq_border-top-left-radius)
    var(--mixin-JxbeYhrdBkxq_border-top-right-radius)
    var(--mixin-JxbeYhrdBkxq_border-bottom-right-radius)
    var(--mixin-JxbeYhrdBkxq_border-bottom-left-radius);
  padding: var(--mixin-JxbeYhrdBkxq_padding-top)
    var(--mixin-JxbeYhrdBkxq_padding-right)
    var(--mixin-JxbeYhrdBkxq_padding-bottom)
    var(--mixin-JxbeYhrdBkxq_padding-left);
  border-top: var(--mixin-JxbeYhrdBkxq_border-top-width)
    var(--mixin-JxbeYhrdBkxq_border-top-style)
    var(--mixin-JxbeYhrdBkxq_border-top-color);
  border-right: var(--mixin-JxbeYhrdBkxq_border-right-width)
    var(--mixin-JxbeYhrdBkxq_border-right-style)
    var(--mixin-JxbeYhrdBkxq_border-right-color);
  border-bottom: var(--mixin-JxbeYhrdBkxq_border-bottom-width)
    var(--mixin-JxbeYhrdBkxq_border-bottom-style)
    var(--mixin-JxbeYhrdBkxq_border-bottom-color);
  border-left: var(--mixin-JxbeYhrdBkxq_border-left-width)
    var(--mixin-JxbeYhrdBkxq_border-left-style)
    var(--mixin-JxbeYhrdBkxq_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-8F49poWPChbD_display);
  flex-direction: var(--mixin-8F49poWPChbD_flex-direction);
  align-items: var(--mixin-8F49poWPChbD_align-items);
  justify-content: var(--mixin-8F49poWPChbD_justify-content);
  list-style-position: var(--mixin-8F49poWPChbD_list-style-position);
  padding-left: var(--mixin-8F49poWPChbD_padding-left);
  position: var(--mixin-8F49poWPChbD_position);
  list-style-type: var(--mixin-8F49poWPChbD_list-style-type);
  flex-column-gap: var(--mixin-8F49poWPChbD_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-l95aFzMn9xAG_display);
  flex-direction: var(--mixin-l95aFzMn9xAG_flex-direction);
  align-items: var(--mixin-l95aFzMn9xAG_align-items);
  justify-content: var(--mixin-l95aFzMn9xAG_justify-content);
  list-style-position: var(--mixin-l95aFzMn9xAG_list-style-position);
  padding-left: var(--mixin-l95aFzMn9xAG_padding-left);
  position: var(--mixin-l95aFzMn9xAG_position);
  list-style-type: var(--mixin-l95aFzMn9xAG_list-style-type);
  flex-column-gap: var(--mixin-l95aFzMn9xAG_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-k0DUl5IrXEyY_color);
  font-size: var(--mixin-k0DUl5IrXEyY_font-size);
  font-weight: var(--mixin-k0DUl5IrXEyY_font-weight);
  line-height: var(--mixin-k0DUl5IrXEyY_line-height);
  font-family: var(--mixin-k0DUl5IrXEyY_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-JvEDtgauQAWI_color);
  font-size: var(--mixin-JvEDtgauQAWI_font-size);
  font-weight: var(--mixin-JvEDtgauQAWI_font-weight);
  line-height: var(--mixin-JvEDtgauQAWI_line-height);
  font-family: var(--mixin-JvEDtgauQAWI_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-TUnaH9IfbR_7_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
