@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-QTAn6GOL7PcL: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-content-text-color-universal-primary: var(
    --token-QTAn6GOL7PcL
  );
  --token-6STBqWSNZKkA: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-content-text-color-universal-secondary: var(
    --token-6STBqWSNZKkA
  );
  --token-YxKQc3EhyT50: var(--token-kIiIOw_bUl8D);
  --plasmic-token-content-text-color-status-helper: var(--token-YxKQc3EhyT50);
  --token-jBxZ1EjsrS85: var(--token-lWEO2ZudSDrD);
  --plasmic-token-content-text-color-universal-on-color: var(
    --token-jBxZ1EjsrS85
  );
  --token-EXC4VLBHdr_T: var(--token-Bus8cwXd8WG7);
  --plasmic-token-content-text-color-status-disabled: var(--token-EXC4VLBHdr_T);
  --token-bKGwpuxEl3gP: var(--token-IY7haS73fBUX);
  --plasmic-token-content-text-color-status-error: var(--token-bKGwpuxEl3gP);
  --token-cbCDeTjjxY2F: var(--token-pmmltM-TYoqS);
  --plasmic-token-content-text-color-information: var(--token-cbCDeTjjxY2F);
  --token-BuO_x7vWR9CK: var(--token-aob4eJ7jGN8F);
  --plasmic-token-content-text-color-status-success: var(--token-BuO_x7vWR9CK);
  --token-snCgguCuvZ1f: var(--token-1nsZ9eFjcPqQ);
  --plasmic-token-content-text-color-brand-primary: var(--token-snCgguCuvZ1f);
  --token-COfXeYbyb69N: var(--token-ELMZ4I9cKBM1);
  --plasmic-token-content-text-color-brand-secondary: var(--token-COfXeYbyb69N);
  --token-nsUYf8hPF7KL: var(--token-18ML8UJB4uG-);
  --plasmic-token-content-text-color-brand-standard: var(--token-nsUYf8hPF7KL);
  --token-2z3v0-cK-F5z: var(--token-Gy6dNJXeqzld);
  --plasmic-token-content-size-sm: var(--token-2z3v0-cK-F5z);
  --token-flQx_rIVWSEm: var(--token--4UhdP_HsIC_);
  --plasmic-token-content-size-md: var(--token-flQx_rIVWSEm);
  --token-OifBm5jZOBI3: var(--token-eSdnxQh3M7kb);
  --plasmic-token-content-size-lg: var(--token-OifBm5jZOBI3);
  --token-u39CSdpriE5d: var(--token-PgHShZzsPbb6);
  --plasmic-token-content-line-height-lg: var(--token-u39CSdpriE5d);
  --token-Cea0ZT4Ix3LR: var(--token-r3CLEGF83WW_);
  --plasmic-token-content-line-height-md: var(--token-Cea0ZT4Ix3LR);
  --token-V-2Li_W4R5wd: var(--token-kp9b7fGwd327);
  --plasmic-token-content-font-family-default: var(--token-V-2Li_W4R5wd);
  --token-KVVMRm5xgGdi: var(--token-syb_I0v1eexm);
  --plasmic-token-content-font-family-emphasis: var(--token-KVVMRm5xgGdi);
  --token-YcF8eUKST6rk: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-content-padding-lg: var(--token-YcF8eUKST6rk);
  --token-h-UuudtVIcEI: var(--token-ooyqpeY3PJfm);
  --plasmic-token-content-padding-md: var(--token-h-UuudtVIcEI);
  --token-EL1T-owc2bPs: var(--token-sjmCVFAtkAXI);
  --plasmic-token-content-padding-sm: var(--token-EL1T-owc2bPs);
  --token-2SK3A_cYX7kF: var(--token-b3CwEocSWMMK);
  --plasmic-token-content-padding-none: var(--token-2SK3A_cYX7kF);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-uQFbk3XGCv0D_text-decoration-line: none;
  --mixin-uQFbk3XGCv0D_text-overflow: clip;
  --mixin-uQFbk3XGCv0D_user-select: text;
  --mixin-uQFbk3XGCv0D_white-space: pre-wrap;
  --mixin-uQFbk3XGCv0D_letter-spacing: normal;
  --mixin-uQFbk3XGCv0D_line-height: 20px;
  --mixin-uQFbk3XGCv0D_text-transform: none;
  --mixin-uQFbk3XGCv0D_text-align: left;
  --mixin-uQFbk3XGCv0D_color: #1c2b36;
  --mixin-uQFbk3XGCv0D_font-style: normal;
  --mixin-uQFbk3XGCv0D_font-weight: 400;
  --mixin-uQFbk3XGCv0D_font-size: 16px;
  --mixin-uQFbk3XGCv0D_font-family: "Source Sans Pro", sans-serif;
  --mixin-6Fn8RCUMGQ48_color: #1c2b36;
  --mixin-6Fn8RCUMGQ48_font-weight: 700;
  --mixin-6Fn8RCUMGQ48_font-size: 48px;
  --mixin-6Fn8RCUMGQ48_line-height: 64px;
  --mixin-6Fn8RCUMGQ48_letter-spacing: -1px;
  --mixin-6Fn8RCUMGQ48_font-family: "Merriweather", serif;
  --mixin-6Fn8RCUMGQ48_white-space: pre-wrap;
  --mixin-INjlr7-7XTHH_color: #1c2b36;
  --mixin-INjlr7-7XTHH_font-size: 42px;
  --mixin-INjlr7-7XTHH_font-weight: 700;
  --mixin-INjlr7-7XTHH_letter-spacing: -0.5px;
  --mixin-INjlr7-7XTHH_line-height: 50px;
  --mixin-INjlr7-7XTHH_font-family: "Merriweather", serif;
  --mixin-INjlr7-7XTHH_white-space: pre-wrap;
  --mixin-gpsRwMHoKTci_color: #0070f3;
  --mixin-gpsRwMHoKTci_white-space: pre-wrap;
  --mixin-MYg0L46q7j15_color: #1c2b36;
  --mixin-MYg0L46q7j15_font-size: 36px;
  --mixin-MYg0L46q7j15_font-weight: 600;
  --mixin-MYg0L46q7j15_line-height: 40px;
  --mixin-MYg0L46q7j15_font-family: "Merriweather", serif;
  --mixin-MYg0L46q7j15_white-space: pre-wrap;
  --mixin--RQZ8qgnW0QG_color: #1c2b36;
  --mixin--RQZ8qgnW0QG_font-size: 32px;
  --mixin--RQZ8qgnW0QG_font-weight: 600;
  --mixin--RQZ8qgnW0QG_line-height: 36px;
  --mixin--RQZ8qgnW0QG_font-family: "Merriweather", serif;
  --mixin--RQZ8qgnW0QG_white-space: pre-wrap;
  --mixin-E3p_m91ifTew_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E3p_m91ifTew_border-bottom-color: #dddddd;
  --mixin-E3p_m91ifTew_border-bottom-style: solid;
  --mixin-E3p_m91ifTew_border-bottom-width: 1px;
  --mixin-E3p_m91ifTew_border-left-color: #dddddd;
  --mixin-E3p_m91ifTew_border-left-style: solid;
  --mixin-E3p_m91ifTew_border-left-width: 1px;
  --mixin-E3p_m91ifTew_border-right-color: #dddddd;
  --mixin-E3p_m91ifTew_border-right-style: solid;
  --mixin-E3p_m91ifTew_border-right-width: 1px;
  --mixin-E3p_m91ifTew_border-top-color: #dddddd;
  --mixin-E3p_m91ifTew_border-top-style: solid;
  --mixin-E3p_m91ifTew_border-top-width: 1px;
  --mixin-E3p_m91ifTew_border-bottom-left-radius: 3px;
  --mixin-E3p_m91ifTew_border-bottom-right-radius: 3px;
  --mixin-E3p_m91ifTew_border-top-left-radius: 3px;
  --mixin-E3p_m91ifTew_border-top-right-radius: 3px;
  --mixin-E3p_m91ifTew_font-family: "Inconsolata";
  --mixin-E3p_m91ifTew_padding-bottom: 1px;
  --mixin-E3p_m91ifTew_padding-left: 4px;
  --mixin-E3p_m91ifTew_padding-right: 4px;
  --mixin-E3p_m91ifTew_padding-top: 1px;
  --mixin-E3p_m91ifTew_white-space: pre-wrap;
  --mixin-Izy0L1A5RCUc_border-left-color: #dddddd;
  --mixin-Izy0L1A5RCUc_border-left-style: solid;
  --mixin-Izy0L1A5RCUc_border-left-width: 3px;
  --mixin-Izy0L1A5RCUc_color: #888888;
  --mixin-Izy0L1A5RCUc_padding-left: 10px;
  --mixin-Izy0L1A5RCUc_white-space: pre-wrap;
  --mixin-mampUVZCVYyx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mampUVZCVYyx_border-bottom-color: #dddddd;
  --mixin-mampUVZCVYyx_border-bottom-style: solid;
  --mixin-mampUVZCVYyx_border-bottom-width: 1px;
  --mixin-mampUVZCVYyx_border-left-color: #dddddd;
  --mixin-mampUVZCVYyx_border-left-style: solid;
  --mixin-mampUVZCVYyx_border-left-width: 1px;
  --mixin-mampUVZCVYyx_border-right-color: #dddddd;
  --mixin-mampUVZCVYyx_border-right-style: solid;
  --mixin-mampUVZCVYyx_border-right-width: 1px;
  --mixin-mampUVZCVYyx_border-top-color: #dddddd;
  --mixin-mampUVZCVYyx_border-top-style: solid;
  --mixin-mampUVZCVYyx_border-top-width: 1px;
  --mixin-mampUVZCVYyx_border-bottom-left-radius: 3px;
  --mixin-mampUVZCVYyx_border-bottom-right-radius: 3px;
  --mixin-mampUVZCVYyx_border-top-left-radius: 3px;
  --mixin-mampUVZCVYyx_border-top-right-radius: 3px;
  --mixin-mampUVZCVYyx_font-family: "Inconsolata";
  --mixin-mampUVZCVYyx_padding-bottom: 3px;
  --mixin-mampUVZCVYyx_padding-left: 6px;
  --mixin-mampUVZCVYyx_padding-right: 6px;
  --mixin-mampUVZCVYyx_padding-top: 3px;
  --mixin-mampUVZCVYyx_white-space: pre-wrap;
  --mixin-nVT7VHCa8smm_display: flex;
  --mixin-nVT7VHCa8smm_flex-direction: column;
  --mixin-nVT7VHCa8smm_align-items: stretch;
  --mixin-nVT7VHCa8smm_justify-content: flex-start;
  --mixin-nVT7VHCa8smm_list-style-position: outside;
  --mixin-nVT7VHCa8smm_padding-left: 40px;
  --mixin-nVT7VHCa8smm_position: relative;
  --mixin-nVT7VHCa8smm_list-style-type: disc;
  --mixin-nVT7VHCa8smm_white-space: pre-wrap;
  --mixin-O-ha7CvLfwxy_display: flex;
  --mixin-O-ha7CvLfwxy_flex-direction: column;
  --mixin-O-ha7CvLfwxy_align-items: stretch;
  --mixin-O-ha7CvLfwxy_justify-content: flex-start;
  --mixin-O-ha7CvLfwxy_list-style-position: outside;
  --mixin-O-ha7CvLfwxy_padding-left: 40px;
  --mixin-O-ha7CvLfwxy_position: relative;
  --mixin-O-ha7CvLfwxy_list-style-type: decimal;
  --mixin-O-ha7CvLfwxy_white-space: pre-wrap;
  --mixin-Twl0g2ATI0uc_color: #1c2b36;
  --mixin-Twl0g2ATI0uc_font-size: 28px;
  --mixin-Twl0g2ATI0uc_font-weight: 600;
  --mixin-Twl0g2ATI0uc_line-height: 28px;
  --mixin-Twl0g2ATI0uc_font-family: "Merriweather", serif;
  --mixin-Twl0g2ATI0uc_white-space: pre-wrap;
  --mixin-op72bRsJMNCV_color: #1c2b36;
  --mixin-op72bRsJMNCV_font-size: 24px;
  --mixin-op72bRsJMNCV_font-weight: 600;
  --mixin-op72bRsJMNCV_line-height: 24px;
  --mixin-op72bRsJMNCV_font-family: "Merriweather", serif;
  --mixin-op72bRsJMNCV_white-space: pre-wrap;
  --mixin-eOOSHN14ga6Y_color: #3291ff;
  --mixin-eOOSHN14ga6Y_white-space: pre-wrap;
  --mixin-i3gfQvklPbSE_white-space: pre-wrap;
  --mixin-Oso-tBhtXXIi_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-uQFbk3XGCv0D_font-family);
  font-size: var(--mixin-uQFbk3XGCv0D_font-size);
  font-weight: var(--mixin-uQFbk3XGCv0D_font-weight);
  font-style: var(--mixin-uQFbk3XGCv0D_font-style);
  color: var(--mixin-uQFbk3XGCv0D_color);
  text-align: var(--mixin-uQFbk3XGCv0D_text-align);
  text-transform: var(--mixin-uQFbk3XGCv0D_text-transform);
  line-height: var(--mixin-uQFbk3XGCv0D_line-height);
  letter-spacing: var(--mixin-uQFbk3XGCv0D_letter-spacing);
  white-space: var(--mixin-uQFbk3XGCv0D_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-6Fn8RCUMGQ48_color);
  font-weight: var(--mixin-6Fn8RCUMGQ48_font-weight);
  font-size: var(--mixin-6Fn8RCUMGQ48_font-size);
  line-height: var(--mixin-6Fn8RCUMGQ48_line-height);
  letter-spacing: var(--mixin-6Fn8RCUMGQ48_letter-spacing);
  font-family: var(--mixin-6Fn8RCUMGQ48_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-INjlr7-7XTHH_color);
  font-size: var(--mixin-INjlr7-7XTHH_font-size);
  font-weight: var(--mixin-INjlr7-7XTHH_font-weight);
  letter-spacing: var(--mixin-INjlr7-7XTHH_letter-spacing);
  line-height: var(--mixin-INjlr7-7XTHH_line-height);
  font-family: var(--mixin-INjlr7-7XTHH_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-gpsRwMHoKTci_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-MYg0L46q7j15_color);
  font-size: var(--mixin-MYg0L46q7j15_font-size);
  font-weight: var(--mixin-MYg0L46q7j15_font-weight);
  line-height: var(--mixin-MYg0L46q7j15_line-height);
  font-family: var(--mixin-MYg0L46q7j15_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--RQZ8qgnW0QG_color);
  font-size: var(--mixin--RQZ8qgnW0QG_font-size);
  font-weight: var(--mixin--RQZ8qgnW0QG_font-weight);
  line-height: var(--mixin--RQZ8qgnW0QG_line-height);
  font-family: var(--mixin--RQZ8qgnW0QG_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-E3p_m91ifTew_font-family);
  border-radius: var(--mixin-E3p_m91ifTew_border-top-left-radius)
    var(--mixin-E3p_m91ifTew_border-top-right-radius)
    var(--mixin-E3p_m91ifTew_border-bottom-right-radius)
    var(--mixin-E3p_m91ifTew_border-bottom-left-radius);
  padding: var(--mixin-E3p_m91ifTew_padding-top)
    var(--mixin-E3p_m91ifTew_padding-right)
    var(--mixin-E3p_m91ifTew_padding-bottom)
    var(--mixin-E3p_m91ifTew_padding-left);
  border-top: var(--mixin-E3p_m91ifTew_border-top-width)
    var(--mixin-E3p_m91ifTew_border-top-style)
    var(--mixin-E3p_m91ifTew_border-top-color);
  border-right: var(--mixin-E3p_m91ifTew_border-right-width)
    var(--mixin-E3p_m91ifTew_border-right-style)
    var(--mixin-E3p_m91ifTew_border-right-color);
  border-bottom: var(--mixin-E3p_m91ifTew_border-bottom-width)
    var(--mixin-E3p_m91ifTew_border-bottom-style)
    var(--mixin-E3p_m91ifTew_border-bottom-color);
  border-left: var(--mixin-E3p_m91ifTew_border-left-width)
    var(--mixin-E3p_m91ifTew_border-left-style)
    var(--mixin-E3p_m91ifTew_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Izy0L1A5RCUc_color);
  padding-left: var(--mixin-Izy0L1A5RCUc_padding-left);
  border-left: var(--mixin-Izy0L1A5RCUc_border-left-width)
    var(--mixin-Izy0L1A5RCUc_border-left-style)
    var(--mixin-Izy0L1A5RCUc_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mampUVZCVYyx_font-family);
  border-radius: var(--mixin-mampUVZCVYyx_border-top-left-radius)
    var(--mixin-mampUVZCVYyx_border-top-right-radius)
    var(--mixin-mampUVZCVYyx_border-bottom-right-radius)
    var(--mixin-mampUVZCVYyx_border-bottom-left-radius);
  padding: var(--mixin-mampUVZCVYyx_padding-top)
    var(--mixin-mampUVZCVYyx_padding-right)
    var(--mixin-mampUVZCVYyx_padding-bottom)
    var(--mixin-mampUVZCVYyx_padding-left);
  border-top: var(--mixin-mampUVZCVYyx_border-top-width)
    var(--mixin-mampUVZCVYyx_border-top-style)
    var(--mixin-mampUVZCVYyx_border-top-color);
  border-right: var(--mixin-mampUVZCVYyx_border-right-width)
    var(--mixin-mampUVZCVYyx_border-right-style)
    var(--mixin-mampUVZCVYyx_border-right-color);
  border-bottom: var(--mixin-mampUVZCVYyx_border-bottom-width)
    var(--mixin-mampUVZCVYyx_border-bottom-style)
    var(--mixin-mampUVZCVYyx_border-bottom-color);
  border-left: var(--mixin-mampUVZCVYyx_border-left-width)
    var(--mixin-mampUVZCVYyx_border-left-style)
    var(--mixin-mampUVZCVYyx_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-nVT7VHCa8smm_display);
  flex-direction: var(--mixin-nVT7VHCa8smm_flex-direction);
  align-items: var(--mixin-nVT7VHCa8smm_align-items);
  justify-content: var(--mixin-nVT7VHCa8smm_justify-content);
  list-style-position: var(--mixin-nVT7VHCa8smm_list-style-position);
  padding-left: var(--mixin-nVT7VHCa8smm_padding-left);
  position: var(--mixin-nVT7VHCa8smm_position);
  list-style-type: var(--mixin-nVT7VHCa8smm_list-style-type);
  flex-column-gap: var(--mixin-nVT7VHCa8smm_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-O-ha7CvLfwxy_display);
  flex-direction: var(--mixin-O-ha7CvLfwxy_flex-direction);
  align-items: var(--mixin-O-ha7CvLfwxy_align-items);
  justify-content: var(--mixin-O-ha7CvLfwxy_justify-content);
  list-style-position: var(--mixin-O-ha7CvLfwxy_list-style-position);
  padding-left: var(--mixin-O-ha7CvLfwxy_padding-left);
  position: var(--mixin-O-ha7CvLfwxy_position);
  list-style-type: var(--mixin-O-ha7CvLfwxy_list-style-type);
  flex-column-gap: var(--mixin-O-ha7CvLfwxy_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Twl0g2ATI0uc_color);
  font-size: var(--mixin-Twl0g2ATI0uc_font-size);
  font-weight: var(--mixin-Twl0g2ATI0uc_font-weight);
  line-height: var(--mixin-Twl0g2ATI0uc_line-height);
  font-family: var(--mixin-Twl0g2ATI0uc_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-op72bRsJMNCV_color);
  font-size: var(--mixin-op72bRsJMNCV_font-size);
  font-weight: var(--mixin-op72bRsJMNCV_font-weight);
  line-height: var(--mixin-op72bRsJMNCV_line-height);
  font-family: var(--mixin-op72bRsJMNCV_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-eOOSHN14ga6Y_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
