@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-gjJJpSIx5Xyp: var(--token-2AiSuX3qcmlO);
  --plasmic-token-input-color-input-enabled-background: var(
    --token-gjJJpSIx5Xyp
  );
  --token-kT6GbYmF-VnR: var(--token-6GfPPOchwYFz);
  --plasmic-token-input-color-input-enabled-border: var(--token-kT6GbYmF-VnR);
  --token-aDRp4dDTUjmw: var(--token-KVdCS2PWAd6R);
  --plasmic-token-input-color-input-enabled-text: var(--token-aDRp4dDTUjmw);
  --token-kPBLEtUgNllD: var(--token-10BV8D3CuUzQ);
  --plasmic-token-textinput-input-padding-v-md: var(--token-kPBLEtUgNllD);
  --token-KUgTtDqCK080: var(--token-bSLtDw-rslXx);
  --plasmic-token-textinput-input-padding-h-md: var(--token-KUgTtDqCK080);
  --token-vqI9bxc3swgW: var(--token-KVdCS2PWAd6R);
  --plasmic-token-input-color-input-hover-text: var(--token-vqI9bxc3swgW);
  --token-Jlc3Svg4n4cj: var(--token-djQLKh_CnO22);
  --plasmic-token-input-color-input-hover-border: var(--token-Jlc3Svg4n4cj);
  --token-R8oCj9E8pCf9: var(--token-2AiSuX3qcmlO);
  --plasmic-token-input-color-input-hover-background: var(--token-R8oCj9E8pCf9);
  --token-VXSCWTH2B8KY: var(--token-2AiSuX3qcmlO);
  --plasmic-token-input-color-input-focus-background: var(--token-VXSCWTH2B8KY);
  --token-UOeG9l7smYT_: var(--token-6GfPPOchwYFz);
  --plasmic-token-input-color-input-focus-border: var(--token-UOeG9l7smYT_);
  --token-xr7e0czKWYED: var(--token-KVdCS2PWAd6R);
  --plasmic-token-input-color-input-focus-text: var(--token-xr7e0czKWYED);
  --token-_dJRdGmN0sUn: var(--token-L5Jm3kgWukCd);
  --plasmic-token-input-color-track-focus-outline: var(--token-_dJRdGmN0sUn);
  --token-MGoQtn_vSURX: var(--token-usnHGrPMOGMj);
  --plasmic-token-textinput-icon-width: var(--token-MGoQtn_vSURX);
  --token-FI87e4XJBPOg: var(--token-usnHGrPMOGMj);
  --plasmic-token-textinput-icon-height: var(--token-FI87e4XJBPOg);
  --token-IEAUZsl2azV9: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-input-color-input-enabled-icon: var(--token-IEAUZsl2azV9);
  --token-d7SfTj8wzFV9: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-input-color-input-enabled-background-dark: var(
    --token-d7SfTj8wzFV9
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-UN23dcsbDhTG_font-family: "Inter", sans-serif;
  --mixin-UN23dcsbDhTG_font-size: 16px;
  --mixin-UN23dcsbDhTG_font-weight: 400;
  --mixin-UN23dcsbDhTG_font-style: normal;
  --mixin-UN23dcsbDhTG_color: #535353;
  --mixin-UN23dcsbDhTG_text-align: left;
  --mixin-UN23dcsbDhTG_text-transform: none;
  --mixin-UN23dcsbDhTG_line-height: 1.5;
  --mixin-UN23dcsbDhTG_letter-spacing: normal;
  --mixin-UN23dcsbDhTG_white-space: pre-wrap;
  --mixin-UN23dcsbDhTG_user-select: text;
  --mixin-UN23dcsbDhTG_text-decoration-line: none;
  --mixin-UN23dcsbDhTG_text-overflow: clip;
  --mixin-p28KkR7CoYSu_color: #000000;
  --mixin-p28KkR7CoYSu_font-weight: 700;
  --mixin-p28KkR7CoYSu_font-size: 64px;
  --mixin-p28KkR7CoYSu_line-height: 1;
  --mixin-p28KkR7CoYSu_letter-spacing: -1px;
  --mixin-p28KkR7CoYSu_white-space: pre-wrap;
  --mixin-9UqZWWI0UlSt_color: #000000;
  --mixin-9UqZWWI0UlSt_font-size: 48px;
  --mixin-9UqZWWI0UlSt_font-weight: 700;
  --mixin-9UqZWWI0UlSt_letter-spacing: -0.5px;
  --mixin-9UqZWWI0UlSt_line-height: 1.1;
  --mixin-9UqZWWI0UlSt_white-space: pre-wrap;
  --mixin-SXfeJuQSZGQc_color: #0070f3;
  --mixin-SXfeJuQSZGQc_white-space: pre-wrap;
  --mixin-1mwX3cvSjynb_color: #000000;
  --mixin-1mwX3cvSjynb_font-size: 32px;
  --mixin-1mwX3cvSjynb_font-weight: 600;
  --mixin-1mwX3cvSjynb_line-height: 1.2;
  --mixin-1mwX3cvSjynb_white-space: pre-wrap;
  --mixin-jUZpg6mtNFog_color: #000000;
  --mixin-jUZpg6mtNFog_font-size: 24px;
  --mixin-jUZpg6mtNFog_font-weight: 600;
  --mixin-jUZpg6mtNFog_line-height: 1.3;
  --mixin-jUZpg6mtNFog_white-space: pre-wrap;
  --mixin-3reZTOYnzgEZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3reZTOYnzgEZ_border-bottom-color: #dddddd;
  --mixin-3reZTOYnzgEZ_border-bottom-style: solid;
  --mixin-3reZTOYnzgEZ_border-bottom-width: 1px;
  --mixin-3reZTOYnzgEZ_border-left-color: #dddddd;
  --mixin-3reZTOYnzgEZ_border-left-style: solid;
  --mixin-3reZTOYnzgEZ_border-left-width: 1px;
  --mixin-3reZTOYnzgEZ_border-right-color: #dddddd;
  --mixin-3reZTOYnzgEZ_border-right-style: solid;
  --mixin-3reZTOYnzgEZ_border-right-width: 1px;
  --mixin-3reZTOYnzgEZ_border-top-color: #dddddd;
  --mixin-3reZTOYnzgEZ_border-top-style: solid;
  --mixin-3reZTOYnzgEZ_border-top-width: 1px;
  --mixin-3reZTOYnzgEZ_border-bottom-left-radius: 3px;
  --mixin-3reZTOYnzgEZ_border-bottom-right-radius: 3px;
  --mixin-3reZTOYnzgEZ_border-top-left-radius: 3px;
  --mixin-3reZTOYnzgEZ_border-top-right-radius: 3px;
  --mixin-3reZTOYnzgEZ_font-family: "Inconsolata";
  --mixin-3reZTOYnzgEZ_padding-bottom: 1px;
  --mixin-3reZTOYnzgEZ_padding-left: 4px;
  --mixin-3reZTOYnzgEZ_padding-right: 4px;
  --mixin-3reZTOYnzgEZ_padding-top: 1px;
  --mixin-3reZTOYnzgEZ_white-space: pre-wrap;
  --mixin-eD3PWwXP_Ozq_border-left-color: #dddddd;
  --mixin-eD3PWwXP_Ozq_border-left-style: solid;
  --mixin-eD3PWwXP_Ozq_border-left-width: 3px;
  --mixin-eD3PWwXP_Ozq_color: #888888;
  --mixin-eD3PWwXP_Ozq_padding-left: 10px;
  --mixin-eD3PWwXP_Ozq_white-space: pre-wrap;
  --mixin-0zz-lXyybabg_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0zz-lXyybabg_border-bottom-color: #dddddd;
  --mixin-0zz-lXyybabg_border-bottom-style: solid;
  --mixin-0zz-lXyybabg_border-bottom-width: 1px;
  --mixin-0zz-lXyybabg_border-left-color: #dddddd;
  --mixin-0zz-lXyybabg_border-left-style: solid;
  --mixin-0zz-lXyybabg_border-left-width: 1px;
  --mixin-0zz-lXyybabg_border-right-color: #dddddd;
  --mixin-0zz-lXyybabg_border-right-style: solid;
  --mixin-0zz-lXyybabg_border-right-width: 1px;
  --mixin-0zz-lXyybabg_border-top-color: #dddddd;
  --mixin-0zz-lXyybabg_border-top-style: solid;
  --mixin-0zz-lXyybabg_border-top-width: 1px;
  --mixin-0zz-lXyybabg_border-bottom-left-radius: 3px;
  --mixin-0zz-lXyybabg_border-bottom-right-radius: 3px;
  --mixin-0zz-lXyybabg_border-top-left-radius: 3px;
  --mixin-0zz-lXyybabg_border-top-right-radius: 3px;
  --mixin-0zz-lXyybabg_font-family: "Inconsolata";
  --mixin-0zz-lXyybabg_padding-bottom: 3px;
  --mixin-0zz-lXyybabg_padding-left: 6px;
  --mixin-0zz-lXyybabg_padding-right: 6px;
  --mixin-0zz-lXyybabg_padding-top: 3px;
  --mixin-0zz-lXyybabg_white-space: pre-wrap;
  --mixin--HpREWgStVDs_display: flex;
  --mixin--HpREWgStVDs_flex-direction: column;
  --mixin--HpREWgStVDs_align-items: stretch;
  --mixin--HpREWgStVDs_justify-content: flex-start;
  --mixin--HpREWgStVDs_list-style-position: outside;
  --mixin--HpREWgStVDs_padding-left: 40px;
  --mixin--HpREWgStVDs_position: relative;
  --mixin--HpREWgStVDs_list-style-type: disc;
  --mixin--HpREWgStVDs_white-space: pre-wrap;
  --mixin-LnomvPnwB6RE_display: flex;
  --mixin-LnomvPnwB6RE_flex-direction: column;
  --mixin-LnomvPnwB6RE_align-items: stretch;
  --mixin-LnomvPnwB6RE_justify-content: flex-start;
  --mixin-LnomvPnwB6RE_list-style-position: outside;
  --mixin-LnomvPnwB6RE_padding-left: 40px;
  --mixin-LnomvPnwB6RE_position: relative;
  --mixin-LnomvPnwB6RE_list-style-type: decimal;
  --mixin-LnomvPnwB6RE_white-space: pre-wrap;
  --mixin-IMG1_QtGK3jl_color: #000000;
  --mixin-IMG1_QtGK3jl_font-size: 20px;
  --mixin-IMG1_QtGK3jl_font-weight: 600;
  --mixin-IMG1_QtGK3jl_line-height: 1.5;
  --mixin-IMG1_QtGK3jl_white-space: pre-wrap;
  --mixin-voXqtI_WdmLj_color: #000000;
  --mixin-voXqtI_WdmLj_font-size: 16px;
  --mixin-voXqtI_WdmLj_font-weight: 600;
  --mixin-voXqtI_WdmLj_line-height: 1.5;
  --mixin-voXqtI_WdmLj_white-space: pre-wrap;
  --mixin-nY5TY0ybMft0_color: #3291ff;
  --mixin-nY5TY0ybMft0_white-space: pre-wrap;
  --mixin-8hZKkJTUIL44_white-space: pre-wrap;
  --mixin-zDP8jDKx5fQd_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-eFM7xpM9VEF6_box-shadow: 0px 0px 6px 1px var(--token-WQlfRbBqJnGU);
  --plasmic-mixin-button-primary-focus-shadow_box-shadow: var(
    --mixin-eFM7xpM9VEF6_box-shadow
  );
  --mixin-eFM7xpM9VEF6_white-space: pre-wrap;
  --plasmic-mixin-button-primary-focus-shadow_white-space: var(
    --mixin-eFM7xpM9VEF6_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-UN23dcsbDhTG_font-family);
  font-size: var(--mixin-UN23dcsbDhTG_font-size);
  font-weight: var(--mixin-UN23dcsbDhTG_font-weight);
  font-style: var(--mixin-UN23dcsbDhTG_font-style);
  color: var(--mixin-UN23dcsbDhTG_color);
  text-align: var(--mixin-UN23dcsbDhTG_text-align);
  text-transform: var(--mixin-UN23dcsbDhTG_text-transform);
  line-height: var(--mixin-UN23dcsbDhTG_line-height);
  letter-spacing: var(--mixin-UN23dcsbDhTG_letter-spacing);
  white-space: var(--mixin-UN23dcsbDhTG_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-p28KkR7CoYSu_color);
  font-weight: var(--mixin-p28KkR7CoYSu_font-weight);
  font-size: var(--mixin-p28KkR7CoYSu_font-size);
  line-height: var(--mixin-p28KkR7CoYSu_line-height);
  letter-spacing: var(--mixin-p28KkR7CoYSu_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-9UqZWWI0UlSt_color);
  font-size: var(--mixin-9UqZWWI0UlSt_font-size);
  font-weight: var(--mixin-9UqZWWI0UlSt_font-weight);
  letter-spacing: var(--mixin-9UqZWWI0UlSt_letter-spacing);
  line-height: var(--mixin-9UqZWWI0UlSt_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-SXfeJuQSZGQc_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-1mwX3cvSjynb_color);
  font-size: var(--mixin-1mwX3cvSjynb_font-size);
  font-weight: var(--mixin-1mwX3cvSjynb_font-weight);
  line-height: var(--mixin-1mwX3cvSjynb_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-jUZpg6mtNFog_color);
  font-size: var(--mixin-jUZpg6mtNFog_font-size);
  font-weight: var(--mixin-jUZpg6mtNFog_font-weight);
  line-height: var(--mixin-jUZpg6mtNFog_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3reZTOYnzgEZ_font-family);
  border-radius: var(--mixin-3reZTOYnzgEZ_border-top-left-radius)
    var(--mixin-3reZTOYnzgEZ_border-top-right-radius)
    var(--mixin-3reZTOYnzgEZ_border-bottom-right-radius)
    var(--mixin-3reZTOYnzgEZ_border-bottom-left-radius);
  padding: var(--mixin-3reZTOYnzgEZ_padding-top)
    var(--mixin-3reZTOYnzgEZ_padding-right)
    var(--mixin-3reZTOYnzgEZ_padding-bottom)
    var(--mixin-3reZTOYnzgEZ_padding-left);
  border-top: var(--mixin-3reZTOYnzgEZ_border-top-width)
    var(--mixin-3reZTOYnzgEZ_border-top-style)
    var(--mixin-3reZTOYnzgEZ_border-top-color);
  border-right: var(--mixin-3reZTOYnzgEZ_border-right-width)
    var(--mixin-3reZTOYnzgEZ_border-right-style)
    var(--mixin-3reZTOYnzgEZ_border-right-color);
  border-bottom: var(--mixin-3reZTOYnzgEZ_border-bottom-width)
    var(--mixin-3reZTOYnzgEZ_border-bottom-style)
    var(--mixin-3reZTOYnzgEZ_border-bottom-color);
  border-left: var(--mixin-3reZTOYnzgEZ_border-left-width)
    var(--mixin-3reZTOYnzgEZ_border-left-style)
    var(--mixin-3reZTOYnzgEZ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-eD3PWwXP_Ozq_color);
  padding-left: var(--mixin-eD3PWwXP_Ozq_padding-left);
  border-left: var(--mixin-eD3PWwXP_Ozq_border-left-width)
    var(--mixin-eD3PWwXP_Ozq_border-left-style)
    var(--mixin-eD3PWwXP_Ozq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0zz-lXyybabg_font-family);
  border-radius: var(--mixin-0zz-lXyybabg_border-top-left-radius)
    var(--mixin-0zz-lXyybabg_border-top-right-radius)
    var(--mixin-0zz-lXyybabg_border-bottom-right-radius)
    var(--mixin-0zz-lXyybabg_border-bottom-left-radius);
  padding: var(--mixin-0zz-lXyybabg_padding-top)
    var(--mixin-0zz-lXyybabg_padding-right)
    var(--mixin-0zz-lXyybabg_padding-bottom)
    var(--mixin-0zz-lXyybabg_padding-left);
  border-top: var(--mixin-0zz-lXyybabg_border-top-width)
    var(--mixin-0zz-lXyybabg_border-top-style)
    var(--mixin-0zz-lXyybabg_border-top-color);
  border-right: var(--mixin-0zz-lXyybabg_border-right-width)
    var(--mixin-0zz-lXyybabg_border-right-style)
    var(--mixin-0zz-lXyybabg_border-right-color);
  border-bottom: var(--mixin-0zz-lXyybabg_border-bottom-width)
    var(--mixin-0zz-lXyybabg_border-bottom-style)
    var(--mixin-0zz-lXyybabg_border-bottom-color);
  border-left: var(--mixin-0zz-lXyybabg_border-left-width)
    var(--mixin-0zz-lXyybabg_border-left-style)
    var(--mixin-0zz-lXyybabg_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin--HpREWgStVDs_display);
  flex-direction: var(--mixin--HpREWgStVDs_flex-direction);
  align-items: var(--mixin--HpREWgStVDs_align-items);
  justify-content: var(--mixin--HpREWgStVDs_justify-content);
  list-style-position: var(--mixin--HpREWgStVDs_list-style-position);
  padding-left: var(--mixin--HpREWgStVDs_padding-left);
  position: var(--mixin--HpREWgStVDs_position);
  list-style-type: var(--mixin--HpREWgStVDs_list-style-type);
  flex-column-gap: var(--mixin--HpREWgStVDs_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-LnomvPnwB6RE_display);
  flex-direction: var(--mixin-LnomvPnwB6RE_flex-direction);
  align-items: var(--mixin-LnomvPnwB6RE_align-items);
  justify-content: var(--mixin-LnomvPnwB6RE_justify-content);
  list-style-position: var(--mixin-LnomvPnwB6RE_list-style-position);
  padding-left: var(--mixin-LnomvPnwB6RE_padding-left);
  position: var(--mixin-LnomvPnwB6RE_position);
  list-style-type: var(--mixin-LnomvPnwB6RE_list-style-type);
  flex-column-gap: var(--mixin-LnomvPnwB6RE_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-IMG1_QtGK3jl_color);
  font-size: var(--mixin-IMG1_QtGK3jl_font-size);
  font-weight: var(--mixin-IMG1_QtGK3jl_font-weight);
  line-height: var(--mixin-IMG1_QtGK3jl_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-voXqtI_WdmLj_color);
  font-size: var(--mixin-voXqtI_WdmLj_font-size);
  font-weight: var(--mixin-voXqtI_WdmLj_font-weight);
  line-height: var(--mixin-voXqtI_WdmLj_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-nY5TY0ybMft0_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
