.root {
  display: inline-flex;
  max-width: 100%;
  background: var(--token-lsYfsWFJ12Fg);
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  width: auto;
  justify-self: flex-start;
  height: auto;
  padding: 8px;
}
.freeBox___2Di0W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: var(--token-2RB-LlABK1rQ);
  padding: var(--token-10BV8D3CuUzQ);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  border-radius: var(--token-2RB-LlABK1rQ);
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__hy5Np {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__y9Wzk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.compSeparator:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___3ScFl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.h6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 200;
  text-align: center;
  min-width: 0;
}
