@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800&family=Lora%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-mEjzFUzWGa-I: #fcfcfc;
  --plasmic-token-gray-01: var(--token-mEjzFUzWGa-I);
  --token-fRtl81iiEYuk: #f9f9f9;
  --plasmic-token-gray-02: var(--token-fRtl81iiEYuk);
  --token-0GmISRcZykCF: #f6f6f6;
  --plasmic-token-gray-03: var(--token-0GmISRcZykCF);
  --token-Gihv60pdXxLi: #f3f3f3;
  --plasmic-token-gray-04: var(--token-Gihv60pdXxLi);
  --token-kldQ2G2RkFc2: #f0f0f0;
  --plasmic-token-gray-05: var(--token-kldQ2G2RkFc2);
  --token-307Hfzruk8Vd: #e6e6e6;
  --plasmic-token-gray-10: var(--token-307Hfzruk8Vd);
  --token-qCDnQBdNch-q: #2e2e2e;
  --plasmic-token-gray-80: var(--token-qCDnQBdNch-q);
  --token-I4i-PwIehR7x: #454545;
  --plasmic-token-gray-70: var(--token-I4i-PwIehR7x);
  --token-9IYiGbvdZb4F: #1b1b1b;
  --plasmic-token-gray-90: var(--token-9IYiGbvdZb4F);
  --token-AE77WN8eCmOI: #c9c9c9;
  --plasmic-token-gray-20: var(--token-AE77WN8eCmOI);
  --token-8xETqf1E-mvd: #adadad;
  --plasmic-token-gray-30: var(--token-8xETqf1E-mvd);
  --token-AFlcJI1WXJDl: #919191;
  --plasmic-token-gray-40: var(--token-AFlcJI1WXJDl);
  --token-344SBbmuF_E1: #757575;
  --plasmic-token-gray-50: var(--token-344SBbmuF_E1);
  --token-yA0n2Hi54tA9: #5c5c5c;
  --plasmic-token-gray-60: var(--token-yA0n2Hi54tA9);
  --token-rWE0KCslL0PP: #f9f0f2;
  --plasmic-token-magenta-05: var(--token-rWE0KCslL0PP);
  --token--RmJDQ89D5i2: #f6e1e8;
  --plasmic-token-magenta-10: var(--token--RmJDQ89D5i2);
  --token-NRG-bPbqeuwt: #f0bbcc;
  --plasmic-token-magenta-20: var(--token-NRG-bPbqeuwt);
  --token-y6tCJyXuIyMI: #e895b3;
  --plasmic-token-magenta-30: var(--token-y6tCJyXuIyMI);
  --token-qwtXoRuggTFW: #e0699f;
  --plasmic-token-magenta-40: var(--token-qwtXoRuggTFW);
  --token-Jp_8NzWZSgHd: #c84281;
  --plasmic-token-magenta-50: var(--token-Jp_8NzWZSgHd);
  --token-WgDnHAUnGO8T: #8b4566;
  --plasmic-token-magenta-60: var(--token-WgDnHAUnGO8T);
  --token-THRpvTUL4RRH: #66364b;
  --plasmic-token-magenta-70: var(--token-THRpvTUL4RRH);
  --token-czXhhbgGX2mR: #402731;
  --plasmic-token-magenta-80: var(--token-czXhhbgGX2mR);
  --token-h_FAbp29O5I1: #1b1617;
  --plasmic-token-magenta-90: var(--token-h_FAbp29O5I1);
  --token-SC10aPRAhbel: #e7f6f8;
  --plasmic-token-cyan-05: var(--token-SC10aPRAhbel);
  --token-3vQ5_jxtapgp: #ccecf2;
  --plasmic-token-cyan-10: var(--token-3vQ5_jxtapgp);
  --token-gWD7tsFBRGcz: #99deea;
  --plasmic-token-cyan-20: var(--token-gWD7tsFBRGcz);
  --token-5wnwf3wiejrO: #5dc0d1;
  --plasmic-token-cyan-30: var(--token-5wnwf3wiejrO);
  --token-iQs31vGJ8TJG: #449dac;
  --plasmic-token-cyan-40: var(--token-iQs31vGJ8TJG);
  --token-PSp1DpiXEEfX: #168092;
  --plasmic-token-cyan-50: var(--token-PSp1DpiXEEfX);
  --token-pc05OpZu906y: #2a646d;
  --plasmic-token-cyan-60: var(--token-pc05OpZu906y);
  --token-Ewxu4a9a-7Ju: #2c4a4e;
  --plasmic-token-cyan-70: var(--token-Ewxu4a9a-7Ju);
  --token-kiPSIQxGRKAo: #203133;
  --plasmic-token-cyan-80: var(--token-kiPSIQxGRKAo);
  --token-IZgHOfAjW0_0: #111819;
  --plasmic-token-cyan-90: var(--token-IZgHOfAjW0_0);
  --token-qasvrsYp2CeD: #d5fbf3;
  --plasmic-token-mint-cool-vivid-05: var(--token-qasvrsYp2CeD);
  --token-1TrZaAjx0mr-: #7efbe1;
  --plasmic-token-mint-cool-vivid-10: var(--token-1TrZaAjx0mr-);
  --token-CaQTwn8nhaKL: #29e1cb;
  --plasmic-token-mint-cool-vivid-20: var(--token-CaQTwn8nhaKL);
  --token-xW3SkgORHHeF: #1dc2ae;
  --plasmic-token-mint-cool-vivid-30: var(--token-xW3SkgORHHeF);
  --token-FbGjkGfuZvRl: #00a398;
  --plasmic-token-mint-cool-vivid-40: var(--token-FbGjkGfuZvRl);
  --token-PhYyFhn6AbAP: #008480;
  --plasmic-token-mint-cool-vivid-50: var(--token-PhYyFhn6AbAP);
  --token-aAqiXV1dXNOH: #0f6460;
  --plasmic-token-mint-cool-vivid-60: var(--token-aAqiXV1dXNOH);
  --token-2pc1er_KqKqM: #0b4b3f;
  --plasmic-token-mint-cool-vivid-70: var(--token-2pc1er_KqKqM);
  --token-VXCnoXCZxZM9: #123131;
  --plasmic-token-mint-cool-vivid-80: var(--token-VXCnoXCZxZM9);
  --token-iSZTU7w70ReZ: #f5fbc1;
  --plasmic-token-green-warm-vivid-05: var(--token-iSZTU7w70ReZ);
  --token-2LabfGU6aDBJ: #e7f434;
  --plasmic-token-green-warm-vivid-10: var(--token-2LabfGU6aDBJ);
  --token-rgV-d5FQVbIF: #c5d30a;
  --plasmic-token-green-warm-vivid-20: var(--token-rgV-d5FQVbIF);
  --token-jeCUuwTkuLZb: #a3b72c;
  --plasmic-token-green-warm-vivid-30: var(--token-jeCUuwTkuLZb);
  --token-5kPdS1Pr0mLg: #7e9c1d;
  --plasmic-token-green-warm-vivid-40: var(--token-5kPdS1Pr0mLg);
  --token-w7xDqvs5-ZoJ: #6a7d00;
  --plasmic-token-green-warm-vivid-50: var(--token-w7xDqvs5-ZoJ);
  --token-Qswq0iS_BKR_: #5a6613;
  --plasmic-token-green-warm-vivid-60: var(--token-Qswq0iS_BKR_);
  --token-Q3t66IohC6wI: #4b4e10;
  --plasmic-token-green-warm-vivid-70: var(--token-Q3t66IohC6wI);
  --token-ZVeOM9tsBhr8: #38380b;
  --plasmic-token-green-warm-vivid-80: var(--token-ZVeOM9tsBhr8);
  --token-M1JpmpGbhncL: var(--token-8xETqf1E-mvd);
  --plasmic-token-theme-base-low: var(--token-M1JpmpGbhncL);
  --token-WSNKUCxAVFC6: var(--token-307Hfzruk8Vd);
  --plasmic-token-theme-base-lower: var(--token-WSNKUCxAVFC6);
  --token-pje0kVGj5QUT: var(--token-kldQ2G2RkFc2);
  --plasmic-token-theme-base-lowest: var(--token-pje0kVGj5QUT);
  --token-wtxfGuNZAzYg: var(--token-344SBbmuF_E1);
  --plasmic-token-theme-base: var(--token-wtxfGuNZAzYg);
  --token-OKvlNmCVP77b: var(--token-yA0n2Hi54tA9);
  --plasmic-token-theme-base-high: var(--token-OKvlNmCVP77b);
  --token-OOymIh0GapXG: var(--token-I4i-PwIehR7x);
  --plasmic-token-theme-base-higher: var(--token-OOymIh0GapXG);
  --token-O42viZAGk5mG: var(--token-9IYiGbvdZb4F);
  --plasmic-token-theme-base-highest: var(--token-O42viZAGk5mG);
  --token-oXG0k4uCcLuN: var(--token-9IYiGbvdZb4F);
  --plasmic-token-theme-ink: var(--token-oXG0k4uCcLuN);
  --token-6N6loTh3O7A7: var(--token-rWE0KCslL0PP);
  --plasmic-token-theme-primary-lower: var(--token-6N6loTh3O7A7);
  --token-0lAIdDpKdD8P: var(--token-y6tCJyXuIyMI);
  --plasmic-token-theme-primary-low: var(--token-0lAIdDpKdD8P);
  --token-b1d7apQ0nszX: var(--token-WgDnHAUnGO8T);
  --plasmic-token-theme-primary: var(--token-b1d7apQ0nszX);
  --token-1WBqwcGbwlVd: var(--token-THRpvTUL4RRH);
  --plasmic-token-theme-primary-high: var(--token-1WBqwcGbwlVd);
  --token-FLP7UL8hxp2M: var(--token-czXhhbgGX2mR);
  --plasmic-token-theme-primary-higher: var(--token-FLP7UL8hxp2M);
  --token-4_TXs5G5dDz_: var(--token-5wnwf3wiejrO);
  --plasmic-token-theme-secondary-low: var(--token-4_TXs5G5dDz_);
  --token-GV0q4lNlczym: var(--token-SC10aPRAhbel);
  --plasmic-token-theme-secondary-lower: var(--token-GV0q4lNlczym);
  --token-I-qeLKL_2P52: var(--token-PSp1DpiXEEfX);
  --plasmic-token-theme-secondary: var(--token-I-qeLKL_2P52);
  --token-11i4c6I0tq8s: var(--token-pc05OpZu906y);
  --plasmic-token-theme-secondary-high: var(--token-11i4c6I0tq8s);
  --token-maBcfRiiDhiC: var(--token-Ewxu4a9a-7Ju);
  --plasmic-token-theme-secondary-higher: var(--token-maBcfRiiDhiC);
  --token-Ki6ikhWxhRTU: var(--token-SC10aPRAhbel);
  --plasmic-token-theme-accent-cool-low: var(--token-Ki6ikhWxhRTU);
  --token-70q0dnph9KVm: var(--token-gWD7tsFBRGcz);
  --plasmic-token-theme-accent-cool-lower: var(--token-70q0dnph9KVm);
  --token-sEo_sFmeWjUQ: var(--token-xW3SkgORHHeF);
  --plasmic-token-theme-accent-cool: var(--token-sEo_sFmeWjUQ);
  --token-he2KDt0Xa03B: var(--token-iQs31vGJ8TJG);
  --plasmic-token-theme-accent-cool-high: var(--token-he2KDt0Xa03B);
  --token-g7sm1grxLgpP: var(--token-pc05OpZu906y);
  --plasmic-token-theme-accent-cool-higher: var(--token-g7sm1grxLgpP);
  --token-qG3pJIF-n3js: var(--token-jeCUuwTkuLZb);
  --plasmic-token-theme-accent-warm: var(--token-qG3pJIF-n3js);
  --token-6UHRwhur8rhd: var(--token-w7xDqvs5-ZoJ);
  --plasmic-token-theme-accent-warm-high: var(--token-6UHRwhur8rhd);
  --token-ANepFsaNiAeC: var(--token-Qswq0iS_BKR_);
  --plasmic-token-theme-accent-warm-higher: var(--token-ANepFsaNiAeC);
  --token-OLl5uf8jRIwz: var(--token-rgV-d5FQVbIF);
  --plasmic-token-theme-accent-warm-low: var(--token-OLl5uf8jRIwz);
  --token-bFklUyP_F6Vj: var(--token-iSZTU7w70ReZ);
  --plasmic-token-theme-accent-warm-lower: var(--token-bFklUyP_F6Vj);
  --token-rNuv3OxwaJxw: Georgia;
  --plasmic-token-georigia: var(--token-rNuv3OxwaJxw);
  --token-WjpW7TbYy_2z: Arial;
  --plasmic-token-helvetica: var(--token-WjpW7TbYy_2z);
  --token-SG7Qtgl1Lct6: Merriweather;
  --plasmic-token-merriweather: var(--token-SG7Qtgl1Lct6);
  --token-pZlZ2sSvthpb: Open Sans;
  --plasmic-token-open-sans: var(--token-pZlZ2sSvthpb);
  --token-QWac6zsVvlAf: Public Sans;
  --plasmic-token-public-sans: var(--token-QWac6zsVvlAf);
  --token-fGeHr3bc_Q-P: Roboto Mono;
  --plasmic-token-roboto-mono: var(--token-fGeHr3bc_Q-P);
  --token-OeJFP-YwC0Xt: Source Sans Pro;
  --plasmic-token-source-sans-pro: var(--token-OeJFP-YwC0Xt);
  --token-zsOy6zeppvYt: system-ui;
  --plasmic-token-system: var(--token-zsOy6zeppvYt);
  --token-ykPLMlukUGHZ: Tahoma;
  --plasmic-token-tahoma: var(--token-ykPLMlukUGHZ);
  --token-L0lE5pTzVbvp: Verdana;
  --plasmic-token-verdana: var(--token-L0lE5pTzVbvp);
  --token-f_rMeMHELXFz: var(--token-fGeHr3bc_Q-P);
  --plasmic-token-mono: var(--token-f_rMeMHELXFz);
  --token-k5u8yOOGzmN7: var(--token-OeJFP-YwC0Xt);
  --plasmic-token-sans: var(--token-k5u8yOOGzmN7);
  --token-ef1FDgEHZwtu: var(--token-SG7Qtgl1Lct6);
  --plasmic-token-serif: var(--token-ef1FDgEHZwtu);
  --token-PaQcKlRwB5MQ: var(--token-ef1FDgEHZwtu);
  --plasmic-token-alt: var(--token-PaQcKlRwB5MQ);
  --token-Rc4e_5yV8Apl: var(--token-k5u8yOOGzmN7);
  --plasmic-token-body: var(--token-Rc4e_5yV8Apl);
  --token-vcBBg-YfloIh: var(--token-f_rMeMHELXFz);
  --plasmic-token-code: var(--token-vcBBg-YfloIh);
  --token-8xGuBN9dmi8z: var(--token-ef1FDgEHZwtu);
  --plasmic-token-heading: var(--token-8xGuBN9dmi8z);
  --token-GaT9g2h1-Jd7: var(--token-k5u8yOOGzmN7);
  --plasmic-token-ui: var(--token-GaT9g2h1-Jd7);
  --token-LOdRUI5SDkH3: 13px;
  --plasmic-token-02: var(--token-LOdRUI5SDkH3);
  --token-lw8tEH7ibQE6: 14px;
  --plasmic-token-03: var(--token-lw8tEH7ibQE6);
  --token-0C0o2BJUz8Xm: 15px;
  --plasmic-token-04: var(--token-0C0o2BJUz8Xm);
  --token-SuyKI3lYH2Or: 16px;
  --plasmic-token-05: var(--token-SuyKI3lYH2Or);
  --token-TsoR-oTRuhWB: 17px;
  --plasmic-token-06: var(--token-TsoR-oTRuhWB);
  --token-t53pT3r-MyGx: 22px;
  --plasmic-token-09: var(--token-t53pT3r-MyGx);
  --token-OIMKFWz4CMrK: 32px;
  --plasmic-token-12: var(--token-OIMKFWz4CMrK);
  --token-7UjGyB0gWwPK: 40px;
  --plasmic-token-14: var(--token-7UjGyB0gWwPK);
  --token-hdmPbBEjHamV: 48px;
  --plasmic-token-15: var(--token-hdmPbBEjHamV);
  --token-MQyUhT3VBbxN: var(--token-LOdRUI5SDkH3);
  --plasmic-token-xsm-3: var(--token-MQyUhT3VBbxN);
  --token-NPgbDkky9v3v: var(--token-lw8tEH7ibQE6);
  --plasmic-token-xsm-2: var(--token-NPgbDkky9v3v);
  --token-KMQoiMXXA5bo: var(--token-0C0o2BJUz8Xm);
  --plasmic-token-xsm: var(--token-KMQoiMXXA5bo);
  --token-B0HKSOm6kBK4: var(--token-SuyKI3lYH2Or);
  --plasmic-token-sm: var(--token-B0HKSOm6kBK4);
  --token-71pjpPxl80-s: var(--token-TsoR-oTRuhWB);
  --plasmic-token-md: var(--token-71pjpPxl80-s);
  --token-w_LrSgs-spTu: var(--token-t53pT3r-MyGx);
  --plasmic-token-lg: var(--token-w_LrSgs-spTu);
  --token-25wq0BTCkPaK: var(--token-OIMKFWz4CMrK);
  --plasmic-token-xlg: var(--token-25wq0BTCkPaK);
  --token--CBLV6xwlVSc: var(--token-7UjGyB0gWwPK);
  --plasmic-token-xlg-2: var(--token--CBLV6xwlVSc);
  --token-aG1mpVs2PpME: 12px;
  --plasmic-token-01: var(--token-aG1mpVs2PpME);
  --token-MlepcJx5BgY0: 10px;
  --plasmic-token-micro: var(--token-MlepcJx5BgY0);
  --token-5fVlCx0g1Y0G: 18px;
  --plasmic-token-07: var(--token-5fVlCx0g1Y0G);
  --token-bixzxBKYJLMB: 20px;
  --plasmic-token-08: var(--token-bixzxBKYJLMB);
  --token-pDcCvMAyYq1W: 24px;
  --plasmic-token-10: var(--token-pDcCvMAyYq1W);
  --token-jHcKwLKq55JU: 28px;
  --plasmic-token-11: var(--token-jHcKwLKq55JU);
  --token-XcQN8dMJ0Ezi: 36px;
  --plasmic-token-13: var(--token-XcQN8dMJ0Ezi);
  --token-VtiJBri6o-bx: 56px;
  --plasmic-token-16: var(--token-VtiJBri6o-bx);
  --token-49zIH80uHDej: 64px;
  --plasmic-token-17: var(--token-49zIH80uHDej);
  --token-nwwmce4jx1t-: 80px;
  --plasmic-token-18: var(--token-nwwmce4jx1t-);
  --token-rvdEAHcRLe_J: 120px;
  --plasmic-token-19: var(--token-rvdEAHcRLe_J);
  --token-tBdwFRhTcaFE: 20px;
  --plasmic-token-20: var(--token-tBdwFRhTcaFE);
  --token-GZbUGnBhJ_3a: var(--token-hdmPbBEjHamV);
  --plasmic-token-xlg-3: var(--token-GZbUGnBhJ_3a);
}

.plasmic_tokens:where(.global_theme_dark) {
  --token-mEjzFUzWGa-I: #030303;
  --plasmic-token-gray-01: var(--token-mEjzFUzWGa-I);
  --token-fRtl81iiEYuk: #050505;
  --plasmic-token-gray-02: var(--token-fRtl81iiEYuk);
  --token-0GmISRcZykCF: #0a0a0a;
  --plasmic-token-gray-03: var(--token-0GmISRcZykCF);
  --token-Gihv60pdXxLi: #0d0d0d;
  --plasmic-token-gray-04: var(--token-Gihv60pdXxLi);
  --token-kldQ2G2RkFc2: #1b1b1b;
  --plasmic-token-gray-05: var(--token-kldQ2G2RkFc2);
  --token-307Hfzruk8Vd: #2e2e2e;
  --plasmic-token-gray-10: var(--token-307Hfzruk8Vd);
  --token-qCDnQBdNch-q: #e6e6e6;
  --plasmic-token-gray-80: var(--token-qCDnQBdNch-q);
  --token-I4i-PwIehR7x: #c9c9c9;
  --plasmic-token-gray-70: var(--token-I4i-PwIehR7x);
  --token-9IYiGbvdZb4F: #f0f0f0;
  --plasmic-token-gray-90: var(--token-9IYiGbvdZb4F);
  --token-AE77WN8eCmOI: #454545;
  --plasmic-token-gray-20: var(--token-AE77WN8eCmOI);
  --token-8xETqf1E-mvd: #5c5c5c;
  --plasmic-token-gray-30: var(--token-8xETqf1E-mvd);
  --token-AFlcJI1WXJDl: #757575;
  --plasmic-token-gray-40: var(--token-AFlcJI1WXJDl);
  --token-344SBbmuF_E1: #919191;
  --plasmic-token-gray-50: var(--token-344SBbmuF_E1);
  --token-yA0n2Hi54tA9: #adadad;
  --plasmic-token-gray-60: var(--token-yA0n2Hi54tA9);
  --token-rWE0KCslL0PP: #1b1617;
  --plasmic-token-magenta-05: var(--token-rWE0KCslL0PP);
  --token--RmJDQ89D5i2: #402731;
  --plasmic-token-magenta-10: var(--token--RmJDQ89D5i2);
  --token-NRG-bPbqeuwt: #66364b;
  --plasmic-token-magenta-20: var(--token-NRG-bPbqeuwt);
  --token-y6tCJyXuIyMI: #8b4566;
  --plasmic-token-magenta-30: var(--token-y6tCJyXuIyMI);
  --token-qwtXoRuggTFW: #c84281;
  --plasmic-token-magenta-40: var(--token-qwtXoRuggTFW);
  --token-Jp_8NzWZSgHd: #e0699f;
  --plasmic-token-magenta-50: var(--token-Jp_8NzWZSgHd);
  --token-WgDnHAUnGO8T: #e895b3;
  --plasmic-token-magenta-60: var(--token-WgDnHAUnGO8T);
  --token-THRpvTUL4RRH: #f0bbcc;
  --plasmic-token-magenta-70: var(--token-THRpvTUL4RRH);
  --token-czXhhbgGX2mR: #f6e1e8;
  --plasmic-token-magenta-80: var(--token-czXhhbgGX2mR);
  --token-h_FAbp29O5I1: #f9f0f2;
  --plasmic-token-magenta-90: var(--token-h_FAbp29O5I1);
  --token-SC10aPRAhbel: #111819;
  --plasmic-token-cyan-05: var(--token-SC10aPRAhbel);
  --token-3vQ5_jxtapgp: #203133;
  --plasmic-token-cyan-10: var(--token-3vQ5_jxtapgp);
  --token-gWD7tsFBRGcz: #2c4a4e;
  --plasmic-token-cyan-20: var(--token-gWD7tsFBRGcz);
  --token-5wnwf3wiejrO: #2a646d;
  --plasmic-token-cyan-30: var(--token-5wnwf3wiejrO);
  --token-iQs31vGJ8TJG: #168092;
  --plasmic-token-cyan-40: var(--token-iQs31vGJ8TJG);
  --token-PSp1DpiXEEfX: #449dac;
  --plasmic-token-cyan-50: var(--token-PSp1DpiXEEfX);
  --token-pc05OpZu906y: #5dc0d1;
  --plasmic-token-cyan-60: var(--token-pc05OpZu906y);
  --token-Ewxu4a9a-7Ju: #99deea;
  --plasmic-token-cyan-70: var(--token-Ewxu4a9a-7Ju);
  --token-kiPSIQxGRKAo: #ccecf2;
  --plasmic-token-cyan-80: var(--token-kiPSIQxGRKAo);
  --token-IZgHOfAjW0_0: #e7f6f8;
  --plasmic-token-cyan-90: var(--token-IZgHOfAjW0_0);
  --token-qasvrsYp2CeD: #123131;
  --plasmic-token-mint-cool-vivid-05: var(--token-qasvrsYp2CeD);
  --token-1TrZaAjx0mr-: #0b4b3f;
  --plasmic-token-mint-cool-vivid-10: var(--token-1TrZaAjx0mr-);
  --token-CaQTwn8nhaKL: #0f6460;
  --plasmic-token-mint-cool-vivid-20: var(--token-CaQTwn8nhaKL);
  --token-xW3SkgORHHeF: #008480;
  --plasmic-token-mint-cool-vivid-30: var(--token-xW3SkgORHHeF);
  --token-FbGjkGfuZvRl: #00a398;
  --plasmic-token-mint-cool-vivid-40: var(--token-FbGjkGfuZvRl);
  --token-PhYyFhn6AbAP: #1dc2ae;
  --plasmic-token-mint-cool-vivid-50: var(--token-PhYyFhn6AbAP);
  --token-aAqiXV1dXNOH: #29e1cb;
  --plasmic-token-mint-cool-vivid-60: var(--token-aAqiXV1dXNOH);
  --token-2pc1er_KqKqM: #7efbe1;
  --plasmic-token-mint-cool-vivid-70: var(--token-2pc1er_KqKqM);
  --token-VXCnoXCZxZM9: #d5fbf3;
  --plasmic-token-mint-cool-vivid-80: var(--token-VXCnoXCZxZM9);
  --token-iSZTU7w70ReZ: #38380b;
  --plasmic-token-green-warm-vivid-05: var(--token-iSZTU7w70ReZ);
  --token-2LabfGU6aDBJ: #4b4e10;
  --plasmic-token-green-warm-vivid-10: var(--token-2LabfGU6aDBJ);
  --token-rgV-d5FQVbIF: #5a6613;
  --plasmic-token-green-warm-vivid-20: var(--token-rgV-d5FQVbIF);
  --token-jeCUuwTkuLZb: #6a7d00;
  --plasmic-token-green-warm-vivid-30: var(--token-jeCUuwTkuLZb);
  --token-5kPdS1Pr0mLg: #7e9c1d;
  --plasmic-token-green-warm-vivid-40: var(--token-5kPdS1Pr0mLg);
  --token-w7xDqvs5-ZoJ: #a3b72c;
  --plasmic-token-green-warm-vivid-50: var(--token-w7xDqvs5-ZoJ);
  --token-Qswq0iS_BKR_: #c5d30a;
  --plasmic-token-green-warm-vivid-60: var(--token-Qswq0iS_BKR_);
  --token-Q3t66IohC6wI: #e7f434;
  --plasmic-token-green-warm-vivid-70: var(--token-Q3t66IohC6wI);
  --token-ZVeOM9tsBhr8: #f5fbc1;
  --plasmic-token-green-warm-vivid-80: var(--token-ZVeOM9tsBhr8);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark) {
  --mixin-Pz_8lsQIuhGb_font-family: var(--token-Rc4e_5yV8Apl);
  --mixin-Pz_8lsQIuhGb_font-size: var(--token-B0HKSOm6kBK4);
  --mixin-Pz_8lsQIuhGb_font-weight: 400;
  --mixin-Pz_8lsQIuhGb_font-style: normal;
  --mixin-Pz_8lsQIuhGb_color: var(--token-oXG0k4uCcLuN);
  --mixin-Pz_8lsQIuhGb_text-align: left;
  --mixin-Pz_8lsQIuhGb_text-transform: none;
  --mixin-Pz_8lsQIuhGb_line-height: 1.5;
  --mixin-Pz_8lsQIuhGb_letter-spacing: normal;
  --mixin-Pz_8lsQIuhGb_white-space: pre-wrap;
  --mixin-Pz_8lsQIuhGb_user-select: text;
  --mixin-Pz_8lsQIuhGb_text-decoration-line: none;
  --mixin-Pz_8lsQIuhGb_text-overflow: clip;
  --mixin-u1AVoLzRSy5Q_color: var(--token-oXG0k4uCcLuN);
  --mixin-u1AVoLzRSy5Q_font-weight: 800;
  --mixin-u1AVoLzRSy5Q_font-size: var(--token-GZbUGnBhJ_3a);
  --mixin-u1AVoLzRSy5Q_line-height: 1;
  --mixin-u1AVoLzRSy5Q_letter-spacing: -1px;
  --mixin-u1AVoLzRSy5Q_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-u1AVoLzRSy5Q_white-space: pre-wrap;
  --mixin-TFyj-kX5L8Vm_color: var(--token-oXG0k4uCcLuN);
  --mixin-TFyj-kX5L8Vm_font-size: var(--token--CBLV6xwlVSc);
  --mixin-TFyj-kX5L8Vm_font-weight: 800;
  --mixin-TFyj-kX5L8Vm_letter-spacing: -0.5px;
  --mixin-TFyj-kX5L8Vm_line-height: 1.1;
  --mixin-TFyj-kX5L8Vm_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-TFyj-kX5L8Vm_white-space: pre-wrap;
  --mixin-bD3XJfZrdJo1_color: #0070f3;
  --mixin-bD3XJfZrdJo1_white-space: pre-wrap;
  --mixin-a5RO2ZtoD__g_color: var(--token-oXG0k4uCcLuN);
  --mixin-a5RO2ZtoD__g_font-size: var(--token-25wq0BTCkPaK);
  --mixin-a5RO2ZtoD__g_font-weight: 800;
  --mixin-a5RO2ZtoD__g_line-height: 1.2;
  --mixin-a5RO2ZtoD__g_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-a5RO2ZtoD__g_white-space: pre-wrap;
  --mixin-MrvG0pnqaJwF_color: var(--token-oXG0k4uCcLuN);
  --mixin-MrvG0pnqaJwF_font-size: var(--token-w_LrSgs-spTu);
  --mixin-MrvG0pnqaJwF_font-weight: 800;
  --mixin-MrvG0pnqaJwF_line-height: 1.3;
  --mixin-MrvG0pnqaJwF_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-MrvG0pnqaJwF_white-space: pre-wrap;
  --mixin-cR8lnal5YOe8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cR8lnal5YOe8_border-bottom-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-bottom-style: solid;
  --mixin-cR8lnal5YOe8_border-bottom-width: 1px;
  --mixin-cR8lnal5YOe8_border-left-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-left-style: solid;
  --mixin-cR8lnal5YOe8_border-left-width: 1px;
  --mixin-cR8lnal5YOe8_border-right-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-right-style: solid;
  --mixin-cR8lnal5YOe8_border-right-width: 1px;
  --mixin-cR8lnal5YOe8_border-top-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-top-style: solid;
  --mixin-cR8lnal5YOe8_border-top-width: 1px;
  --mixin-cR8lnal5YOe8_border-bottom-left-radius: 3px;
  --mixin-cR8lnal5YOe8_border-bottom-right-radius: 3px;
  --mixin-cR8lnal5YOe8_border-top-left-radius: 3px;
  --mixin-cR8lnal5YOe8_border-top-right-radius: 3px;
  --mixin-cR8lnal5YOe8_font-family: "Inconsolata";
  --mixin-cR8lnal5YOe8_padding-bottom: 1px;
  --mixin-cR8lnal5YOe8_padding-left: 4px;
  --mixin-cR8lnal5YOe8_padding-right: 4px;
  --mixin-cR8lnal5YOe8_padding-top: 1px;
  --mixin-cR8lnal5YOe8_white-space: pre-wrap;
  --mixin-EB5LYmgtaOV4_border-left-color: #dddddd;
  --mixin-EB5LYmgtaOV4_border-left-style: solid;
  --mixin-EB5LYmgtaOV4_border-left-width: 3px;
  --mixin-EB5LYmgtaOV4_color: #888888;
  --mixin-EB5LYmgtaOV4_padding-left: 10px;
  --mixin-EB5LYmgtaOV4_white-space: pre-wrap;
  --mixin-kMjsAVuIJbAP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kMjsAVuIJbAP_border-bottom-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-bottom-style: solid;
  --mixin-kMjsAVuIJbAP_border-bottom-width: 1px;
  --mixin-kMjsAVuIJbAP_border-left-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-left-style: solid;
  --mixin-kMjsAVuIJbAP_border-left-width: 1px;
  --mixin-kMjsAVuIJbAP_border-right-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-right-style: solid;
  --mixin-kMjsAVuIJbAP_border-right-width: 1px;
  --mixin-kMjsAVuIJbAP_border-top-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-top-style: solid;
  --mixin-kMjsAVuIJbAP_border-top-width: 1px;
  --mixin-kMjsAVuIJbAP_border-bottom-left-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-bottom-right-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-top-left-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-top-right-radius: 3px;
  --mixin-kMjsAVuIJbAP_font-family: "Inconsolata";
  --mixin-kMjsAVuIJbAP_padding-bottom: 3px;
  --mixin-kMjsAVuIJbAP_padding-left: 6px;
  --mixin-kMjsAVuIJbAP_padding-right: 6px;
  --mixin-kMjsAVuIJbAP_padding-top: 3px;
  --mixin-kMjsAVuIJbAP_white-space: pre-wrap;
  --mixin-WeCgNFRLCOGr_display: flex;
  --mixin-WeCgNFRLCOGr_flex-direction: column;
  --mixin-WeCgNFRLCOGr_align-items: stretch;
  --mixin-WeCgNFRLCOGr_justify-content: flex-start;
  --mixin-WeCgNFRLCOGr_list-style-position: outside;
  --mixin-WeCgNFRLCOGr_padding-left: 40px;
  --mixin-WeCgNFRLCOGr_position: relative;
  --mixin-WeCgNFRLCOGr_list-style-type: disc;
  --mixin-WeCgNFRLCOGr_white-space: pre-wrap;
  --mixin-1Zr3w6HoFVJr_display: flex;
  --mixin-1Zr3w6HoFVJr_flex-direction: column;
  --mixin-1Zr3w6HoFVJr_align-items: stretch;
  --mixin-1Zr3w6HoFVJr_justify-content: flex-start;
  --mixin-1Zr3w6HoFVJr_list-style-position: outside;
  --mixin-1Zr3w6HoFVJr_padding-left: 40px;
  --mixin-1Zr3w6HoFVJr_position: relative;
  --mixin-1Zr3w6HoFVJr_list-style-type: decimal;
  --mixin-1Zr3w6HoFVJr_white-space: pre-wrap;
  --mixin-xZs9gehECyll_color: var(--token-oXG0k4uCcLuN);
  --mixin-xZs9gehECyll_font-size: var(--token-71pjpPxl80-s);
  --mixin-xZs9gehECyll_font-weight: 800;
  --mixin-xZs9gehECyll_line-height: 1.5;
  --mixin-xZs9gehECyll_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-xZs9gehECyll_white-space: pre-wrap;
  --mixin-GpqxFEkBBHob_color: var(--token-oXG0k4uCcLuN);
  --mixin-GpqxFEkBBHob_font-size: var(--token-B0HKSOm6kBK4);
  --mixin-GpqxFEkBBHob_font-weight: 800;
  --mixin-GpqxFEkBBHob_line-height: 1.5;
  --mixin-GpqxFEkBBHob_font-family: var(--token-8xGuBN9dmi8z);
  --mixin-GpqxFEkBBHob_white-space: pre-wrap;
  --mixin-bWdKrPQrUEp5_color: #3291ff;
  --mixin-bWdKrPQrUEp5_white-space: pre-wrap;
  --mixin-2JN-h9z-jgu1_white-space: pre-wrap;
  --mixin-8zXpFSsAjyw7_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Pz_8lsQIuhGb_font-family);
  font-size: var(--mixin-Pz_8lsQIuhGb_font-size);
  font-weight: var(--mixin-Pz_8lsQIuhGb_font-weight);
  font-style: var(--mixin-Pz_8lsQIuhGb_font-style);
  color: var(--mixin-Pz_8lsQIuhGb_color);
  text-align: var(--mixin-Pz_8lsQIuhGb_text-align);
  text-transform: var(--mixin-Pz_8lsQIuhGb_text-transform);
  line-height: var(--mixin-Pz_8lsQIuhGb_line-height);
  letter-spacing: var(--mixin-Pz_8lsQIuhGb_letter-spacing);
  white-space: var(--mixin-Pz_8lsQIuhGb_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-u1AVoLzRSy5Q_color);
  font-weight: var(--mixin-u1AVoLzRSy5Q_font-weight);
  font-size: var(--mixin-u1AVoLzRSy5Q_font-size);
  line-height: var(--mixin-u1AVoLzRSy5Q_line-height);
  letter-spacing: var(--mixin-u1AVoLzRSy5Q_letter-spacing);
  font-family: var(--mixin-u1AVoLzRSy5Q_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-TFyj-kX5L8Vm_color);
  font-size: var(--mixin-TFyj-kX5L8Vm_font-size);
  font-weight: var(--mixin-TFyj-kX5L8Vm_font-weight);
  letter-spacing: var(--mixin-TFyj-kX5L8Vm_letter-spacing);
  line-height: var(--mixin-TFyj-kX5L8Vm_line-height);
  font-family: var(--mixin-TFyj-kX5L8Vm_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bD3XJfZrdJo1_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-a5RO2ZtoD__g_color);
  font-size: var(--mixin-a5RO2ZtoD__g_font-size);
  font-weight: var(--mixin-a5RO2ZtoD__g_font-weight);
  line-height: var(--mixin-a5RO2ZtoD__g_line-height);
  font-family: var(--mixin-a5RO2ZtoD__g_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-MrvG0pnqaJwF_color);
  font-size: var(--mixin-MrvG0pnqaJwF_font-size);
  font-weight: var(--mixin-MrvG0pnqaJwF_font-weight);
  line-height: var(--mixin-MrvG0pnqaJwF_line-height);
  font-family: var(--mixin-MrvG0pnqaJwF_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cR8lnal5YOe8_font-family);
  border-radius: var(--mixin-cR8lnal5YOe8_border-top-left-radius)
    var(--mixin-cR8lnal5YOe8_border-top-right-radius)
    var(--mixin-cR8lnal5YOe8_border-bottom-right-radius)
    var(--mixin-cR8lnal5YOe8_border-bottom-left-radius);
  padding: var(--mixin-cR8lnal5YOe8_padding-top)
    var(--mixin-cR8lnal5YOe8_padding-right)
    var(--mixin-cR8lnal5YOe8_padding-bottom)
    var(--mixin-cR8lnal5YOe8_padding-left);
  border-top: var(--mixin-cR8lnal5YOe8_border-top-width)
    var(--mixin-cR8lnal5YOe8_border-top-style)
    var(--mixin-cR8lnal5YOe8_border-top-color);
  border-right: var(--mixin-cR8lnal5YOe8_border-right-width)
    var(--mixin-cR8lnal5YOe8_border-right-style)
    var(--mixin-cR8lnal5YOe8_border-right-color);
  border-bottom: var(--mixin-cR8lnal5YOe8_border-bottom-width)
    var(--mixin-cR8lnal5YOe8_border-bottom-style)
    var(--mixin-cR8lnal5YOe8_border-bottom-color);
  border-left: var(--mixin-cR8lnal5YOe8_border-left-width)
    var(--mixin-cR8lnal5YOe8_border-left-style)
    var(--mixin-cR8lnal5YOe8_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EB5LYmgtaOV4_color);
  padding-left: var(--mixin-EB5LYmgtaOV4_padding-left);
  border-left: var(--mixin-EB5LYmgtaOV4_border-left-width)
    var(--mixin-EB5LYmgtaOV4_border-left-style)
    var(--mixin-EB5LYmgtaOV4_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kMjsAVuIJbAP_font-family);
  border-radius: var(--mixin-kMjsAVuIJbAP_border-top-left-radius)
    var(--mixin-kMjsAVuIJbAP_border-top-right-radius)
    var(--mixin-kMjsAVuIJbAP_border-bottom-right-radius)
    var(--mixin-kMjsAVuIJbAP_border-bottom-left-radius);
  padding: var(--mixin-kMjsAVuIJbAP_padding-top)
    var(--mixin-kMjsAVuIJbAP_padding-right)
    var(--mixin-kMjsAVuIJbAP_padding-bottom)
    var(--mixin-kMjsAVuIJbAP_padding-left);
  border-top: var(--mixin-kMjsAVuIJbAP_border-top-width)
    var(--mixin-kMjsAVuIJbAP_border-top-style)
    var(--mixin-kMjsAVuIJbAP_border-top-color);
  border-right: var(--mixin-kMjsAVuIJbAP_border-right-width)
    var(--mixin-kMjsAVuIJbAP_border-right-style)
    var(--mixin-kMjsAVuIJbAP_border-right-color);
  border-bottom: var(--mixin-kMjsAVuIJbAP_border-bottom-width)
    var(--mixin-kMjsAVuIJbAP_border-bottom-style)
    var(--mixin-kMjsAVuIJbAP_border-bottom-color);
  border-left: var(--mixin-kMjsAVuIJbAP_border-left-width)
    var(--mixin-kMjsAVuIJbAP_border-left-style)
    var(--mixin-kMjsAVuIJbAP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-WeCgNFRLCOGr_display);
  flex-direction: var(--mixin-WeCgNFRLCOGr_flex-direction);
  align-items: var(--mixin-WeCgNFRLCOGr_align-items);
  justify-content: var(--mixin-WeCgNFRLCOGr_justify-content);
  list-style-position: var(--mixin-WeCgNFRLCOGr_list-style-position);
  padding-left: var(--mixin-WeCgNFRLCOGr_padding-left);
  position: var(--mixin-WeCgNFRLCOGr_position);
  list-style-type: var(--mixin-WeCgNFRLCOGr_list-style-type);
  flex-column-gap: var(--mixin-WeCgNFRLCOGr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1Zr3w6HoFVJr_display);
  flex-direction: var(--mixin-1Zr3w6HoFVJr_flex-direction);
  align-items: var(--mixin-1Zr3w6HoFVJr_align-items);
  justify-content: var(--mixin-1Zr3w6HoFVJr_justify-content);
  list-style-position: var(--mixin-1Zr3w6HoFVJr_list-style-position);
  padding-left: var(--mixin-1Zr3w6HoFVJr_padding-left);
  position: var(--mixin-1Zr3w6HoFVJr_position);
  list-style-type: var(--mixin-1Zr3w6HoFVJr_list-style-type);
  flex-column-gap: var(--mixin-1Zr3w6HoFVJr_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-xZs9gehECyll_color);
  font-size: var(--mixin-xZs9gehECyll_font-size);
  font-weight: var(--mixin-xZs9gehECyll_font-weight);
  line-height: var(--mixin-xZs9gehECyll_line-height);
  font-family: var(--mixin-xZs9gehECyll_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-GpqxFEkBBHob_color);
  font-size: var(--mixin-GpqxFEkBBHob_font-size);
  font-weight: var(--mixin-GpqxFEkBBHob_font-weight);
  line-height: var(--mixin-GpqxFEkBBHob_line-height);
  font-family: var(--mixin-GpqxFEkBBHob_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bWdKrPQrUEp5_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
