.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-pje0kVGj5QUT);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__jSsd {
  display: flex;
  flex-direction: column;
  background: var(--token-pje0kVGj5QUT);
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 128px 32px;
}
.freeBox__jSsd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__jSsd > :global(.__wab_flex-container) > *,
.freeBox__jSsd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jSsd > :global(.__wab_flex-container) > picture > img,
.freeBox__jSsd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__cMeHg {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 0px;
}
.freeBox__cMeHg > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cMeHg > :global(.__wab_flex-container) > *,
.freeBox__cMeHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cMeHg > :global(.__wab_flex-container) > picture > img,
.freeBox__cMeHg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text {
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 0px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
