.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: linear-gradient(#f0bbcc80, #f0bbcc80),
    url("/plasmic/its_a_lisa_site/images/juegodynamicsVeryDetailedFantasyMapSurfaceOfAGasGiantFe8Ce9CeB69040F68Dbc2B5248121379Png.png") left 50% top 50% / cover repeat;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__mkqy {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--token-pje0kVGj5QUT);
  opacity: 0.5;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__mkqy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mkqy > :global(.__wab_flex-container) > *,
.freeBox__mkqy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mkqy > :global(.__wab_flex-container) > picture > img,
.freeBox__mkqy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mkqy {
    padding: 32px;
  }
}
.freeBox__pkbgm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__pkbgm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pkbgm > :global(.__wab_flex-container) > *,
.freeBox__pkbgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkbgm > :global(.__wab_flex-container) > picture > img,
.freeBox__pkbgm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pkbgm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pkbgm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pkbgm > :global(.__wab_flex-container) > *,
  .freeBox__pkbgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pkbgm > :global(.__wab_flex-container) > picture > img,
  .freeBox__pkbgm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__g5Coh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__g5Coh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__g5Coh > :global(.__wab_flex-container) > *,
.freeBox__g5Coh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g5Coh > :global(.__wab_flex-container) > picture > img,
.freeBox__g5Coh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g5Coh > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g5Coh > :global(.__wab_flex-container) > *,
  .freeBox__g5Coh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g5Coh > :global(.__wab_flex-container) > picture > img,
  .freeBox__g5Coh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.home:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__maTCf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lnLeW {
  font-family: var(--token-8xGuBN9dmi8z);
  font-size: var(--token-B0HKSOm6kBK4);
  font-weight: 500;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tO4Da {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.about:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___07Br {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bCd0C {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___6Gbg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.blog:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__ybCnu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zrZWq {
  font-family: var(--token-8xGuBN9dmi8z);
  font-size: var(--token-B0HKSOm6kBK4);
  font-weight: 500;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___2DGq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.projects:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__fVOq1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jumV {
  font-family: var(--token-8xGuBN9dmi8z);
  font-size: var(--token-B0HKSOm6kBK4);
  font-weight: 500;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__sxONg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.resources:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__hF2R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ve629 {
  font-family: var(--token-8xGuBN9dmi8z);
  font-size: var(--token-B0HKSOm6kBK4);
  font-weight: 500;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__utEaX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__genul {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.contactButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y4NNg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x8M3B {
  font-family: var(--token-8xGuBN9dmi8z);
  font-size: var(--token-B0HKSOm6kBK4);
  font-weight: 500;
  font-style: normal;
  color: var(--token-oXG0k4uCcLuN);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tZjj2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.themeSwitch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
