.resume {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-5r6c7mPx_Feq);
}
.header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.name {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
}
.contactInfo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: var(--token-10BV8D3CuUzQ);
}
.contactInfo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-JloUTZFpdKwT));
  width: calc(100% + var(--token-JloUTZFpdKwT));
}
.contactInfo > :global(.__wab_flex-container) > *,
.contactInfo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contactInfo > :global(.__wab_flex-container) > picture > img,
.contactInfo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-JloUTZFpdKwT);
}
.website {
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
}
.email {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.phone {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.featureExperience {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.featureItem {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.featureItem > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-PAo8FpmeEt35));
  width: calc(100% + var(--token-PAo8FpmeEt35));
}
.featureItem > :global(.__wab_flex-container) > *,
.featureItem > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featureItem > :global(.__wab_flex-container) > picture > img,
.featureItem
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PAo8FpmeEt35);
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__nEtdh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.experience {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.featurePosition {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.featurePosition > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - var(--token-JloUTZFpdKwT));
  width: calc(100% + var(--token-JloUTZFpdKwT));
}
.featurePosition > :global(.__wab_flex-container) > *,
.featurePosition > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.featurePosition > :global(.__wab_flex-container) > picture > img,
.featurePosition
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-JloUTZFpdKwT);
}
.position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
}
.title {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-weight: 700;
}
.separator {
  position: relative;
  width: auto;
  max-width: 100%;
  font-weight: 700;
}
.timeline {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  font-weight: 700;
}
.body {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.organization {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.organization > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-cTg3N37TLU2p));
  width: calc(100% + var(--token-cTg3N37TLU2p));
}
.organization > :global(.__wab_flex-container) > *,
.organization > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.organization > :global(.__wab_flex-container) > picture > img,
.organization
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cTg3N37TLU2p);
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__kJ4El {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.education {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.degree {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.university {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.universityName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.universityCityState {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.degreeInfo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.degreeType {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateDegreeRecieved {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.studyInfo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-10BV8D3CuUzQ);
}
.majorLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.majorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.minorLabel {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.minorValue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
