.root {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  text-align: center;
}
