@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-VaXLlP3fP6qs: var(--token-ZseIMxw94CIA);
  --plasmic-token-header-padding: var(--token-VaXLlP3fP6qs);
  --token-9WKrjXMc3Yx3: #ffffff;
  --plasmic-token-site-color-main-010: var(--token-9WKrjXMc3Yx3);
  --token-lsYfsWFJ12Fg: var(--token-OqjFhA_yPjBp);
  --plasmic-token-theme-color-universal-main-lvl-01: var(--token-lsYfsWFJ12Fg);
  --token-WoQHwEhTWfzi: var(--token-T50FCNQUxx_b);
  --plasmic-token-theme-color-universal-main-lvl-02: var(--token-WoQHwEhTWfzi);
  --token-hy4ppq_d1Eci: var(--token-PdgGJCtAPuwC);
  --plasmic-token-theme-color-universal-main-lvl-03: var(--token-hy4ppq_d1Eci);
  --token-yBOhAn9g2bS8: var(--token-T7v2S86_cf6x);
  --plasmic-token-theme-color-universal-main-lvl-04: var(--token-yBOhAn9g2bS8);
  --token-BHISaeERxrZp: var(--token-FbBnpKP1Oi9z);
  --plasmic-token-theme-color-universal-main-lvl-05: var(--token-BHISaeERxrZp);
  --token-i63esJ1Obuyh: var(--token-34PSp00ZRdYH);
  --plasmic-token-theme-color-universal-main-lvl-06: var(--token-i63esJ1Obuyh);
  --token-dNtN4GMrt677: var(--token-enpjUkmpo_Wt);
  --plasmic-token-theme-color-universal-main-lvl-07: var(--token-dNtN4GMrt677);
  --token-G5wAvKjJp3Hl: var(--token-FYWN4N1MZWl9);
  --plasmic-token-theme-color-universal-main-lvl-08: var(--token-G5wAvKjJp3Hl);
  --token-9yrBsDkPRiq6: var(--token-U7x2Ut2PU3_4);
  --plasmic-token-theme-color-universal-main-lvl-09: var(--token-9yrBsDkPRiq6);
  --token-rNrRZ3hzDYAK: var(--token-fmOvcFfu4Pli);
  --plasmic-token-theme-color-universal-main-lvl-10: var(--token-rNrRZ3hzDYAK);
  --token-yjFm8OUGuPGp: var(--token-AFCJ0laTLrEd);
  --plasmic-token-theme-color-universal-standard-lvl-01: var(
    --token-yjFm8OUGuPGp
  );
  --token-QcxzUbqqJl0n: var(--token-q3VCitX_I4xP);
  --plasmic-token-theme-color-universal-standard-lvl-02: var(
    --token-QcxzUbqqJl0n
  );
  --token-ehCP8lWd3OhB: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-theme-color-universal-standard-lvl-03: var(
    --token-ehCP8lWd3OhB
  );
  --token-xYjkCK8nSx5Z: var(--token-OlSC77BWi0Eq);
  --plasmic-token-theme-color-universal-standard-lvl-04: var(
    --token-xYjkCK8nSx5Z
  );
  --token-ngUamSHKweW7: var(--token-VPB3WV3IT1gq);
  --plasmic-token-theme-color-universal-standard-lvl-05: var(
    --token-ngUamSHKweW7
  );
  --token-EV8zyWiIuzI7: var(--token-1uT3IIrbdlxr);
  --plasmic-token-theme-color-universal-standard-lvl-06: var(
    --token-EV8zyWiIuzI7
  );
  --token-LBM6GrZUuqJW: var(--token-TiPVh24ZhEs5);
  --plasmic-token-theme-color-universal-standard-lvl-07: var(
    --token-LBM6GrZUuqJW
  );
  --token-me_UWRFeEHHO: var(--token-bYax8giCMWFM);
  --plasmic-token-theme-color-universal-standard-lvl-08: var(
    --token-me_UWRFeEHHO
  );
  --token-ojsQvN0qoc1_: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-theme-color-universal-standard-lvl-09: var(
    --token-ojsQvN0qoc1_
  );
  --token-W-IhDF05VDhV: var(--token-C55EMsbocuaS);
  --plasmic-token-theme-color-universal-standard-lvl-10: var(
    --token-W-IhDF05VDhV
  );
  --token-LfURVnSX67Oh: var(--token-a6Trtn6fCWcR);
  --plasmic-token-theme-color-universal-ancillary-lvl-01: var(
    --token-LfURVnSX67Oh
  );
  --token-iS4-IxtRsbJR: var(--token-6Wg439ZjD1Ln);
  --plasmic-token-theme-color-universal-ancillary-lvl-02: var(
    --token-iS4-IxtRsbJR
  );
  --token-CSzaoPwh69oQ: var(--token-HdU9KbK__kB3);
  --plasmic-token-theme-color-universal-ancillary-lvl-03: var(
    --token-CSzaoPwh69oQ
  );
  --token-VuDqgEh3xnUm: var(--token-U7DxEoGVYO9q);
  --plasmic-token-theme-color-universal-ancillary-lvl-04: var(
    --token-VuDqgEh3xnUm
  );
  --token-fSm1FR4oeI5C: var(--token-WukeJApuzKIr);
  --plasmic-token-theme-color-universal-ancillary-lvl-05: var(
    --token-fSm1FR4oeI5C
  );
  --token-yCHMYpi2_e8M: var(--token-KLKPZyIeo7Ka);
  --plasmic-token-theme-color-universal-ancillary-lvl-06: var(
    --token-yCHMYpi2_e8M
  );
  --token-mD6Gy4O8U6zU: var(--token-TUdiFiY3o5Nb);
  --plasmic-token-theme-color-universal-ancillary-lvl-07: var(
    --token-mD6Gy4O8U6zU
  );
  --token-A42NtjYDL98o: var(--token-VwhdqT_D2dI1);
  --plasmic-token-theme-color-universal-ancillary-lvl-08: var(
    --token-A42NtjYDL98o
  );
  --token-h1iELPLCay3m: var(--token-g69LgvuEaqRT);
  --plasmic-token-theme-color-universal-ancillary-lvl-09: var(
    --token-h1iELPLCay3m
  );
  --token-1l1buwTsoLR2: var(--token-212w07KROKHt);
  --plasmic-token-theme-color-universal-ancillary-lvl-10: var(
    --token-1l1buwTsoLR2
  );
  --token-YeagJiWXPekv: var(--token-TVHRBudcTFqL);
  --plasmic-token-theme-color-universal-accent-lvl-01: var(
    --token-YeagJiWXPekv
  );
  --token-cw45hXaT1qPC: var(--token-inTqZxo4BXWT);
  --plasmic-token-theme-color-universal-accent-lvl-02: var(
    --token-cw45hXaT1qPC
  );
  --token-7y01MwgMrYuS: var(--token-j-tQjlkdA-E-);
  --plasmic-token-theme-color-universal-accent-lvl-03: var(
    --token-7y01MwgMrYuS
  );
  --token-WiXEBMYOrO9w: var(--token-GdEbztdmnHii);
  --plasmic-token-theme-color-universal-accent-lvl-04: var(
    --token-WiXEBMYOrO9w
  );
  --token-y3DIfeuaopdi: var(--token-TygQtT3Ehj1d);
  --plasmic-token-theme-color-universal-accent-lvl-05: var(
    --token-y3DIfeuaopdi
  );
  --token-2h2SKLDs0N6C: var(--token-gtT-HGoP_yYz);
  --plasmic-token-theme-color-universal-accent-lvl-06: var(
    --token-2h2SKLDs0N6C
  );
  --token-SZ1zi0IjC6dq: var(--token-qVkE6NIWzrdF);
  --plasmic-token-theme-color-universal-accent-lvl-07: var(
    --token-SZ1zi0IjC6dq
  );
  --token-_TH0UnFOVFWi: var(--token-5ZS3VskDJfKc);
  --plasmic-token-theme-color-universal-accent-lvl-08: var(
    --token-_TH0UnFOVFWi
  );
  --token--DHT25xacROL: var(--token-UVRM5XWfkrfp);
  --plasmic-token-theme-color-universal-accent-lvl-09: var(
    --token--DHT25xacROL
  );
  --token-3woWff3s3epi: var(--token-RjEV2p8w7aZs);
  --plasmic-token-theme-color-universal-accent-lvl-10: var(
    --token-3woWff3s3epi
  );
  --token-JloUTZFpdKwT: var(--token-mOMUgWDDGuJX);
  --plasmic-token-feature-gap: var(--token-JloUTZFpdKwT);
  --token-cTg3N37TLU2p: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-stack-gap: var(--token-cTg3N37TLU2p);
  --token-5r6c7mPx_Feq: var(--token-mOMUgWDDGuJX);
  --plasmic-token-body-padding: var(--token-5r6c7mPx_Feq);
  --token-3eso_6_0SL-c: var(--token-nYk83sLE7oXY);
  --plasmic-token-text-padding: var(--token-3eso_6_0SL-c);
  --token-PAo8FpmeEt35: var(--token-VyLXiBKyJHka);
  --plasmic-token-item-gap: var(--token-PAo8FpmeEt35);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_theme_dark) {
  --mixin-Pz_8lsQIuhGb_font-family: var(--token-kp9b7fGwd327);
  --mixin-Pz_8lsQIuhGb_font-size: var(--token--4UhdP_HsIC_);
  --mixin-Pz_8lsQIuhGb_font-weight: 400;
  --mixin-Pz_8lsQIuhGb_font-style: normal;
  --mixin-Pz_8lsQIuhGb_color: var(--token-pk_1Z9QFM4r7);
  --mixin-Pz_8lsQIuhGb_text-align: left;
  --mixin-Pz_8lsQIuhGb_text-transform: none;
  --mixin-Pz_8lsQIuhGb_line-height: 1.5;
  --mixin-Pz_8lsQIuhGb_letter-spacing: normal;
  --mixin-Pz_8lsQIuhGb_white-space: pre-wrap;
  --mixin-Pz_8lsQIuhGb_user-select: text;
  --mixin-Pz_8lsQIuhGb_text-decoration-line: none;
  --mixin-Pz_8lsQIuhGb_text-overflow: clip;
  --mixin-u1AVoLzRSy5Q_color: var(--token-pk_1Z9QFM4r7);
  --mixin-u1AVoLzRSy5Q_font-weight: 800;
  --mixin-u1AVoLzRSy5Q_font-size: var(--token-qPU1F-X3MnB5);
  --mixin-u1AVoLzRSy5Q_line-height: 1;
  --mixin-u1AVoLzRSy5Q_letter-spacing: -1px;
  --mixin-u1AVoLzRSy5Q_font-family: var(--token-rXe-me5Dhyf0);
  --mixin-u1AVoLzRSy5Q_white-space: pre-wrap;
  --mixin-TFyj-kX5L8Vm_color: var(--token-pk_1Z9QFM4r7);
  --mixin-TFyj-kX5L8Vm_font-size: var(--token-owdqgKd1gRPb);
  --mixin-TFyj-kX5L8Vm_font-weight: 800;
  --mixin-TFyj-kX5L8Vm_letter-spacing: -0.5px;
  --mixin-TFyj-kX5L8Vm_line-height: 1.1;
  --mixin-TFyj-kX5L8Vm_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-TFyj-kX5L8Vm_white-space: pre-wrap;
  --mixin-bD3XJfZrdJo1_color: var(--token-i63esJ1Obuyh);
  --mixin-bD3XJfZrdJo1_white-space: pre-wrap;
  --mixin-a5RO2ZtoD__g_color: var(--token-pk_1Z9QFM4r7);
  --mixin-a5RO2ZtoD__g_font-size: var(--token-qF-w8l-jyW6w);
  --mixin-a5RO2ZtoD__g_font-weight: 800;
  --mixin-a5RO2ZtoD__g_line-height: 1.2;
  --mixin-a5RO2ZtoD__g_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-a5RO2ZtoD__g_white-space: pre-wrap;
  --mixin-MrvG0pnqaJwF_color: var(--token-pk_1Z9QFM4r7);
  --mixin-MrvG0pnqaJwF_font-size: var(--token-ievpyAjbeNbB);
  --mixin-MrvG0pnqaJwF_font-weight: 800;
  --mixin-MrvG0pnqaJwF_line-height: 1.3;
  --mixin-MrvG0pnqaJwF_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-MrvG0pnqaJwF_white-space: pre-wrap;
  --mixin-cR8lnal5YOe8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cR8lnal5YOe8_border-bottom-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-bottom-style: solid;
  --mixin-cR8lnal5YOe8_border-bottom-width: 1px;
  --mixin-cR8lnal5YOe8_border-left-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-left-style: solid;
  --mixin-cR8lnal5YOe8_border-left-width: 1px;
  --mixin-cR8lnal5YOe8_border-right-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-right-style: solid;
  --mixin-cR8lnal5YOe8_border-right-width: 1px;
  --mixin-cR8lnal5YOe8_border-top-color: #dddddd;
  --mixin-cR8lnal5YOe8_border-top-style: solid;
  --mixin-cR8lnal5YOe8_border-top-width: 1px;
  --mixin-cR8lnal5YOe8_border-bottom-left-radius: 3px;
  --mixin-cR8lnal5YOe8_border-bottom-right-radius: 3px;
  --mixin-cR8lnal5YOe8_border-top-left-radius: 3px;
  --mixin-cR8lnal5YOe8_border-top-right-radius: 3px;
  --mixin-cR8lnal5YOe8_font-family: "Inconsolata";
  --mixin-cR8lnal5YOe8_padding-bottom: 1px;
  --mixin-cR8lnal5YOe8_padding-left: 4px;
  --mixin-cR8lnal5YOe8_padding-right: 4px;
  --mixin-cR8lnal5YOe8_padding-top: 1px;
  --mixin-cR8lnal5YOe8_white-space: pre-wrap;
  --mixin-EB5LYmgtaOV4_border-left-color: #dddddd;
  --mixin-EB5LYmgtaOV4_border-left-style: solid;
  --mixin-EB5LYmgtaOV4_border-left-width: 3px;
  --mixin-EB5LYmgtaOV4_color: #888888;
  --mixin-EB5LYmgtaOV4_padding-left: 10px;
  --mixin-EB5LYmgtaOV4_white-space: pre-wrap;
  --mixin-kMjsAVuIJbAP_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kMjsAVuIJbAP_border-bottom-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-bottom-style: solid;
  --mixin-kMjsAVuIJbAP_border-bottom-width: 1px;
  --mixin-kMjsAVuIJbAP_border-left-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-left-style: solid;
  --mixin-kMjsAVuIJbAP_border-left-width: 1px;
  --mixin-kMjsAVuIJbAP_border-right-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-right-style: solid;
  --mixin-kMjsAVuIJbAP_border-right-width: 1px;
  --mixin-kMjsAVuIJbAP_border-top-color: #dddddd;
  --mixin-kMjsAVuIJbAP_border-top-style: solid;
  --mixin-kMjsAVuIJbAP_border-top-width: 1px;
  --mixin-kMjsAVuIJbAP_border-bottom-left-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-bottom-right-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-top-left-radius: 3px;
  --mixin-kMjsAVuIJbAP_border-top-right-radius: 3px;
  --mixin-kMjsAVuIJbAP_font-family: "Inconsolata";
  --mixin-kMjsAVuIJbAP_padding-bottom: 3px;
  --mixin-kMjsAVuIJbAP_padding-left: 6px;
  --mixin-kMjsAVuIJbAP_padding-right: 6px;
  --mixin-kMjsAVuIJbAP_padding-top: 3px;
  --mixin-kMjsAVuIJbAP_white-space: pre-wrap;
  --mixin-WeCgNFRLCOGr_display: flex;
  --mixin-WeCgNFRLCOGr_flex-direction: column;
  --mixin-WeCgNFRLCOGr_align-items: stretch;
  --mixin-WeCgNFRLCOGr_justify-content: flex-start;
  --mixin-WeCgNFRLCOGr_list-style-position: outside;
  --mixin-WeCgNFRLCOGr_padding-left: 40px;
  --mixin-WeCgNFRLCOGr_position: relative;
  --mixin-WeCgNFRLCOGr_list-style-type: disc;
  --mixin-WeCgNFRLCOGr_white-space: pre-wrap;
  --mixin-1Zr3w6HoFVJr_display: flex;
  --mixin-1Zr3w6HoFVJr_flex-direction: column;
  --mixin-1Zr3w6HoFVJr_align-items: stretch;
  --mixin-1Zr3w6HoFVJr_justify-content: flex-start;
  --mixin-1Zr3w6HoFVJr_list-style-position: outside;
  --mixin-1Zr3w6HoFVJr_padding-left: 40px;
  --mixin-1Zr3w6HoFVJr_position: relative;
  --mixin-1Zr3w6HoFVJr_list-style-type: decimal;
  --mixin-1Zr3w6HoFVJr_white-space: pre-wrap;
  --mixin-xZs9gehECyll_color: var(--token-pk_1Z9QFM4r7);
  --mixin-xZs9gehECyll_font-size: var(--token-eU71-XZSTeNn);
  --mixin-xZs9gehECyll_font-weight: 800;
  --mixin-xZs9gehECyll_line-height: 1.5;
  --mixin-xZs9gehECyll_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-xZs9gehECyll_white-space: pre-wrap;
  --mixin-GpqxFEkBBHob_color: var(--token-pk_1Z9QFM4r7);
  --mixin-GpqxFEkBBHob_font-size: var(--token-3hRiRQ6Lj9le);
  --mixin-GpqxFEkBBHob_font-weight: 800;
  --mixin-GpqxFEkBBHob_line-height: 1.5;
  --mixin-GpqxFEkBBHob_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-GpqxFEkBBHob_white-space: pre-wrap;
  --mixin-bWdKrPQrUEp5_color: #3291ff;
  --mixin-bWdKrPQrUEp5_white-space: pre-wrap;
  --mixin-2JN-h9z-jgu1_white-space: pre-wrap;
  --mixin-8zXpFSsAjyw7_white-space: pre-wrap;
  --mixin-1uiDALak7xHZ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Pz_8lsQIuhGb_font-family);
  font-size: var(--mixin-Pz_8lsQIuhGb_font-size);
  font-weight: var(--mixin-Pz_8lsQIuhGb_font-weight);
  font-style: var(--mixin-Pz_8lsQIuhGb_font-style);
  color: var(--mixin-Pz_8lsQIuhGb_color);
  text-align: var(--mixin-Pz_8lsQIuhGb_text-align);
  text-transform: var(--mixin-Pz_8lsQIuhGb_text-transform);
  line-height: var(--mixin-Pz_8lsQIuhGb_line-height);
  letter-spacing: var(--mixin-Pz_8lsQIuhGb_letter-spacing);
  white-space: var(--mixin-Pz_8lsQIuhGb_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-u1AVoLzRSy5Q_color);
  font-weight: var(--mixin-u1AVoLzRSy5Q_font-weight);
  font-size: var(--mixin-u1AVoLzRSy5Q_font-size);
  line-height: var(--mixin-u1AVoLzRSy5Q_line-height);
  letter-spacing: var(--mixin-u1AVoLzRSy5Q_letter-spacing);
  font-family: var(--mixin-u1AVoLzRSy5Q_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-TFyj-kX5L8Vm_color);
  font-size: var(--mixin-TFyj-kX5L8Vm_font-size);
  font-weight: var(--mixin-TFyj-kX5L8Vm_font-weight);
  letter-spacing: var(--mixin-TFyj-kX5L8Vm_letter-spacing);
  line-height: var(--mixin-TFyj-kX5L8Vm_line-height);
  font-family: var(--mixin-TFyj-kX5L8Vm_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bD3XJfZrdJo1_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-a5RO2ZtoD__g_color);
  font-size: var(--mixin-a5RO2ZtoD__g_font-size);
  font-weight: var(--mixin-a5RO2ZtoD__g_font-weight);
  line-height: var(--mixin-a5RO2ZtoD__g_line-height);
  font-family: var(--mixin-a5RO2ZtoD__g_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-MrvG0pnqaJwF_color);
  font-size: var(--mixin-MrvG0pnqaJwF_font-size);
  font-weight: var(--mixin-MrvG0pnqaJwF_font-weight);
  line-height: var(--mixin-MrvG0pnqaJwF_line-height);
  font-family: var(--mixin-MrvG0pnqaJwF_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cR8lnal5YOe8_font-family);
  border-radius: var(--mixin-cR8lnal5YOe8_border-top-left-radius)
    var(--mixin-cR8lnal5YOe8_border-top-right-radius)
    var(--mixin-cR8lnal5YOe8_border-bottom-right-radius)
    var(--mixin-cR8lnal5YOe8_border-bottom-left-radius);
  padding: var(--mixin-cR8lnal5YOe8_padding-top)
    var(--mixin-cR8lnal5YOe8_padding-right)
    var(--mixin-cR8lnal5YOe8_padding-bottom)
    var(--mixin-cR8lnal5YOe8_padding-left);
  border-top: var(--mixin-cR8lnal5YOe8_border-top-width)
    var(--mixin-cR8lnal5YOe8_border-top-style)
    var(--mixin-cR8lnal5YOe8_border-top-color);
  border-right: var(--mixin-cR8lnal5YOe8_border-right-width)
    var(--mixin-cR8lnal5YOe8_border-right-style)
    var(--mixin-cR8lnal5YOe8_border-right-color);
  border-bottom: var(--mixin-cR8lnal5YOe8_border-bottom-width)
    var(--mixin-cR8lnal5YOe8_border-bottom-style)
    var(--mixin-cR8lnal5YOe8_border-bottom-color);
  border-left: var(--mixin-cR8lnal5YOe8_border-left-width)
    var(--mixin-cR8lnal5YOe8_border-left-style)
    var(--mixin-cR8lnal5YOe8_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EB5LYmgtaOV4_color);
  padding-left: var(--mixin-EB5LYmgtaOV4_padding-left);
  border-left: var(--mixin-EB5LYmgtaOV4_border-left-width)
    var(--mixin-EB5LYmgtaOV4_border-left-style)
    var(--mixin-EB5LYmgtaOV4_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kMjsAVuIJbAP_font-family);
  border-radius: var(--mixin-kMjsAVuIJbAP_border-top-left-radius)
    var(--mixin-kMjsAVuIJbAP_border-top-right-radius)
    var(--mixin-kMjsAVuIJbAP_border-bottom-right-radius)
    var(--mixin-kMjsAVuIJbAP_border-bottom-left-radius);
  padding: var(--mixin-kMjsAVuIJbAP_padding-top)
    var(--mixin-kMjsAVuIJbAP_padding-right)
    var(--mixin-kMjsAVuIJbAP_padding-bottom)
    var(--mixin-kMjsAVuIJbAP_padding-left);
  border-top: var(--mixin-kMjsAVuIJbAP_border-top-width)
    var(--mixin-kMjsAVuIJbAP_border-top-style)
    var(--mixin-kMjsAVuIJbAP_border-top-color);
  border-right: var(--mixin-kMjsAVuIJbAP_border-right-width)
    var(--mixin-kMjsAVuIJbAP_border-right-style)
    var(--mixin-kMjsAVuIJbAP_border-right-color);
  border-bottom: var(--mixin-kMjsAVuIJbAP_border-bottom-width)
    var(--mixin-kMjsAVuIJbAP_border-bottom-style)
    var(--mixin-kMjsAVuIJbAP_border-bottom-color);
  border-left: var(--mixin-kMjsAVuIJbAP_border-left-width)
    var(--mixin-kMjsAVuIJbAP_border-left-style)
    var(--mixin-kMjsAVuIJbAP_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-WeCgNFRLCOGr_display);
  flex-direction: var(--mixin-WeCgNFRLCOGr_flex-direction);
  align-items: var(--mixin-WeCgNFRLCOGr_align-items);
  justify-content: var(--mixin-WeCgNFRLCOGr_justify-content);
  list-style-position: var(--mixin-WeCgNFRLCOGr_list-style-position);
  padding-left: var(--mixin-WeCgNFRLCOGr_padding-left);
  position: var(--mixin-WeCgNFRLCOGr_position);
  list-style-type: var(--mixin-WeCgNFRLCOGr_list-style-type);
  flex-column-gap: var(--mixin-WeCgNFRLCOGr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-1Zr3w6HoFVJr_display);
  flex-direction: var(--mixin-1Zr3w6HoFVJr_flex-direction);
  align-items: var(--mixin-1Zr3w6HoFVJr_align-items);
  justify-content: var(--mixin-1Zr3w6HoFVJr_justify-content);
  list-style-position: var(--mixin-1Zr3w6HoFVJr_list-style-position);
  padding-left: var(--mixin-1Zr3w6HoFVJr_padding-left);
  position: var(--mixin-1Zr3w6HoFVJr_position);
  list-style-type: var(--mixin-1Zr3w6HoFVJr_list-style-type);
  flex-column-gap: var(--mixin-1Zr3w6HoFVJr_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-xZs9gehECyll_color);
  font-size: var(--mixin-xZs9gehECyll_font-size);
  font-weight: var(--mixin-xZs9gehECyll_font-weight);
  line-height: var(--mixin-xZs9gehECyll_line-height);
  font-family: var(--mixin-xZs9gehECyll_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-GpqxFEkBBHob_color);
  font-size: var(--mixin-GpqxFEkBBHob_font-size);
  font-weight: var(--mixin-GpqxFEkBBHob_font-weight);
  line-height: var(--mixin-GpqxFEkBBHob_line-height);
  font-family: var(--mixin-GpqxFEkBBHob_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bWdKrPQrUEp5_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):visited,
a:where(.root_reset.a):visited,
:where(.root_reset .__wab_expr_html_text) a:visited,
:where(.root_reset_tags) a:visited,
a:where(.root_reset_tags):visited {
}
