@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-M9omTzutkNjs: var(--token-uqJ3-jooecSZ);
  --plasmic-token-link-color-primary-hover: var(--token-M9omTzutkNjs);
  --token-73zINxeTXZXD: var(--token-fIWS9bJaK1oQ);
  --plasmic-token-link-color-active: var(--token-73zINxeTXZXD);
  --token-ZKVWHkiiFd4B: 16px;
  --plasmic-token-semantic-font-size-md: var(--token-ZKVWHkiiFd4B);
  --token-RZrImjmImLKy: var(--token-lBWX8Kk_SXjv);
  --plasmic-token-link-color-default: var(--token-RZrImjmImLKy);
  --token-UG2jM1ja3kNQ: 13px;
  --plasmic-token-semantic-font-size-sm: var(--token-UG2jM1ja3kNQ);
  --token--8PrfxM7-O_M: 19px;
  --plasmic-token-semantic-font-size-lg: var(--token--8PrfxM7-O_M);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-cxCRU1DGzHjZ_font-family: "Inter", sans-serif;
  --mixin-cxCRU1DGzHjZ_font-size: 16px;
  --mixin-cxCRU1DGzHjZ_font-weight: 400;
  --mixin-cxCRU1DGzHjZ_font-style: normal;
  --mixin-cxCRU1DGzHjZ_color: #535353;
  --mixin-cxCRU1DGzHjZ_text-align: left;
  --mixin-cxCRU1DGzHjZ_text-transform: none;
  --mixin-cxCRU1DGzHjZ_line-height: 1.5;
  --mixin-cxCRU1DGzHjZ_letter-spacing: normal;
  --mixin-cxCRU1DGzHjZ_white-space: pre-wrap;
  --mixin-cxCRU1DGzHjZ_user-select: text;
  --mixin-cxCRU1DGzHjZ_text-decoration-line: none;
  --mixin-cxCRU1DGzHjZ_text-overflow: clip;
  --mixin-BntFfvlmpfnB_color: #000000;
  --mixin-BntFfvlmpfnB_font-weight: 700;
  --mixin-BntFfvlmpfnB_font-size: 64px;
  --mixin-BntFfvlmpfnB_line-height: 1;
  --mixin-BntFfvlmpfnB_letter-spacing: -1px;
  --mixin-BntFfvlmpfnB_white-space: pre-wrap;
  --mixin-l73T3PwBvmnR_color: #000000;
  --mixin-l73T3PwBvmnR_font-size: 48px;
  --mixin-l73T3PwBvmnR_font-weight: 700;
  --mixin-l73T3PwBvmnR_letter-spacing: -0.5px;
  --mixin-l73T3PwBvmnR_line-height: 1.1;
  --mixin-l73T3PwBvmnR_white-space: pre-wrap;
  --mixin-7Rgjxhi38cjZ_color: #0070f3;
  --mixin-7Rgjxhi38cjZ_white-space: pre-wrap;
  --mixin-NjTCfLpG71TL_color: #000000;
  --mixin-NjTCfLpG71TL_font-size: 32px;
  --mixin-NjTCfLpG71TL_font-weight: 600;
  --mixin-NjTCfLpG71TL_line-height: 1.2;
  --mixin-NjTCfLpG71TL_white-space: pre-wrap;
  --mixin-yo9YJXtBVSNS_color: #000000;
  --mixin-yo9YJXtBVSNS_font-size: 24px;
  --mixin-yo9YJXtBVSNS_font-weight: 600;
  --mixin-yo9YJXtBVSNS_line-height: 1.3;
  --mixin-yo9YJXtBVSNS_white-space: pre-wrap;
  --mixin-cweEjLsVt5c2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cweEjLsVt5c2_border-bottom-color: #dddddd;
  --mixin-cweEjLsVt5c2_border-bottom-style: solid;
  --mixin-cweEjLsVt5c2_border-bottom-width: 1px;
  --mixin-cweEjLsVt5c2_border-left-color: #dddddd;
  --mixin-cweEjLsVt5c2_border-left-style: solid;
  --mixin-cweEjLsVt5c2_border-left-width: 1px;
  --mixin-cweEjLsVt5c2_border-right-color: #dddddd;
  --mixin-cweEjLsVt5c2_border-right-style: solid;
  --mixin-cweEjLsVt5c2_border-right-width: 1px;
  --mixin-cweEjLsVt5c2_border-top-color: #dddddd;
  --mixin-cweEjLsVt5c2_border-top-style: solid;
  --mixin-cweEjLsVt5c2_border-top-width: 1px;
  --mixin-cweEjLsVt5c2_border-bottom-left-radius: 3px;
  --mixin-cweEjLsVt5c2_border-bottom-right-radius: 3px;
  --mixin-cweEjLsVt5c2_border-top-left-radius: 3px;
  --mixin-cweEjLsVt5c2_border-top-right-radius: 3px;
  --mixin-cweEjLsVt5c2_font-family: "Inconsolata";
  --mixin-cweEjLsVt5c2_padding-bottom: 1px;
  --mixin-cweEjLsVt5c2_padding-left: 4px;
  --mixin-cweEjLsVt5c2_padding-right: 4px;
  --mixin-cweEjLsVt5c2_padding-top: 1px;
  --mixin-cweEjLsVt5c2_white-space: pre-wrap;
  --mixin-KRrtvDlPCntj_border-left-color: #dddddd;
  --mixin-KRrtvDlPCntj_border-left-style: solid;
  --mixin-KRrtvDlPCntj_border-left-width: 3px;
  --mixin-KRrtvDlPCntj_color: #888888;
  --mixin-KRrtvDlPCntj_padding-left: 10px;
  --mixin-KRrtvDlPCntj_white-space: pre-wrap;
  --mixin-PSG8mqdEKTju_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PSG8mqdEKTju_border-bottom-color: #dddddd;
  --mixin-PSG8mqdEKTju_border-bottom-style: solid;
  --mixin-PSG8mqdEKTju_border-bottom-width: 1px;
  --mixin-PSG8mqdEKTju_border-left-color: #dddddd;
  --mixin-PSG8mqdEKTju_border-left-style: solid;
  --mixin-PSG8mqdEKTju_border-left-width: 1px;
  --mixin-PSG8mqdEKTju_border-right-color: #dddddd;
  --mixin-PSG8mqdEKTju_border-right-style: solid;
  --mixin-PSG8mqdEKTju_border-right-width: 1px;
  --mixin-PSG8mqdEKTju_border-top-color: #dddddd;
  --mixin-PSG8mqdEKTju_border-top-style: solid;
  --mixin-PSG8mqdEKTju_border-top-width: 1px;
  --mixin-PSG8mqdEKTju_border-bottom-left-radius: 3px;
  --mixin-PSG8mqdEKTju_border-bottom-right-radius: 3px;
  --mixin-PSG8mqdEKTju_border-top-left-radius: 3px;
  --mixin-PSG8mqdEKTju_border-top-right-radius: 3px;
  --mixin-PSG8mqdEKTju_font-family: "Inconsolata";
  --mixin-PSG8mqdEKTju_padding-bottom: 3px;
  --mixin-PSG8mqdEKTju_padding-left: 6px;
  --mixin-PSG8mqdEKTju_padding-right: 6px;
  --mixin-PSG8mqdEKTju_padding-top: 3px;
  --mixin-PSG8mqdEKTju_white-space: pre-wrap;
  --mixin-HCmPm363I2De_display: flex;
  --mixin-HCmPm363I2De_flex-direction: column;
  --mixin-HCmPm363I2De_align-items: stretch;
  --mixin-HCmPm363I2De_justify-content: flex-start;
  --mixin-HCmPm363I2De_list-style-position: outside;
  --mixin-HCmPm363I2De_padding-left: 40px;
  --mixin-HCmPm363I2De_position: relative;
  --mixin-HCmPm363I2De_list-style-type: disc;
  --mixin-HCmPm363I2De_white-space: pre-wrap;
  --mixin-BmILovjHapMD_display: flex;
  --mixin-BmILovjHapMD_flex-direction: column;
  --mixin-BmILovjHapMD_align-items: stretch;
  --mixin-BmILovjHapMD_justify-content: flex-start;
  --mixin-BmILovjHapMD_list-style-position: outside;
  --mixin-BmILovjHapMD_padding-left: 40px;
  --mixin-BmILovjHapMD_position: relative;
  --mixin-BmILovjHapMD_list-style-type: decimal;
  --mixin-BmILovjHapMD_white-space: pre-wrap;
  --mixin-mRtQgI4Hr8r7_color: #000000;
  --mixin-mRtQgI4Hr8r7_font-size: 20px;
  --mixin-mRtQgI4Hr8r7_font-weight: 600;
  --mixin-mRtQgI4Hr8r7_line-height: 1.5;
  --mixin-mRtQgI4Hr8r7_white-space: pre-wrap;
  --mixin-0juH-5rlBqdS_color: #000000;
  --mixin-0juH-5rlBqdS_font-size: 16px;
  --mixin-0juH-5rlBqdS_font-weight: 600;
  --mixin-0juH-5rlBqdS_line-height: 1.5;
  --mixin-0juH-5rlBqdS_white-space: pre-wrap;
  --mixin-5ArgwGtFhg5V_color: #3291ff;
  --mixin-5ArgwGtFhg5V_white-space: pre-wrap;
  --mixin-F1B69-BrhKdw_white-space: pre-wrap;
  --mixin-2odu9GIwLDHs_white-space: pre-wrap;
  --mixin-44Zb4tq696UC_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-cxCRU1DGzHjZ_font-family);
  font-size: var(--mixin-cxCRU1DGzHjZ_font-size);
  font-weight: var(--mixin-cxCRU1DGzHjZ_font-weight);
  font-style: var(--mixin-cxCRU1DGzHjZ_font-style);
  color: var(--mixin-cxCRU1DGzHjZ_color);
  text-align: var(--mixin-cxCRU1DGzHjZ_text-align);
  text-transform: var(--mixin-cxCRU1DGzHjZ_text-transform);
  line-height: var(--mixin-cxCRU1DGzHjZ_line-height);
  letter-spacing: var(--mixin-cxCRU1DGzHjZ_letter-spacing);
  white-space: var(--mixin-cxCRU1DGzHjZ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-BntFfvlmpfnB_color);
  font-weight: var(--mixin-BntFfvlmpfnB_font-weight);
  font-size: var(--mixin-BntFfvlmpfnB_font-size);
  line-height: var(--mixin-BntFfvlmpfnB_line-height);
  letter-spacing: var(--mixin-BntFfvlmpfnB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-l73T3PwBvmnR_color);
  font-size: var(--mixin-l73T3PwBvmnR_font-size);
  font-weight: var(--mixin-l73T3PwBvmnR_font-weight);
  letter-spacing: var(--mixin-l73T3PwBvmnR_letter-spacing);
  line-height: var(--mixin-l73T3PwBvmnR_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-7Rgjxhi38cjZ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-NjTCfLpG71TL_color);
  font-size: var(--mixin-NjTCfLpG71TL_font-size);
  font-weight: var(--mixin-NjTCfLpG71TL_font-weight);
  line-height: var(--mixin-NjTCfLpG71TL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-yo9YJXtBVSNS_color);
  font-size: var(--mixin-yo9YJXtBVSNS_font-size);
  font-weight: var(--mixin-yo9YJXtBVSNS_font-weight);
  line-height: var(--mixin-yo9YJXtBVSNS_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-cweEjLsVt5c2_font-family);
  border-radius: var(--mixin-cweEjLsVt5c2_border-top-left-radius)
    var(--mixin-cweEjLsVt5c2_border-top-right-radius)
    var(--mixin-cweEjLsVt5c2_border-bottom-right-radius)
    var(--mixin-cweEjLsVt5c2_border-bottom-left-radius);
  padding: var(--mixin-cweEjLsVt5c2_padding-top)
    var(--mixin-cweEjLsVt5c2_padding-right)
    var(--mixin-cweEjLsVt5c2_padding-bottom)
    var(--mixin-cweEjLsVt5c2_padding-left);
  border-top: var(--mixin-cweEjLsVt5c2_border-top-width)
    var(--mixin-cweEjLsVt5c2_border-top-style)
    var(--mixin-cweEjLsVt5c2_border-top-color);
  border-right: var(--mixin-cweEjLsVt5c2_border-right-width)
    var(--mixin-cweEjLsVt5c2_border-right-style)
    var(--mixin-cweEjLsVt5c2_border-right-color);
  border-bottom: var(--mixin-cweEjLsVt5c2_border-bottom-width)
    var(--mixin-cweEjLsVt5c2_border-bottom-style)
    var(--mixin-cweEjLsVt5c2_border-bottom-color);
  border-left: var(--mixin-cweEjLsVt5c2_border-left-width)
    var(--mixin-cweEjLsVt5c2_border-left-style)
    var(--mixin-cweEjLsVt5c2_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-KRrtvDlPCntj_color);
  padding-left: var(--mixin-KRrtvDlPCntj_padding-left);
  border-left: var(--mixin-KRrtvDlPCntj_border-left-width)
    var(--mixin-KRrtvDlPCntj_border-left-style)
    var(--mixin-KRrtvDlPCntj_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PSG8mqdEKTju_font-family);
  border-radius: var(--mixin-PSG8mqdEKTju_border-top-left-radius)
    var(--mixin-PSG8mqdEKTju_border-top-right-radius)
    var(--mixin-PSG8mqdEKTju_border-bottom-right-radius)
    var(--mixin-PSG8mqdEKTju_border-bottom-left-radius);
  padding: var(--mixin-PSG8mqdEKTju_padding-top)
    var(--mixin-PSG8mqdEKTju_padding-right)
    var(--mixin-PSG8mqdEKTju_padding-bottom)
    var(--mixin-PSG8mqdEKTju_padding-left);
  border-top: var(--mixin-PSG8mqdEKTju_border-top-width)
    var(--mixin-PSG8mqdEKTju_border-top-style)
    var(--mixin-PSG8mqdEKTju_border-top-color);
  border-right: var(--mixin-PSG8mqdEKTju_border-right-width)
    var(--mixin-PSG8mqdEKTju_border-right-style)
    var(--mixin-PSG8mqdEKTju_border-right-color);
  border-bottom: var(--mixin-PSG8mqdEKTju_border-bottom-width)
    var(--mixin-PSG8mqdEKTju_border-bottom-style)
    var(--mixin-PSG8mqdEKTju_border-bottom-color);
  border-left: var(--mixin-PSG8mqdEKTju_border-left-width)
    var(--mixin-PSG8mqdEKTju_border-left-style)
    var(--mixin-PSG8mqdEKTju_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-HCmPm363I2De_display);
  flex-direction: var(--mixin-HCmPm363I2De_flex-direction);
  align-items: var(--mixin-HCmPm363I2De_align-items);
  justify-content: var(--mixin-HCmPm363I2De_justify-content);
  list-style-position: var(--mixin-HCmPm363I2De_list-style-position);
  padding-left: var(--mixin-HCmPm363I2De_padding-left);
  position: var(--mixin-HCmPm363I2De_position);
  list-style-type: var(--mixin-HCmPm363I2De_list-style-type);
  flex-column-gap: var(--mixin-HCmPm363I2De_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-BmILovjHapMD_display);
  flex-direction: var(--mixin-BmILovjHapMD_flex-direction);
  align-items: var(--mixin-BmILovjHapMD_align-items);
  justify-content: var(--mixin-BmILovjHapMD_justify-content);
  list-style-position: var(--mixin-BmILovjHapMD_list-style-position);
  padding-left: var(--mixin-BmILovjHapMD_padding-left);
  position: var(--mixin-BmILovjHapMD_position);
  list-style-type: var(--mixin-BmILovjHapMD_list-style-type);
  flex-column-gap: var(--mixin-BmILovjHapMD_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-mRtQgI4Hr8r7_color);
  font-size: var(--mixin-mRtQgI4Hr8r7_font-size);
  font-weight: var(--mixin-mRtQgI4Hr8r7_font-weight);
  line-height: var(--mixin-mRtQgI4Hr8r7_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-0juH-5rlBqdS_color);
  font-size: var(--mixin-0juH-5rlBqdS_font-size);
  font-weight: var(--mixin-0juH-5rlBqdS_font-weight);
  line-height: var(--mixin-0juH-5rlBqdS_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-5ArgwGtFhg5V_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}

:where(.root_reset) a:where(.a):visited,
a:where(.root_reset.a):visited,
:where(.root_reset .__wab_expr_html_text) a:visited,
:where(.root_reset_tags) a:visited,
a:where(.root_reset_tags):visited {
}
