.root {
  display: flex;
  flex-direction: row;
  background: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  position: relative;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: var(--token-h0_GggevpuXx);
  padding: var(--token-DJG0-1-AIdx2) var(--token-Tb8qOJPUwx3v);
  border: 0px solid var(--token-YNTwqshgiehg);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-LSCAu4UVLjDU));
  width: calc(100% + var(--token-LSCAu4UVLjDU));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-LSCAu4UVLjDU);
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  min-width: 100px;
  border-radius: var(--token-777jJ2wRTLo6);
}
.rootshape_round {
  border-radius: var(--token-ekbB3alQ30Aj);
  padding: var(--token-S-nKzYdMeo3-) var(--token-C-iHWDR50IOT);
}
.rootshape_sharp {
  border-radius: var(--token-COeusAfGFv4S);
}
.rootsize_sm {
  padding: var(--token-Ipmzy6sZ07Xv) var(--token-C-iHWDR50IOT);
}
.rootsize_md {
  padding: var(--token-DJG0-1-AIdx2) var(--token-Tb8qOJPUwx3v);
}
.rootsize_lg {
  padding: var(--token-QDAZpj4yH0nF) var(--token-ZjdeXLrJ3ues);
}
.rootsize_xl {
  padding: var(--token-S-nKzYdMeo3-) var(--token-Drgv7XAD1g9l);
}
.rootbackground_primary {
  background: var(--token-z4Q8l-MDMjdW);
}
.rootbackground_secondary {
  background: var(--token-LEPaf32c_-IP);
}
.rootbackground_tertiary {
  background: var(--token-yDwssoUEyOdB);
}
.rootbackground_destructive {
  background: var(--token-c7Mnm_MHEMS7);
}
.rootbackground_action {
  background: var(--token-Q6N9dz5ZYvfy);
}
.rootemphasis_bold {
  background: var(--token-LPczeucOh5az);
}
.rootemphasis_subtle {
  background: var(--token--8Id5pnwbdE5);
  border-width: 1px;
  border-color: var(--token-YNTwqshgiehg);
}
.rootemphasis_minimal {
  background: var(--token-Xyz-8zrS4i0w);
}
.rootemphasis_clear {
  background: none;
}
.rootforeground_primary {
  border-color: var(--token-kWhtvpa_-WJh);
}
.rootforeground_secondary {
  border-color: var(--token-Qj9PY_glbSyl);
}
.root:hover {
  background: var(--token-UhNK9WQAUMjl);
}
.root:focus-within {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.root:active {
  background: var(--token-1HtyZPSRYhJx);
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.startIconContainershowStartIcon {
  display: flex;
}
.startIconContainericonOnly {
  display: flex;
}
.slotTargetStartIcon {
  color: var(--token-ClaXJZT9r5bT);
}
.slotTargetStartIconbackground_secondary {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetStartIconbackground_tertiary {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetStartIconbackground_destructive {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetStartIconemphasis_subtle {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetStartIconemphasis_minimal {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetStartIconemphasis_clear {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetStartIconforeground_primary {
  color: var(--token-Mbt2SFt_Mros);
}
.slotTargetStartIconforeground_secondary {
  color: var(--token-wAXaBfBh5s2x);
}
.slotTargetStartIconforeground_tertiary {
  color: var(--token-wOgmEqJDwUQn);
}
.slotTargetStartIconforeground_destructive {
  color: var(--token-ak4aqK8QJFZS);
}
.slotTargetStartIconforeground_action {
  color: var(--token-TNXJenzpRl90);
}
.rootemphasis_subtle:hover .slotTargetStartIconemphasis_subtle {
  color: var(--token-obhTHuNrBKmX);
}
.rootemphasis_minimal:hover .slotTargetStartIconemphasis_minimal {
  color: var(--token-obhTHuNrBKmX);
}
.rootbackground_primary:active .slotTargetStartIconbackground_primary {
  color: var(--token-Mbt2SFt_Mros);
}
.rootbackground_secondary:active .slotTargetStartIconbackground_secondary {
  color: var(--token-wAXaBfBh5s2x);
}
.rootbackground_tertiary:active .slotTargetStartIconbackground_tertiary {
  color: var(--token-wOgmEqJDwUQn);
}
.rootbackground_destructive:active .slotTargetStartIconbackground_destructive {
  color: var(--token-ak4aqK8QJFZS);
}
.rootbackground_action:active .slotTargetStartIconbackground_action {
  color: var(--token-TNXJenzpRl90);
}
.rootemphasis_subtle:active .slotTargetStartIconemphasis_subtle {
  color: var(--token-obhTHuNrBKmX);
}
.rootemphasis_minimal:active .slotTargetStartIconemphasis_minimal {
  color: var(--token-obhTHuNrBKmX);
}
.svg__tf8 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-ClaXJZT9r5bT);
  font-weight: 500;
  white-space: pre;
  font-size: var(--token-pbD4Obic6_G9);
}
.slotTargetChildrenbackground_primary {
  color: var(--token-obhTHuNrBKmX);
}
.slotTargetChildrenbackground_secondary {
  color: var(--token-obhTHuNrBKmX);
}
.slotTargetChildrenbackground_tertiary {
  color: var(--token-obhTHuNrBKmX);
}
.slotTargetChildrenbackground_destructive {
  color: var(--token-obhTHuNrBKmX);
}
.slotTargetChildrenbackground_action {
  color: var(--token-obhTHuNrBKmX);
}
.slotTargetChildrenemphasis_subtle {
  color: var(--token-ClaXJZT9r5bT);
}
.slotTargetChildrenemphasis_minimal {
  color: var(--token-ClaXJZT9r5bT);
}
.slotTargetChildrenemphasis_clear {
  color: var(--token-ClaXJZT9r5bT);
}
.slotTargetChildrenforeground_primary {
  color: var(--token-BSbKSlqGDGcN);
}
.slotTargetChildrenforeground_secondary {
  color: var(--token-h6dVu7-8joff);
}
.slotTargetChildrenforeground_tertiary {
  color: var(--token-gvMYmvSv9p72);
}
.slotTargetChildrenforeground_destructive {
  color: var(--token-KBkn5a6_8AuD);
}
.slotTargetChildrenforeground_action {
  color: var(--token-4aEfE5XqPB-X);
}
.slotTargetChildrenunnamedVariant {
  font-weight: 600;
}
.root:active .slotTargetChildren {
  font-weight: 700;
}
.rootbackground_primary:active .slotTargetChildrenbackground_primary {
  color: var(--token-BSbKSlqGDGcN);
}
.rootbackground_secondary:active .slotTargetChildrenbackground_secondary {
  color: var(--token-h6dVu7-8joff);
}
.rootbackground_tertiary:active .slotTargetChildrenbackground_tertiary {
  color: var(--token-gvMYmvSv9p72);
}
.rootbackground_destructive:active .slotTargetChildrenbackground_destructive {
  color: var(--token-KBkn5a6_8AuD);
}
.rootbackground_action:active .slotTargetChildrenbackground_action {
  color: var(--token-4aEfE5XqPB-X);
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: var(--token-ClaXJZT9r5bT);
}
.slotTargetEndIconbackground_secondary {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetEndIconbackground_tertiary {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetEndIconbackground_destructive {
  color: var(--token-cJYUETvxOuAB);
}
.slotTargetEndIconemphasis_subtle {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetEndIconemphasis_minimal {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetEndIconemphasis_clear {
  color: var(--token-ul07BsN0Jtj4);
}
.slotTargetEndIconforeground_primary {
  color: var(--token-Mbt2SFt_Mros);
}
.slotTargetEndIconforeground_secondary {
  color: var(--token-wAXaBfBh5s2x);
}
.slotTargetEndIconforeground_tertiary {
  color: var(--token-wOgmEqJDwUQn);
}
.slotTargetEndIconforeground_destructive {
  color: var(--token-ak4aqK8QJFZS);
}
.slotTargetEndIconforeground_action {
  color: var(--token-TNXJenzpRl90);
}
.rootemphasis_subtle:hover .slotTargetEndIconemphasis_subtle {
  color: var(--token-obhTHuNrBKmX);
}
.rootemphasis_minimal:hover .slotTargetEndIconemphasis_minimal {
  color: var(--token-obhTHuNrBKmX);
}
.rootbackground_primary:active .slotTargetEndIconbackground_primary {
  color: var(--token-Mbt2SFt_Mros);
}
.rootbackground_secondary:active .slotTargetEndIconbackground_secondary {
  color: var(--token-wAXaBfBh5s2x);
}
.rootbackground_tertiary:active .slotTargetEndIconbackground_tertiary {
  color: var(--token-wOgmEqJDwUQn);
}
.rootbackground_destructive:active .slotTargetEndIconbackground_destructive {
  color: var(--token-ak4aqK8QJFZS);
}
.rootbackground_action:active .slotTargetEndIconbackground_action {
  color: var(--token-TNXJenzpRl90);
}
.rootemphasis_subtle:active .slotTargetEndIconemphasis_subtle {
  color: var(--token-obhTHuNrBKmX);
}
.rootemphasis_minimal:active .slotTargetEndIconemphasis_minimal {
  color: var(--token-obhTHuNrBKmX);
}
.svg__wnhKx {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
