@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-Ipmzy6sZ07Xv: var(--token-gX7wDxh76h7C);
  --plasmic-token-button-padding-v-sm: var(--token-Ipmzy6sZ07Xv);
  --token-DJG0-1-AIdx2: var(--token-UWq52Z58Sbph);
  --plasmic-token-button-padding-v-md: var(--token-DJG0-1-AIdx2);
  --token-QDAZpj4yH0nF: var(--token-10BV8D3CuUzQ);
  --plasmic-token-button-padding-v-lg: var(--token-QDAZpj4yH0nF);
  --token-S-nKzYdMeo3-: var(--token-bSLtDw-rslXx);
  --plasmic-token-button-padding-v-xl: var(--token-S-nKzYdMeo3-);
  --token-C-iHWDR50IOT: var(--token-bSLtDw-rslXx);
  --plasmic-token-button-padding-h-sm: var(--token-C-iHWDR50IOT);
  --token-Tb8qOJPUwx3v: var(--token-ooyqpeY3PJfm);
  --plasmic-token-button-padding-h-md: var(--token-Tb8qOJPUwx3v);
  --token-ZjdeXLrJ3ues: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-button-padding-h-lg: var(--token-ZjdeXLrJ3ues);
  --token-Drgv7XAD1g9l: var(--token-ZseIMxw94CIA);
  --plasmic-token-button-padding-h-xl: var(--token-Drgv7XAD1g9l);
  --token-LSCAu4UVLjDU: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-button-gap-md: var(--token-LSCAu4UVLjDU);
  --token-h0_GggevpuXx: var(--token-YD3pso-iK0Vs);
  --plasmic-token-button-radii-md: var(--token-h0_GggevpuXx);
  --token-LPczeucOh5az: var(--token-cGThmsNY7SRd);
  --plasmic-token-menu-item-bold-default-background-standard-color: var(
    --token-LPczeucOh5az
  );
  --token-LEPaf32c_-IP: var(--token-lwNU-2BKlR7L);
  --plasmic-token-menu-item-bold-default-background-secondary-color: var(
    --token-LEPaf32c_-IP
  );
  --token-777jJ2wRTLo6: var(--token-2RB-LlABK1rQ);
  --plasmic-token-button-radii-rounded: var(--token-777jJ2wRTLo6);
  --token-COeusAfGFv4S: var(--token-lMlkZPOZp4Ru);
  --plasmic-token-button-radii-sharp: var(--token-COeusAfGFv4S);
  --token-ekbB3alQ30Aj: 50%;
  --plasmic-token-button-radii-round: var(--token-ekbB3alQ30Aj);
  --token-c7Mnm_MHEMS7: var(--token-dxvNs_t726zZ);
  --plasmic-token-menu-item-bold-default-background-danger-color: var(
    --token-c7Mnm_MHEMS7
  );
  --token-Q6N9dz5ZYvfy: var(--token-UryOpF4cmLPA);
  --plasmic-token-menu-item-bold-default-background-action-color: var(
    --token-Q6N9dz5ZYvfy
  );
  --token-yDwssoUEyOdB: var(--token-DfkTqbzYJOdi);
  --plasmic-token-menu-item-bold-default-background-tertiary-color: var(
    --token-yDwssoUEyOdB
  );
  --token-cJYUETvxOuAB: var(--token-kPtxT4MapVTC);
  --plasmic-token-menu-item-bold-default-icon-universal-color: var(
    --token-cJYUETvxOuAB
  );
  --token-obhTHuNrBKmX: var(--token-2AiSuX3qcmlO);
  --plasmic-token-menu-item-bold-default-text-universal-color: var(
    --token-obhTHuNrBKmX
  );
  --token-KXZUyCrmmrNE: var(--token-MWQMPSVubdO1);
  --plasmic-token-menu-item-clear-default-background-universal-color: var(
    --token-KXZUyCrmmrNE
  );
  --token-ul07BsN0Jtj4: var(--token-DfkTqbzYJOdi);
  --plasmic-token-menu-item-non-bold-default-icon-standard-color: var(
    --token-ul07BsN0Jtj4
  );
  --token-ClaXJZT9r5bT: var(--token-DfkTqbzYJOdi);
  --plasmic-token-menu-item-non-bold-default-text-standard-color: var(
    --token-ClaXJZT9r5bT
  );
  --token-QJHyNoWLNaG-: var(--token-60q15gbK5t2P);
  --plasmic-token-checkbox-label-fontsize-sm: var(--token-QJHyNoWLNaG-);
  --token-UiBMrVJX6Ff0: var(--token-nzhJo5rxzpC3);
  --plasmic-token-checkbox-label-fontsize-md: var(--token-UiBMrVJX6Ff0);
  --token-pbD4Obic6_G9: var(--token-nzhJo5rxzpC3);
  --plasmic-token-switch-label-fontsize-md: var(--token-pbD4Obic6_G9);
  --token-zDXWxPSF29LR: var(--token-60q15gbK5t2P);
  --plasmic-token-switch-label-fontsize-sm: var(--token-zDXWxPSF29LR);
  --token-64Bpl1-ONh0B: var(--token-60q15gbK5t2P);
  --plasmic-token-dropdown-placeholder-fontsize-md: var(--token-64Bpl1-ONh0B);
  --token-UhNK9WQAUMjl: var(--token-mZMghYMnBUOV);
  --plasmic-token-menu-item-bold-hover-background-universal-color: var(
    --token-UhNK9WQAUMjl
  );
  --token-1HtyZPSRYhJx: var(--token-LSqAr0VRW41W);
  --plasmic-token-menu-item-bold-active-background-universal-color: var(
    --token-1HtyZPSRYhJx
  );
  --token-Xyz-8zrS4i0w: var(--token-Zcj4zER1DxfM);
  --plasmic-token-menu-item-minimal-default-background-universal-color: var(
    --token-Xyz-8zrS4i0w
  );
  --token--8Id5pnwbdE5: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-menu-item-subtle-default-background-universal-color: var(
    --token--8Id5pnwbdE5
  );
  --token-YNTwqshgiehg: var(--token-DfkTqbzYJOdi);
  --plasmic-token-menu-item-subtle-default-border-standard-color: var(
    --token-YNTwqshgiehg
  );
  --token-z4Q8l-MDMjdW: var(--token-xZ2klggI5XbJ);
  --plasmic-token-menu-item-bold-default-background-primary-color: var(
    --token-z4Q8l-MDMjdW
  );
  --token-BSbKSlqGDGcN: var(--token-ikGwwJXF58sD);
  --plasmic-token-menu-item-non-bold-default-text-primary-color: var(
    --token-BSbKSlqGDGcN
  );
  --token-h6dVu7-8joff: var(--token-v6ThsaLTU9ci);
  --plasmic-token-menu-item-non-bold-default-text-secondary-color: var(
    --token-h6dVu7-8joff
  );
  --token-gvMYmvSv9p72: var(--token-yDwssoUEyOdB);
  --plasmic-token-menu-item-non-bold-default-text-tertiary-color: var(
    --token-gvMYmvSv9p72
  );
  --token-KBkn5a6_8AuD: var(--token-dxvNs_t726zZ);
  --plasmic-token-menu-item-non-bold-default-text-destructive-color: var(
    --token-KBkn5a6_8AuD
  );
  --token-4aEfE5XqPB-X: var(--token-pmmltM-TYoqS);
  --plasmic-token-menu-item-non-bold-default-text-action-color: var(
    --token-4aEfE5XqPB-X
  );
  --token-TNXJenzpRl90: var(--token-pmmltM-TYoqS);
  --plasmic-token-menu-item-non-bold-default-icon-action-color: var(
    --token-TNXJenzpRl90
  );
  --token-ak4aqK8QJFZS: var(--token-dxvNs_t726zZ);
  --plasmic-token-menu-item-non-bold-default-icon-destructive-color: var(
    --token-ak4aqK8QJFZS
  );
  --token-Mbt2SFt_Mros: var(--token-ikGwwJXF58sD);
  --plasmic-token-menu-item-non-bold-default-icon-primary-color: var(
    --token-Mbt2SFt_Mros
  );
  --token-wAXaBfBh5s2x: var(--token-v6ThsaLTU9ci);
  --plasmic-token-menu-item-non-bold-default-icon-secondary-color: var(
    --token-wAXaBfBh5s2x
  );
  --token-wOgmEqJDwUQn: var(--token-yDwssoUEyOdB);
  --plasmic-token-menu-item-non-bold-default-icon-tertiary-color: var(
    --token-wOgmEqJDwUQn
  );
  --token-1oby4I-bt0qW: var(--token-pmmltM-TYoqS);
  --plasmic-token-menu-item-subtle-default-border-action-color: var(
    --token-1oby4I-bt0qW
  );
  --token-qI5yPNs_xUKz: var(--token-dxvNs_t726zZ);
  --plasmic-token-menu-item-subtle-default-border-destructive-color: var(
    --token-qI5yPNs_xUKz
  );
  --token-kWhtvpa_-WJh: var(--token-ikGwwJXF58sD);
  --plasmic-token-menu-item-subtle-default-border-primary-color: var(
    --token-kWhtvpa_-WJh
  );
  --token-Qj9PY_glbSyl: var(--token-v6ThsaLTU9ci);
  --plasmic-token-menu-item-subtle-default-border-secondary-color: var(
    --token-Qj9PY_glbSyl
  );
  --token-1FBPcPRI3Aad: var(--token-yDwssoUEyOdB);
  --plasmic-token-menu-item-subtle-default-border-tertiary-color: var(
    --token-1FBPcPRI3Aad
  );
  --token-kPtxT4MapVTC: #ffffff;
  --plasmic-token-icon-color-on-main: var(--token-kPtxT4MapVTC);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-pIj6pvQ9V7-L_font-family: "Inter", sans-serif;
  --mixin-pIj6pvQ9V7-L_font-size: 16px;
  --mixin-pIj6pvQ9V7-L_font-weight: 400;
  --mixin-pIj6pvQ9V7-L_font-style: normal;
  --mixin-pIj6pvQ9V7-L_color: #535353;
  --mixin-pIj6pvQ9V7-L_text-align: left;
  --mixin-pIj6pvQ9V7-L_text-transform: none;
  --mixin-pIj6pvQ9V7-L_line-height: 1.5;
  --mixin-pIj6pvQ9V7-L_letter-spacing: normal;
  --mixin-pIj6pvQ9V7-L_white-space: pre-wrap;
  --mixin-pIj6pvQ9V7-L_user-select: text;
  --mixin-pIj6pvQ9V7-L_text-decoration-line: none;
  --mixin-pIj6pvQ9V7-L_text-overflow: clip;
  --mixin-GNfU1c7G7OZt_color: #000000;
  --mixin-GNfU1c7G7OZt_font-weight: 700;
  --mixin-GNfU1c7G7OZt_font-size: 64px;
  --mixin-GNfU1c7G7OZt_line-height: 1;
  --mixin-GNfU1c7G7OZt_letter-spacing: -1px;
  --mixin-GNfU1c7G7OZt_white-space: pre-wrap;
  --mixin-rRD7-J1VS6Tl_color: #000000;
  --mixin-rRD7-J1VS6Tl_font-size: 48px;
  --mixin-rRD7-J1VS6Tl_font-weight: 700;
  --mixin-rRD7-J1VS6Tl_letter-spacing: -0.5px;
  --mixin-rRD7-J1VS6Tl_line-height: 1.1;
  --mixin-rRD7-J1VS6Tl_white-space: pre-wrap;
  --mixin-XgrHCDdcgDKp_color: #0070f3;
  --mixin-XgrHCDdcgDKp_white-space: pre-wrap;
  --mixin-WcRWfBjvNuWg_color: #000000;
  --mixin-WcRWfBjvNuWg_font-size: 32px;
  --mixin-WcRWfBjvNuWg_font-weight: 600;
  --mixin-WcRWfBjvNuWg_line-height: 1.2;
  --mixin-WcRWfBjvNuWg_white-space: pre-wrap;
  --mixin-R8DZrkwF4iWy_color: #000000;
  --mixin-R8DZrkwF4iWy_font-size: 24px;
  --mixin-R8DZrkwF4iWy_font-weight: 600;
  --mixin-R8DZrkwF4iWy_line-height: 1.3;
  --mixin-R8DZrkwF4iWy_white-space: pre-wrap;
  --mixin-XWPjwx7yGD5s_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XWPjwx7yGD5s_border-bottom-color: #dddddd;
  --mixin-XWPjwx7yGD5s_border-bottom-style: solid;
  --mixin-XWPjwx7yGD5s_border-bottom-width: 1px;
  --mixin-XWPjwx7yGD5s_border-left-color: #dddddd;
  --mixin-XWPjwx7yGD5s_border-left-style: solid;
  --mixin-XWPjwx7yGD5s_border-left-width: 1px;
  --mixin-XWPjwx7yGD5s_border-right-color: #dddddd;
  --mixin-XWPjwx7yGD5s_border-right-style: solid;
  --mixin-XWPjwx7yGD5s_border-right-width: 1px;
  --mixin-XWPjwx7yGD5s_border-top-color: #dddddd;
  --mixin-XWPjwx7yGD5s_border-top-style: solid;
  --mixin-XWPjwx7yGD5s_border-top-width: 1px;
  --mixin-XWPjwx7yGD5s_border-bottom-left-radius: 3px;
  --mixin-XWPjwx7yGD5s_border-bottom-right-radius: 3px;
  --mixin-XWPjwx7yGD5s_border-top-left-radius: 3px;
  --mixin-XWPjwx7yGD5s_border-top-right-radius: 3px;
  --mixin-XWPjwx7yGD5s_font-family: "Inconsolata";
  --mixin-XWPjwx7yGD5s_padding-bottom: 1px;
  --mixin-XWPjwx7yGD5s_padding-left: 4px;
  --mixin-XWPjwx7yGD5s_padding-right: 4px;
  --mixin-XWPjwx7yGD5s_padding-top: 1px;
  --mixin-XWPjwx7yGD5s_white-space: pre-wrap;
  --mixin-qEJjLHVdspGW_border-left-color: #dddddd;
  --mixin-qEJjLHVdspGW_border-left-style: solid;
  --mixin-qEJjLHVdspGW_border-left-width: 3px;
  --mixin-qEJjLHVdspGW_color: #888888;
  --mixin-qEJjLHVdspGW_padding-left: 10px;
  --mixin-qEJjLHVdspGW_white-space: pre-wrap;
  --mixin-kSRV3yz10ElF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kSRV3yz10ElF_border-bottom-color: #dddddd;
  --mixin-kSRV3yz10ElF_border-bottom-style: solid;
  --mixin-kSRV3yz10ElF_border-bottom-width: 1px;
  --mixin-kSRV3yz10ElF_border-left-color: #dddddd;
  --mixin-kSRV3yz10ElF_border-left-style: solid;
  --mixin-kSRV3yz10ElF_border-left-width: 1px;
  --mixin-kSRV3yz10ElF_border-right-color: #dddddd;
  --mixin-kSRV3yz10ElF_border-right-style: solid;
  --mixin-kSRV3yz10ElF_border-right-width: 1px;
  --mixin-kSRV3yz10ElF_border-top-color: #dddddd;
  --mixin-kSRV3yz10ElF_border-top-style: solid;
  --mixin-kSRV3yz10ElF_border-top-width: 1px;
  --mixin-kSRV3yz10ElF_border-bottom-left-radius: 3px;
  --mixin-kSRV3yz10ElF_border-bottom-right-radius: 3px;
  --mixin-kSRV3yz10ElF_border-top-left-radius: 3px;
  --mixin-kSRV3yz10ElF_border-top-right-radius: 3px;
  --mixin-kSRV3yz10ElF_font-family: "Inconsolata";
  --mixin-kSRV3yz10ElF_padding-bottom: 3px;
  --mixin-kSRV3yz10ElF_padding-left: 6px;
  --mixin-kSRV3yz10ElF_padding-right: 6px;
  --mixin-kSRV3yz10ElF_padding-top: 3px;
  --mixin-kSRV3yz10ElF_white-space: pre-wrap;
  --mixin-1AQqI87l-Say_display: flex;
  --mixin-1AQqI87l-Say_flex-direction: column;
  --mixin-1AQqI87l-Say_align-items: stretch;
  --mixin-1AQqI87l-Say_justify-content: flex-start;
  --mixin-1AQqI87l-Say_list-style-position: outside;
  --mixin-1AQqI87l-Say_padding-left: 40px;
  --mixin-1AQqI87l-Say_position: relative;
  --mixin-1AQqI87l-Say_list-style-type: disc;
  --mixin-1AQqI87l-Say_white-space: pre-wrap;
  --mixin-whQ_K_xoccB5_display: flex;
  --mixin-whQ_K_xoccB5_flex-direction: column;
  --mixin-whQ_K_xoccB5_align-items: stretch;
  --mixin-whQ_K_xoccB5_justify-content: flex-start;
  --mixin-whQ_K_xoccB5_list-style-position: outside;
  --mixin-whQ_K_xoccB5_padding-left: 40px;
  --mixin-whQ_K_xoccB5_position: relative;
  --mixin-whQ_K_xoccB5_list-style-type: decimal;
  --mixin-whQ_K_xoccB5_white-space: pre-wrap;
  --mixin-jCi6UvO31ufX_color: #000000;
  --mixin-jCi6UvO31ufX_font-size: 20px;
  --mixin-jCi6UvO31ufX_font-weight: 600;
  --mixin-jCi6UvO31ufX_line-height: 1.5;
  --mixin-jCi6UvO31ufX_white-space: pre-wrap;
  --mixin-H4gpzqu8Rr_4_color: #000000;
  --mixin-H4gpzqu8Rr_4_font-size: 16px;
  --mixin-H4gpzqu8Rr_4_font-weight: 600;
  --mixin-H4gpzqu8Rr_4_line-height: 1.5;
  --mixin-H4gpzqu8Rr_4_white-space: pre-wrap;
  --mixin-chzEHPQMiO9C_color: #3291ff;
  --mixin-chzEHPQMiO9C_white-space: pre-wrap;
  --mixin-Lf4MKqhPT_mF_white-space: pre-wrap;
  --mixin-v7HL7vW_dw4t_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-pIj6pvQ9V7-L_font-family);
  font-size: var(--mixin-pIj6pvQ9V7-L_font-size);
  font-weight: var(--mixin-pIj6pvQ9V7-L_font-weight);
  font-style: var(--mixin-pIj6pvQ9V7-L_font-style);
  color: var(--mixin-pIj6pvQ9V7-L_color);
  text-align: var(--mixin-pIj6pvQ9V7-L_text-align);
  text-transform: var(--mixin-pIj6pvQ9V7-L_text-transform);
  line-height: var(--mixin-pIj6pvQ9V7-L_line-height);
  letter-spacing: var(--mixin-pIj6pvQ9V7-L_letter-spacing);
  white-space: var(--mixin-pIj6pvQ9V7-L_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-GNfU1c7G7OZt_color);
  font-weight: var(--mixin-GNfU1c7G7OZt_font-weight);
  font-size: var(--mixin-GNfU1c7G7OZt_font-size);
  line-height: var(--mixin-GNfU1c7G7OZt_line-height);
  letter-spacing: var(--mixin-GNfU1c7G7OZt_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-rRD7-J1VS6Tl_color);
  font-size: var(--mixin-rRD7-J1VS6Tl_font-size);
  font-weight: var(--mixin-rRD7-J1VS6Tl_font-weight);
  letter-spacing: var(--mixin-rRD7-J1VS6Tl_letter-spacing);
  line-height: var(--mixin-rRD7-J1VS6Tl_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-XgrHCDdcgDKp_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-WcRWfBjvNuWg_color);
  font-size: var(--mixin-WcRWfBjvNuWg_font-size);
  font-weight: var(--mixin-WcRWfBjvNuWg_font-weight);
  line-height: var(--mixin-WcRWfBjvNuWg_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-R8DZrkwF4iWy_color);
  font-size: var(--mixin-R8DZrkwF4iWy_font-size);
  font-weight: var(--mixin-R8DZrkwF4iWy_font-weight);
  line-height: var(--mixin-R8DZrkwF4iWy_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XWPjwx7yGD5s_font-family);
  border-radius: var(--mixin-XWPjwx7yGD5s_border-top-left-radius)
    var(--mixin-XWPjwx7yGD5s_border-top-right-radius)
    var(--mixin-XWPjwx7yGD5s_border-bottom-right-radius)
    var(--mixin-XWPjwx7yGD5s_border-bottom-left-radius);
  padding: var(--mixin-XWPjwx7yGD5s_padding-top)
    var(--mixin-XWPjwx7yGD5s_padding-right)
    var(--mixin-XWPjwx7yGD5s_padding-bottom)
    var(--mixin-XWPjwx7yGD5s_padding-left);
  border-top: var(--mixin-XWPjwx7yGD5s_border-top-width)
    var(--mixin-XWPjwx7yGD5s_border-top-style)
    var(--mixin-XWPjwx7yGD5s_border-top-color);
  border-right: var(--mixin-XWPjwx7yGD5s_border-right-width)
    var(--mixin-XWPjwx7yGD5s_border-right-style)
    var(--mixin-XWPjwx7yGD5s_border-right-color);
  border-bottom: var(--mixin-XWPjwx7yGD5s_border-bottom-width)
    var(--mixin-XWPjwx7yGD5s_border-bottom-style)
    var(--mixin-XWPjwx7yGD5s_border-bottom-color);
  border-left: var(--mixin-XWPjwx7yGD5s_border-left-width)
    var(--mixin-XWPjwx7yGD5s_border-left-style)
    var(--mixin-XWPjwx7yGD5s_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-qEJjLHVdspGW_color);
  padding-left: var(--mixin-qEJjLHVdspGW_padding-left);
  border-left: var(--mixin-qEJjLHVdspGW_border-left-width)
    var(--mixin-qEJjLHVdspGW_border-left-style)
    var(--mixin-qEJjLHVdspGW_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kSRV3yz10ElF_font-family);
  border-radius: var(--mixin-kSRV3yz10ElF_border-top-left-radius)
    var(--mixin-kSRV3yz10ElF_border-top-right-radius)
    var(--mixin-kSRV3yz10ElF_border-bottom-right-radius)
    var(--mixin-kSRV3yz10ElF_border-bottom-left-radius);
  padding: var(--mixin-kSRV3yz10ElF_padding-top)
    var(--mixin-kSRV3yz10ElF_padding-right)
    var(--mixin-kSRV3yz10ElF_padding-bottom)
    var(--mixin-kSRV3yz10ElF_padding-left);
  border-top: var(--mixin-kSRV3yz10ElF_border-top-width)
    var(--mixin-kSRV3yz10ElF_border-top-style)
    var(--mixin-kSRV3yz10ElF_border-top-color);
  border-right: var(--mixin-kSRV3yz10ElF_border-right-width)
    var(--mixin-kSRV3yz10ElF_border-right-style)
    var(--mixin-kSRV3yz10ElF_border-right-color);
  border-bottom: var(--mixin-kSRV3yz10ElF_border-bottom-width)
    var(--mixin-kSRV3yz10ElF_border-bottom-style)
    var(--mixin-kSRV3yz10ElF_border-bottom-color);
  border-left: var(--mixin-kSRV3yz10ElF_border-left-width)
    var(--mixin-kSRV3yz10ElF_border-left-style)
    var(--mixin-kSRV3yz10ElF_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-1AQqI87l-Say_display);
  flex-direction: var(--mixin-1AQqI87l-Say_flex-direction);
  align-items: var(--mixin-1AQqI87l-Say_align-items);
  justify-content: var(--mixin-1AQqI87l-Say_justify-content);
  list-style-position: var(--mixin-1AQqI87l-Say_list-style-position);
  padding-left: var(--mixin-1AQqI87l-Say_padding-left);
  position: var(--mixin-1AQqI87l-Say_position);
  list-style-type: var(--mixin-1AQqI87l-Say_list-style-type);
  flex-column-gap: var(--mixin-1AQqI87l-Say_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-whQ_K_xoccB5_display);
  flex-direction: var(--mixin-whQ_K_xoccB5_flex-direction);
  align-items: var(--mixin-whQ_K_xoccB5_align-items);
  justify-content: var(--mixin-whQ_K_xoccB5_justify-content);
  list-style-position: var(--mixin-whQ_K_xoccB5_list-style-position);
  padding-left: var(--mixin-whQ_K_xoccB5_padding-left);
  position: var(--mixin-whQ_K_xoccB5_position);
  list-style-type: var(--mixin-whQ_K_xoccB5_list-style-type);
  flex-column-gap: var(--mixin-whQ_K_xoccB5_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-jCi6UvO31ufX_color);
  font-size: var(--mixin-jCi6UvO31ufX_font-size);
  font-weight: var(--mixin-jCi6UvO31ufX_font-weight);
  line-height: var(--mixin-jCi6UvO31ufX_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-H4gpzqu8Rr_4_color);
  font-size: var(--mixin-H4gpzqu8Rr_4_font-size);
  font-weight: var(--mixin-H4gpzqu8Rr_4_font-weight);
  line-height: var(--mixin-H4gpzqu8Rr_4_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-chzEHPQMiO9C_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
