@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-kChqS-ho2d5l: var(--token-ooyqpeY3PJfm);
  --plasmic-token-card-padding-md: var(--token-kChqS-ho2d5l);
  --token-OAMVlOMRRlt0: var(--token-BRN8eUKYNMIr);
  --plasmic-token-card-gap-base-md: var(--token-OAMVlOMRRlt0);
  --token-3ajic8j3bMDk: var(--token-mOMUgWDDGuJX);
  --plasmic-token-card-gap-upper-md: var(--token-3ajic8j3bMDk);
  --token-Mqe-iV18Ejft: var(--token-mOMUgWDDGuJX);
  --plasmic-token-card-gap-base-sm: var(--token-Mqe-iV18Ejft);
  --token-3O6apBLwiIum: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-card-gap-upper-sm: var(--token-3O6apBLwiIum);
  --token-UP_KULkav8Lk: var(--token-nZFcg11oxG2I);
  --plasmic-token-card-gap-base-lg: var(--token-UP_KULkav8Lk);
  --token-PVp7C4JrifQn: var(--token-BRN8eUKYNMIr);
  --plasmic-token-card-gap-upper-lg: var(--token-PVp7C4JrifQn);
  --token-Hz6v97H6xVbi: var(--token-10BV8D3CuUzQ);
  --plasmic-token-card-padding-sm: var(--token-Hz6v97H6xVbi);
  --token-3HQiYjeHaj-l: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-card-padding-lg: var(--token-3HQiYjeHaj-l);
  --token-hbZ8kBb3Pa_z: var(--token-b3CwEocSWMMK);
  --plasmic-token-card-padding-none: var(--token-hbZ8kBb3Pa_z);
  --token-UsoPbakF0OLd: var(--token-IhDCwFnpbbqT);
  --plasmic-token-card-color-background-layer-1: var(--token-UsoPbakF0OLd);
  --token-LOPaWrJHx7uX: var(--token-1CRbvGlg6ewu);
  --plasmic-token-card-color-background-layer-2: var(--token-LOPaWrJHx7uX);
  --token-RDJOeLL4CNyU: #171717;
  --plasmic-token-semantic-color-text-default: var(--token-RDJOeLL4CNyU);
  --token-kSMv0YMAC7hN: 4px;
  --plasmic-token-icon-padding-all: var(--token-kSMv0YMAC7hN);
  --token-W0hTKvmVmu_W: 8px;
  --plasmic-token-icon-width-xxs: var(--token-W0hTKvmVmu_W);
  --token-diXEHJPMw9KV: 10px;
  --plasmic-token-icon-width-xs: var(--token-diXEHJPMw9KV);
  --token-vd0RXWhq9h_1: 10px;
  --plasmic-token-icon-height-xs: var(--token-vd0RXWhq9h_1);
  --token-z59ayrioTc3h: 12px;
  --plasmic-token-icon-width-sm: var(--token-z59ayrioTc3h);
  --token-bC-Uyv1-cue2: 12px;
  --plasmic-token-icon-height-sm: var(--token-bC-Uyv1-cue2);
  --token-8aXL548guX0E: 16px;
  --plasmic-token-icon-width-md: var(--token-8aXL548guX0E);
  --token-hngxpSCksAO2: 16px;
  --plasmic-token-icon-height-md: var(--token-hngxpSCksAO2);
  --token-CetD_LXfriHl: 18px;
  --plasmic-token-icon-width-lg: var(--token-CetD_LXfriHl);
  --token-kulgSazdZ0jv: 18px;
  --plasmic-token-icon-height-lg: var(--token-kulgSazdZ0jv);
  --token-xfgMhygvFlGj: 36px;
  --plasmic-token-icon-width-xl: var(--token-xfgMhygvFlGj);
  --token-3TkWPw2KwCKq: 36px;
  --plasmic-token-icon-height-xl: var(--token-3TkWPw2KwCKq);
  --token-YQMutt4hBczp: 48px;
  --plasmic-token-icon-width-xxl: var(--token-YQMutt4hBczp);
  --token-2LHM6rqEtzFp: 48px;
  --plasmic-token-icon-height-xxl: var(--token-2LHM6rqEtzFp);
  --token-KWpY-6SIUW_7: #3e5463;
  --plasmic-token-icon-color-standard-default: var(--token-KWpY-6SIUW_7);
  --token-PJ2UpKKUnF99: #1c2b36;
  --plasmic-token-icon-interaction-hover-brand-standard-color: var(
    --token-PJ2UpKKUnF99
  );
  --token-OiSX8URLHcIA: #1c2b36;
  --plasmic-token-icon-interaction-active-brand-standard-color: var(
    --token-OiSX8URLHcIA
  );
  --token-JpimYZaOE_X9: #6b30ab;
  --plasmic-token-icon-interaction-default-brand-primary-color: var(
    --token-JpimYZaOE_X9
  );
  --token-egi4cvMFOZIG: #155c5e;
  --plasmic-token-icon-interaction-default-brand-secondary-color: var(
    --token-egi4cvMFOZIG
  );
  --token-BuclBm_SHQqo: #3e5463;
  --plasmic-token-icon-interaction-default-brand-standard-color: var(
    --token-BuclBm_SHQqo
  );
  --token-tf_IH_UqXXw2: #077d55;
  --plasmic-token-icon-status-bold-success-color: var(--token-tf_IH_UqXXw2);
  --token-1AoYErxIZp5Z: #186ade;
  --plasmic-token-icon-status-bold-info-color: var(--token-1AoYErxIZp5Z);
  --token-eVjiYosW0yl0: #946613;
  --plasmic-token-icon-status-bold-warning-color: var(--token-eVjiYosW0yl0);
  --token-eKrof6EN3Js5: #d91f11;
  --plasmic-token-icon-status-bold-error-color: var(--token-eKrof6EN3Js5);
  --token-Of-mulNsPWUz: #c7ebd1;
  --plasmic-token-icon-status-subtle-success-color: var(--token-Of-mulNsPWUz);
  --token-CjOqTOb3bub9: #f7f2fc;
  --plasmic-token-icon-color-main-subtle: var(--token-CjOqTOb3bub9);
  --token-ARalMW6ACM4B: #d4e4fa;
  --plasmic-token-icon-status-subtle-info-color: var(--token-ARalMW6ACM4B);
  --token-L8KqKhUDSIwm: #fadcd9;
  --plasmic-token-icon-color-error-status-subtle: var(--token-L8KqKhUDSIwm);
  --token-yOWK5R-qaEeQ: 16px;
  --plasmic-token-social-icon-padding-md: var(--token-yOWK5R-qaEeQ);
  --token-_ic4YXW22ibF: 10px;
  --plasmic-token-social-icon-padding-sm: var(--token-_ic4YXW22ibF);
  --token-W7egmc0eG_ba: 0px;
  --plasmic-token-size-0: var(--token-W7egmc0eG_ba);
  --token-7N2uy6y7mr5E: 24px;
  --plasmic-token-social-icon-padding-lg: var(--token-7N2uy6y7mr5E);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-icY2LNv0p45x_text-decoration-line: none;
  --mixin-icY2LNv0p45x_text-overflow: clip;
  --mixin-icY2LNv0p45x_user-select: text;
  --mixin-icY2LNv0p45x_white-space: pre-wrap;
  --mixin-icY2LNv0p45x_letter-spacing: normal;
  --mixin-icY2LNv0p45x_line-height: var(--token-yPQtporQvyl3);
  --mixin-icY2LNv0p45x_text-transform: none;
  --mixin-icY2LNv0p45x_text-align: left;
  --mixin-icY2LNv0p45x_color: var(--token-pk_1Z9QFM4r7);
  --mixin-icY2LNv0p45x_font-style: normal;
  --mixin-icY2LNv0p45x_font-weight: 400;
  --mixin-icY2LNv0p45x_font-size: var(--token-eSdnxQh3M7kb);
  --mixin-icY2LNv0p45x_font-family: var(--token-kp9b7fGwd327);
  --mixin-5rFKsX2BK4UY_color: var(--token-pk_1Z9QFM4r7);
  --mixin-5rFKsX2BK4UY_font-weight: 700;
  --mixin-5rFKsX2BK4UY_font-size: var(--token-owdqgKd1gRPb);
  --mixin-5rFKsX2BK4UY_line-height: var(--token-8IAAh1M2Z5ey);
  --mixin-5rFKsX2BK4UY_letter-spacing: -1px;
  --mixin-5rFKsX2BK4UY_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-5rFKsX2BK4UY_white-space: pre-wrap;
  --mixin-Tm__yKuLHXR7_color: var(--token-pk_1Z9QFM4r7);
  --mixin-Tm__yKuLHXR7_font-size: var(--token-qF-w8l-jyW6w);
  --mixin-Tm__yKuLHXR7_font-weight: 700;
  --mixin-Tm__yKuLHXR7_letter-spacing: -0.5px;
  --mixin-Tm__yKuLHXR7_line-height: var(--token-NV5iQ6edBkI8);
  --mixin-Tm__yKuLHXR7_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-Tm__yKuLHXR7_white-space: pre-wrap;
  --mixin-vLgb5qLUr_NM_color: #0070f3;
  --mixin-vLgb5qLUr_NM_white-space: pre-wrap;
  --mixin-dDOOmlj7po0Q_color: var(--token-pk_1Z9QFM4r7);
  --mixin-dDOOmlj7po0Q_font-size: var(--token-ievpyAjbeNbB);
  --mixin-dDOOmlj7po0Q_font-weight: 600;
  --mixin-dDOOmlj7po0Q_line-height: var(--token-8EeNaM011TxK);
  --mixin-dDOOmlj7po0Q_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-dDOOmlj7po0Q_white-space: pre-wrap;
  --mixin-jIjKTCeFpsED_color: var(--token-pk_1Z9QFM4r7);
  --mixin-jIjKTCeFpsED_font-size: var(--token-eU71-XZSTeNn);
  --mixin-jIjKTCeFpsED_font-weight: 600;
  --mixin-jIjKTCeFpsED_line-height: var(--token-IFo4m96bzTC-);
  --mixin-jIjKTCeFpsED_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-jIjKTCeFpsED_white-space: pre-wrap;
  --mixin-fz2P8sedFgD2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fz2P8sedFgD2_border-bottom-color: #dddddd;
  --mixin-fz2P8sedFgD2_border-bottom-style: solid;
  --mixin-fz2P8sedFgD2_border-bottom-width: 1px;
  --mixin-fz2P8sedFgD2_border-left-color: #dddddd;
  --mixin-fz2P8sedFgD2_border-left-style: solid;
  --mixin-fz2P8sedFgD2_border-left-width: 1px;
  --mixin-fz2P8sedFgD2_border-right-color: #dddddd;
  --mixin-fz2P8sedFgD2_border-right-style: solid;
  --mixin-fz2P8sedFgD2_border-right-width: 1px;
  --mixin-fz2P8sedFgD2_border-top-color: #dddddd;
  --mixin-fz2P8sedFgD2_border-top-style: solid;
  --mixin-fz2P8sedFgD2_border-top-width: 1px;
  --mixin-fz2P8sedFgD2_border-bottom-left-radius: 3px;
  --mixin-fz2P8sedFgD2_border-bottom-right-radius: 3px;
  --mixin-fz2P8sedFgD2_border-top-left-radius: 3px;
  --mixin-fz2P8sedFgD2_border-top-right-radius: 3px;
  --mixin-fz2P8sedFgD2_font-family: "Inconsolata";
  --mixin-fz2P8sedFgD2_padding-bottom: 1px;
  --mixin-fz2P8sedFgD2_padding-left: 4px;
  --mixin-fz2P8sedFgD2_padding-right: 4px;
  --mixin-fz2P8sedFgD2_padding-top: 1px;
  --mixin-fz2P8sedFgD2_white-space: pre-wrap;
  --mixin-bxVcaYiGfPAH_border-left-color: #dddddd;
  --mixin-bxVcaYiGfPAH_border-left-style: solid;
  --mixin-bxVcaYiGfPAH_border-left-width: 3px;
  --mixin-bxVcaYiGfPAH_color: #888888;
  --mixin-bxVcaYiGfPAH_padding-left: 10px;
  --mixin-bxVcaYiGfPAH_white-space: pre-wrap;
  --mixin-WARHse3NRnML_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WARHse3NRnML_border-bottom-color: #dddddd;
  --mixin-WARHse3NRnML_border-bottom-style: solid;
  --mixin-WARHse3NRnML_border-bottom-width: 1px;
  --mixin-WARHse3NRnML_border-left-color: #dddddd;
  --mixin-WARHse3NRnML_border-left-style: solid;
  --mixin-WARHse3NRnML_border-left-width: 1px;
  --mixin-WARHse3NRnML_border-right-color: #dddddd;
  --mixin-WARHse3NRnML_border-right-style: solid;
  --mixin-WARHse3NRnML_border-right-width: 1px;
  --mixin-WARHse3NRnML_border-top-color: #dddddd;
  --mixin-WARHse3NRnML_border-top-style: solid;
  --mixin-WARHse3NRnML_border-top-width: 1px;
  --mixin-WARHse3NRnML_border-bottom-left-radius: 3px;
  --mixin-WARHse3NRnML_border-bottom-right-radius: 3px;
  --mixin-WARHse3NRnML_border-top-left-radius: 3px;
  --mixin-WARHse3NRnML_border-top-right-radius: 3px;
  --mixin-WARHse3NRnML_font-family: "Inconsolata";
  --mixin-WARHse3NRnML_padding-bottom: 3px;
  --mixin-WARHse3NRnML_padding-left: 6px;
  --mixin-WARHse3NRnML_padding-right: 6px;
  --mixin-WARHse3NRnML_padding-top: 3px;
  --mixin-WARHse3NRnML_white-space: pre-wrap;
  --mixin-zfBxfF76EPUv_display: flex;
  --mixin-zfBxfF76EPUv_flex-direction: column;
  --mixin-zfBxfF76EPUv_align-items: stretch;
  --mixin-zfBxfF76EPUv_justify-content: flex-start;
  --mixin-zfBxfF76EPUv_list-style-position: outside;
  --mixin-zfBxfF76EPUv_padding-left: 40px;
  --mixin-zfBxfF76EPUv_position: relative;
  --mixin-zfBxfF76EPUv_list-style-type: disc;
  --mixin-zfBxfF76EPUv_white-space: pre-wrap;
  --mixin-qs5tEGgJZiCI_display: flex;
  --mixin-qs5tEGgJZiCI_flex-direction: column;
  --mixin-qs5tEGgJZiCI_align-items: stretch;
  --mixin-qs5tEGgJZiCI_justify-content: flex-start;
  --mixin-qs5tEGgJZiCI_list-style-position: outside;
  --mixin-qs5tEGgJZiCI_padding-left: 40px;
  --mixin-qs5tEGgJZiCI_position: relative;
  --mixin-qs5tEGgJZiCI_list-style-type: decimal;
  --mixin-qs5tEGgJZiCI_white-space: pre-wrap;
  --mixin-Cu98MUCmrJCJ_color: var(--token-pk_1Z9QFM4r7);
  --mixin-Cu98MUCmrJCJ_font-size: var(--token-3hRiRQ6Lj9le);
  --mixin-Cu98MUCmrJCJ_font-weight: 600;
  --mixin-Cu98MUCmrJCJ_line-height: var(--token-GBnIhWNMzLiI);
  --mixin-Cu98MUCmrJCJ_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-Cu98MUCmrJCJ_white-space: pre-wrap;
  --mixin-1eOBHtAUJbTd_color: var(--token-pk_1Z9QFM4r7);
  --mixin-1eOBHtAUJbTd_font-size: var(--token-Ldq67M9_iDBp);
  --mixin-1eOBHtAUJbTd_font-weight: 600;
  --mixin-1eOBHtAUJbTd_line-height: var(--token-8_MaayjU5amP);
  --mixin-1eOBHtAUJbTd_font-family: var(--token-S0oQw7ldxD8U);
  --mixin-1eOBHtAUJbTd_white-space: pre-wrap;
  --mixin-Wpwi4at28iMu_color: #3291ff;
  --mixin-Wpwi4at28iMu_white-space: pre-wrap;
  --mixin-6bamMHC7F_Aq_white-space: pre-wrap;
  --mixin-lKjpF93HvBsp_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-icY2LNv0p45x_font-family);
  font-size: var(--mixin-icY2LNv0p45x_font-size);
  font-weight: var(--mixin-icY2LNv0p45x_font-weight);
  font-style: var(--mixin-icY2LNv0p45x_font-style);
  color: var(--mixin-icY2LNv0p45x_color);
  text-align: var(--mixin-icY2LNv0p45x_text-align);
  text-transform: var(--mixin-icY2LNv0p45x_text-transform);
  line-height: var(--mixin-icY2LNv0p45x_line-height);
  letter-spacing: var(--mixin-icY2LNv0p45x_letter-spacing);
  white-space: var(--mixin-icY2LNv0p45x_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-5rFKsX2BK4UY_color);
  font-weight: var(--mixin-5rFKsX2BK4UY_font-weight);
  font-size: var(--mixin-5rFKsX2BK4UY_font-size);
  line-height: var(--mixin-5rFKsX2BK4UY_line-height);
  letter-spacing: var(--mixin-5rFKsX2BK4UY_letter-spacing);
  font-family: var(--mixin-5rFKsX2BK4UY_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Tm__yKuLHXR7_color);
  font-size: var(--mixin-Tm__yKuLHXR7_font-size);
  font-weight: var(--mixin-Tm__yKuLHXR7_font-weight);
  letter-spacing: var(--mixin-Tm__yKuLHXR7_letter-spacing);
  line-height: var(--mixin-Tm__yKuLHXR7_line-height);
  font-family: var(--mixin-Tm__yKuLHXR7_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-vLgb5qLUr_NM_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-dDOOmlj7po0Q_color);
  font-size: var(--mixin-dDOOmlj7po0Q_font-size);
  font-weight: var(--mixin-dDOOmlj7po0Q_font-weight);
  line-height: var(--mixin-dDOOmlj7po0Q_line-height);
  font-family: var(--mixin-dDOOmlj7po0Q_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-jIjKTCeFpsED_color);
  font-size: var(--mixin-jIjKTCeFpsED_font-size);
  font-weight: var(--mixin-jIjKTCeFpsED_font-weight);
  line-height: var(--mixin-jIjKTCeFpsED_line-height);
  font-family: var(--mixin-jIjKTCeFpsED_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-fz2P8sedFgD2_font-family);
  border-radius: var(--mixin-fz2P8sedFgD2_border-top-left-radius)
    var(--mixin-fz2P8sedFgD2_border-top-right-radius)
    var(--mixin-fz2P8sedFgD2_border-bottom-right-radius)
    var(--mixin-fz2P8sedFgD2_border-bottom-left-radius);
  padding: var(--mixin-fz2P8sedFgD2_padding-top)
    var(--mixin-fz2P8sedFgD2_padding-right)
    var(--mixin-fz2P8sedFgD2_padding-bottom)
    var(--mixin-fz2P8sedFgD2_padding-left);
  border-top: var(--mixin-fz2P8sedFgD2_border-top-width)
    var(--mixin-fz2P8sedFgD2_border-top-style)
    var(--mixin-fz2P8sedFgD2_border-top-color);
  border-right: var(--mixin-fz2P8sedFgD2_border-right-width)
    var(--mixin-fz2P8sedFgD2_border-right-style)
    var(--mixin-fz2P8sedFgD2_border-right-color);
  border-bottom: var(--mixin-fz2P8sedFgD2_border-bottom-width)
    var(--mixin-fz2P8sedFgD2_border-bottom-style)
    var(--mixin-fz2P8sedFgD2_border-bottom-color);
  border-left: var(--mixin-fz2P8sedFgD2_border-left-width)
    var(--mixin-fz2P8sedFgD2_border-left-style)
    var(--mixin-fz2P8sedFgD2_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-bxVcaYiGfPAH_color);
  padding-left: var(--mixin-bxVcaYiGfPAH_padding-left);
  border-left: var(--mixin-bxVcaYiGfPAH_border-left-width)
    var(--mixin-bxVcaYiGfPAH_border-left-style)
    var(--mixin-bxVcaYiGfPAH_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WARHse3NRnML_font-family);
  border-radius: var(--mixin-WARHse3NRnML_border-top-left-radius)
    var(--mixin-WARHse3NRnML_border-top-right-radius)
    var(--mixin-WARHse3NRnML_border-bottom-right-radius)
    var(--mixin-WARHse3NRnML_border-bottom-left-radius);
  padding: var(--mixin-WARHse3NRnML_padding-top)
    var(--mixin-WARHse3NRnML_padding-right)
    var(--mixin-WARHse3NRnML_padding-bottom)
    var(--mixin-WARHse3NRnML_padding-left);
  border-top: var(--mixin-WARHse3NRnML_border-top-width)
    var(--mixin-WARHse3NRnML_border-top-style)
    var(--mixin-WARHse3NRnML_border-top-color);
  border-right: var(--mixin-WARHse3NRnML_border-right-width)
    var(--mixin-WARHse3NRnML_border-right-style)
    var(--mixin-WARHse3NRnML_border-right-color);
  border-bottom: var(--mixin-WARHse3NRnML_border-bottom-width)
    var(--mixin-WARHse3NRnML_border-bottom-style)
    var(--mixin-WARHse3NRnML_border-bottom-color);
  border-left: var(--mixin-WARHse3NRnML_border-left-width)
    var(--mixin-WARHse3NRnML_border-left-style)
    var(--mixin-WARHse3NRnML_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-zfBxfF76EPUv_display);
  flex-direction: var(--mixin-zfBxfF76EPUv_flex-direction);
  align-items: var(--mixin-zfBxfF76EPUv_align-items);
  justify-content: var(--mixin-zfBxfF76EPUv_justify-content);
  list-style-position: var(--mixin-zfBxfF76EPUv_list-style-position);
  padding-left: var(--mixin-zfBxfF76EPUv_padding-left);
  position: var(--mixin-zfBxfF76EPUv_position);
  list-style-type: var(--mixin-zfBxfF76EPUv_list-style-type);
  flex-column-gap: var(--mixin-zfBxfF76EPUv_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-qs5tEGgJZiCI_display);
  flex-direction: var(--mixin-qs5tEGgJZiCI_flex-direction);
  align-items: var(--mixin-qs5tEGgJZiCI_align-items);
  justify-content: var(--mixin-qs5tEGgJZiCI_justify-content);
  list-style-position: var(--mixin-qs5tEGgJZiCI_list-style-position);
  padding-left: var(--mixin-qs5tEGgJZiCI_padding-left);
  position: var(--mixin-qs5tEGgJZiCI_position);
  list-style-type: var(--mixin-qs5tEGgJZiCI_list-style-type);
  flex-column-gap: var(--mixin-qs5tEGgJZiCI_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Cu98MUCmrJCJ_color);
  font-size: var(--mixin-Cu98MUCmrJCJ_font-size);
  font-weight: var(--mixin-Cu98MUCmrJCJ_font-weight);
  line-height: var(--mixin-Cu98MUCmrJCJ_line-height);
  font-family: var(--mixin-Cu98MUCmrJCJ_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-1eOBHtAUJbTd_color);
  font-size: var(--mixin-1eOBHtAUJbTd_font-size);
  font-weight: var(--mixin-1eOBHtAUJbTd_font-weight);
  line-height: var(--mixin-1eOBHtAUJbTd_line-height);
  font-family: var(--mixin-1eOBHtAUJbTd_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Wpwi4at28iMu_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
