.cardBase {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.cardBase > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.cardBase > :global(.__wab_flex-container) > *,
.cardBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBase > :global(.__wab_flex-container) > picture > img,
.cardBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.cardBasesize_sm {
  padding: var(--token-Hz6v97H6xVbi);
}
.cardBasesize_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Mqe-iV18Ejft));
  height: calc(100% + var(--token-Mqe-iV18Ejft));
}
.cardBasesize_sm > :global(.__wab_flex-container) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > picture > img,
.cardBasesize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Mqe-iV18Ejft);
}
.cardBasesize_lg {
  padding: var(--token-3HQiYjeHaj-l);
}
.cardBasesize_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-UP_KULkav8Lk));
  height: calc(100% + var(--token-UP_KULkav8Lk));
}
.cardBasesize_lg > :global(.__wab_flex-container) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > picture > img,
.cardBasesize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-UP_KULkav8Lk);
}
.cardBaseorientation_reorientateBase {
  display: flex;
  flex-direction: row;
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-OAMVlOMRRlt0));
  width: calc(100% + var(--token-OAMVlOMRRlt0));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > picture
  > img,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-OAMVlOMRRlt0);
  margin-top: 0px;
}
.cardBasereverse_reverseBase {
  flex-direction: column-reverse;
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > *,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > picture > img,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.cardBasetype_pricing {
  width: 100%;
  min-width: 0;
}
.cardBasetype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.cardBasebackgroundLayer_unnamedVariant {
  background: var(--token-LOPaWrJHx7uX);
}
.upperStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-kChqS-ho2d5l);
  padding-left: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.upperStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.upperStackorientation_reorientateUpperStack {
  display: flex;
  flex-direction: row;
}
.upperStackorientation_reorientateUpperStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-3ajic8j3bMDk));
  width: calc(100% + var(--token-3ajic8j3bMDk));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3ajic8j3bMDk);
  margin-top: 0px;
}
.upperStackreverse_reverseUpperStack {
  flex-direction: column-reverse;
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.upperStacktype_pricing {
  display: flex;
  flex-direction: column;
}
.upperStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStacktype_pricing > :global(.__wab_flex-container) > *,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.flairStack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.flairStacktype_basic {
  display: none;
}
.flairStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.visualStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-kChqS-ho2d5l);
}
.visualStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.visualStack > :global(.__wab_flex-container) > *,
.visualStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.visualStack > :global(.__wab_flex-container) > picture > img,
.visualStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.imageStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.imageStacktype_image {
  display: flex;
}
.imageStacktype_article {
  display: none;
}
.imageStacktype_pricing {
  display: none;
}
.image__g2D20:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.img__nn4Db {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nn4Db > picture > img {
  object-fit: cover;
}
.iconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.iconStacktype_image {
  display: flex;
}
.iconStacktype_article {
  display: none;
}
.iconStacktype_user {
  display: none;
}
.iconStacktype_pricing {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.icon__hAPtb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__r7Jil {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.actionStack {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.actionStackenableAction {
  display: flex;
}
.svg__val3F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.headingStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.headingStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.headingStack > :global(.__wab_flex-container) > *,
.headingStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headingStack > :global(.__wab_flex-container) > picture > img,
.headingStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.headingStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.headingStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.headingStacktype_pricing > :global(.__wab_flex-container) > *,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headingStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.headerElementStack {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headerElementStacktype_pricing {
  width: auto;
}
.headerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.headerStacktype_image {
  display: none;
}
.title__gvT4Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.kicker___12TR8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text___34NHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__xpxUn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text___7JWw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.subHeadline__yXIyR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__wzbkn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-7Q6Tq4DaBVj1));
  width: calc(100% + var(--token-7Q6Tq4DaBVj1));
}
.titleElementStack > :global(.__wab_flex-container) > *,
.titleElementStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleElementStack > :global(.__wab_flex-container) > picture > img,
.titleElementStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-7Q6Tq4DaBVj1);
}
.titleElementStacklayout_center > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.titleStack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.titleStackstyles_removeTitle {
  display: none;
}
.titleStackstyles_removeBody {
  display: flex;
}
.titleStacktype_user {
  display: none;
}
.title__tu3Yn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.kicker___1FdX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text___3Unw5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline___43Le6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__xdNxq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.subHeadline__l6Yzl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__d0RbP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.lowerStack > :global(.__wab_flex-container) > *,
.lowerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lowerStack > :global(.__wab_flex-container) > picture > img,
.lowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.lowerStackorientation_reorientateLowerStack {
  display: flex;
  flex-direction: row;
}
.lowerStackorientation_reorientateLowerStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.lowerStackreverse_reverseLowerStack {
  flex-direction: column-reverse;
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.bodyStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.bodyStackstyles_removeBody {
  display: none;
}
.contentStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.contentStack > :global(.__wab_flex-container) > *,
.contentStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentStack > :global(.__wab_flex-container) > picture > img,
.contentStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.content__rY2Rj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__e4Aa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  padding-bottom: 0px;
  min-width: 0;
}
.listStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.listStack > :global(.__wab_flex-container) > *,
.listStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listStack > :global(.__wab_flex-container) > picture > img,
.listStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.listStacktype_pricing {
  display: flex;
}
.listGroup___0L3Q8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listItem___3SY2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bBder {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__pjRxX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__lkpZx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sR2K {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nA1LV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__m4WiR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xRgw4 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___1CHps {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__jzVt0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__t4NpL {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__d4AOq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__rvgZf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3RRni {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__jlUeq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ajk6V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fxsRs {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__v0V9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__iZaYj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rga3G {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__v8Xi4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__jmxkj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bU3K {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__mqVSg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__vrnr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sk8NV {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___82Qyv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__u7Cs8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fdCk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__twa83 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__h75L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__elx5O {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__tMfzx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__ygdJ3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5KMgK {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___2XlK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerStack {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-3ajic8j3bMDk));
  height: calc(100% + var(--token-3ajic8j3bMDk));
}
.footerStack > :global(.__wab_flex-container) > *,
.footerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerStack > :global(.__wab_flex-container) > picture > img,
.footerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3ajic8j3bMDk);
}
.footerStacktype_article > :global(.__wab_flex-container) {
  align-items: flex-end;
  justify-content: flex-start;
}
.footerStacktype_pricing {
  width: 100%;
  min-width: 0;
}
.footerStacktype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.footerStacklayout_center > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.footerButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerButtonstyles_removeFooterButton {
  display: none;
}
.footerButtontype_article {
  display: none;
}
.footerButtontype_user {
  display: none;
}
.footerButtontype_pricing {
  width: 100%;
  min-width: 0;
}
.footerButtonlayout_center {
  align-items: center;
  justify-content: flex-start;
}
.button__aCcR8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__z0XnC {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sRpUa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSeparator {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerSeparatortype_basic {
  display: none;
}
.footerSeparatortype_image {
  display: none;
}
.footerSeparatortype_article {
  display: none;
}
.footerSeparatortype_user {
  display: none;
}
.footerSeparatortype_pricing {
  display: none;
}
.separator:global(.__wab_instance) {
  max-width: 100%;
}
.footerInformation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.footerInformationstyles_removeFooterInformation {
  display: none;
}
.footerInformationtype_basic {
  display: none;
}
.footerInformationtype_image {
  display: none;
}
.footerInformationtype_article {
  display: flex;
}
.footerInformationtype_user {
  display: none;
}
.content:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  min-width: 0;
}
.footerIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerIconStacktype_basic {
  display: none;
}
.footerIconStacktype_image {
  display: none;
}
.footerIconStacktype_pricing {
  display: none;
}
.footerIconStacklayout_center {
  align-items: center;
  justify-content: flex-start;
}
.footerSocialIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerSocialIconStacktype_article {
  display: none;
}
.footerSocialIconStackfooterIconOptions_shareIcons {
  display: none;
}
.footerSocialIconStackfooterIconOptions_contactIcons {
  display: none;
}
.socialIcons__x4DfA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__x38Hw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__jwTv0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__siBl {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__l5Bon {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__fmWde {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___2Qb7M {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__lSAjo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__eCe6G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__rKH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___23Ara {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__af9V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__yXto {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__udT0Z {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__i12B4 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__gWcM6 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__fh7Ym {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__pZ0Xd {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__uw8R5 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__m5Hv4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__jgEem {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ukpoz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__be5Ij {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mt9Ye {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__hLoLw {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__dbOqq {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__l28Rm {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__tZzI6 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__c3OeA {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__qL7K {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__aMAg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__gDjRf {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__pFv9L {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.footerShareIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerShareIconStacktype_user {
  display: none;
}
.footerShareIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerShareIconStackfooterIconOptions_contactIcons {
  display: none;
}
.shareIcons__a9WPz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___5PsNw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
.svg___56Cbs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
.footerContactIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerContactIconStacktype_article {
  display: none;
}
.footerContactIconStacktype_user {
  display: none;
}
.footerContactIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerContactIconStackfooterIconOptions_shareIcons {
  display: none;
}
.contactIcons__aVxaa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__biNfz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
.svg__h7ImC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
.svg__owI3L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
.svg__iHkbS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RDJOeLL4CNyU);
  height: 1em;
}
