.root {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
  padding: var(--token-_ic4YXW22ibF);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-yOWK5R-qaEeQ));
  height: calc(100% + var(--token-yOWK5R-qaEeQ));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-yOWK5R-qaEeQ);
}
.rootsize_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-_ic4YXW22ibF));
  height: calc(100% + var(--token-_ic4YXW22ibF));
}
.rootsize_sm > :global(.__wab_flex-container) > *,
.rootsize_sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootsize_sm > :global(.__wab_flex-container) > picture > img,
.rootsize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-_ic4YXW22ibF);
}
.rootsize_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-7N2uy6y7mr5E));
  height: calc(100% + var(--token-7N2uy6y7mr5E));
}
.rootsize_lg > :global(.__wab_flex-container) > *,
.rootsize_lg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootsize_lg > :global(.__wab_flex-container) > picture > img,
.rootsize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-7N2uy6y7mr5E);
}
.socialIconsBase {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.emailStack {
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
  display: none;
}
.emailStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.emailStack > :global(.__wab_flex-container) > *,
.emailStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.emailStack > :global(.__wab_flex-container) > picture > img,
.emailStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.emailStackremoveIcon_xTwitter {
  display: none;
}
.emailStackset_developer {
  display: none;
}
.emailStackset_designer {
  display: none;
}
.slotTargetEmailSlot {
  color: var(--token-RDJOeLL4CNyU);
}
.slotTargetEmailSlotcontrastIcons_mail {
  color: var(--token-BuclBm_SHQqo);
}
.svg__qpDiD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.xTwitterStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.xTwitterStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.xTwitterStack > :global(.__wab_flex-container) > *,
.xTwitterStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.xTwitterStack > :global(.__wab_flex-container) > picture > img,
.xTwitterStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.xTwitterStackremoveIcon_xTwitter {
  display: none;
}
.slotTargetXTwitterSlot {
  color: var(--token-MQqaJubGkTV_);
}
.slotTargetXTwitterSlotcontrastIcons_x {
  color: var(--token-BuclBm_SHQqo);
}
.svg__jCsc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.mastadonStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.mastadonStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.mastadonStack > :global(.__wab_flex-container) > *,
.mastadonStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mastadonStack > :global(.__wab_flex-container) > picture > img,
.mastadonStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.mastadonStackremoveIcon_mastadon {
  display: none;
}
.mastadonStackset_business {
  display: none;
}
.mastadonStackset_developer {
  display: none;
}
.mastadonStackset_designer {
  display: none;
}
.slotTargetMastadonSlot {
  color: var(--token-FToQ3lJDC7sV);
}
.slotTargetMastadonSlotcontrastIcons_mastadon {
  color: var(--token-BuclBm_SHQqo);
}
.svg__qE77 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.tikTokStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.tikTokStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.tikTokStack > :global(.__wab_flex-container) > *,
.tikTokStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tikTokStack > :global(.__wab_flex-container) > picture > img,
.tikTokStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.tikTokStackremoveIcon_tikTok {
  display: none;
}
.tikTokStackset_business {
  display: none;
}
.tikTokStackset_developer {
  display: none;
}
.tikTokStackset_designer {
  display: none;
}
.slotTargetTikTokSlot {
  color: var(--token-_3pt5tFrjpz9);
}
.slotTargetTikTokSlotcontrastIcons_tikTok {
  color: var(--token-BuclBm_SHQqo);
}
.svg__sPzxB {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.snapchatStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.snapchatStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.snapchatStack > :global(.__wab_flex-container) > *,
.snapchatStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.snapchatStack > :global(.__wab_flex-container) > picture > img,
.snapchatStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.snapchatStackremoveIcon_snapchat {
  display: none;
}
.snapchatStackset_business {
  display: none;
}
.snapchatStackset_developer {
  display: none;
}
.snapchatStackset_designer {
  display: none;
}
.slotTargetSnapchatSlot {
  color: var(--token-bpTbbqSI06rM);
}
.slotTargetSnapchatSlotcontrastIcons_snapchat {
  color: var(--token-BuclBm_SHQqo);
}
.svg__xVoh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.threadsStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.threadsStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.threadsStack > :global(.__wab_flex-container) > *,
.threadsStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.threadsStack > :global(.__wab_flex-container) > picture > img,
.threadsStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.threadsStackremoveIcon_threads {
  display: none;
}
.threadsStackset_business {
  display: none;
}
.threadsStackset_developer {
  display: none;
}
.threadsStackset_designer {
  display: none;
}
.slotTargetThreadsSlot {
  color: var(--token-geb1U1UFWxw3);
}
.slotTargetThreadsSlotcontrastIcons_threads {
  color: var(--token-BuclBm_SHQqo);
}
.svg__w2G78 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.instagramStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.instagramStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.instagramStack > :global(.__wab_flex-container) > *,
.instagramStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.instagramStack > :global(.__wab_flex-container) > picture > img,
.instagramStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.instagramStackremoveIcon_instagram {
  display: none;
}
.instagramStackset_developer {
  display: none;
}
.instagramStackset_designer {
  display: none;
}
.slotTargetInstagramSlot {
  color: var(--token-geb1U1UFWxw3);
}
.slotTargetInstagramSlotcontrastIcons_instagram {
  color: var(--token-BuclBm_SHQqo);
}
.svg__fi8Qo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.linkedInStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.linkedInStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.linkedInStack > :global(.__wab_flex-container) > *,
.linkedInStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkedInStack > :global(.__wab_flex-container) > picture > img,
.linkedInStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.linkedInStackremoveIcon_linkedIn {
  display: none;
}
.slotTargetLinkedInSlot {
  color: var(--token-L3ym6vlYAI0n);
}
.slotTargetLinkedInSlotcontrastIcons_linkedIn {
  color: var(--token-BuclBm_SHQqo);
}
.svg__rUkaa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.facebookStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.facebookStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.facebookStack > :global(.__wab_flex-container) > *,
.facebookStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.facebookStack > :global(.__wab_flex-container) > picture > img,
.facebookStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.facebookStackremoveIcon_facebook {
  display: none;
}
.facebookStackset_developer {
  display: none;
}
.facebookStackset_designer {
  display: none;
}
.slotTargetFacebookSlot {
  color: var(--token-YtJNzLMBX2ht);
}
.slotTargetFacebookSlotcontrastIcons_facebook {
  color: var(--token-BuclBm_SHQqo);
}
.svg__awAv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.pinterestStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.pinterestStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.pinterestStack > :global(.__wab_flex-container) > *,
.pinterestStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pinterestStack > :global(.__wab_flex-container) > picture > img,
.pinterestStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.pinterestStackremoveIcon_pinterest {
  display: none;
}
.pinterestStackset_business {
  display: none;
}
.pinterestStackset_developer {
  display: none;
}
.pinterestStackset_designer {
  display: none;
}
.slotTargetPinterestSlot {
  color: var(--token-atYfCdXkQwaJ);
}
.slotTargetPinterestSlotcontrastIcons_pinterest {
  color: var(--token-BuclBm_SHQqo);
}
.svg__dyzda {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.whatsAppStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.whatsAppStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.whatsAppStack > :global(.__wab_flex-container) > *,
.whatsAppStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.whatsAppStack > :global(.__wab_flex-container) > picture > img,
.whatsAppStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.whatsAppStackremoveIcon_whatsApp {
  display: none;
}
.whatsAppStackset_business {
  display: none;
}
.whatsAppStackset_developer {
  display: none;
}
.whatsAppStackset_designer {
  display: none;
}
.slotTargetWhatsAppSlot {
  color: var(--token-4NLgs60-cm7K);
}
.slotTargetWhatsAppSlotcontrastIcons_whatsapp {
  color: var(--token-BuclBm_SHQqo);
}
.svg__wYkZ0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.telegramStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.telegramStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.telegramStack > :global(.__wab_flex-container) > *,
.telegramStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.telegramStack > :global(.__wab_flex-container) > picture > img,
.telegramStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.telegramStackremoveIcon_telegram {
  display: none;
}
.telegramStackset_business {
  display: none;
}
.telegramStackset_developer {
  display: none;
}
.telegramStackset_designer {
  display: none;
}
.slotTargetTelegramSlot {
  color: var(--token-Rou3dOdh_Bwq);
}
.slotTargetTelegramSlotcontrastIcons_telegram {
  color: var(--token-BuclBm_SHQqo);
}
.svg__ajMeR {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.discordStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.discordStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.discordStack > :global(.__wab_flex-container) > *,
.discordStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.discordStack > :global(.__wab_flex-container) > picture > img,
.discordStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.discordStackremoveIcon_discord {
  display: none;
}
.discordStackset_business {
  display: none;
}
.discordStackset_developer {
  display: none;
}
.discordStackset_designer {
  display: none;
}
.slotTargetDiscordSlot {
  color: var(--token-EVpHfWX4Ds1Z);
}
.slotTargetDiscordSlotcontrastIcons_discrod {
  color: var(--token-BuclBm_SHQqo);
}
.svg__cVhpY {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.mediumStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.mediumStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.mediumStack > :global(.__wab_flex-container) > *,
.mediumStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mediumStack > :global(.__wab_flex-container) > picture > img,
.mediumStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.mediumStackremoveIcon_medium {
  display: none;
}
.mediumStackset_business {
  display: none;
}
.mediumStackset_developer {
  display: none;
}
.mediumStackset_designer {
  display: none;
}
.slotTargetMediumSlot {
  color: var(--token-TMzugepRDjWm);
}
.slotTargetMediumSlotcontrastIcons_medium {
  color: var(--token-BuclBm_SHQqo);
}
.svg__x4Dkm {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.redditStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.redditStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.redditStack > :global(.__wab_flex-container) > *,
.redditStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.redditStack > :global(.__wab_flex-container) > picture > img,
.redditStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.redditStackremoveIcon_reddit {
  display: none;
}
.redditStackset_business {
  display: none;
}
.redditStackset_designer {
  display: none;
}
.slotTargetRedditSlot {
  color: var(--token-O51XU4ocfN17);
}
.slotTargetRedditSlotcontrastIcons_reddit {
  color: var(--token-BuclBm_SHQqo);
}
.svg__tp3AY {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.discourseStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.discourseStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.discourseStack > :global(.__wab_flex-container) > *,
.discourseStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.discourseStack > :global(.__wab_flex-container) > picture > img,
.discourseStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.discourseStackremoveIcon_discourse {
  display: none;
}
.discourseStackset_business {
  display: none;
}
.discourseStackset_designer {
  display: none;
}
.slotTargetDiscourseSlot {
  color: var(--token-UJl4O4KefAjb);
}
.slotTargetDiscourseSlotcontrastIcons_discourse {
  color: var(--token-BuclBm_SHQqo);
}
.svg__zzWex {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.tumblrStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.tumblrStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.tumblrStack > :global(.__wab_flex-container) > *,
.tumblrStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tumblrStack > :global(.__wab_flex-container) > picture > img,
.tumblrStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.tumblrStackremoveIcon_tumblr {
  display: none;
}
.tumblrStackset_business {
  display: none;
}
.tumblrStackset_developer {
  display: none;
}
.tumblrStackset_designer {
  display: none;
}
.slotTargetTumblrSlot {
  color: var(--token-bM5Hdl9c9-fe);
}
.slotTargetTumblrSlotcontrastIcons_tumblr {
  color: var(--token-BuclBm_SHQqo);
}
.svg__q1A {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.skypeStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.skypeStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.skypeStack > :global(.__wab_flex-container) > *,
.skypeStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.skypeStack > :global(.__wab_flex-container) > picture > img,
.skypeStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.skypeStackremoveIcon_skype {
  display: none;
}
.skypeStackset_business {
  display: none;
}
.skypeStackset_developer {
  display: none;
}
.skypeStackset_designer {
  display: none;
}
.slotTargetSkypeSlot {
  color: var(--token-A2qt3WnHkMSk);
}
.slotTargetSkypeSlotcontrastIcons_skype {
  color: var(--token-BuclBm_SHQqo);
}
.svg__wHedi {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.youTubeStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.youTubeStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.youTubeStack > :global(.__wab_flex-container) > *,
.youTubeStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.youTubeStack > :global(.__wab_flex-container) > picture > img,
.youTubeStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.youTubeStackremoveIcon_youTube {
  display: none;
}
.youTubeStackset_developer {
  display: none;
}
.youTubeStackset_designer {
  display: none;
}
.slotTargetYouTubeSlot {
  color: var(--token-j_7jsWhfDMe2);
}
.slotTargetYouTubeSlotcontrastIcons_youTube {
  color: var(--token-BuclBm_SHQqo);
}
.svg__kC1Hv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.vimeoStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.vimeoStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.vimeoStack > :global(.__wab_flex-container) > *,
.vimeoStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vimeoStack > :global(.__wab_flex-container) > picture > img,
.vimeoStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.vimeoStackremoveIcon_vimeo {
  display: none;
}
.vimeoStackset_business {
  display: none;
}
.vimeoStackset_developer {
  display: none;
}
.vimeoStackset_designer {
  display: none;
}
.slotTargetVimeoSlot {
  color: var(--token-zTrUAMP64VHw);
}
.slotTargetVimeoSlotcontrastIcons_vimeo {
  color: var(--token-BuclBm_SHQqo);
}
.svg__blcOr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.gitHubStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.gitHubStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.gitHubStack > :global(.__wab_flex-container) > *,
.gitHubStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gitHubStack > :global(.__wab_flex-container) > picture > img,
.gitHubStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.gitHubStackremoveIcon_gitHub {
  display: none;
}
.gitHubStackset_business {
  display: none;
}
.gitHubStackset_designer {
  display: none;
}
.slotTargetGitHubSlot {
  color: var(--token-wH8F4BoeXSaC);
}
.slotTargetGitHubSlotcontrastIcons_gitHub {
  color: var(--token-BuclBm_SHQqo);
}
.svg__dUXgK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.gitLabStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.gitLabStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.gitLabStack > :global(.__wab_flex-container) > *,
.gitLabStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gitLabStack > :global(.__wab_flex-container) > picture > img,
.gitLabStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.gitLabStackremoveIcon_gitLab {
  display: none;
}
.gitLabStackset_business {
  display: none;
}
.gitLabStackset_designer {
  display: none;
}
.slotTargetGitLabSlot {
  color: var(--token-iEijkIOiaQzJ);
}
.slotTargetGitLabSlotcontrastIcons_gitLab {
  color: var(--token-BuclBm_SHQqo);
}
.svg___70Cwn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.behanceStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.behanceStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.behanceStack > :global(.__wab_flex-container) > *,
.behanceStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.behanceStack > :global(.__wab_flex-container) > picture > img,
.behanceStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.behanceStackremoveIcon_behance {
  display: none;
}
.behanceStackset_business {
  display: none;
}
.behanceStackset_developer {
  display: none;
}
.slotTargetBehanceSlot {
  color: var(--token-A007WGcEe4pY);
}
.slotTargetBehanceSlotcontrastIcons_behance {
  color: var(--token-BuclBm_SHQqo);
}
.svg__ivQr7 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.dribbleStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.dribbleStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.dribbleStack > :global(.__wab_flex-container) > *,
.dribbleStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.dribbleStack > :global(.__wab_flex-container) > picture > img,
.dribbleStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.dribbleStackremoveIcon_dribble {
  display: none;
}
.dribbleStackset_business {
  display: none;
}
.dribbleStackset_developer {
  display: none;
}
.slotTargetDribbleSlot {
  color: var(--token-QAg6SoOhytqM);
}
.slotTargetDribbleSlotcontrastIcons_dribble {
  color: var(--token-BuclBm_SHQqo);
}
.svg__rgiYr {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.figmaStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.figmaStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.figmaStack > :global(.__wab_flex-container) > *,
.figmaStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.figmaStack > :global(.__wab_flex-container) > picture > img,
.figmaStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.figmaStackremoveIcon_figma {
  display: none;
}
.figmaStackset_business {
  display: none;
}
.figmaStackset_developer {
  display: none;
}
.slotTargetFigmaSlot {
  color: var(--token-aDY4L20KsgIm);
}
.slotTargetFigmaSlotcontrastIcons_figma {
  color: var(--token-BuclBm_SHQqo);
}
.svg__bu4Ov {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.upsplashStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.upsplashStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.upsplashStack > :global(.__wab_flex-container) > *,
.upsplashStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.upsplashStack > :global(.__wab_flex-container) > picture > img,
.upsplashStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.upsplashStackremoveIcon_upsplash {
  display: none;
}
.upsplashStackset_business {
  display: none;
}
.upsplashStackset_developer {
  display: none;
}
.slotTargetUpsplashSlot {
  color: var(--token-X8PnHdpjBTVK);
}
.slotTargetUpsplashSlotcontrastIcons_upsplash {
  color: var(--token-BuclBm_SHQqo);
}
.svg__bd4RO {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.twitchStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.twitchStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.twitchStack > :global(.__wab_flex-container) > *,
.twitchStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.twitchStack > :global(.__wab_flex-container) > picture > img,
.twitchStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.twitchStackremoveIcon_twitch {
  display: none;
}
.twitchStackset_business {
  display: none;
}
.twitchStackset_developer {
  display: none;
}
.twitchStackset_designer {
  display: none;
}
.slotTargetTwitchSlot {
  color: var(--token-TMzugepRDjWm);
}
.slotTargetTwitchSlotcontrastIcons_twitch {
  color: var(--token-BuclBm_SHQqo);
}
.svg__r0SLl {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.steamStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.steamStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.steamStack > :global(.__wab_flex-container) > *,
.steamStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.steamStack > :global(.__wab_flex-container) > picture > img,
.steamStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.steamStackremoveIcon_steam {
  display: none;
}
.steamStackset_business {
  display: none;
}
.steamStackset_developer {
  display: none;
}
.steamStackset_designer {
  display: none;
}
.slotTargetSteamSlot {
  color: var(--token-c9qdyAol3NaH);
}
.slotTargetSteamSlotcontrastIcons_steam {
  color: var(--token-BuclBm_SHQqo);
}
.svg__yohsY {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.spotifyStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.spotifyStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.spotifyStack > :global(.__wab_flex-container) > *,
.spotifyStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.spotifyStack > :global(.__wab_flex-container) > picture > img,
.spotifyStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.spotifyStackremoveIcon_spotify {
  display: none;
}
.spotifyStackset_business {
  display: none;
}
.spotifyStackset_developer {
  display: none;
}
.spotifyStackset_designer {
  display: none;
}
.slotTargetSpotifySlot {
  color: var(--token-sXeBZuXh-nFt);
}
.slotTargetSpotifySlotcontrastIcons_spotify {
  color: var(--token-BuclBm_SHQqo);
}
.svg__rMvx2 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.lastFmStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.lastFmStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.lastFmStack > :global(.__wab_flex-container) > *,
.lastFmStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lastFmStack > :global(.__wab_flex-container) > picture > img,
.lastFmStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.lastFmStackremoveIcon_lastFm {
  display: none;
}
.lastFmStackset_business {
  display: none;
}
.lastFmStackset_developer {
  display: none;
}
.lastFmStackset_designer {
  display: none;
}
.slotTargetLastFmSlot {
  color: var(--token-ZQ2txKr9w2ql);
}
.slotTargetLastFmSlotcontrastIcons_lastFm {
  color: var(--token-BuclBm_SHQqo);
}
.svg__yrFBr {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.soundcloudStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.soundcloudStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.soundcloudStack > :global(.__wab_flex-container) > *,
.soundcloudStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.soundcloudStack > :global(.__wab_flex-container) > picture > img,
.soundcloudStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.soundcloudStackremoveIcon_soundcloud {
  display: none;
}
.soundcloudStackset_business {
  display: none;
}
.soundcloudStackset_developer {
  display: none;
}
.soundcloudStackset_designer {
  display: none;
}
.slotTargetSoundcloudSlot {
  color: var(--token-rsxZzeyDMaUr);
}
.slotTargetSoundcloudSlotcontrastIcons_soundcloud {
  color: var(--token-BuclBm_SHQqo);
}
.svg__tm3Yz {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.shopifyStack {
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: var(--token-W7egmc0eG_ba);
  max-width: 100%;
}
.shopifyStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-_ic4YXW22ibF));
  width: calc(100% + var(--token-_ic4YXW22ibF));
}
.shopifyStack > :global(.__wab_flex-container) > *,
.shopifyStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.shopifyStack > :global(.__wab_flex-container) > picture > img,
.shopifyStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-_ic4YXW22ibF);
}
.shopifyStackremoveIcon_shopify {
  display: none;
}
.shopifyStackset_business {
  display: none;
}
.shopifyStackset_developer {
  display: none;
}
.shopifyStackset_designer {
  display: none;
}
.slotTargetShopifySlot {
  color: var(--token-U3hkRceLvJBn);
}
.slotTargetShopifySlotcontrastIcons_shopify {
  color: var(--token-BuclBm_SHQqo);
}
.svg__gLxfj {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
