@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-8_TaSKeULiHG: var(--token-kWV46FPwo1D2);
  --plasmic-token-semantic-font-family-sans: var(--token-8_TaSKeULiHG);
  --token-Zei9JcxBiwTD: var(--token-_9Djz6ogGlUK);
  --plasmic-token-semantic-font-family-mono: var(--token-Zei9JcxBiwTD);
  --token-SV_Vli1aCeTc: var(--token-frSS71BeTgAq);
  --plasmic-token-semantic-font-family-serif: var(--token-SV_Vli1aCeTc);
  --token-YO1pLPbwouhI: var(--token-WBPK570r6aRE);
  --plasmic-token-semantic-font-line-height-lvl-08: var(--token-YO1pLPbwouhI);
  --token-4SNcCZYffKHu: var(--token-zduHBVTvUuqC);
  --plasmic-token-semantic-font-line-height-lvl-05: var(--token-4SNcCZYffKHu);
  --token-Ok1YSApuGWSa: var(--token-SpIJp9XSlfFi);
  --plasmic-token-semantic-font-line-height-lvl-04: var(--token-Ok1YSApuGWSa);
  --token-dsTygEne9x8w: var(--token-cCS0SYL5dzU2);
  --plasmic-token-semantic-font-line-height-lvl-06: var(--token-dsTygEne9x8w);
  --token-_UgNl7BeTL0o: var(--token-MxY0dx-UG6bb);
  --plasmic-token-semantic-font-line-height-lvl-09: var(--token-_UgNl7BeTL0o);
  --token-pXuCvyRuC20f: var(--token-7FrYzHycQs9r);
  --plasmic-token-semantic-font-line-height-lvl-07: var(--token-pXuCvyRuC20f);
  --token-xYxnJiyIdazv: var(--token-R4ai3pmJGhRZ);
  --plasmic-token-semantic-font-size-lvl-16: var(--token-xYxnJiyIdazv);
  --token-y7VXtZxxgpvE: var(--token-CfYR05E2Y9yi);
  --plasmic-token-semantic-font-size-lvl-08: var(--token-y7VXtZxxgpvE);
  --token-4hF_LwIOL-pD: var(--token-zwVdR2TS28Y-);
  --plasmic-token-semantic-font-size-lvl-09: var(--token-4hF_LwIOL-pD);
  --token-Q2X4JhBy_hV8: var(--token-LYrLkb8drA1P);
  --plasmic-token-semantic-font-size-lvl-10: var(--token-Q2X4JhBy_hV8);
  --token-KC1sj0wdsKaW: var(--token-BuZv_QBeb2vb);
  --plasmic-token-semantic-font-size-lvl-11: var(--token-KC1sj0wdsKaW);
  --token-NLHGsdKmf8MD: var(--token-NmTA-Nbo4JB4);
  --plasmic-token-semantic-font-size-lvl-12: var(--token-NLHGsdKmf8MD);
  --token-WIlFDJeiNqMb: var(--token-T3Sv8UAUez1R);
  --plasmic-token-semantic-font-size-lvl-13: var(--token-WIlFDJeiNqMb);
  --token-bQoODaMkEUKC: var(--token-ATkcoPOnR-HH);
  --plasmic-token-semantic-font-size-lvl-19: var(--token-bQoODaMkEUKC);
  --token-9SXvvdJDAago: var(--token-fktwmjOk51kL);
  --plasmic-token-semantic-font-size-lvl-15: var(--token-9SXvvdJDAago);
  --token-8YNrK_1imGi7: var(--token-O9vtaTWsBgdj);
  --plasmic-token-semantic-font-size-lvl-05: var(--token-8YNrK_1imGi7);
  --token-WGlpT1qaWJoR: var(--token-E-XpXqdEPBpB);
  --plasmic-token-semantic-font-size-lvl-02: var(--token-WGlpT1qaWJoR);
  --token-6yMvrKaStYTb: var(--token-JfuzJEPVALUL);
  --plasmic-token-semantic-font-size-lvl-00: var(--token-6yMvrKaStYTb);
  --token-nzhJo5rxzpC3: var(--token-QSSa2VFfR_qN);
  --plasmic-token-semantic-font-size-lvl-04: var(--token-nzhJo5rxzpC3);
  --token-CFFEqlmqKUYW: var(--token-YUUshI2lfBP0);
  --plasmic-token-semantic-font-size-lvl-07: var(--token-CFFEqlmqKUYW);
  --token-60q15gbK5t2P: var(--token-lSejyBNu19BF);
  --plasmic-token-semantic-font-size-lvl-03: var(--token-60q15gbK5t2P);
  --token-RjcxKMo-axWF: var(--token-wWumU0U8aJjH);
  --plasmic-token-semantic-gap-lvl-01: var(--token-RjcxKMo-axWF);
  --token-7Q6Tq4DaBVj1: var(--token-ph7oBiL6eBvc);
  --plasmic-token-semantic-gap-lvl-04: var(--token-7Q6Tq4DaBVj1);
  --token-1G_KJti6C3ek: var(--token-viO3dwZjnQHc);
  --plasmic-token-semantic-gap-lvl-06: var(--token-1G_KJti6C3ek);
  --token-mOMUgWDDGuJX: var(--token-tVFoqSg3vAsJ);
  --plasmic-token-semantic-gap-lvl-07: var(--token-mOMUgWDDGuJX);
  --token-hbwww1Xrvh3D: var(--token-O4XyKPIYNSFV);
  --plasmic-token-semantic-gap-lvl-08: var(--token-hbwww1Xrvh3D);
  --token-BRN8eUKYNMIr: var(--token-kMkRY1vRBEsZ);
  --plasmic-token-semantic-gap-lvl-09: var(--token-BRN8eUKYNMIr);
  --token-nZFcg11oxG2I: var(--token-2F84lHAgOKvb);
  --plasmic-token-semantic-gap-lvl-10: var(--token-nZFcg11oxG2I);
  --token-sKsLvKwXIbcA: var(--token-uGRLJwfQsMfQ);
  --plasmic-token-semantic-gap-lvl-11: var(--token-sKsLvKwXIbcA);
  --token-8RUgR29r8kvI: var(--token-9OiOhRjJBR8T);
  --plasmic-token-semantic-gap-lvl-12: var(--token-8RUgR29r8kvI);
  --token-n-ImnA_xD9M-: var(--token-uJUZCDgr1tZh);
  --plasmic-token-semantic-gap-lvl-13: var(--token-n-ImnA_xD9M-);
  --token-S33EsGrlrn9n: var(--token-YRB6XRaWNN_t);
  --plasmic-token-semantic-gap-lvl-14: var(--token-S33EsGrlrn9n);
  --token-IKOjMyelhxko: var(--token-FPbJjy-o8tzn);
  --plasmic-token-semantic-gap-lvl-15: var(--token-IKOjMyelhxko);
  --token-gAnEFu9SDJcK: var(--token-vvs8O6Em336I);
  --plasmic-token-semantic-gap-lvl-16: var(--token-gAnEFu9SDJcK);
  --token-tswaMqX4QLT6: var(--token-rsBXKVvnGRls);
  --plasmic-token-semantic-gap-lvl-17: var(--token-tswaMqX4QLT6);
  --token-0fRuNDZcdSin: var(--token-DEN2kcCXecpr);
  --plasmic-token-semantic-gap-lvl-18: var(--token-0fRuNDZcdSin);
  --token-zMoMAduhlWSV: var(--token-MPTUUme6x_Tk);
  --plasmic-token-semantic-gap-lvl-19: var(--token-zMoMAduhlWSV);
  --token-wVxXKI0LX5I_: var(--token-u8BczeA7IHpx);
  --plasmic-token-semantic-gap-lvl-20: var(--token-wVxXKI0LX5I_);
  --token-b3CwEocSWMMK: var(--token-wWumU0U8aJjH);
  --plasmic-token-semantic-padding-lvl-01: var(--token-b3CwEocSWMMK);
  --token-cV7awkML6Cb8: var(--token-uJUZCDgr1tZh);
  --plasmic-token-semantic-padding-lvl-13: var(--token-cV7awkML6Cb8);
  --token-oVdmHLj_1S8j: var(--token-YRB6XRaWNN_t);
  --plasmic-token-semantic-padding-lvl-14: var(--token-oVdmHLj_1S8j);
  --token--6nV3oWyvRT5: var(--token-FPbJjy-o8tzn);
  --plasmic-token-semantic-padding-lvl-15: var(--token--6nV3oWyvRT5);
  --token-bz2tWg1n-pbO: var(--token-vvs8O6Em336I);
  --plasmic-token-semantic-padding-lvl-16: var(--token-bz2tWg1n-pbO);
  --token-RgqAXtmlmt7x: var(--token-rsBXKVvnGRls);
  --plasmic-token-semantic-padding-lvl-17: var(--token-RgqAXtmlmt7x);
  --token-aAmfgC5qduIY: var(--token-DEN2kcCXecpr);
  --plasmic-token-semantic-padding-lvl-18: var(--token-aAmfgC5qduIY);
  --token-AKRlFrjPU5GD: var(--token-MPTUUme6x_Tk);
  --plasmic-token-semantic-padding-lvl-19: var(--token-AKRlFrjPU5GD);
  --token-bg3QszJaCZH3: var(--token-u8BczeA7IHpx);
  --plasmic-token-semantic-padding-lvl-20: var(--token-bg3QszJaCZH3);
  --token-10BV8D3CuUzQ: var(--token-ph7oBiL6eBvc);
  --plasmic-token-semantic-padding-lvl-04: var(--token-10BV8D3CuUzQ);
  --token-bSLtDw-rslXx: var(--token-viO3dwZjnQHc);
  --plasmic-token-semantic-padding-lvl-06: var(--token-bSLtDw-rslXx);
  --token-ooyqpeY3PJfm: var(--token-tVFoqSg3vAsJ);
  --plasmic-token-semantic-padding-lvl-07: var(--token-ooyqpeY3PJfm);
  --token-LaHteHkXf2oJ: var(--token-O4XyKPIYNSFV);
  --plasmic-token-semantic-padding-lvl-08: var(--token-LaHteHkXf2oJ);
  --token-IaNhyDEP_rZQ: var(--token-kMkRY1vRBEsZ);
  --plasmic-token-semantic-padding-lvl-09: var(--token-IaNhyDEP_rZQ);
  --token-ZseIMxw94CIA: var(--token-2F84lHAgOKvb);
  --plasmic-token-semantic-padding-lvl-10: var(--token-ZseIMxw94CIA);
  --token-61G7UnWAjSzK: var(--token-uGRLJwfQsMfQ);
  --plasmic-token-semantic-padding-lvl-11: var(--token-61G7UnWAjSzK);
  --token-nYk83sLE7oXY: var(--token-9OiOhRjJBR8T);
  --plasmic-token-semantic-padding-lvl-12: var(--token-nYk83sLE7oXY);
  --token-IpqOOpuJWpqX: var(--token-wWumU0U8aJjH);
  --plasmic-token-semantic-margin-lvl-01: var(--token-IpqOOpuJWpqX);
  --token-u105DhzOdYPv: var(--token-uJUZCDgr1tZh);
  --plasmic-token-semantic-margin-lvl-11: var(--token-u105DhzOdYPv);
  --token-KfrBq3EF9G_m: var(--token-YRB6XRaWNN_t);
  --plasmic-token-semantic-margin-lvl-12: var(--token-KfrBq3EF9G_m);
  --token-10lKjnBVMSB0: var(--token-FPbJjy-o8tzn);
  --plasmic-token-semantic-margin-lvl-13: var(--token-10lKjnBVMSB0);
  --token-qq2ohHFUbLg6: var(--token-vvs8O6Em336I);
  --plasmic-token-semantic-margin-lvl-14: var(--token-qq2ohHFUbLg6);
  --token-DPxt40dYFWS3: var(--token-rsBXKVvnGRls);
  --plasmic-token-semantic-margin-lvl-15: var(--token-DPxt40dYFWS3);
  --token-fL5eqtz3S3en: var(--token-DEN2kcCXecpr);
  --plasmic-token-semantic-margin-lvl-16: var(--token-fL5eqtz3S3en);
  --token-OHX2rsIk77Bg: var(--token-MPTUUme6x_Tk);
  --plasmic-token-semantic-margin-lvl-17: var(--token-OHX2rsIk77Bg);
  --token-8CrLfSEO4fcH: var(--token-u8BczeA7IHpx);
  --plasmic-token-semantic-margin-lvl-18: var(--token-8CrLfSEO4fcH);
  --token-ZdFygiyM3AgH: var(--token-ph7oBiL6eBvc);
  --plasmic-token-semantic-margin-lvl-02: var(--token-ZdFygiyM3AgH);
  --token-hZ06MPVKxlI4: var(--token-viO3dwZjnQHc);
  --plasmic-token-semantic-margin-lvl-03: var(--token-hZ06MPVKxlI4);
  --token--yiS2YUM4tK2: var(--token-tVFoqSg3vAsJ);
  --plasmic-token-semantic-margin-lvl-05: var(--token--yiS2YUM4tK2);
  --token-_re6GlWipnkv: var(--token-O4XyKPIYNSFV);
  --plasmic-token-semantic-margin-lvl-06: var(--token-_re6GlWipnkv);
  --token-SXoBBA949nJT: var(--token-kMkRY1vRBEsZ);
  --plasmic-token-semantic-margin-lvl-07: var(--token-SXoBBA949nJT);
  --token-85o_oyL9o1Eo: var(--token-2F84lHAgOKvb);
  --plasmic-token-semantic-margin-lvl-08: var(--token-85o_oyL9o1Eo);
  --token-autxzkXuJf3N: var(--token-uGRLJwfQsMfQ);
  --plasmic-token-semantic-margin-lvl-09: var(--token-autxzkXuJf3N);
  --token-Jn8j_ORWB7Fc: var(--token-9OiOhRjJBR8T);
  --plasmic-token-semantic-margin-lvl-10: var(--token-Jn8j_ORWB7Fc);
  --token-7-4cozFA7TD8: var(--token-YcRWr_uElmW1);
  --plasmic-token-semantic-layout-lvl-00: var(--token-7-4cozFA7TD8);
  --token-KiBBX6pCM4vb: var(--token-8gyiWhX8pTqM);
  --plasmic-token-semantic-layout-lvl-01: var(--token-KiBBX6pCM4vb);
  --token-EJ6GoqpRpm7I: var(--token-8clHvPiGiNoE);
  --plasmic-token-semantic-layout-lvl-02: var(--token-EJ6GoqpRpm7I);
  --token-ehlY_bJtkkjU: var(--token-blrlacR0s31i);
  --plasmic-token-semantic-layout-lvl-03: var(--token-ehlY_bJtkkjU);
  --token-V6PcShHvzxWA: var(--token-tnFIBIZo4J0u);
  --plasmic-token-semantic-layout-lvl-04: var(--token-V6PcShHvzxWA);
  --token-AWmGIMsmTtPM: var(--token-EIjKudRy0txv);
  --plasmic-token-semantic-layout-lvl-05: var(--token-AWmGIMsmTtPM);
  --token-aQXrKHFWP9hj: var(--token-w2cANRxTLJxA);
  --plasmic-token-semantic-layout-lvl-06: var(--token-aQXrKHFWP9hj);
  --token-XxUsrtwwicvG: var(--token-744tScXZ63iK);
  --plasmic-token-semantic-layout-lvl-07: var(--token-XxUsrtwwicvG);
  --token-Yhwpmo7X9F28: var(--token-KaPc7LWHkyvB);
  --plasmic-token-semantic-layout-lvl-08: var(--token-Yhwpmo7X9F28);
  --token-QyJYVQWEE7rW: var(--token-aexU-vAUAEga);
  --plasmic-token-semantic-layout-lvl-09: var(--token-QyJYVQWEE7rW);
  --token-PkBU9Xn6AoZn: var(--token-4akJxuzMTjvS);
  --plasmic-token-semantic-layout-lvl-10: var(--token-PkBU9Xn6AoZn);
  --token-usnHGrPMOGMj: var(--token-OcVJRGl78icJ);
  --plasmic-token-semantic-layout-lvl-11: var(--token-usnHGrPMOGMj);
  --token-ffi2cUzy39iD: var(--token-43IycFTW8Np1);
  --plasmic-token-semantic-layout-lvl-12: var(--token-ffi2cUzy39iD);
  --token-8iVFLi0hCwtt: var(--token-EgNZEGGu_U6n);
  --plasmic-token-semantic-layout-lvl-13: var(--token-8iVFLi0hCwtt);
  --token-ZpGc2OuKOsiJ: var(--token-cNLtE0zYq2Aj);
  --plasmic-token-semantic-layout-lvl-14: var(--token-ZpGc2OuKOsiJ);
  --token-fVo-pYycvfHw: var(--token-1HkcZ6pMPlz4);
  --plasmic-token-semantic-layout-lvl-15: var(--token-fVo-pYycvfHw);
  --token-GnIiGadg79D-: var(--token-W8PwOsChFPRQ);
  --plasmic-token-semantic-layout-lvl-16: var(--token-GnIiGadg79D-);
  --token-O1LkCIbDSuaj: var(--token-8UbsZJIpRMB_);
  --plasmic-token-semantic-layout-lvl-17: var(--token-O1LkCIbDSuaj);
  --token-haEQHDEAzvkl: var(--token-n-ImnA_xD9M-);
  --plasmic-token-semantic-layout-lvl-18: var(--token-haEQHDEAzvkl);
  --token-qUSaqU32fhRZ: var(--token-sN90q3kPC08v);
  --plasmic-token-semantic-layout-lvl-19: var(--token-qUSaqU32fhRZ);
  --token-T53lFiIKuNKY: var(--token--IQlQgy5vS1n);
  --plasmic-token-semantic-layout-lvl-20: var(--token-T53lFiIKuNKY);
  --token-dAxJqtFyRqrs: var(--token-EDf-UQY9l_Rz);
  --plasmic-token-semantic-layout-lvl-21: var(--token-dAxJqtFyRqrs);
  --token--G8AAwFVzUoo: var(--token-PA5Pb316O7jw);
  --plasmic-token-semantic-layout-lvl-22: var(--token--G8AAwFVzUoo);
  --token-kNHDrnzt1ynC: var(--token-515LvfsM8nDX);
  --plasmic-token-semantic-layout-lvl-23: var(--token-kNHDrnzt1ynC);
  --token-qnc7CAYMWLHj: var(--token-dQI4taF7a7Q7);
  --plasmic-token-semantic-layout-lvl-24: var(--token-qnc7CAYMWLHj);
  --token-4a2vnyafSbjD: var(--token-58_xl-juqW4o);
  --plasmic-token-semantic-layout-lvl-25: var(--token-4a2vnyafSbjD);
  --token-3nscGhxNpe9B: var(--token-FP8Q5B7Rp2ar);
  --plasmic-token-semantic-layout-lvl-26: var(--token-3nscGhxNpe9B);
  --token-vRNkRbu17vnk: var(--token-T35FWItgkK5I);
  --plasmic-token-semantic-layout-lvl-27: var(--token-vRNkRbu17vnk);
  --token-GPJEhuAFSV_s: var(--token-G8-8UepOU0Zr);
  --plasmic-token-semantic-layout-lvl-28: var(--token-GPJEhuAFSV_s);
  --token-h_JOvxxUp-os: var(--token-ZaHbFN7TyRWB);
  --plasmic-token-semantic-layout-lvl-29: var(--token-h_JOvxxUp-os);
  --token-7ValE3dl5Uhf: var(--token-T6i-P1fx8idR);
  --plasmic-token-semantic-layout-lvl-30: var(--token-7ValE3dl5Uhf);
  --token-OnONS5trSfmb: var(--token-xBMD4aA9rYxj);
  --plasmic-token-semantic-layout-lvl-31: var(--token-OnONS5trSfmb);
  --token-pQhMniA1JMWI: var(--token-xmnFNWWt8nGe);
  --plasmic-token-semantic-layout-lvl-32: var(--token-pQhMniA1JMWI);
  --token-spoltBlvI3b8: var(--token-C5Jniit74Uva);
  --plasmic-token-semantic-layout-lvl-33: var(--token-spoltBlvI3b8);
  --token-pDGyGx0zS1qC: var(--token-ErK_q31PBS52);
  --plasmic-token-semantic-layout-lvl-34: var(--token-pDGyGx0zS1qC);
  --token-1lTui3-ttCsn: var(--token-QZvW-aJN2yJc);
  --plasmic-token-semantic-layout-lvl-35: var(--token-1lTui3-ttCsn);
  --token-4BrjclI13WbI: var(--token-GrVB_wybn_mq);
  --plasmic-token-semantic-layout-lvl-36: var(--token-4BrjclI13WbI);
  --token-gX7wDxh76h7C: var(--token-JOrZM21jax0q);
  --plasmic-token-semantic-padding-lvl-02: var(--token-gX7wDxh76h7C);
  --token-UWq52Z58Sbph: var(--token-l-Fln81b4i55);
  --plasmic-token-semantic-padding-lvl-03: var(--token-UWq52Z58Sbph);
  --token-7qRmvgW6o18n: var(--token-3n22ukpxGnYm);
  --plasmic-token-semantic-radii-lvl-02: var(--token-7qRmvgW6o18n);
  --token-3YfeYBOUJRlS: var(--token-Hnp45_BqVPiQ);
  --plasmic-token-semantic-radii-lvl-03: var(--token-3YfeYBOUJRlS);
  --token-lMlkZPOZp4Ru: var(--token-FSqDT5nZAqaG);
  --plasmic-token-semantic-radii-lvl-00: var(--token-lMlkZPOZp4Ru);
  --token-6WVZWyU4A9gH: var(--token-y5sUbvFQVuYU);
  --plasmic-token-semantic-radii-lvl-04: var(--token-6WVZWyU4A9gH);
  --token-2NiKu2OfcQN-: var(--token-Crxu-bJ2czGc);
  --plasmic-token-semantic-radii-lvl-05: var(--token-2NiKu2OfcQN-);
  --token-8gRCMVaP7wlf: var(--token-DaUy2_IhRPy0);
  --plasmic-token-semantic-radii-lvl-06: var(--token-8gRCMVaP7wlf);
  --token-6aQE6n7Ryiwe: var(--token-bdfPGFGxeTcD);
  --plasmic-token-semantic-radii-lvl-07: var(--token-6aQE6n7Ryiwe);
  --token-Q-gGCJ6oVD1i: var(--token-ThTOrTZS-ZVu);
  --plasmic-token-semantic-radii-lvl-08: var(--token-Q-gGCJ6oVD1i);
  --token-yTaUvXeSHamG: var(--token-Rq7gZ4kl9MD8);
  --plasmic-token-semantic-radii-lvl-09: var(--token-yTaUvXeSHamG);
  --token-RP1_GLECWOV2: var(--token-2Wd0JjJ-krxt);
  --plasmic-token-semantic-radii-lvl-10: var(--token-RP1_GLECWOV2);
  --token-fgo8UdeXbLoF: var(--token-wHoDkXqKNmh7);
  --plasmic-token-semantic-radii-lvl-11: var(--token-fgo8UdeXbLoF);
  --token-FTUKsE1tfjB_: var(--token-2RB-LlABK1rQ);
  --plasmic-token-semantic-radii-lvl-x: var(--token-FTUKsE1tfjB_);
  --token-YD3pso-iK0Vs: var(--token-u-iP0l2uFOS6);
  --plasmic-token-semantic-radii-lvl-01: var(--token-YD3pso-iK0Vs);
  --token-YCj5Qerk3W2R: var(--token-T7v2S86_cf6x);
  --plasmic-token-semantic-color-brand-main-disabled: var(--token-YCj5Qerk3W2R);
  --token-ikGwwJXF58sD: var(--token-enpjUkmpo_Wt);
  --plasmic-token-semantic-color-brand-main-default: var(--token-ikGwwJXF58sD);
  --token-bVrfp7tpXQ2b: var(--token-OqjFhA_yPjBp);
  --plasmic-token-semantic-color-brand-main-subtle: var(--token-bVrfp7tpXQ2b);
  --token-WQlfRbBqJnGU: var(--token-FbBnpKP1Oi9z);
  --plasmic-token-semantic-color-brand-main-muted: var(--token-WQlfRbBqJnGU);
  --token-BBLDN-1YWNXV: var(--token-FYWN4N1MZWl9);
  --plasmic-token-semantic-color-brand-main-emphasis: var(--token-BBLDN-1YWNXV);
  --token-MpoXNrBJpzTL: var(--token-B2QMz_5WzOmC);
  --plasmic-token-semantic-color-brand-ancillary-subtle: var(
    --token-MpoXNrBJpzTL
  );
  --token-vTwozcZdyn9e: var(--token-04PBX3BJUy2F);
  --plasmic-token-semantic-color-brand-ancillary-muted: var(
    --token-vTwozcZdyn9e
  );
  --token-8paZCjk2cuCD: var(--token-frtk8ybECcbc);
  --plasmic-token-semantic-color-brand-ancillary-emphasis: var(
    --token-8paZCjk2cuCD
  );
  --token-fqtT6dwezzl8: var(--token-gjH8nMR_iCmg);
  --plasmic-token-semantic-color-brand-ancillary-disabled: var(
    --token-fqtT6dwezzl8
  );
  --token-v6ThsaLTU9ci: var(--token-kvFhqeoJAH2e);
  --plasmic-token-semantic-color-brand-ancillary-default: var(
    --token-v6ThsaLTU9ci
  );
  --token-1Wb8_MoNDmSN: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-layer-lvl-01: var(--token-1Wb8_MoNDmSN);
  --token-1CRbvGlg6ewu: var(--token-AFCJ0laTLrEd);
  --plasmic-token-semantic-color-layer-lvl-02: var(--token-1CRbvGlg6ewu);
  --token-Ot9tdOY-wz83: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-layer-lvl-03: var(--token-Ot9tdOY-wz83);
  --token-rHSGjpMup-Oe: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-text-helper-lvl-03: var(--token-rHSGjpMup-Oe);
  --token-kIiIOw_bUl8D: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-text-helper-lvl-01: var(--token-kIiIOw_bUl8D);
  --token-RV19DuzcB6mS: var(--token-C55EMsbocuaS);
  --plasmic-token-semantic-color-text-contrast: var(--token-RV19DuzcB6mS);
  --token-Bus8cwXd8WG7: var(--token-qYYAcQH0UYHN);
  --plasmic-token-semantic-color-text-disabled: var(--token-Bus8cwXd8WG7);
  --token-2AiSuX3qcmlO: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-text-bright: var(--token-2AiSuX3qcmlO);
  --token-8c2sShFr5b1j: var(--token-OlSC77BWi0Eq);
  --plasmic-token-semantic-color-border-tile-lvl-02: var(--token-8c2sShFr5b1j);
  --token-aD2hQFp5pHgB: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-border-subtle-lvl-01: var(
    --token-aD2hQFp5pHgB
  );
  --token-qHsftLYsEr5t: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-border-inverative: var(--token-qHsftLYsEr5t);
  --token-UViPLtUgj48y: var(--token-VPB3WV3IT1gq);
  --plasmic-token-semantic-color-border-strong-lvl-01: var(
    --token-UViPLtUgj48y
  );
  --token-RDLwZbaQKVQG: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-semantic-color-border-inverse: var(--token-RDLwZbaQKVQG);
  --token-SOSLW6mMA1EO: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-tile-lvl-01: var(--token-SOSLW6mMA1EO);
  --token-0XpmdRGYblXK: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-text-on-color-disabled: var(
    --token-0XpmdRGYblXK
  );
  --token-pmmltM-TYoqS: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-text-status-information: var(
    --token-pmmltM-TYoqS
  );
  --token-fIWS9bJaK1oQ: var(--token-Y0K1k-y_PS2a);
  --plasmic-token-semantic-color-link-active: var(--token-fIWS9bJaK1oQ);
  --token-lBWX8Kk_SXjv: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-link-primary: var(--token-lBWX8Kk_SXjv);
  --token-uqJ3-jooecSZ: var(--token-Y0K1k-y_PS2a);
  --plasmic-token-semantic-color-link-primary-hover: var(--token-uqJ3-jooecSZ);
  --token-_FuPH4CUSL8G: var(--token-enpjUkmpo_Wt);
  --plasmic-token-semantic-color-link-visited: var(--token-_FuPH4CUSL8G);
  --token-pk_1Z9QFM4r7: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-semantic-color-text-primary: var(--token-pk_1Z9QFM4r7);
  --token-Lg_D8lDOPdk9: var(--token-TiPVh24ZhEs5);
  --plasmic-token-semantic-color-text-secondary: var(--token-Lg_D8lDOPdk9);
  --token-KVdCS2PWAd6R: var(--token-OlSC77BWi0Eq);
  --plasmic-token-semantic-color-text-helper-lvl-02: var(--token-KVdCS2PWAd6R);
  --token-lWEO2ZudSDrD: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-text-on-color: var(--token-lWEO2ZudSDrD);
  --token-dPL-Kq3EwE68: var(--token-b4UF7wnPwVPI);
  --plasmic-token-semantic-color-contrast: var(--token-dPL-Kq3EwE68);
  --token-LV3nUgwcBBaK: var(--token-VPB3WV3IT1gq);
  --plasmic-token-semantic-color-border-strong-lvl-02: var(
    --token-LV3nUgwcBBaK
  );
  --token-L5Jm3kgWukCd: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-interaction-focus-lvl-05: var(
    --token-L5Jm3kgWukCd
  );
  --token-JQB68fM4AN9k: var(--token-OlSC77BWi0Eq);
  --plasmic-token-semantic-color-interaction-focus-lvl-03: var(
    --token-JQB68fM4AN9k
  );
  --token-gmTkI8CV6ysl: var(--token-JOrZM21jax0q);
  --plasmic-token-semantic-gap-lvl-03: var(--token-gmTkI8CV6ysl);
  --token-N-30aQhknYFL: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-border-disabled: var(--token-N-30aQhknYFL);
  --token-k5qyuiDMeumm: var(--token-LxtlPdAMbTBF);
  --plasmic-token-semantic-color-interaction-selected-lvl-02: var(
    --token-k5qyuiDMeumm
  );
  --token-VyLXiBKyJHka: var(--token-l-Fln81b4i55);
  --plasmic-token-semantic-gap-lvl-02: var(--token-VyLXiBKyJHka);
  --token-6GfPPOchwYFz: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-tile-lvl-03: var(--token-6GfPPOchwYFz);
  --token-djQLKh_CnO22: var(--token-YLOtur786Ap5);
  --plasmic-token-semantic-color-interaction-hover-lvl-02: var(
    --token-djQLKh_CnO22
  );
  --token-UryOpF4cmLPA: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-status-information-bold: var(
    --token-UryOpF4cmLPA
  );
  --token-A_cY2u25OS8-: var(--token-C03HFbvprM_l);
  --plasmic-token-semantic-color-status-information-subtle: var(
    --token-A_cY2u25OS8-
  );
  --token-sKSyOc4fIH5Q: var(--token-9Fzx87tkmRUl);
  --plasmic-token-semantic-color-status-success-bold: var(--token-sKSyOc4fIH5Q);
  --token-gtJmBwtn3Fqf: var(--token-sL9ADtQiJrg2);
  --plasmic-token-semantic-color-status-success-subtle: var(
    --token-gtJmBwtn3Fqf
  );
  --token-aob4eJ7jGN8F: var(--token-9Fzx87tkmRUl);
  --plasmic-token-semantic-color-text-status-success: var(--token-aob4eJ7jGN8F);
  --token-dxvNs_t726zZ: var(--token-guz-Vfqxsdqe);
  --plasmic-token-semantic-color-status-error-bold: var(--token-dxvNs_t726zZ);
  --token-KZ_VwbjkLknz: var(--token-g5cj-HhVHQ-L);
  --plasmic-token-semantic-color-status-error-subtle: var(--token-KZ_VwbjkLknz);
  --token-IY7haS73fBUX: var(--token-guz-Vfqxsdqe);
  --plasmic-token-semantic-color-text-status-error: var(--token-IY7haS73fBUX);
  --token-9f-hjXZ04LK0: var(--token-gtT-HGoP_yYz);
  --plasmic-token-semantic-color-status-warning-bold: var(--token-9f-hjXZ04LK0);
  --token-yRKMd5PmxP0m: var(--token-TVHRBudcTFqL);
  --plasmic-token-semantic-color-status-warning-subtle: var(
    --token-yRKMd5PmxP0m
  );
  --token-9ZwDByGLug4f: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-semantic-color-text-status-warning: var(--token-9ZwDByGLug4f);
  --token-BZYBFhXsZUBZ: var(--token-guz-Vfqxsdqe);
  --plasmic-token-semantic-color-text-destructive: var(--token-BZYBFhXsZUBZ);
  --token-lwNU-2BKlR7L: var(--token-aNm6DwAHycY-);
  --plasmic-token-semantic-color-brand-ancillary-bold: var(
    --token-lwNU-2BKlR7L
  );
  --token-DfkTqbzYJOdi: var(--token-TiPVh24ZhEs5);
  --plasmic-token-semantic-color-brand-standard-default: var(
    --token-DfkTqbzYJOdi
  );
  --token-cGThmsNY7SRd: var(--token-OlSC77BWi0Eq);
  --plasmic-token-semantic-color-brand-standard-disabled: var(
    --token-cGThmsNY7SRd
  );
  --token-NPbQogOyslaY: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-semantic-color-brand-standard-emphasis: var(
    --token-NPbQogOyslaY
  );
  --token-KyvmFeDJi7pp: var(--token-VPB3WV3IT1gq);
  --plasmic-token-semantic-color-brand-standard-muted: var(
    --token-KyvmFeDJi7pp
  );
  --token-pVRsPVG0kvmS: var(--token-AFCJ0laTLrEd);
  --plasmic-token-semantic-color-brand-standard-subtle: var(
    --token-pVRsPVG0kvmS
  );
  --token-xZ2klggI5XbJ: var(--token-34PSp00ZRdYH);
  --plasmic-token-semantic-color-brand-main-bold: var(--token-xZ2klggI5XbJ);
  --token-6cXnwEcO9xuu: var(--token-bYax8giCMWFM);
  --plasmic-token-semantic-color-brand-standard-bold: var(--token-6cXnwEcO9xuu);
  --token-Fe-dojLZRR5Y: var(--token-guz-Vfqxsdqe);
  --plasmic-token-semantic-color-core-red-bold: var(--token-Fe-dojLZRR5Y);
  --token-QKXhgDgb_Uh2: var(--token-6ipoTpXz95ZC);
  --plasmic-token-semantic-color-core-orange-bold: var(--token-QKXhgDgb_Uh2);
  --token-hTg70p0Lt2HB: var(--token-j-tQjlkdA-E-);
  --plasmic-token-semantic-color-core-yellow-bold: var(--token-hTg70p0Lt2HB);
  --token-AaEUXQfmg-bt: var(--token-KLKPZyIeo7Ka);
  --plasmic-token-semantic-color-core-lime-bold: var(--token-AaEUXQfmg-bt);
  --token-8h5zgsPm-oqe: var(--token-9Fzx87tkmRUl);
  --plasmic-token-semantic-color-core-green-bold: var(--token-8h5zgsPm-oqe);
  --token-s1rd0VmW0ll9: var(--token-aNm6DwAHycY-);
  --plasmic-token-semantic-color-core-teal-bold: var(--token-s1rd0VmW0ll9);
  --token-sDkCX19iqWXj: var(--token-CUgXClgnQYfH);
  --plasmic-token-semantic-color-core-turquiose-bold: var(--token-sDkCX19iqWXj);
  --token-ZbNV73qXRfwe: var(--token-GFX8yHdC_hN_);
  --plasmic-token-semantic-color-core-aqua-bold: var(--token-ZbNV73qXRfwe);
  --token-bqpn-PRIChLj: var(--token-axyCJIfdO6Zm);
  --plasmic-token-semantic-color-core-blue-bold: var(--token-bqpn-PRIChLj);
  --token-3vKXB2DLVrYj: var(--token-68GsjmDtBN8U);
  --plasmic-token-semantic-color-core-indigo-bold: var(--token-3vKXB2DLVrYj);
  --token-lglHoO-Efzvx: var(--token-34PSp00ZRdYH);
  --plasmic-token-semantic-color-core-purple-bold: var(--token-lglHoO-Efzvx);
  --token-k9He2QsuTbau: var(--token-Y9JHI-YTE8_4);
  --plasmic-token-semantic-color-core-pink-bold: var(--token-k9He2QsuTbau);
  --token-NHzxAbwak7TF: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-core-gray-bold: var(--token-NHzxAbwak7TF);
  --token--VEKfDGd6_1z: var(--token-7-3iSscEdlg0);
  --plasmic-token-semantic-color-core-aqua-subtle: var(--token--VEKfDGd6_1z);
  --token-JD7XZ4jI8Ml_: var(--token-C03HFbvprM_l);
  --plasmic-token-semantic-color-core-blue-subtle: var(--token-JD7XZ4jI8Ml_);
  --token-fJfpgZiJGMpB: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-core-gray-subtle: var(--token-fJfpgZiJGMpB);
  --token-9VdRWKc7rzTi: var(--token-sL9ADtQiJrg2);
  --plasmic-token-semantic-color-core-green-subtle: var(--token-9VdRWKc7rzTi);
  --token-wsMOF8x-soGr: var(--token-gB-Mn5l5etSw);
  --plasmic-token-semantic-color-core-indigo-subtle: var(--token-wsMOF8x-soGr);
  --token-NDHnbVVBAp4m: var(--token-6Wg439ZjD1Ln);
  --plasmic-token-semantic-color-core-lime-subtle: var(--token-NDHnbVVBAp4m);
  --token-auNAnTihi4RO: var(--token-lzsZGF6I6VJv);
  --plasmic-token-semantic-color-core-orange-subtle: var(--token-auNAnTihi4RO);
  --token-CudPKlKNU1jr: var(--token-1zeqPEe_ioOb);
  --plasmic-token-semantic-color-core-pink-subtle: var(--token-CudPKlKNU1jr);
  --token-Qv6WkKjXMJKx: var(--token-T50FCNQUxx_b);
  --plasmic-token-semantic-color-core-purple-subtle: var(--token-Qv6WkKjXMJKx);
  --token-0zuIUDXTLb44: var(--token-g5cj-HhVHQ-L);
  --plasmic-token-semantic-color-core-red-subtle: var(--token-0zuIUDXTLb44);
  --token-zIhZx299P7V2: var(--token-MfBNqv4D6sVt);
  --plasmic-token-semantic-color-core-teal-subtle: var(--token-zIhZx299P7V2);
  --token-8JrCvbizJg_Y: var(--token-DxtN7meHxkTz);
  --plasmic-token-semantic-color-core-turquiose-subtle: var(
    --token-8JrCvbizJg_Y
  );
  --token-G_J_1ynLH6eh: var(--token-TVHRBudcTFqL);
  --plasmic-token-semantic-color-core-yellow-subtle: var(--token-G_J_1ynLH6eh);
  --token-KN9naZUm6ACH: var(--token-ip--FKWYc-rU);
  --plasmic-token-semantic-font-size-lvl-17: var(--token-KN9naZUm6ACH);
  --token-cLBq3fKQGsJD: var(--token-tKH9zSWhPTwX);
  --plasmic-token-semantic-font-size-lvl-18: var(--token-cLBq3fKQGsJD);
  --token--dT7KP9ozeYE: var(--token-XDVkEtjDc1lF);
  --plasmic-token-semantic-font-line-height-lvl-10: var(--token--dT7KP9ozeYE);
  --token-IK7XeV7xsSIg: var(--token-oapCqCMGma0u);
  --plasmic-token-semantic-font-line-height-lvl-11: var(--token-IK7XeV7xsSIg);
  --token-rInGqbAYf3V3: var(--token-4y-p--jqKof9);
  --plasmic-token-semantic-font-line-height-lvl-12: var(--token-rInGqbAYf3V3);
  --token-BXr1gcPQv4Iz: var(--token-HKfkoMMlioPl);
  --plasmic-token-semantic-font-line-height-lvl-13: var(--token-BXr1gcPQv4Iz);
  --token-ZEZNyYBuSRwJ: var(--token--JLfU34sf2J4);
  --plasmic-token-semantic-font-line-height-lvl-14: var(--token-ZEZNyYBuSRwJ);
  --token-dQHoXuu8D-Qn: var(--token-EmS2yF0laTe3);
  --plasmic-token-semantic-font-line-height-lvl-15: var(--token-dQHoXuu8D-Qn);
  --token-9QoGuIpI3lvR: var(--token-9vAcySeDTtyy);
  --plasmic-token-semantic-gap-lvl-05: var(--token-9QoGuIpI3lvR);
  --token-9c4AjX9i1srn: var(--token-9vAcySeDTtyy);
  --plasmic-token-semantic-margin-lvl-04: var(--token-9c4AjX9i1srn);
  --token-sjmCVFAtkAXI: var(--token-9vAcySeDTtyy);
  --plasmic-token-semantic-padding-lvl-05: var(--token-sjmCVFAtkAXI);
  --token-IhDCwFnpbbqT: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-background-default: var(--token-IhDCwFnpbbqT);
  --token-jMPTi2rhCNhY: var(--token-R17w25moLSUd);
  --plasmic-token-semantic-color-interaction-hover-lvl-01: var(
    --token-jMPTi2rhCNhY
  );
  --token-064btkSpxabG: var(--token-34PSp00ZRdYH);
  --plasmic-token-semantic-color-background-brand-main: var(
    --token-064btkSpxabG
  );
  --token-n17ietnZpauC: var(--token-bYax8giCMWFM);
  --plasmic-token-semantic-color-background-inverse: var(--token-n17ietnZpauC);
  --token-mZMghYMnBUOV: var(--token-VnJ416xA_Ahm);
  --plasmic-token-semantic-color-interaction-hover-lvl-03: var(
    --token-mZMghYMnBUOV
  );
  --token-XVtO9xnb0odw: var(--token-Zcj4zER1DxfM);
  --plasmic-token-semantic-color-interaction-hover-lvl-04: var(
    --token-XVtO9xnb0odw
  );
  --token-8hyqexgq_5bR: var(--token-RnW2wsB9oeMU);
  --plasmic-token-semantic-color-interaction-hover-lvl-05: var(
    --token-8hyqexgq_5bR
  );
  --token-qE5EUqdOFdML: var(--token-9uDZvUTmeli_);
  --plasmic-token-semantic-color-interaction-hover-lvl-06: var(
    --token-qE5EUqdOFdML
  );
  --token-t55e_G5GxaVX: var(--token-ZPQbYvQd_5nZ);
  --plasmic-token-semantic-color-interaction-hover-lvl-07: var(
    --token-t55e_G5GxaVX
  );
  --token-lXHy0Bm__Cx4: var(--token-qYYAcQH0UYHN);
  --plasmic-token-semantic-color-interaction-hover-lvl-08: var(
    --token-lXHy0Bm__Cx4
  );
  --token-jOfhO84EJcRW: var(--token-9NLcfeO-WkY7);
  --plasmic-token-semantic-color-interaction-hover-lvl-09: var(
    --token-jOfhO84EJcRW
  );
  --token-3H5mWbHI4ZtM: var(--token-wsjki70oB-eJ);
  --plasmic-token-semantic-color-interaction-selected-lvl-01: var(
    --token-3H5mWbHI4ZtM
  );
  --token-LSqAr0VRW41W: var(--token--RpuJsEm9BO0);
  --plasmic-token-semantic-color-interaction-selected-lvl-03: var(
    --token-LSqAr0VRW41W
  );
  --token-DpSKNBTi3RTh: var(--token-0Fepx_jz-0wA);
  --plasmic-token-semantic-color-interaction-selected-lvl-04: var(
    --token-DpSKNBTi3RTh
  );
  --token-cEnMFJO7iWwD: var(--token-4daQWDAvnf9A);
  --plasmic-token-semantic-color-interaction-selected-lvl-05: var(
    --token-cEnMFJO7iWwD
  );
  --token-98DkF8Fbj3oe: var(--token-lhZqw2fG0x1t);
  --plasmic-token-semantic-color-interaction-selected-lvl-06: var(
    --token-98DkF8Fbj3oe
  );
  --token-B6jRd4fHZdBf: var(--token-6Yzo11udN6H9);
  --plasmic-token-semantic-color-interaction-selected-lvl-07: var(
    --token-B6jRd4fHZdBf
  );
  --token-jQfbl-usKckw: var(--token-XX3CYxXO0WV5);
  --plasmic-token-semantic-color-interaction-selected-lvl-08: var(
    --token-jQfbl-usKckw
  );
  --token-daugYvFJmIsZ: var(--token-FHtEUA5YcYAm);
  --plasmic-token-semantic-color-interaction-selected-lvl-09: var(
    --token-daugYvFJmIsZ
  );
  --token-n_xVHJOpbZNJ: var(--token-CoT6ZJStNAuB);
  --plasmic-token-semantic-color-interaction-selected-lvl-10: var(
    --token-n_xVHJOpbZNJ
  );
  --token-n93lWaEyJfXb: var(--token-bIxDoN4FYxrD);
  --plasmic-token-semantic-color-interaction-hover-lvl-10: var(
    --token-n93lWaEyJfXb
  );
  --token-8GVt7Kvg2raU: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-interaction-focus-lvl-01: var(
    --token-8GVt7Kvg2raU
  );
  --token-HeMhCDHCSGL3: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-interaction-focus-lvl-02: var(
    --token-HeMhCDHCSGL3
  );
  --token-SJRenzmfrTZZ: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-interaction-focus-lvl-04: var(
    --token-SJRenzmfrTZZ
  );
  --token-3pW5sa4BQ-yc: var(--token-Y0K1k-y_PS2a);
  --plasmic-token-semantic-color-interaction-focus-lvl-06: var(
    --token-3pW5sa4BQ-yc
  );
  --token-Fjflx1WZ-QsK: var(--token-Gty8_2GA06Cb);
  --plasmic-token-semantic-color-interaction-focus-lvl-07: var(
    --token-Fjflx1WZ-QsK
  );
  --token-8bylA9y8WKxu: var(--token-khZgvDKYlFhV);
  --plasmic-token-semantic-color-interaction-focus-lvl-08: var(
    --token-8bylA9y8WKxu
  );
  --token-PkU9Z4Lbo-NN: var(--token-RnW2wsB9oeMU);
  --plasmic-token-semantic-color-background-active: var(--token-PkU9Z4Lbo-NN);
  --token-iruSQHQIrN2g: var(--token-YLOtur786Ap5);
  --plasmic-token-semantic-color-background-hover: var(--token-iruSQHQIrN2g);
  --token-zli6DLIgEeq3: var(--token-VnJ416xA_Ahm);
  --plasmic-token-semantic-color-background-selected: var(--token-zli6DLIgEeq3);
  --token-KOqjxNsLrjxm: var(--token-Zcj4zER1DxfM);
  --plasmic-token-semantic-color-background-selected-hover: var(
    --token-KOqjxNsLrjxm
  );
  --token-B5-bluWPDofr: var(--token-9NLcfeO-WkY7);
  --plasmic-token-semantic-color-background-inverse-hover: var(
    --token-B5-bluWPDofr
  );
  --token-9NHPdtyFVRJH: var(--token-R17w25moLSUd);
  --plasmic-token-semantic-color-layer-hover-lvl-01: var(--token-9NHPdtyFVRJH);
  --token-XcTHQ2-S-YTR: var(--token-wsjki70oB-eJ);
  --plasmic-token-semantic-color-layer-hover-lvl-02: var(--token-XcTHQ2-S-YTR);
  --token-U-LjKUBxujWx: var(--token-R17w25moLSUd);
  --plasmic-token-semantic-color-layer-hover-lvl-03: var(--token-U-LjKUBxujWx);
  --token-U9IJ1X3MOJRz: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-layer-active-lvl-01: var(--token-U9IJ1X3MOJRz);
  --token-4tXqGu6qnu0B: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-layer-active-lvl-02: var(--token-4tXqGu6qnu0B);
  --token-VoqoyeURHJ4G: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-layer-active-lvl-03: var(--token-VoqoyeURHJ4G);
  --token-I-6dVaA3CZ_N: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-layer-selected-lvl-01: var(
    --token-I-6dVaA3CZ_N
  );
  --token-uaUFe_JlqnUb: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-layer-selected-lvl-02: var(
    --token-uaUFe_JlqnUb
  );
  --token-SpJlTlSpZj9N: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-layer-selected-lvl-03: var(
    --token-SpJlTlSpZj9N
  );
  --token-HiSKO3jueGQs: var(--token-YLOtur786Ap5);
  --plasmic-token-semantic-color-layer-selected-hover-lvl-01: var(
    --token-HiSKO3jueGQs
  );
  --token-shW-VUX0tEFX: var(--token-YLOtur786Ap5);
  --plasmic-token-semantic-color-layer-selected-hover-lvl-02: var(
    --token-shW-VUX0tEFX
  );
  --token-ycwcKZdhji2T: var(--token-YLOtur786Ap5);
  --plasmic-token-semantic-color-layer-selected-hover-lvl-03: var(
    --token-ycwcKZdhji2T
  );
  --token-2k2rScyMFvSm: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-subtle-lvl-02: var(
    --token-2k2rScyMFvSm
  );
  --token-AoJCbnAwuYo8: var(--token-q3VCitX_I4xP);
  --plasmic-token-semantic-color-border-subtle-lvl-03: var(
    --token-AoJCbnAwuYo8
  );
  --token-qUo8wFN4rMGN: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-subtle-lvl-04: var(
    --token-qUo8wFN4rMGN
  );
  --token-EKJESHgVZtaC: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-selected-lvl-01: var(
    --token-EKJESHgVZtaC
  );
  --token-MT-MmOlmW4KR: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-selected-lvl-02: var(
    --token-MT-MmOlmW4KR
  );
  --token-VKZCFmcYS1Fr: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-semantic-color-border-selected-lvl-03: var(
    --token-VKZCFmcYS1Fr
  );
  --token-Zk_SvyWNK3i-: var(--token-VPB3WV3IT1gq);
  --plasmic-token-semantic-color-border-strong-lvl-03: var(
    --token-Zk_SvyWNK3i-
  );
  --token-VNFt6aPTesJw: var(--token-DSe3tNALG7hu);
  --plasmic-token-semantic-font-size-lvl-14: var(--token-VNFt6aPTesJw);
  --token-vfMNAFVkNxgv: var(--token-GIleTlhNdO1E);
  --plasmic-token-semantic-font-size-lvl-01: var(--token-vfMNAFVkNxgv);
  --token-tIRqiccW9dUu: var(--token-mpivALeJxat5);
  --plasmic-token-semantic-font-size-lvl-06: var(--token-tIRqiccW9dUu);
  --token--vLZOKeDxmqi: var(--token-FaXavIYUEa8j);
  --plasmic-token-semantic-font-line-height-lvl-01: var(--token--vLZOKeDxmqi);
  --token-Sg8ZASZSREyY: var(--token-Hk6Z2Z0apgg7);
  --plasmic-token-semantic-font-line-height-lvl-02: var(--token-Sg8ZASZSREyY);
  --token-zJTgO5281HHc: var(--token-kq-Pts0T7Vb3);
  --plasmic-token-semantic-font-line-height-lvl-03: var(--token-zJTgO5281HHc);
  --token-1nsZ9eFjcPqQ: var(--token-34PSp00ZRdYH);
  --plasmic-token-semantic-color-text-brand-main: var(--token-1nsZ9eFjcPqQ);
  --token-ELMZ4I9cKBM1: var(--token-aNm6DwAHycY-);
  --plasmic-token-semantic-color-text-brand-ancillary: var(
    --token-ELMZ4I9cKBM1
  );
  --token-18ML8UJB4uG-: var(--token-1uT3IIrbdlxr);
  --plasmic-token-semantic-color-text-brand-standard: var(--token-18ML8UJB4uG-);
  --token-0Wi4-uPa1R04: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-semantic-color-icon-on-color: var(--token-0Wi4-uPa1R04);
  --token-A1drDqgahFC7: var(--token-b4UF7wnPwVPI);
  --plasmic-token-semantic-color-icon-contrast: var(--token-A1drDqgahFC7);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-BVTJzQfB1fNE_font-family: var(--token-Zei9JcxBiwTD);
  --mixin-BVTJzQfB1fNE_font-size: var(--token-nzhJo5rxzpC3);
  --mixin-BVTJzQfB1fNE_font-weight: 400;
  --mixin-BVTJzQfB1fNE_font-style: normal;
  --mixin-BVTJzQfB1fNE_color: #171717;
  --mixin-BVTJzQfB1fNE_text-align: left;
  --mixin-BVTJzQfB1fNE_text-transform: none;
  --mixin-BVTJzQfB1fNE_line-height: 1.5;
  --mixin-BVTJzQfB1fNE_letter-spacing: normal;
  --mixin-BVTJzQfB1fNE_white-space: pre-wrap;
  --mixin-BVTJzQfB1fNE_user-select: text;
  --mixin-BVTJzQfB1fNE_text-decoration-line: none;
  --mixin-BVTJzQfB1fNE_text-overflow: clip;
  --mixin-vC-EbXlraB6U_color: #171717;
  --mixin-vC-EbXlraB6U_font-weight: 400;
  --mixin-vC-EbXlraB6U_font-size: var(--token-WIlFDJeiNqMb);
  --mixin-vC-EbXlraB6U_line-height: 1;
  --mixin-vC-EbXlraB6U_letter-spacing: -1px;
  --mixin-vC-EbXlraB6U_font-family: var(--token-8_TaSKeULiHG);
  --mixin-vC-EbXlraB6U_white-space: pre-wrap;
  --mixin-Qivk_7riKCkL_color: #171717;
  --mixin-Qivk_7riKCkL_font-size: var(--token-KC1sj0wdsKaW);
  --mixin-Qivk_7riKCkL_font-weight: 400;
  --mixin-Qivk_7riKCkL_letter-spacing: -0.5px;
  --mixin-Qivk_7riKCkL_line-height: 1.1;
  --mixin-Qivk_7riKCkL_font-family: var(--token-8_TaSKeULiHG);
  --mixin-Qivk_7riKCkL_white-space: pre-wrap;
  --mixin--Gbt1VnKnEKV_color: #0070f3;
  --mixin--Gbt1VnKnEKV_white-space: pre-wrap;
  --mixin-iq6dN9mi0xnz_color: #171717;
  --mixin-iq6dN9mi0xnz_font-size: var(--token-4hF_LwIOL-pD);
  --mixin-iq6dN9mi0xnz_font-weight: 400;
  --mixin-iq6dN9mi0xnz_line-height: 1.2;
  --mixin-iq6dN9mi0xnz_font-family: var(--token-8_TaSKeULiHG);
  --mixin-iq6dN9mi0xnz_white-space: pre-wrap;
  --mixin-B0jlYekaTeMl_color: #171717;
  --mixin-B0jlYekaTeMl_font-size: var(--token-CFFEqlmqKUYW);
  --mixin-B0jlYekaTeMl_font-weight: 400;
  --mixin-B0jlYekaTeMl_line-height: 1.3;
  --mixin-B0jlYekaTeMl_font-family: var(--token-8_TaSKeULiHG);
  --mixin-B0jlYekaTeMl_white-space: pre-wrap;
  --mixin-PAYKldjFL6ON_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PAYKldjFL6ON_border-bottom-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-bottom-style: solid;
  --mixin-PAYKldjFL6ON_border-bottom-width: 1px;
  --mixin-PAYKldjFL6ON_border-left-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-left-style: solid;
  --mixin-PAYKldjFL6ON_border-left-width: 1px;
  --mixin-PAYKldjFL6ON_border-right-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-right-style: solid;
  --mixin-PAYKldjFL6ON_border-right-width: 1px;
  --mixin-PAYKldjFL6ON_border-top-color: #dddddd;
  --mixin-PAYKldjFL6ON_border-top-style: solid;
  --mixin-PAYKldjFL6ON_border-top-width: 1px;
  --mixin-PAYKldjFL6ON_border-bottom-left-radius: 3px;
  --mixin-PAYKldjFL6ON_border-bottom-right-radius: 3px;
  --mixin-PAYKldjFL6ON_border-top-left-radius: 3px;
  --mixin-PAYKldjFL6ON_border-top-right-radius: 3px;
  --mixin-PAYKldjFL6ON_font-family: "Inconsolata";
  --mixin-PAYKldjFL6ON_padding-bottom: 1px;
  --mixin-PAYKldjFL6ON_padding-left: 4px;
  --mixin-PAYKldjFL6ON_padding-right: 4px;
  --mixin-PAYKldjFL6ON_padding-top: 1px;
  --mixin-PAYKldjFL6ON_white-space: pre-wrap;
  --mixin-H2RSG8O4zfOq_border-left-color: #dddddd;
  --mixin-H2RSG8O4zfOq_border-left-style: solid;
  --mixin-H2RSG8O4zfOq_border-left-width: 3px;
  --mixin-H2RSG8O4zfOq_color: #888888;
  --mixin-H2RSG8O4zfOq_padding-left: 10px;
  --mixin-H2RSG8O4zfOq_white-space: pre-wrap;
  --mixin-iIGjt0KR0jGm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iIGjt0KR0jGm_border-bottom-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-bottom-style: solid;
  --mixin-iIGjt0KR0jGm_border-bottom-width: 1px;
  --mixin-iIGjt0KR0jGm_border-left-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-left-style: solid;
  --mixin-iIGjt0KR0jGm_border-left-width: 1px;
  --mixin-iIGjt0KR0jGm_border-right-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-right-style: solid;
  --mixin-iIGjt0KR0jGm_border-right-width: 1px;
  --mixin-iIGjt0KR0jGm_border-top-color: #dddddd;
  --mixin-iIGjt0KR0jGm_border-top-style: solid;
  --mixin-iIGjt0KR0jGm_border-top-width: 1px;
  --mixin-iIGjt0KR0jGm_border-bottom-left-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-bottom-right-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-top-left-radius: 3px;
  --mixin-iIGjt0KR0jGm_border-top-right-radius: 3px;
  --mixin-iIGjt0KR0jGm_font-family: "Inconsolata";
  --mixin-iIGjt0KR0jGm_padding-bottom: 3px;
  --mixin-iIGjt0KR0jGm_padding-left: 6px;
  --mixin-iIGjt0KR0jGm_padding-right: 6px;
  --mixin-iIGjt0KR0jGm_padding-top: 3px;
  --mixin-iIGjt0KR0jGm_white-space: pre-wrap;
  --mixin-lY807SoP4FZc_display: flex;
  --mixin-lY807SoP4FZc_flex-direction: column;
  --mixin-lY807SoP4FZc_align-items: stretch;
  --mixin-lY807SoP4FZc_justify-content: flex-start;
  --mixin-lY807SoP4FZc_list-style-position: outside;
  --mixin-lY807SoP4FZc_padding-left: 40px;
  --mixin-lY807SoP4FZc_position: relative;
  --mixin-lY807SoP4FZc_list-style-type: disc;
  --mixin-lY807SoP4FZc_white-space: pre-wrap;
  --mixin--kSwyDFqEk71_display: flex;
  --mixin--kSwyDFqEk71_flex-direction: column;
  --mixin--kSwyDFqEk71_align-items: stretch;
  --mixin--kSwyDFqEk71_justify-content: flex-start;
  --mixin--kSwyDFqEk71_list-style-position: outside;
  --mixin--kSwyDFqEk71_padding-left: 40px;
  --mixin--kSwyDFqEk71_position: relative;
  --mixin--kSwyDFqEk71_list-style-type: decimal;
  --mixin--kSwyDFqEk71_white-space: pre-wrap;
  --mixin-wJlqcNlII0ir_color: #171717;
  --mixin-wJlqcNlII0ir_font-size: var(--token-8YNrK_1imGi7);
  --mixin-wJlqcNlII0ir_font-weight: 400;
  --mixin-wJlqcNlII0ir_line-height: 1.5;
  --mixin-wJlqcNlII0ir_font-family: var(--token-8_TaSKeULiHG);
  --mixin-wJlqcNlII0ir_white-space: pre-wrap;
  --mixin-gfPHLvoJ_jzX_color: #171717;
  --mixin-gfPHLvoJ_jzX_font-size: var(--token-nzhJo5rxzpC3);
  --mixin-gfPHLvoJ_jzX_font-weight: 400;
  --mixin-gfPHLvoJ_jzX_line-height: 1.5;
  --mixin-gfPHLvoJ_jzX_font-family: var(--token-8_TaSKeULiHG);
  --mixin-gfPHLvoJ_jzX_white-space: pre-wrap;
  --mixin-gKXGeSBEWwzj_color: #3291ff;
  --mixin-gKXGeSBEWwzj_white-space: pre-wrap;
  --mixin-OY992TdMq2aI_white-space: pre-wrap;
  --mixin-x1S-JSHl6-ji_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-BVTJzQfB1fNE_font-family);
  font-size: var(--mixin-BVTJzQfB1fNE_font-size);
  font-weight: var(--mixin-BVTJzQfB1fNE_font-weight);
  font-style: var(--mixin-BVTJzQfB1fNE_font-style);
  color: var(--mixin-BVTJzQfB1fNE_color);
  text-align: var(--mixin-BVTJzQfB1fNE_text-align);
  text-transform: var(--mixin-BVTJzQfB1fNE_text-transform);
  line-height: var(--mixin-BVTJzQfB1fNE_line-height);
  letter-spacing: var(--mixin-BVTJzQfB1fNE_letter-spacing);
  white-space: var(--mixin-BVTJzQfB1fNE_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-vC-EbXlraB6U_color);
  font-weight: var(--mixin-vC-EbXlraB6U_font-weight);
  font-size: var(--mixin-vC-EbXlraB6U_font-size);
  line-height: var(--mixin-vC-EbXlraB6U_line-height);
  letter-spacing: var(--mixin-vC-EbXlraB6U_letter-spacing);
  font-family: var(--mixin-vC-EbXlraB6U_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Qivk_7riKCkL_color);
  font-size: var(--mixin-Qivk_7riKCkL_font-size);
  font-weight: var(--mixin-Qivk_7riKCkL_font-weight);
  letter-spacing: var(--mixin-Qivk_7riKCkL_letter-spacing);
  line-height: var(--mixin-Qivk_7riKCkL_line-height);
  font-family: var(--mixin-Qivk_7riKCkL_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin--Gbt1VnKnEKV_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-iq6dN9mi0xnz_color);
  font-size: var(--mixin-iq6dN9mi0xnz_font-size);
  font-weight: var(--mixin-iq6dN9mi0xnz_font-weight);
  line-height: var(--mixin-iq6dN9mi0xnz_line-height);
  font-family: var(--mixin-iq6dN9mi0xnz_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-B0jlYekaTeMl_color);
  font-size: var(--mixin-B0jlYekaTeMl_font-size);
  font-weight: var(--mixin-B0jlYekaTeMl_font-weight);
  line-height: var(--mixin-B0jlYekaTeMl_line-height);
  font-family: var(--mixin-B0jlYekaTeMl_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-PAYKldjFL6ON_font-family);
  border-radius: var(--mixin-PAYKldjFL6ON_border-top-left-radius)
    var(--mixin-PAYKldjFL6ON_border-top-right-radius)
    var(--mixin-PAYKldjFL6ON_border-bottom-right-radius)
    var(--mixin-PAYKldjFL6ON_border-bottom-left-radius);
  padding: var(--mixin-PAYKldjFL6ON_padding-top)
    var(--mixin-PAYKldjFL6ON_padding-right)
    var(--mixin-PAYKldjFL6ON_padding-bottom)
    var(--mixin-PAYKldjFL6ON_padding-left);
  border-top: var(--mixin-PAYKldjFL6ON_border-top-width)
    var(--mixin-PAYKldjFL6ON_border-top-style)
    var(--mixin-PAYKldjFL6ON_border-top-color);
  border-right: var(--mixin-PAYKldjFL6ON_border-right-width)
    var(--mixin-PAYKldjFL6ON_border-right-style)
    var(--mixin-PAYKldjFL6ON_border-right-color);
  border-bottom: var(--mixin-PAYKldjFL6ON_border-bottom-width)
    var(--mixin-PAYKldjFL6ON_border-bottom-style)
    var(--mixin-PAYKldjFL6ON_border-bottom-color);
  border-left: var(--mixin-PAYKldjFL6ON_border-left-width)
    var(--mixin-PAYKldjFL6ON_border-left-style)
    var(--mixin-PAYKldjFL6ON_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-H2RSG8O4zfOq_color);
  padding-left: var(--mixin-H2RSG8O4zfOq_padding-left);
  border-left: var(--mixin-H2RSG8O4zfOq_border-left-width)
    var(--mixin-H2RSG8O4zfOq_border-left-style)
    var(--mixin-H2RSG8O4zfOq_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-iIGjt0KR0jGm_font-family);
  border-radius: var(--mixin-iIGjt0KR0jGm_border-top-left-radius)
    var(--mixin-iIGjt0KR0jGm_border-top-right-radius)
    var(--mixin-iIGjt0KR0jGm_border-bottom-right-radius)
    var(--mixin-iIGjt0KR0jGm_border-bottom-left-radius);
  padding: var(--mixin-iIGjt0KR0jGm_padding-top)
    var(--mixin-iIGjt0KR0jGm_padding-right)
    var(--mixin-iIGjt0KR0jGm_padding-bottom)
    var(--mixin-iIGjt0KR0jGm_padding-left);
  border-top: var(--mixin-iIGjt0KR0jGm_border-top-width)
    var(--mixin-iIGjt0KR0jGm_border-top-style)
    var(--mixin-iIGjt0KR0jGm_border-top-color);
  border-right: var(--mixin-iIGjt0KR0jGm_border-right-width)
    var(--mixin-iIGjt0KR0jGm_border-right-style)
    var(--mixin-iIGjt0KR0jGm_border-right-color);
  border-bottom: var(--mixin-iIGjt0KR0jGm_border-bottom-width)
    var(--mixin-iIGjt0KR0jGm_border-bottom-style)
    var(--mixin-iIGjt0KR0jGm_border-bottom-color);
  border-left: var(--mixin-iIGjt0KR0jGm_border-left-width)
    var(--mixin-iIGjt0KR0jGm_border-left-style)
    var(--mixin-iIGjt0KR0jGm_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lY807SoP4FZc_display);
  flex-direction: var(--mixin-lY807SoP4FZc_flex-direction);
  align-items: var(--mixin-lY807SoP4FZc_align-items);
  justify-content: var(--mixin-lY807SoP4FZc_justify-content);
  list-style-position: var(--mixin-lY807SoP4FZc_list-style-position);
  padding-left: var(--mixin-lY807SoP4FZc_padding-left);
  position: var(--mixin-lY807SoP4FZc_position);
  list-style-type: var(--mixin-lY807SoP4FZc_list-style-type);
  flex-column-gap: var(--mixin-lY807SoP4FZc_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--kSwyDFqEk71_display);
  flex-direction: var(--mixin--kSwyDFqEk71_flex-direction);
  align-items: var(--mixin--kSwyDFqEk71_align-items);
  justify-content: var(--mixin--kSwyDFqEk71_justify-content);
  list-style-position: var(--mixin--kSwyDFqEk71_list-style-position);
  padding-left: var(--mixin--kSwyDFqEk71_padding-left);
  position: var(--mixin--kSwyDFqEk71_position);
  list-style-type: var(--mixin--kSwyDFqEk71_list-style-type);
  flex-column-gap: var(--mixin--kSwyDFqEk71_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-wJlqcNlII0ir_color);
  font-size: var(--mixin-wJlqcNlII0ir_font-size);
  font-weight: var(--mixin-wJlqcNlII0ir_font-weight);
  line-height: var(--mixin-wJlqcNlII0ir_line-height);
  font-family: var(--mixin-wJlqcNlII0ir_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-gfPHLvoJ_jzX_color);
  font-size: var(--mixin-gfPHLvoJ_jzX_font-size);
  font-weight: var(--mixin-gfPHLvoJ_jzX_font-weight);
  line-height: var(--mixin-gfPHLvoJ_jzX_line-height);
  font-family: var(--mixin-gfPHLvoJ_jzX_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-gKXGeSBEWwzj_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
