@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-CXS3m1iyST-B: var(--token-1G_KJti6C3ek);
  --plasmic-token-list-group-gap-lg: var(--token-CXS3m1iyST-B);
  --token-2aay77SOugbF: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-list-group-gap-md: var(--token-2aay77SOugbF);
  --token-1X-nOvQnhxrb: var(--token-gmTkI8CV6ysl);
  --plasmic-token-list-group-gap-sm: var(--token-1X-nOvQnhxrb);
  --token-DA4pDViPh__t: var(--token-ooyqpeY3PJfm);
  --plasmic-token-list-group-padding-md: var(--token-DA4pDViPh__t);
  --token-rAqHjGQNQt3r: var(--token-10BV8D3CuUzQ);
  --plasmic-token-list-group-padding-sm: var(--token-rAqHjGQNQt3r);
  --token-HA67cdlfH6jP: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-list-group-padding-lg: var(--token-HA67cdlfH6jP);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-utZVa7TU9jcb_font-family: "Inter", sans-serif;
  --mixin-utZVa7TU9jcb_font-size: 16px;
  --mixin-utZVa7TU9jcb_font-weight: 400;
  --mixin-utZVa7TU9jcb_font-style: normal;
  --mixin-utZVa7TU9jcb_color: #535353;
  --mixin-utZVa7TU9jcb_text-align: left;
  --mixin-utZVa7TU9jcb_text-transform: none;
  --mixin-utZVa7TU9jcb_line-height: 1.5;
  --mixin-utZVa7TU9jcb_letter-spacing: normal;
  --mixin-utZVa7TU9jcb_white-space: pre-wrap;
  --mixin-utZVa7TU9jcb_user-select: text;
  --mixin-utZVa7TU9jcb_text-decoration-line: none;
  --mixin-utZVa7TU9jcb_text-overflow: clip;
  --mixin-F3aMM513Zotc_color: #000000;
  --mixin-F3aMM513Zotc_font-weight: 700;
  --mixin-F3aMM513Zotc_font-size: 64px;
  --mixin-F3aMM513Zotc_line-height: 1;
  --mixin-F3aMM513Zotc_letter-spacing: -1px;
  --mixin-F3aMM513Zotc_white-space: pre-wrap;
  --mixin-2Rk7vLRe1C-5_color: #000000;
  --mixin-2Rk7vLRe1C-5_font-size: 48px;
  --mixin-2Rk7vLRe1C-5_font-weight: 700;
  --mixin-2Rk7vLRe1C-5_letter-spacing: -0.5px;
  --mixin-2Rk7vLRe1C-5_line-height: 1.1;
  --mixin-2Rk7vLRe1C-5_white-space: pre-wrap;
  --mixin-u7VFkfVs7rKC_color: #0070f3;
  --mixin-u7VFkfVs7rKC_white-space: pre-wrap;
  --mixin-MZ3hemLqtgyK_color: #000000;
  --mixin-MZ3hemLqtgyK_font-size: 32px;
  --mixin-MZ3hemLqtgyK_font-weight: 600;
  --mixin-MZ3hemLqtgyK_line-height: 1.2;
  --mixin-MZ3hemLqtgyK_white-space: pre-wrap;
  --mixin-7EhaGTN43r3I_color: #000000;
  --mixin-7EhaGTN43r3I_font-size: 24px;
  --mixin-7EhaGTN43r3I_font-weight: 600;
  --mixin-7EhaGTN43r3I_line-height: 1.3;
  --mixin-7EhaGTN43r3I_white-space: pre-wrap;
  --mixin-slYEyg2MxD4L_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-slYEyg2MxD4L_border-bottom-color: #dddddd;
  --mixin-slYEyg2MxD4L_border-bottom-style: solid;
  --mixin-slYEyg2MxD4L_border-bottom-width: 1px;
  --mixin-slYEyg2MxD4L_border-left-color: #dddddd;
  --mixin-slYEyg2MxD4L_border-left-style: solid;
  --mixin-slYEyg2MxD4L_border-left-width: 1px;
  --mixin-slYEyg2MxD4L_border-right-color: #dddddd;
  --mixin-slYEyg2MxD4L_border-right-style: solid;
  --mixin-slYEyg2MxD4L_border-right-width: 1px;
  --mixin-slYEyg2MxD4L_border-top-color: #dddddd;
  --mixin-slYEyg2MxD4L_border-top-style: solid;
  --mixin-slYEyg2MxD4L_border-top-width: 1px;
  --mixin-slYEyg2MxD4L_border-bottom-left-radius: 3px;
  --mixin-slYEyg2MxD4L_border-bottom-right-radius: 3px;
  --mixin-slYEyg2MxD4L_border-top-left-radius: 3px;
  --mixin-slYEyg2MxD4L_border-top-right-radius: 3px;
  --mixin-slYEyg2MxD4L_font-family: "Inconsolata";
  --mixin-slYEyg2MxD4L_padding-bottom: 1px;
  --mixin-slYEyg2MxD4L_padding-left: 4px;
  --mixin-slYEyg2MxD4L_padding-right: 4px;
  --mixin-slYEyg2MxD4L_padding-top: 1px;
  --mixin-slYEyg2MxD4L_white-space: pre-wrap;
  --mixin-vuw5Tnmok6DZ_border-left-color: #dddddd;
  --mixin-vuw5Tnmok6DZ_border-left-style: solid;
  --mixin-vuw5Tnmok6DZ_border-left-width: 3px;
  --mixin-vuw5Tnmok6DZ_color: #888888;
  --mixin-vuw5Tnmok6DZ_padding-left: 10px;
  --mixin-vuw5Tnmok6DZ_white-space: pre-wrap;
  --mixin-I5lzOwEl1AI5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I5lzOwEl1AI5_border-bottom-color: #dddddd;
  --mixin-I5lzOwEl1AI5_border-bottom-style: solid;
  --mixin-I5lzOwEl1AI5_border-bottom-width: 1px;
  --mixin-I5lzOwEl1AI5_border-left-color: #dddddd;
  --mixin-I5lzOwEl1AI5_border-left-style: solid;
  --mixin-I5lzOwEl1AI5_border-left-width: 1px;
  --mixin-I5lzOwEl1AI5_border-right-color: #dddddd;
  --mixin-I5lzOwEl1AI5_border-right-style: solid;
  --mixin-I5lzOwEl1AI5_border-right-width: 1px;
  --mixin-I5lzOwEl1AI5_border-top-color: #dddddd;
  --mixin-I5lzOwEl1AI5_border-top-style: solid;
  --mixin-I5lzOwEl1AI5_border-top-width: 1px;
  --mixin-I5lzOwEl1AI5_border-bottom-left-radius: 3px;
  --mixin-I5lzOwEl1AI5_border-bottom-right-radius: 3px;
  --mixin-I5lzOwEl1AI5_border-top-left-radius: 3px;
  --mixin-I5lzOwEl1AI5_border-top-right-radius: 3px;
  --mixin-I5lzOwEl1AI5_font-family: "Inconsolata";
  --mixin-I5lzOwEl1AI5_padding-bottom: 3px;
  --mixin-I5lzOwEl1AI5_padding-left: 6px;
  --mixin-I5lzOwEl1AI5_padding-right: 6px;
  --mixin-I5lzOwEl1AI5_padding-top: 3px;
  --mixin-I5lzOwEl1AI5_white-space: pre-wrap;
  --mixin-SrFnyLn0YXtd_display: flex;
  --mixin-SrFnyLn0YXtd_flex-direction: column;
  --mixin-SrFnyLn0YXtd_align-items: stretch;
  --mixin-SrFnyLn0YXtd_justify-content: flex-start;
  --mixin-SrFnyLn0YXtd_list-style-position: outside;
  --mixin-SrFnyLn0YXtd_padding-left: 40px;
  --mixin-SrFnyLn0YXtd_position: relative;
  --mixin-SrFnyLn0YXtd_list-style-type: disc;
  --mixin-SrFnyLn0YXtd_white-space: pre-wrap;
  --mixin-85-sYkJVJEFM_display: flex;
  --mixin-85-sYkJVJEFM_flex-direction: column;
  --mixin-85-sYkJVJEFM_align-items: stretch;
  --mixin-85-sYkJVJEFM_justify-content: flex-start;
  --mixin-85-sYkJVJEFM_list-style-position: outside;
  --mixin-85-sYkJVJEFM_padding-left: 40px;
  --mixin-85-sYkJVJEFM_position: relative;
  --mixin-85-sYkJVJEFM_list-style-type: decimal;
  --mixin-85-sYkJVJEFM_white-space: pre-wrap;
  --mixin-ImVLSjyo9Drb_color: #000000;
  --mixin-ImVLSjyo9Drb_font-size: 20px;
  --mixin-ImVLSjyo9Drb_font-weight: 600;
  --mixin-ImVLSjyo9Drb_line-height: 1.5;
  --mixin-ImVLSjyo9Drb_white-space: pre-wrap;
  --mixin-zClUojGFAOOz_color: #000000;
  --mixin-zClUojGFAOOz_font-size: 16px;
  --mixin-zClUojGFAOOz_font-weight: 600;
  --mixin-zClUojGFAOOz_line-height: 1.5;
  --mixin-zClUojGFAOOz_white-space: pre-wrap;
  --mixin-pWvhNOEkL6Lc_color: #3291ff;
  --mixin-pWvhNOEkL6Lc_white-space: pre-wrap;
  --mixin-pcFwTSZxgxuC_white-space: pre-wrap;
  --mixin-AJ4jePF4rD1V_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-utZVa7TU9jcb_font-family);
  font-size: var(--mixin-utZVa7TU9jcb_font-size);
  font-weight: var(--mixin-utZVa7TU9jcb_font-weight);
  font-style: var(--mixin-utZVa7TU9jcb_font-style);
  color: var(--mixin-utZVa7TU9jcb_color);
  text-align: var(--mixin-utZVa7TU9jcb_text-align);
  text-transform: var(--mixin-utZVa7TU9jcb_text-transform);
  line-height: var(--mixin-utZVa7TU9jcb_line-height);
  letter-spacing: var(--mixin-utZVa7TU9jcb_letter-spacing);
  white-space: var(--mixin-utZVa7TU9jcb_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-F3aMM513Zotc_color);
  font-weight: var(--mixin-F3aMM513Zotc_font-weight);
  font-size: var(--mixin-F3aMM513Zotc_font-size);
  line-height: var(--mixin-F3aMM513Zotc_line-height);
  letter-spacing: var(--mixin-F3aMM513Zotc_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2Rk7vLRe1C-5_color);
  font-size: var(--mixin-2Rk7vLRe1C-5_font-size);
  font-weight: var(--mixin-2Rk7vLRe1C-5_font-weight);
  letter-spacing: var(--mixin-2Rk7vLRe1C-5_letter-spacing);
  line-height: var(--mixin-2Rk7vLRe1C-5_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-u7VFkfVs7rKC_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-MZ3hemLqtgyK_color);
  font-size: var(--mixin-MZ3hemLqtgyK_font-size);
  font-weight: var(--mixin-MZ3hemLqtgyK_font-weight);
  line-height: var(--mixin-MZ3hemLqtgyK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-7EhaGTN43r3I_color);
  font-size: var(--mixin-7EhaGTN43r3I_font-size);
  font-weight: var(--mixin-7EhaGTN43r3I_font-weight);
  line-height: var(--mixin-7EhaGTN43r3I_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-slYEyg2MxD4L_font-family);
  border-radius: var(--mixin-slYEyg2MxD4L_border-top-left-radius)
    var(--mixin-slYEyg2MxD4L_border-top-right-radius)
    var(--mixin-slYEyg2MxD4L_border-bottom-right-radius)
    var(--mixin-slYEyg2MxD4L_border-bottom-left-radius);
  padding: var(--mixin-slYEyg2MxD4L_padding-top)
    var(--mixin-slYEyg2MxD4L_padding-right)
    var(--mixin-slYEyg2MxD4L_padding-bottom)
    var(--mixin-slYEyg2MxD4L_padding-left);
  border-top: var(--mixin-slYEyg2MxD4L_border-top-width)
    var(--mixin-slYEyg2MxD4L_border-top-style)
    var(--mixin-slYEyg2MxD4L_border-top-color);
  border-right: var(--mixin-slYEyg2MxD4L_border-right-width)
    var(--mixin-slYEyg2MxD4L_border-right-style)
    var(--mixin-slYEyg2MxD4L_border-right-color);
  border-bottom: var(--mixin-slYEyg2MxD4L_border-bottom-width)
    var(--mixin-slYEyg2MxD4L_border-bottom-style)
    var(--mixin-slYEyg2MxD4L_border-bottom-color);
  border-left: var(--mixin-slYEyg2MxD4L_border-left-width)
    var(--mixin-slYEyg2MxD4L_border-left-style)
    var(--mixin-slYEyg2MxD4L_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-vuw5Tnmok6DZ_color);
  padding-left: var(--mixin-vuw5Tnmok6DZ_padding-left);
  border-left: var(--mixin-vuw5Tnmok6DZ_border-left-width)
    var(--mixin-vuw5Tnmok6DZ_border-left-style)
    var(--mixin-vuw5Tnmok6DZ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I5lzOwEl1AI5_font-family);
  border-radius: var(--mixin-I5lzOwEl1AI5_border-top-left-radius)
    var(--mixin-I5lzOwEl1AI5_border-top-right-radius)
    var(--mixin-I5lzOwEl1AI5_border-bottom-right-radius)
    var(--mixin-I5lzOwEl1AI5_border-bottom-left-radius);
  padding: var(--mixin-I5lzOwEl1AI5_padding-top)
    var(--mixin-I5lzOwEl1AI5_padding-right)
    var(--mixin-I5lzOwEl1AI5_padding-bottom)
    var(--mixin-I5lzOwEl1AI5_padding-left);
  border-top: var(--mixin-I5lzOwEl1AI5_border-top-width)
    var(--mixin-I5lzOwEl1AI5_border-top-style)
    var(--mixin-I5lzOwEl1AI5_border-top-color);
  border-right: var(--mixin-I5lzOwEl1AI5_border-right-width)
    var(--mixin-I5lzOwEl1AI5_border-right-style)
    var(--mixin-I5lzOwEl1AI5_border-right-color);
  border-bottom: var(--mixin-I5lzOwEl1AI5_border-bottom-width)
    var(--mixin-I5lzOwEl1AI5_border-bottom-style)
    var(--mixin-I5lzOwEl1AI5_border-bottom-color);
  border-left: var(--mixin-I5lzOwEl1AI5_border-left-width)
    var(--mixin-I5lzOwEl1AI5_border-left-style)
    var(--mixin-I5lzOwEl1AI5_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-SrFnyLn0YXtd_display);
  flex-direction: var(--mixin-SrFnyLn0YXtd_flex-direction);
  align-items: var(--mixin-SrFnyLn0YXtd_align-items);
  justify-content: var(--mixin-SrFnyLn0YXtd_justify-content);
  list-style-position: var(--mixin-SrFnyLn0YXtd_list-style-position);
  padding-left: var(--mixin-SrFnyLn0YXtd_padding-left);
  position: var(--mixin-SrFnyLn0YXtd_position);
  list-style-type: var(--mixin-SrFnyLn0YXtd_list-style-type);
  flex-column-gap: var(--mixin-SrFnyLn0YXtd_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-85-sYkJVJEFM_display);
  flex-direction: var(--mixin-85-sYkJVJEFM_flex-direction);
  align-items: var(--mixin-85-sYkJVJEFM_align-items);
  justify-content: var(--mixin-85-sYkJVJEFM_justify-content);
  list-style-position: var(--mixin-85-sYkJVJEFM_list-style-position);
  padding-left: var(--mixin-85-sYkJVJEFM_padding-left);
  position: var(--mixin-85-sYkJVJEFM_position);
  list-style-type: var(--mixin-85-sYkJVJEFM_list-style-type);
  flex-column-gap: var(--mixin-85-sYkJVJEFM_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ImVLSjyo9Drb_color);
  font-size: var(--mixin-ImVLSjyo9Drb_font-size);
  font-weight: var(--mixin-ImVLSjyo9Drb_font-weight);
  line-height: var(--mixin-ImVLSjyo9Drb_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-zClUojGFAOOz_color);
  font-size: var(--mixin-zClUojGFAOOz_font-size);
  font-weight: var(--mixin-zClUojGFAOOz_font-weight);
  line-height: var(--mixin-zClUojGFAOOz_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-pWvhNOEkL6Lc_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
