@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-O53E_jb-QUZX: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-list-item-text-primary-color: var(--token-O53E_jb-QUZX);
  --token-PHoGWTylrCoI: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-list-item-text-emphasis-color: var(--token-PHoGWTylrCoI);
  --token-1SmRtVTDsNVw: var(--token-kIiIOw_bUl8D);
  --plasmic-token-list-item-text-helper-color: var(--token-1SmRtVTDsNVw);
  --token-PG8WAxTqPz54: var(--token-lWEO2ZudSDrD);
  --plasmic-token-list-item-text-on-color: var(--token-PG8WAxTqPz54);
  --token-ppbhxHltzhGx: var(--token-Bus8cwXd8WG7);
  --plasmic-token-list-item-text-disabled-color: var(--token-ppbhxHltzhGx);
  --token-aH3l6vC1IyzV: var(--token-IY7haS73fBUX);
  --plasmic-token-list-item-text-error-color: var(--token-aH3l6vC1IyzV);
  --token-D-80lT67DWRW: var(--token-pmmltM-TYoqS);
  --plasmic-token-list-item-text-information-color: var(--token-D-80lT67DWRW);
  --token-PWRdsR-Q8dRb: var(--token-aob4eJ7jGN8F);
  --plasmic-token-list-item-text-success-color: var(--token-PWRdsR-Q8dRb);
  --token-seWgtLYrUU-b: var(--token-1nsZ9eFjcPqQ);
  --plasmic-token-list-item-text-brand-primary-color: var(--token-seWgtLYrUU-b);
  --token-DfvFp5qPxply: var(--token-ELMZ4I9cKBM1);
  --plasmic-token-list-item-text-brand-secondary-color: var(
    --token-DfvFp5qPxply
  );
  --token-NQZ6D_zhLpkW: var(--token-18ML8UJB4uG-);
  --plasmic-token-list-item-text-brand-standard-color: var(
    --token-NQZ6D_zhLpkW
  );
  --token-Mp-77KV4bKx8: var(--token-Gy6dNJXeqzld);
  --plasmic-token-list-item-content-size-sm: var(--token-Mp-77KV4bKx8);
  --token-kups2N1OaeRH: var(--token--4UhdP_HsIC_);
  --plasmic-token-list-item-content-size-md: var(--token-kups2N1OaeRH);
  --token-yXnR0mKjCtfU: var(--token-eSdnxQh3M7kb);
  --plasmic-token-list-item-content-size-lg: var(--token-yXnR0mKjCtfU);
  --token-h-w6m_N46MER: var(--token-PgHShZzsPbb6);
  --plasmic-token-list-item-line-height-lg: var(--token-h-w6m_N46MER);
  --token-EQk_y8gQbUYP: var(--token-r3CLEGF83WW_);
  --plasmic-token-list-item-line-height-md: var(--token-EQk_y8gQbUYP);
  --token-A25vIlshpF39: var(--token-kp9b7fGwd327);
  --plasmic-token-list-item-font-family-default: var(--token-A25vIlshpF39);
  --token-mIbnOMtB8Ety: var(--token-syb_I0v1eexm);
  --plasmic-token-list-item-font-family-emphasis: var(--token-mIbnOMtB8Ety);
  --token-7Bwb1hsDZr-S: var(--token-Yhwpmo7X9F28);
  --plasmic-token-list-item-icon-height-md: var(--token-7Bwb1hsDZr-S);
  --token-TizDx1YzfMsY: var(--token-Yhwpmo7X9F28);
  --plasmic-token-list-item-icon-width-md: var(--token-TizDx1YzfMsY);
  --token-KxVmJIE6k3B4: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-list-item-icon-gap-md: var(--token-KxVmJIE6k3B4);
  --token-JNsiTJUONO9E: var(--token-XxUsrtwwicvG);
  --plasmic-token-list-item-icon-height-sm: var(--token-JNsiTJUONO9E);
  --token-h2wdS0UYVjJ1: var(--token-XxUsrtwwicvG);
  --plasmic-token-list-item-icon-width-sm: var(--token-h2wdS0UYVjJ1);
  --token-sykC7M6gvfK6: var(--token-gmTkI8CV6ysl);
  --plasmic-token-list-item-icon-gap-sm: var(--token-sykC7M6gvfK6);
  --token-8Dg7TxE4tFbF: var(--token-QyJYVQWEE7rW);
  --plasmic-token-list-item-icon-height-lg: var(--token-8Dg7TxE4tFbF);
  --token-4g6a_00V-FT7: var(--token-QyJYVQWEE7rW);
  --plasmic-token-list-item-icon-width-lg: var(--token-4g6a_00V-FT7);
  --token-qSXoXx_-unk6: var(--token-9QoGuIpI3lvR);
  --plasmic-token-list-item-icon-gap-lg: var(--token-qSXoXx_-unk6);
  --token-C8h5icYh1Xei: var(--token-xZ2klggI5XbJ);
  --plasmic-token-list-item-icon-brand-primary-color: var(--token-C8h5icYh1Xei);
  --token-TBNqbCk3Qhnb: var(--token-lwNU-2BKlR7L);
  --plasmic-token-list-item-icon-brand-secondary-color: var(
    --token-TBNqbCk3Qhnb
  );
  --token-IuV20ntkZaLU: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-list-item-icon-primary-color: var(--token-IuV20ntkZaLU);
  --token-ovZBY3_eKjRp: var(--token-KyvmFeDJi7pp);
  --plasmic-token-list-item-icon-brand-standard-color: var(
    --token-ovZBY3_eKjRp
  );
  --token-dBZI0c2YHXqD: var(--token-UryOpF4cmLPA);
  --plasmic-token-list-item-icon-information-color: var(--token-dBZI0c2YHXqD);
  --token-PZcjMz7R1jZK: var(--token-sKSyOc4fIH5Q);
  --plasmic-token-list-item-icon-success-color: var(--token-PZcjMz7R1jZK);
  --token-MTqIwtLSZ8Sz: var(--token-dxvNs_t726zZ);
  --plasmic-token-list-item-icon-error-color: var(--token-MTqIwtLSZ8Sz);
  --token-pLxA2L1F3iwC: var(--token-Bus8cwXd8WG7);
  --plasmic-token-list-item-icon-disabled-color: var(--token-pLxA2L1F3iwC);
  --token-llmgt3zj4B68: var(--token-PG8WAxTqPz54);
  --plasmic-token-list-item-icon-on-color: var(--token-llmgt3zj4B68);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-ey932FpxaFL3_text-decoration-line: none;
  --mixin-ey932FpxaFL3_text-overflow: clip;
  --mixin-ey932FpxaFL3_user-select: text;
  --mixin-ey932FpxaFL3_white-space: pre-wrap;
  --mixin-ey932FpxaFL3_letter-spacing: normal;
  --mixin-ey932FpxaFL3_line-height: 20px;
  --mixin-ey932FpxaFL3_text-transform: none;
  --mixin-ey932FpxaFL3_text-align: left;
  --mixin-ey932FpxaFL3_color: #1c2b36;
  --mixin-ey932FpxaFL3_font-style: normal;
  --mixin-ey932FpxaFL3_font-weight: 400;
  --mixin-ey932FpxaFL3_font-size: 16px;
  --mixin-ey932FpxaFL3_font-family: "Source Sans Pro", sans-serif;
  --mixin-gIZssZ8zgx65_color: #1c2b36;
  --mixin-gIZssZ8zgx65_font-weight: 700;
  --mixin-gIZssZ8zgx65_font-size: 48px;
  --mixin-gIZssZ8zgx65_line-height: 64px;
  --mixin-gIZssZ8zgx65_letter-spacing: -1px;
  --mixin-gIZssZ8zgx65_font-family: "Merriweather", serif;
  --mixin-gIZssZ8zgx65_white-space: pre-wrap;
  --mixin-CODZBHzUWYCb_color: #1c2b36;
  --mixin-CODZBHzUWYCb_font-size: 42px;
  --mixin-CODZBHzUWYCb_font-weight: 700;
  --mixin-CODZBHzUWYCb_letter-spacing: -0.5px;
  --mixin-CODZBHzUWYCb_line-height: 50px;
  --mixin-CODZBHzUWYCb_font-family: "Merriweather", serif;
  --mixin-CODZBHzUWYCb_white-space: pre-wrap;
  --mixin-UJY6y7iDy1QQ_color: #0070f3;
  --mixin-UJY6y7iDy1QQ_white-space: pre-wrap;
  --mixin-FUo-kTED8-s5_color: #1c2b36;
  --mixin-FUo-kTED8-s5_font-size: 36px;
  --mixin-FUo-kTED8-s5_font-weight: 600;
  --mixin-FUo-kTED8-s5_line-height: 40px;
  --mixin-FUo-kTED8-s5_font-family: "Merriweather", serif;
  --mixin-FUo-kTED8-s5_white-space: pre-wrap;
  --mixin-E2HWmJPG40Ap_color: #1c2b36;
  --mixin-E2HWmJPG40Ap_font-size: 32px;
  --mixin-E2HWmJPG40Ap_font-weight: 600;
  --mixin-E2HWmJPG40Ap_line-height: 36px;
  --mixin-E2HWmJPG40Ap_font-family: "Merriweather", serif;
  --mixin-E2HWmJPG40Ap_white-space: pre-wrap;
  --mixin-T3Fy3prgJvOi_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-T3Fy3prgJvOi_border-bottom-color: #dddddd;
  --mixin-T3Fy3prgJvOi_border-bottom-style: solid;
  --mixin-T3Fy3prgJvOi_border-bottom-width: 1px;
  --mixin-T3Fy3prgJvOi_border-left-color: #dddddd;
  --mixin-T3Fy3prgJvOi_border-left-style: solid;
  --mixin-T3Fy3prgJvOi_border-left-width: 1px;
  --mixin-T3Fy3prgJvOi_border-right-color: #dddddd;
  --mixin-T3Fy3prgJvOi_border-right-style: solid;
  --mixin-T3Fy3prgJvOi_border-right-width: 1px;
  --mixin-T3Fy3prgJvOi_border-top-color: #dddddd;
  --mixin-T3Fy3prgJvOi_border-top-style: solid;
  --mixin-T3Fy3prgJvOi_border-top-width: 1px;
  --mixin-T3Fy3prgJvOi_border-bottom-left-radius: 3px;
  --mixin-T3Fy3prgJvOi_border-bottom-right-radius: 3px;
  --mixin-T3Fy3prgJvOi_border-top-left-radius: 3px;
  --mixin-T3Fy3prgJvOi_border-top-right-radius: 3px;
  --mixin-T3Fy3prgJvOi_font-family: "Inconsolata";
  --mixin-T3Fy3prgJvOi_padding-bottom: 1px;
  --mixin-T3Fy3prgJvOi_padding-left: 4px;
  --mixin-T3Fy3prgJvOi_padding-right: 4px;
  --mixin-T3Fy3prgJvOi_padding-top: 1px;
  --mixin-T3Fy3prgJvOi_white-space: pre-wrap;
  --mixin-4ikgrL6bFPRs_border-left-color: #dddddd;
  --mixin-4ikgrL6bFPRs_border-left-style: solid;
  --mixin-4ikgrL6bFPRs_border-left-width: 3px;
  --mixin-4ikgrL6bFPRs_color: #888888;
  --mixin-4ikgrL6bFPRs_padding-left: 10px;
  --mixin-4ikgrL6bFPRs_white-space: pre-wrap;
  --mixin-pXLe8Aa9LBdT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pXLe8Aa9LBdT_border-bottom-color: #dddddd;
  --mixin-pXLe8Aa9LBdT_border-bottom-style: solid;
  --mixin-pXLe8Aa9LBdT_border-bottom-width: 1px;
  --mixin-pXLe8Aa9LBdT_border-left-color: #dddddd;
  --mixin-pXLe8Aa9LBdT_border-left-style: solid;
  --mixin-pXLe8Aa9LBdT_border-left-width: 1px;
  --mixin-pXLe8Aa9LBdT_border-right-color: #dddddd;
  --mixin-pXLe8Aa9LBdT_border-right-style: solid;
  --mixin-pXLe8Aa9LBdT_border-right-width: 1px;
  --mixin-pXLe8Aa9LBdT_border-top-color: #dddddd;
  --mixin-pXLe8Aa9LBdT_border-top-style: solid;
  --mixin-pXLe8Aa9LBdT_border-top-width: 1px;
  --mixin-pXLe8Aa9LBdT_border-bottom-left-radius: 3px;
  --mixin-pXLe8Aa9LBdT_border-bottom-right-radius: 3px;
  --mixin-pXLe8Aa9LBdT_border-top-left-radius: 3px;
  --mixin-pXLe8Aa9LBdT_border-top-right-radius: 3px;
  --mixin-pXLe8Aa9LBdT_font-family: "Inconsolata";
  --mixin-pXLe8Aa9LBdT_padding-bottom: 3px;
  --mixin-pXLe8Aa9LBdT_padding-left: 6px;
  --mixin-pXLe8Aa9LBdT_padding-right: 6px;
  --mixin-pXLe8Aa9LBdT_padding-top: 3px;
  --mixin-pXLe8Aa9LBdT_white-space: pre-wrap;
  --mixin-R46YCOTetUMa_display: flex;
  --mixin-R46YCOTetUMa_flex-direction: column;
  --mixin-R46YCOTetUMa_align-items: stretch;
  --mixin-R46YCOTetUMa_justify-content: flex-start;
  --mixin-R46YCOTetUMa_list-style-position: outside;
  --mixin-R46YCOTetUMa_padding-left: 40px;
  --mixin-R46YCOTetUMa_position: relative;
  --mixin-R46YCOTetUMa_list-style-type: disc;
  --mixin-R46YCOTetUMa_white-space: pre-wrap;
  --mixin-IwWSS9LrUz0s_display: flex;
  --mixin-IwWSS9LrUz0s_flex-direction: column;
  --mixin-IwWSS9LrUz0s_align-items: stretch;
  --mixin-IwWSS9LrUz0s_justify-content: flex-start;
  --mixin-IwWSS9LrUz0s_list-style-position: outside;
  --mixin-IwWSS9LrUz0s_padding-left: 40px;
  --mixin-IwWSS9LrUz0s_position: relative;
  --mixin-IwWSS9LrUz0s_list-style-type: decimal;
  --mixin-IwWSS9LrUz0s_white-space: pre-wrap;
  --mixin-vaY71a0JtG-w_color: #1c2b36;
  --mixin-vaY71a0JtG-w_font-size: 28px;
  --mixin-vaY71a0JtG-w_font-weight: 600;
  --mixin-vaY71a0JtG-w_line-height: 28px;
  --mixin-vaY71a0JtG-w_font-family: "Merriweather", serif;
  --mixin-vaY71a0JtG-w_white-space: pre-wrap;
  --mixin-fG29gsLDtRdt_color: #1c2b36;
  --mixin-fG29gsLDtRdt_font-size: 24px;
  --mixin-fG29gsLDtRdt_font-weight: 600;
  --mixin-fG29gsLDtRdt_line-height: 24px;
  --mixin-fG29gsLDtRdt_font-family: "Merriweather", serif;
  --mixin-fG29gsLDtRdt_white-space: pre-wrap;
  --mixin-xmy-8MSTHyxi_color: #3291ff;
  --mixin-xmy-8MSTHyxi_white-space: pre-wrap;
  --mixin--HEW2AalVZnF_white-space: pre-wrap;
  --mixin-KuHCQk4n2S_d_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-ey932FpxaFL3_font-family);
  font-size: var(--mixin-ey932FpxaFL3_font-size);
  font-weight: var(--mixin-ey932FpxaFL3_font-weight);
  font-style: var(--mixin-ey932FpxaFL3_font-style);
  color: var(--mixin-ey932FpxaFL3_color);
  text-align: var(--mixin-ey932FpxaFL3_text-align);
  text-transform: var(--mixin-ey932FpxaFL3_text-transform);
  line-height: var(--mixin-ey932FpxaFL3_line-height);
  letter-spacing: var(--mixin-ey932FpxaFL3_letter-spacing);
  white-space: var(--mixin-ey932FpxaFL3_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-gIZssZ8zgx65_color);
  font-weight: var(--mixin-gIZssZ8zgx65_font-weight);
  font-size: var(--mixin-gIZssZ8zgx65_font-size);
  line-height: var(--mixin-gIZssZ8zgx65_line-height);
  letter-spacing: var(--mixin-gIZssZ8zgx65_letter-spacing);
  font-family: var(--mixin-gIZssZ8zgx65_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CODZBHzUWYCb_color);
  font-size: var(--mixin-CODZBHzUWYCb_font-size);
  font-weight: var(--mixin-CODZBHzUWYCb_font-weight);
  letter-spacing: var(--mixin-CODZBHzUWYCb_letter-spacing);
  line-height: var(--mixin-CODZBHzUWYCb_line-height);
  font-family: var(--mixin-CODZBHzUWYCb_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-UJY6y7iDy1QQ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-FUo-kTED8-s5_color);
  font-size: var(--mixin-FUo-kTED8-s5_font-size);
  font-weight: var(--mixin-FUo-kTED8-s5_font-weight);
  line-height: var(--mixin-FUo-kTED8-s5_line-height);
  font-family: var(--mixin-FUo-kTED8-s5_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-E2HWmJPG40Ap_color);
  font-size: var(--mixin-E2HWmJPG40Ap_font-size);
  font-weight: var(--mixin-E2HWmJPG40Ap_font-weight);
  line-height: var(--mixin-E2HWmJPG40Ap_line-height);
  font-family: var(--mixin-E2HWmJPG40Ap_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-T3Fy3prgJvOi_font-family);
  border-radius: var(--mixin-T3Fy3prgJvOi_border-top-left-radius)
    var(--mixin-T3Fy3prgJvOi_border-top-right-radius)
    var(--mixin-T3Fy3prgJvOi_border-bottom-right-radius)
    var(--mixin-T3Fy3prgJvOi_border-bottom-left-radius);
  padding: var(--mixin-T3Fy3prgJvOi_padding-top)
    var(--mixin-T3Fy3prgJvOi_padding-right)
    var(--mixin-T3Fy3prgJvOi_padding-bottom)
    var(--mixin-T3Fy3prgJvOi_padding-left);
  border-top: var(--mixin-T3Fy3prgJvOi_border-top-width)
    var(--mixin-T3Fy3prgJvOi_border-top-style)
    var(--mixin-T3Fy3prgJvOi_border-top-color);
  border-right: var(--mixin-T3Fy3prgJvOi_border-right-width)
    var(--mixin-T3Fy3prgJvOi_border-right-style)
    var(--mixin-T3Fy3prgJvOi_border-right-color);
  border-bottom: var(--mixin-T3Fy3prgJvOi_border-bottom-width)
    var(--mixin-T3Fy3prgJvOi_border-bottom-style)
    var(--mixin-T3Fy3prgJvOi_border-bottom-color);
  border-left: var(--mixin-T3Fy3prgJvOi_border-left-width)
    var(--mixin-T3Fy3prgJvOi_border-left-style)
    var(--mixin-T3Fy3prgJvOi_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-4ikgrL6bFPRs_color);
  padding-left: var(--mixin-4ikgrL6bFPRs_padding-left);
  border-left: var(--mixin-4ikgrL6bFPRs_border-left-width)
    var(--mixin-4ikgrL6bFPRs_border-left-style)
    var(--mixin-4ikgrL6bFPRs_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pXLe8Aa9LBdT_font-family);
  border-radius: var(--mixin-pXLe8Aa9LBdT_border-top-left-radius)
    var(--mixin-pXLe8Aa9LBdT_border-top-right-radius)
    var(--mixin-pXLe8Aa9LBdT_border-bottom-right-radius)
    var(--mixin-pXLe8Aa9LBdT_border-bottom-left-radius);
  padding: var(--mixin-pXLe8Aa9LBdT_padding-top)
    var(--mixin-pXLe8Aa9LBdT_padding-right)
    var(--mixin-pXLe8Aa9LBdT_padding-bottom)
    var(--mixin-pXLe8Aa9LBdT_padding-left);
  border-top: var(--mixin-pXLe8Aa9LBdT_border-top-width)
    var(--mixin-pXLe8Aa9LBdT_border-top-style)
    var(--mixin-pXLe8Aa9LBdT_border-top-color);
  border-right: var(--mixin-pXLe8Aa9LBdT_border-right-width)
    var(--mixin-pXLe8Aa9LBdT_border-right-style)
    var(--mixin-pXLe8Aa9LBdT_border-right-color);
  border-bottom: var(--mixin-pXLe8Aa9LBdT_border-bottom-width)
    var(--mixin-pXLe8Aa9LBdT_border-bottom-style)
    var(--mixin-pXLe8Aa9LBdT_border-bottom-color);
  border-left: var(--mixin-pXLe8Aa9LBdT_border-left-width)
    var(--mixin-pXLe8Aa9LBdT_border-left-style)
    var(--mixin-pXLe8Aa9LBdT_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-R46YCOTetUMa_display);
  flex-direction: var(--mixin-R46YCOTetUMa_flex-direction);
  align-items: var(--mixin-R46YCOTetUMa_align-items);
  justify-content: var(--mixin-R46YCOTetUMa_justify-content);
  list-style-position: var(--mixin-R46YCOTetUMa_list-style-position);
  padding-left: var(--mixin-R46YCOTetUMa_padding-left);
  position: var(--mixin-R46YCOTetUMa_position);
  list-style-type: var(--mixin-R46YCOTetUMa_list-style-type);
  flex-column-gap: var(--mixin-R46YCOTetUMa_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-IwWSS9LrUz0s_display);
  flex-direction: var(--mixin-IwWSS9LrUz0s_flex-direction);
  align-items: var(--mixin-IwWSS9LrUz0s_align-items);
  justify-content: var(--mixin-IwWSS9LrUz0s_justify-content);
  list-style-position: var(--mixin-IwWSS9LrUz0s_list-style-position);
  padding-left: var(--mixin-IwWSS9LrUz0s_padding-left);
  position: var(--mixin-IwWSS9LrUz0s_position);
  list-style-type: var(--mixin-IwWSS9LrUz0s_list-style-type);
  flex-column-gap: var(--mixin-IwWSS9LrUz0s_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-vaY71a0JtG-w_color);
  font-size: var(--mixin-vaY71a0JtG-w_font-size);
  font-weight: var(--mixin-vaY71a0JtG-w_font-weight);
  line-height: var(--mixin-vaY71a0JtG-w_line-height);
  font-family: var(--mixin-vaY71a0JtG-w_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-fG29gsLDtRdt_color);
  font-size: var(--mixin-fG29gsLDtRdt_font-size);
  font-weight: var(--mixin-fG29gsLDtRdt_font-weight);
  line-height: var(--mixin-fG29gsLDtRdt_line-height);
  font-family: var(--mixin-fG29gsLDtRdt_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-xmy-8MSTHyxi_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
