.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  padding: var(--token-MPdhq9cbz5NC);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.freeBoxsize_xxs {
  width: var(--token-NEhTB-e0_KXF);
  height: var(--token-NEhTB-e0_KXF);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_xs {
  width: var(--token-Y5ElMPZ0R-KJ);
  height: var(--token-Gl4n7i6AMIO4);
  flex-shrink: 0;
}
.freeBoxsize_sm {
  width: var(--token-xsnkr3PqmyZ3);
  height: var(--token-ev0MCwfyo0go);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.freeBoxsize_md {
  width: var(--token--ZGgjdnYujjf);
  height: var(--token-3sWrI7NoZbER);
  flex-shrink: 0;
}
.freeBoxsize_lg {
  width: var(--token-N1e9CcudajTF);
  height: var(--token-7HJQ-R2_Di2t);
  flex-shrink: 0;
}
.freeBoxsize_xl {
  width: var(--token-bxyiWhbUVzkZ);
  height: var(--token-ZzNdt01b0DT3);
  flex-shrink: 0;
}
.freeBoxsize_xxl {
  width: var(--token-0nDO0Pl4tHt8);
  height: var(--token-WnGRwfjWSPxA);
  flex-shrink: 0;
}
.freeBoxdisabled {
  opacity: 0.5;
}
.slotTargetChildren {
  color: var(--token-vTgApEByT5tQ);
}
.slotTargetChildrenboldColor_themePrimary {
  color: var(--token-xZ2klggI5XbJ);
}
.slotTargetChildrenboldColor_themeSecondary {
  color: var(--token-lwNU-2BKlR7L);
}
.slotTargetChildrenboldColor_themeStandard {
  color: var(--token-6cXnwEcO9xuu);
}
.slotTargetChildrenboldColor_success {
  color: var(--token-93CdaKL6VxaW);
}
.slotTargetChildrenboldColor_information {
  color: var(--token-GlGk70pHdYsK);
}
.slotTargetChildrenboldColor_warning {
  color: var(--token-jsfRPUeIFGG2);
}
.slotTargetChildrenboldColor_error {
  color: var(--token-Z-jMbnrLPISr);
}
.slotTargetChildrensubtleColor_themePrimary {
  color: var(--token-Keqx5L2eGEEh);
}
.slotTargetChildrensubtleColor_themeSecondary {
  color: var(--token-MpoXNrBJpzTL);
}
.slotTargetChildrensubtleColor_themeStandard {
  color: var(--token-pVRsPVG0kvmS);
}
.slotTargetChildrensubtleColor_success {
  color: var(--token-ohfyiy2Pju1Q);
}
.slotTargetChildrensubtleColor_information {
  color: var(--token-nDDFBRufXKN1);
}
.slotTargetChildrensubtleColor_warning {
  color: var(--token-yRKMd5PmxP0m);
}
.slotTargetChildrensubtleColor_error {
  color: var(--token-JoXw85kWrEZO);
}
.root:hover .slotTargetChildren {
  color: var(--token-yEuKJIdIyvsl);
}
.root:active .slotTargetChildren {
  color: var(--token-ebrcONFI3vwI);
}
.svg__pzmmd {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
