@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-1zgAc5NcAAV2: var(--token-gX7wDxh76h7C);
  --plasmic-token-button-padding-v-sm: var(--token-1zgAc5NcAAV2);
  --token-QwLgYEOngWyA: var(--token-UWq52Z58Sbph);
  --plasmic-token-button-padding-v-md: var(--token-QwLgYEOngWyA);
  --token-Rkgxx9SXWS0V: var(--token-10BV8D3CuUzQ);
  --plasmic-token-button-padding-v-lg: var(--token-Rkgxx9SXWS0V);
  --token-O7wpGwaq2Tus: var(--token-bSLtDw-rslXx);
  --plasmic-token-button-padding-v-xl: var(--token-O7wpGwaq2Tus);
  --token-oBelxM-j41cD: var(--token-bSLtDw-rslXx);
  --plasmic-token-button-padding-h-sm: var(--token-oBelxM-j41cD);
  --token-bIGLfKp9gfQK: var(--token-ooyqpeY3PJfm);
  --plasmic-token-button-padding-h-md: var(--token-bIGLfKp9gfQK);
  --token-FyZSyQ-mJauc: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-button-padding-h-lg: var(--token-FyZSyQ-mJauc);
  --token-0KSemMVN-q5Y: var(--token-ZseIMxw94CIA);
  --plasmic-token-button-padding-h-xl: var(--token-0KSemMVN-q5Y);
  --token-yx1w5QKNlcSh: var(--token-7Q6Tq4DaBVj1);
  --plasmic-token-button-gap-md: var(--token-yx1w5QKNlcSh);
  --token-2ZAXwvNudO1R: var(--token-YD3pso-iK0Vs);
  --plasmic-token-button-radii-md: var(--token-2ZAXwvNudO1R);
  --token-CqgpETt_s0FB: var(--token-cGThmsNY7SRd);
  --plasmic-token-button-bold-default-background-universal-standard-color: var(
    --token-CqgpETt_s0FB
  );
  --token-wHlWaql4CCLU: var(--token-lwNU-2BKlR7L);
  --plasmic-token-button-bold-default-background-brand-secondary-color: var(
    --token-wHlWaql4CCLU
  );
  --token-oFS7bSmtERNT: var(--token-2RB-LlABK1rQ);
  --plasmic-token-button-radii-rounded: var(--token-oFS7bSmtERNT);
  --token-nkMdPNQk5hLB: var(--token-lMlkZPOZp4Ru);
  --plasmic-token-button-radii-sharp: var(--token-nkMdPNQk5hLB);
  --token-VCZjlqRGZ8gN: 50%;
  --plasmic-token-button-radii-round: var(--token-VCZjlqRGZ8gN);
  --token--PHB9gzBIZpT: var(--token-dxvNs_t726zZ);
  --plasmic-token-button-bold-default-background-status-danger-color: var(
    --token--PHB9gzBIZpT
  );
  --token-jWwfiQsxNPd-: var(--token-UryOpF4cmLPA);
  --plasmic-token-button-bold-default-background-status-action-color: var(
    --token-jWwfiQsxNPd-
  );
  --token-HBLBtyoMqWFA: var(--token-DfkTqbzYJOdi);
  --plasmic-token-button-bold-default-background-brand-tertiary-color: var(
    --token-HBLBtyoMqWFA
  );
  --token-utkWp2bSsfIB: var(--token-0Wi4-uPa1R04);
  --plasmic-token-button-bold-default-icon-universal-bright-color: var(
    --token-utkWp2bSsfIB
  );
  --token-u5mO1w3_pCt1: var(--token-2AiSuX3qcmlO);
  --plasmic-token-button-bold-default-text-universal-bright-color: var(
    --token-u5mO1w3_pCt1
  );
  --token-rJm1LfJ-Gdnt: var(--token-MWQMPSVubdO1);
  --plasmic-token-button-clear-default-background-universal-overlay-color: var(
    --token-rJm1LfJ-Gdnt
  );
  --token-WQD5MjdU94lK: var(--token-DfkTqbzYJOdi);
  --plasmic-token-button-non-bold-default-icon-universal-standard-color: var(
    --token-WQD5MjdU94lK
  );
  --token-RtRtUSjoOGH7: var(--token-DfkTqbzYJOdi);
  --plasmic-token-button-non-bold-default-text-brand-standard-color: var(
    --token-RtRtUSjoOGH7
  );
  --token-BaNkEBcV6TwX: var(--token-60q15gbK5t2P);
  --plasmic-token-checkbox-label-fontsize-sm: var(--token-BaNkEBcV6TwX);
  --token-6xfPtwUx4qhp: var(--token-nzhJo5rxzpC3);
  --plasmic-token-checkbox-label-fontsize-md: var(--token-6xfPtwUx4qhp);
  --token-zaeTmMYET_aN: var(--token-nzhJo5rxzpC3);
  --plasmic-token-switch-label-fontsize-md: var(--token-zaeTmMYET_aN);
  --token-C4mTuXp1iP6Z: var(--token-60q15gbK5t2P);
  --plasmic-token-switch-label-fontsize-sm: var(--token-C4mTuXp1iP6Z);
  --token-Bg7AXQcOXgM7: var(--token-60q15gbK5t2P);
  --plasmic-token-dropdown-placeholder-fontsize-md: var(--token-Bg7AXQcOXgM7);
  --token-3VkZAC7SK5D1: var(--token-mZMghYMnBUOV);
  --plasmic-token-button-bold-hover-background-universal-overlay-color: var(
    --token-3VkZAC7SK5D1
  );
  --token-Y2XNG-EPggPE: var(--token-LSqAr0VRW41W);
  --plasmic-token-button-bold-active-background-universal-overlay-color: var(
    --token-Y2XNG-EPggPE
  );
  --token-7paqYGMcinZd: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-button-minimal-default-background-universal-bright-color: var(
    --token-7paqYGMcinZd
  );
  --token-B1kSDB6XpDES: var(--token-F2j0Fb6y5GQ3);
  --plasmic-token-button-subtle-default-background-universal-bright-color: var(
    --token-B1kSDB6XpDES
  );
  --token-2PxS9uOmpJtG: var(--token-DfkTqbzYJOdi);
  --plasmic-token-button-subtle-default-border-universal-standard-color: var(
    --token-2PxS9uOmpJtG
  );
  --token-JG4JZbt-YrRV: var(--token-xZ2klggI5XbJ);
  --plasmic-token-button-bold-default-background-brand-primary-color: var(
    --token-JG4JZbt-YrRV
  );
  --token-WLBAYClhTigc: var(--token-ikGwwJXF58sD);
  --plasmic-token-button-non-bold-default-text-brand-primary-color: var(
    --token-WLBAYClhTigc
  );
  --token-57f0yhmVV6C6: var(--token-v6ThsaLTU9ci);
  --plasmic-token-button-non-bold-default-text-brand-secondary-color: var(
    --token-57f0yhmVV6C6
  );
  --token-3HkJ21bcIwF2: var(--token-HBLBtyoMqWFA);
  --plasmic-token-button-non-bold-default-text-brand-tertiary-color: var(
    --token-3HkJ21bcIwF2
  );
  --token-nqGJiF96z8hF: var(--token-dxvNs_t726zZ);
  --plasmic-token-button-non-bold-default-text-destructive-color: var(
    --token-nqGJiF96z8hF
  );
  --token-EVta4tF-m8aY: var(--token-pmmltM-TYoqS);
  --plasmic-token-button-non-bold-default-text-status-action-color: var(
    --token-EVta4tF-m8aY
  );
  --token-9yW6jetbzSV8: var(--token-pmmltM-TYoqS);
  --plasmic-token-button-non-bold-default-icon-status-action-color: var(
    --token-9yW6jetbzSV8
  );
  --token-KmU1pkgsocgu: var(--token-dxvNs_t726zZ);
  --plasmic-token-button-non-bold-default-icon-status-destructive-color: var(
    --token-KmU1pkgsocgu
  );
  --token-4Rk8McbiF71C: var(--token-ikGwwJXF58sD);
  --plasmic-token-button-non-bold-default-icon-brand-primary-color: var(
    --token-4Rk8McbiF71C
  );
  --token-vnD5D4mJTV_K: var(--token-v6ThsaLTU9ci);
  --plasmic-token-button-non-bold-default-icon-brand-secondary-color: var(
    --token-vnD5D4mJTV_K
  );
  --token-3Cx_MtOry1Ne: var(--token-HBLBtyoMqWFA);
  --plasmic-token-button-non-bold-default-icon-brand-standard-color: var(
    --token-3Cx_MtOry1Ne
  );
  --token-vrPv_HM35OM2: var(--token-pmmltM-TYoqS);
  --plasmic-token-button-subtle-default-border-status-action-color: var(
    --token-vrPv_HM35OM2
  );
  --token-BKVSJOsxWBJf: var(--token-dxvNs_t726zZ);
  --plasmic-token-button-subtle-default-border-status-destructive-color: var(
    --token-BKVSJOsxWBJf
  );
  --token-FPx9bnMEPsOk: var(--token-ikGwwJXF58sD);
  --plasmic-token-button-subtle-default-border-brand-primary-color: var(
    --token-FPx9bnMEPsOk
  );
  --token-KxuxOQYbpvQU: var(--token-v6ThsaLTU9ci);
  --plasmic-token-button-subtle-default-border-brand-secondary-color: var(
    --token-KxuxOQYbpvQU
  );
  --token-33xCy3SftwoX: var(--token-HBLBtyoMqWFA);
  --plasmic-token-button-subtle-default-border-brand-standard-color: var(
    --token-33xCy3SftwoX
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-DMwLGgI5WOed_font-family: "Inter", sans-serif;
  --mixin-DMwLGgI5WOed_font-size: 16px;
  --mixin-DMwLGgI5WOed_font-weight: 400;
  --mixin-DMwLGgI5WOed_font-style: normal;
  --mixin-DMwLGgI5WOed_color: #535353;
  --mixin-DMwLGgI5WOed_text-align: left;
  --mixin-DMwLGgI5WOed_text-transform: none;
  --mixin-DMwLGgI5WOed_line-height: 1.5;
  --mixin-DMwLGgI5WOed_letter-spacing: normal;
  --mixin-DMwLGgI5WOed_white-space: pre-wrap;
  --mixin-DMwLGgI5WOed_user-select: text;
  --mixin-DMwLGgI5WOed_text-decoration-line: none;
  --mixin-DMwLGgI5WOed_text-overflow: clip;
  --mixin-NVX17G9UFrWB_color: #000000;
  --mixin-NVX17G9UFrWB_font-weight: 700;
  --mixin-NVX17G9UFrWB_font-size: 64px;
  --mixin-NVX17G9UFrWB_line-height: 1;
  --mixin-NVX17G9UFrWB_letter-spacing: -1px;
  --mixin-NVX17G9UFrWB_white-space: pre-wrap;
  --mixin-Rin8wP0bxf3p_color: #000000;
  --mixin-Rin8wP0bxf3p_font-size: 48px;
  --mixin-Rin8wP0bxf3p_font-weight: 700;
  --mixin-Rin8wP0bxf3p_letter-spacing: -0.5px;
  --mixin-Rin8wP0bxf3p_line-height: 1.1;
  --mixin-Rin8wP0bxf3p_white-space: pre-wrap;
  --mixin-CB4ahNDdf0G1_color: #0070f3;
  --mixin-CB4ahNDdf0G1_white-space: pre-wrap;
  --mixin-OZSnrvBc0aDo_color: #000000;
  --mixin-OZSnrvBc0aDo_font-size: 32px;
  --mixin-OZSnrvBc0aDo_font-weight: 600;
  --mixin-OZSnrvBc0aDo_line-height: 1.2;
  --mixin-OZSnrvBc0aDo_white-space: pre-wrap;
  --mixin-yRcDQEjiGJ9r_color: #000000;
  --mixin-yRcDQEjiGJ9r_font-size: 24px;
  --mixin-yRcDQEjiGJ9r_font-weight: 600;
  --mixin-yRcDQEjiGJ9r_line-height: 1.3;
  --mixin-yRcDQEjiGJ9r_white-space: pre-wrap;
  --mixin-N2jGlUy5KNMH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-N2jGlUy5KNMH_border-bottom-color: #dddddd;
  --mixin-N2jGlUy5KNMH_border-bottom-style: solid;
  --mixin-N2jGlUy5KNMH_border-bottom-width: 1px;
  --mixin-N2jGlUy5KNMH_border-left-color: #dddddd;
  --mixin-N2jGlUy5KNMH_border-left-style: solid;
  --mixin-N2jGlUy5KNMH_border-left-width: 1px;
  --mixin-N2jGlUy5KNMH_border-right-color: #dddddd;
  --mixin-N2jGlUy5KNMH_border-right-style: solid;
  --mixin-N2jGlUy5KNMH_border-right-width: 1px;
  --mixin-N2jGlUy5KNMH_border-top-color: #dddddd;
  --mixin-N2jGlUy5KNMH_border-top-style: solid;
  --mixin-N2jGlUy5KNMH_border-top-width: 1px;
  --mixin-N2jGlUy5KNMH_border-bottom-left-radius: 3px;
  --mixin-N2jGlUy5KNMH_border-bottom-right-radius: 3px;
  --mixin-N2jGlUy5KNMH_border-top-left-radius: 3px;
  --mixin-N2jGlUy5KNMH_border-top-right-radius: 3px;
  --mixin-N2jGlUy5KNMH_font-family: "Inconsolata";
  --mixin-N2jGlUy5KNMH_padding-bottom: 1px;
  --mixin-N2jGlUy5KNMH_padding-left: 4px;
  --mixin-N2jGlUy5KNMH_padding-right: 4px;
  --mixin-N2jGlUy5KNMH_padding-top: 1px;
  --mixin-N2jGlUy5KNMH_white-space: pre-wrap;
  --mixin-EBh2jYvLClA9_border-left-color: #dddddd;
  --mixin-EBh2jYvLClA9_border-left-style: solid;
  --mixin-EBh2jYvLClA9_border-left-width: 3px;
  --mixin-EBh2jYvLClA9_color: #888888;
  --mixin-EBh2jYvLClA9_padding-left: 10px;
  --mixin-EBh2jYvLClA9_white-space: pre-wrap;
  --mixin-oWjN-yjaoUpf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-oWjN-yjaoUpf_border-bottom-color: #dddddd;
  --mixin-oWjN-yjaoUpf_border-bottom-style: solid;
  --mixin-oWjN-yjaoUpf_border-bottom-width: 1px;
  --mixin-oWjN-yjaoUpf_border-left-color: #dddddd;
  --mixin-oWjN-yjaoUpf_border-left-style: solid;
  --mixin-oWjN-yjaoUpf_border-left-width: 1px;
  --mixin-oWjN-yjaoUpf_border-right-color: #dddddd;
  --mixin-oWjN-yjaoUpf_border-right-style: solid;
  --mixin-oWjN-yjaoUpf_border-right-width: 1px;
  --mixin-oWjN-yjaoUpf_border-top-color: #dddddd;
  --mixin-oWjN-yjaoUpf_border-top-style: solid;
  --mixin-oWjN-yjaoUpf_border-top-width: 1px;
  --mixin-oWjN-yjaoUpf_border-bottom-left-radius: 3px;
  --mixin-oWjN-yjaoUpf_border-bottom-right-radius: 3px;
  --mixin-oWjN-yjaoUpf_border-top-left-radius: 3px;
  --mixin-oWjN-yjaoUpf_border-top-right-radius: 3px;
  --mixin-oWjN-yjaoUpf_font-family: "Inconsolata";
  --mixin-oWjN-yjaoUpf_padding-bottom: 3px;
  --mixin-oWjN-yjaoUpf_padding-left: 6px;
  --mixin-oWjN-yjaoUpf_padding-right: 6px;
  --mixin-oWjN-yjaoUpf_padding-top: 3px;
  --mixin-oWjN-yjaoUpf_white-space: pre-wrap;
  --mixin-DXa8SKfz7Tkg_display: flex;
  --mixin-DXa8SKfz7Tkg_flex-direction: column;
  --mixin-DXa8SKfz7Tkg_align-items: stretch;
  --mixin-DXa8SKfz7Tkg_justify-content: flex-start;
  --mixin-DXa8SKfz7Tkg_list-style-position: outside;
  --mixin-DXa8SKfz7Tkg_padding-left: 40px;
  --mixin-DXa8SKfz7Tkg_position: relative;
  --mixin-DXa8SKfz7Tkg_list-style-type: disc;
  --mixin-DXa8SKfz7Tkg_white-space: pre-wrap;
  --mixin-ybmbWIAeSdZ9_display: flex;
  --mixin-ybmbWIAeSdZ9_flex-direction: column;
  --mixin-ybmbWIAeSdZ9_align-items: stretch;
  --mixin-ybmbWIAeSdZ9_justify-content: flex-start;
  --mixin-ybmbWIAeSdZ9_list-style-position: outside;
  --mixin-ybmbWIAeSdZ9_padding-left: 40px;
  --mixin-ybmbWIAeSdZ9_position: relative;
  --mixin-ybmbWIAeSdZ9_list-style-type: decimal;
  --mixin-ybmbWIAeSdZ9_white-space: pre-wrap;
  --mixin-4I528-4n_6iQ_color: #000000;
  --mixin-4I528-4n_6iQ_font-size: 20px;
  --mixin-4I528-4n_6iQ_font-weight: 600;
  --mixin-4I528-4n_6iQ_line-height: 1.5;
  --mixin-4I528-4n_6iQ_white-space: pre-wrap;
  --mixin-1Wcy1I4Aiun4_color: #000000;
  --mixin-1Wcy1I4Aiun4_font-size: 16px;
  --mixin-1Wcy1I4Aiun4_font-weight: 600;
  --mixin-1Wcy1I4Aiun4_line-height: 1.5;
  --mixin-1Wcy1I4Aiun4_white-space: pre-wrap;
  --mixin-XOoT4dtcBkTb_color: #3291ff;
  --mixin-XOoT4dtcBkTb_white-space: pre-wrap;
  --mixin-KuRapmv4dinU_white-space: pre-wrap;
  --mixin-V-JzMJlevhRw_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-DMwLGgI5WOed_font-family);
  font-size: var(--mixin-DMwLGgI5WOed_font-size);
  font-weight: var(--mixin-DMwLGgI5WOed_font-weight);
  font-style: var(--mixin-DMwLGgI5WOed_font-style);
  color: var(--mixin-DMwLGgI5WOed_color);
  text-align: var(--mixin-DMwLGgI5WOed_text-align);
  text-transform: var(--mixin-DMwLGgI5WOed_text-transform);
  line-height: var(--mixin-DMwLGgI5WOed_line-height);
  letter-spacing: var(--mixin-DMwLGgI5WOed_letter-spacing);
  white-space: var(--mixin-DMwLGgI5WOed_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-NVX17G9UFrWB_color);
  font-weight: var(--mixin-NVX17G9UFrWB_font-weight);
  font-size: var(--mixin-NVX17G9UFrWB_font-size);
  line-height: var(--mixin-NVX17G9UFrWB_line-height);
  letter-spacing: var(--mixin-NVX17G9UFrWB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Rin8wP0bxf3p_color);
  font-size: var(--mixin-Rin8wP0bxf3p_font-size);
  font-weight: var(--mixin-Rin8wP0bxf3p_font-weight);
  letter-spacing: var(--mixin-Rin8wP0bxf3p_letter-spacing);
  line-height: var(--mixin-Rin8wP0bxf3p_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-CB4ahNDdf0G1_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-OZSnrvBc0aDo_color);
  font-size: var(--mixin-OZSnrvBc0aDo_font-size);
  font-weight: var(--mixin-OZSnrvBc0aDo_font-weight);
  line-height: var(--mixin-OZSnrvBc0aDo_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-yRcDQEjiGJ9r_color);
  font-size: var(--mixin-yRcDQEjiGJ9r_font-size);
  font-weight: var(--mixin-yRcDQEjiGJ9r_font-weight);
  line-height: var(--mixin-yRcDQEjiGJ9r_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-N2jGlUy5KNMH_font-family);
  border-radius: var(--mixin-N2jGlUy5KNMH_border-top-left-radius)
    var(--mixin-N2jGlUy5KNMH_border-top-right-radius)
    var(--mixin-N2jGlUy5KNMH_border-bottom-right-radius)
    var(--mixin-N2jGlUy5KNMH_border-bottom-left-radius);
  padding: var(--mixin-N2jGlUy5KNMH_padding-top)
    var(--mixin-N2jGlUy5KNMH_padding-right)
    var(--mixin-N2jGlUy5KNMH_padding-bottom)
    var(--mixin-N2jGlUy5KNMH_padding-left);
  border-top: var(--mixin-N2jGlUy5KNMH_border-top-width)
    var(--mixin-N2jGlUy5KNMH_border-top-style)
    var(--mixin-N2jGlUy5KNMH_border-top-color);
  border-right: var(--mixin-N2jGlUy5KNMH_border-right-width)
    var(--mixin-N2jGlUy5KNMH_border-right-style)
    var(--mixin-N2jGlUy5KNMH_border-right-color);
  border-bottom: var(--mixin-N2jGlUy5KNMH_border-bottom-width)
    var(--mixin-N2jGlUy5KNMH_border-bottom-style)
    var(--mixin-N2jGlUy5KNMH_border-bottom-color);
  border-left: var(--mixin-N2jGlUy5KNMH_border-left-width)
    var(--mixin-N2jGlUy5KNMH_border-left-style)
    var(--mixin-N2jGlUy5KNMH_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EBh2jYvLClA9_color);
  padding-left: var(--mixin-EBh2jYvLClA9_padding-left);
  border-left: var(--mixin-EBh2jYvLClA9_border-left-width)
    var(--mixin-EBh2jYvLClA9_border-left-style)
    var(--mixin-EBh2jYvLClA9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-oWjN-yjaoUpf_font-family);
  border-radius: var(--mixin-oWjN-yjaoUpf_border-top-left-radius)
    var(--mixin-oWjN-yjaoUpf_border-top-right-radius)
    var(--mixin-oWjN-yjaoUpf_border-bottom-right-radius)
    var(--mixin-oWjN-yjaoUpf_border-bottom-left-radius);
  padding: var(--mixin-oWjN-yjaoUpf_padding-top)
    var(--mixin-oWjN-yjaoUpf_padding-right)
    var(--mixin-oWjN-yjaoUpf_padding-bottom)
    var(--mixin-oWjN-yjaoUpf_padding-left);
  border-top: var(--mixin-oWjN-yjaoUpf_border-top-width)
    var(--mixin-oWjN-yjaoUpf_border-top-style)
    var(--mixin-oWjN-yjaoUpf_border-top-color);
  border-right: var(--mixin-oWjN-yjaoUpf_border-right-width)
    var(--mixin-oWjN-yjaoUpf_border-right-style)
    var(--mixin-oWjN-yjaoUpf_border-right-color);
  border-bottom: var(--mixin-oWjN-yjaoUpf_border-bottom-width)
    var(--mixin-oWjN-yjaoUpf_border-bottom-style)
    var(--mixin-oWjN-yjaoUpf_border-bottom-color);
  border-left: var(--mixin-oWjN-yjaoUpf_border-left-width)
    var(--mixin-oWjN-yjaoUpf_border-left-style)
    var(--mixin-oWjN-yjaoUpf_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-DXa8SKfz7Tkg_display);
  flex-direction: var(--mixin-DXa8SKfz7Tkg_flex-direction);
  align-items: var(--mixin-DXa8SKfz7Tkg_align-items);
  justify-content: var(--mixin-DXa8SKfz7Tkg_justify-content);
  list-style-position: var(--mixin-DXa8SKfz7Tkg_list-style-position);
  padding-left: var(--mixin-DXa8SKfz7Tkg_padding-left);
  position: var(--mixin-DXa8SKfz7Tkg_position);
  list-style-type: var(--mixin-DXa8SKfz7Tkg_list-style-type);
  flex-column-gap: var(--mixin-DXa8SKfz7Tkg_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ybmbWIAeSdZ9_display);
  flex-direction: var(--mixin-ybmbWIAeSdZ9_flex-direction);
  align-items: var(--mixin-ybmbWIAeSdZ9_align-items);
  justify-content: var(--mixin-ybmbWIAeSdZ9_justify-content);
  list-style-position: var(--mixin-ybmbWIAeSdZ9_list-style-position);
  padding-left: var(--mixin-ybmbWIAeSdZ9_padding-left);
  position: var(--mixin-ybmbWIAeSdZ9_position);
  list-style-type: var(--mixin-ybmbWIAeSdZ9_list-style-type);
  flex-column-gap: var(--mixin-ybmbWIAeSdZ9_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-4I528-4n_6iQ_color);
  font-size: var(--mixin-4I528-4n_6iQ_font-size);
  font-weight: var(--mixin-4I528-4n_6iQ_font-weight);
  line-height: var(--mixin-4I528-4n_6iQ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-1Wcy1I4Aiun4_color);
  font-size: var(--mixin-1Wcy1I4Aiun4_font-size);
  font-weight: var(--mixin-1Wcy1I4Aiun4_font-weight);
  line-height: var(--mixin-1Wcy1I4Aiun4_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-XOoT4dtcBkTb_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
