.root {
  display: flex;
  flex-direction: row;
  background: var(--token-CqgpETt_s0FB);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  position: relative;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: var(--token-2ZAXwvNudO1R);
  padding: var(--token-QwLgYEOngWyA) var(--token-bIGLfKp9gfQK);
  border: 0px solid var(--token-2PxS9uOmpJtG);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-yx1w5QKNlcSh));
  width: calc(100% + var(--token-yx1w5QKNlcSh));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-yx1w5QKNlcSh);
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  min-width: 100px;
  border-radius: var(--token-oFS7bSmtERNT);
}
.rootshape_round {
  border-radius: var(--token-VCZjlqRGZ8gN);
  padding: var(--token-O7wpGwaq2Tus) var(--token-oBelxM-j41cD);
}
.rootshape_sharp {
  border-radius: var(--token-nkMdPNQk5hLB);
}
.rootsize_sm {
  padding: var(--token-1zgAc5NcAAV2) var(--token-oBelxM-j41cD);
}
.rootsize_md {
  padding: var(--token-QwLgYEOngWyA) var(--token-bIGLfKp9gfQK);
}
.rootsize_lg {
  padding: var(--token-Rkgxx9SXWS0V) var(--token-FyZSyQ-mJauc);
}
.rootsize_xl {
  padding: var(--token-O7wpGwaq2Tus) var(--token-0KSemMVN-q5Y);
}
.rootbackground_primary {
  background: var(--token-JG4JZbt-YrRV);
}
.rootbackground_secondary {
  background: var(--token-wHlWaql4CCLU);
}
.rootbackground_tertiary {
  background: var(--token-HBLBtyoMqWFA);
}
.rootbackground_destructive {
  background: var(--token--PHB9gzBIZpT);
}
.rootbackground_action {
  background: var(--token-jWwfiQsxNPd-);
}
.rootemphasis_subtle {
  background: var(--token-B1kSDB6XpDES);
  border-width: 1px;
  border-color: var(--token-2PxS9uOmpJtG);
}
.rootemphasis_minimal {
  background: var(--token-7paqYGMcinZd);
}
.rootemphasis_clear {
  background: none;
}
.rootforeground_primary {
  border-color: var(--token-FPx9bnMEPsOk);
}
.rootforeground_secondary {
  border-color: var(--token-KxuxOQYbpvQU);
}
.root:hover {
  background: linear-gradient(
      var(--token-3VkZAC7SK5D1),
      var(--token-3VkZAC7SK5D1)
    ),
    var(--token-CqgpETt_s0FB);
}
.root:focus-within {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.root:active {
  background: linear-gradient(
      var(--token-Y2XNG-EPggPE),
      var(--token-Y2XNG-EPggPE)
    ),
    var(--token-CqgpETt_s0FB);
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.startIconContainershowStartIcon {
  display: flex;
}
.startIconContainericonOnly {
  display: flex;
}
.slotTargetStartIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconemphasis_subtle {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconemphasis_minimal {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconemphasis_clear {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconforeground_primary {
  color: var(--token-4Rk8McbiF71C);
}
.slotTargetStartIconforeground_secondary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetStartIconforeground_tertiary {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetStartIconforeground_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetStartIconforeground_action {
  color: var(--token-9yW6jetbzSV8);
}
.rootemphasis_subtle:hover .slotTargetStartIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:hover .slotTargetStartIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_subtle:active .slotTargetStartIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:active .slotTargetStartIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.svg__hQmMj {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-u5mO1w3_pCt1);
  font-weight: 500;
  white-space: pre;
  font-size: var(--token-zaeTmMYET_aN);
}
.slotTargetChildrenbackground_secondary {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_tertiary {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_destructive {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_action {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenemphasis_subtle {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenemphasis_minimal {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenemphasis_clear {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenforeground_primary {
  color: var(--token-WLBAYClhTigc);
}
.slotTargetChildrenforeground_secondary {
  color: var(--token-57f0yhmVV6C6);
}
.slotTargetChildrenforeground_tertiary {
  color: var(--token-3HkJ21bcIwF2);
}
.slotTargetChildrenforeground_destructive {
  color: var(--token-nqGJiF96z8hF);
}
.slotTargetChildrenforeground_action {
  color: var(--token-EVta4tF-m8aY);
}
.rootemphasis_subtle:hover .slotTargetChildrenemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:hover .slotTargetChildrenemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_subtle:active .slotTargetChildrenemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:active .slotTargetChildrenemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconemphasis_subtle {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconemphasis_minimal {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconemphasis_clear {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconforeground_primary {
  color: var(--token-4Rk8McbiF71C);
}
.slotTargetEndIconforeground_secondary {
  color: var(--token-vnD5D4mJTV_K);
}
.slotTargetEndIconforeground_tertiary {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetEndIconforeground_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIconforeground_action {
  color: var(--token-9yW6jetbzSV8);
}
.rootemphasis_subtle:hover .slotTargetEndIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:hover .slotTargetEndIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_subtle:active .slotTargetEndIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.rootemphasis_minimal:active .slotTargetEndIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.svg__lYvJ2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
