@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-dTcBpJHIMj6d: var(--token-pk_1Z9QFM4r7);
  --plasmic-token-subheadline-text-color-primary: var(--token-dTcBpJHIMj6d);
  --token-8yizAcn1pTWS: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-subheadline-text-color-secondary: var(--token-8yizAcn1pTWS);
  --token-Z5ct7z4nTxQa: var(--token-kIiIOw_bUl8D);
  --plasmic-token-subheadline-text-color-helper: var(--token-Z5ct7z4nTxQa);
  --token-05jwyZEIarFh: var(--token-lWEO2ZudSDrD);
  --plasmic-token-subheadline-text-color-on-color: var(--token-05jwyZEIarFh);
  --token-f2rQZCeI72r0: var(--token-Bus8cwXd8WG7);
  --plasmic-token-subheadline-text-color-disabled: var(--token-f2rQZCeI72r0);
  --token-JaUcd8EsmcW-: var(--token-IY7haS73fBUX);
  --plasmic-token-subheadline-text-color-error: var(--token-JaUcd8EsmcW-);
  --token-qXdUiLpgaZ40: var(--token-pmmltM-TYoqS);
  --plasmic-token-subheadline-text-color-information: var(--token-qXdUiLpgaZ40);
  --token-g5QsaB9i9JMt: var(--token-aob4eJ7jGN8F);
  --plasmic-token-subheadline-text-color-success: var(--token-g5QsaB9i9JMt);
  --token-v-2NtAmCSv7g: var(--token-1nsZ9eFjcPqQ);
  --plasmic-token-subheadline-text-color-theme-main: var(--token-v-2NtAmCSv7g);
  --token-drGPo0nCk4jH: var(--token-ELMZ4I9cKBM1);
  --plasmic-token-subheadline-text-color-theme-ancillary: var(
    --token-drGPo0nCk4jH
  );
  --token-pLWeHLHOwGVt: var(--token-18ML8UJB4uG-);
  --plasmic-token-subheadline-text-color-theme-standard: var(
    --token-pLWeHLHOwGVt
  );
  --token-TKLrwITVzrsg: var(--token-3hRiRQ6Lj9le);
  --plasmic-token-subheadline-size-sm: var(--token-TKLrwITVzrsg);
  --token-53NvPz6vkIr5: var(--token-eU71-XZSTeNn);
  --plasmic-token-subheadline-size-md: var(--token-53NvPz6vkIr5);
  --token-Ok_cYihMYY97: var(--token-GBnIhWNMzLiI);
  --plasmic-token-subheadline-line-height-sm: var(--token-Ok_cYihMYY97);
  --token-ERDuB9vgQLsD: var(--token-rXe-me5Dhyf0);
  --plasmic-token-headline-font-family-primary: var(--token-ERDuB9vgQLsD);
  --token-Npui-fmz_i5y: var(--token-S0oQw7ldxD8U);
  --plasmic-token-headline-font-family-emphasis: var(--token-Npui-fmz_i5y);
  --token-buUbSUawU3C7: var(--token-ievpyAjbeNbB);
  --plasmic-token-subheadline-size-lg: var(--token-buUbSUawU3C7);
  --token-rtTziXEVl28M: var(--token-IFo4m96bzTC-);
  --plasmic-token-subheadline-line-height-md: var(--token-rtTziXEVl28M);
  --token-m4oJb1Fzl5Gr: var(--token-8EeNaM011TxK);
  --plasmic-token-subheadline-line-height-lg: var(--token-m4oJb1Fzl5Gr);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-fBUz69OLBPL0_text-decoration-line: none;
  --mixin-fBUz69OLBPL0_text-overflow: clip;
  --mixin-fBUz69OLBPL0_user-select: text;
  --mixin-fBUz69OLBPL0_white-space: pre-wrap;
  --mixin-fBUz69OLBPL0_letter-spacing: normal;
  --mixin-fBUz69OLBPL0_line-height: 20px;
  --mixin-fBUz69OLBPL0_text-transform: none;
  --mixin-fBUz69OLBPL0_text-align: left;
  --mixin-fBUz69OLBPL0_color: #1c2b36;
  --mixin-fBUz69OLBPL0_font-style: normal;
  --mixin-fBUz69OLBPL0_font-weight: 400;
  --mixin-fBUz69OLBPL0_font-size: 16px;
  --mixin-fBUz69OLBPL0_font-family: "Source Sans Pro", sans-serif;
  --mixin-sNcfrmifHADx_color: #1c2b36;
  --mixin-sNcfrmifHADx_font-weight: 700;
  --mixin-sNcfrmifHADx_font-size: 48px;
  --mixin-sNcfrmifHADx_line-height: 64px;
  --mixin-sNcfrmifHADx_letter-spacing: -1px;
  --mixin-sNcfrmifHADx_font-family: "Merriweather", serif;
  --mixin-sNcfrmifHADx_white-space: pre-wrap;
  --mixin-l3K_2uHkxXtw_color: #1c2b36;
  --mixin-l3K_2uHkxXtw_font-size: 42px;
  --mixin-l3K_2uHkxXtw_font-weight: 700;
  --mixin-l3K_2uHkxXtw_letter-spacing: -0.5px;
  --mixin-l3K_2uHkxXtw_line-height: 50px;
  --mixin-l3K_2uHkxXtw_font-family: "Merriweather", serif;
  --mixin-l3K_2uHkxXtw_white-space: pre-wrap;
  --mixin-tHpvDy9EkJbg_color: #0070f3;
  --mixin-tHpvDy9EkJbg_white-space: pre-wrap;
  --mixin-Q536K_vogDbc_color: #1c2b36;
  --mixin-Q536K_vogDbc_font-size: 36px;
  --mixin-Q536K_vogDbc_font-weight: 600;
  --mixin-Q536K_vogDbc_line-height: 40px;
  --mixin-Q536K_vogDbc_font-family: "Merriweather", serif;
  --mixin-Q536K_vogDbc_white-space: pre-wrap;
  --mixin-rcLmRN3rDYxk_color: #1c2b36;
  --mixin-rcLmRN3rDYxk_font-size: 32px;
  --mixin-rcLmRN3rDYxk_font-weight: 600;
  --mixin-rcLmRN3rDYxk_line-height: 36px;
  --mixin-rcLmRN3rDYxk_font-family: "Merriweather", serif;
  --mixin-rcLmRN3rDYxk_white-space: pre-wrap;
  --mixin-Pmh5WPoP4nYf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Pmh5WPoP4nYf_border-bottom-color: #dddddd;
  --mixin-Pmh5WPoP4nYf_border-bottom-style: solid;
  --mixin-Pmh5WPoP4nYf_border-bottom-width: 1px;
  --mixin-Pmh5WPoP4nYf_border-left-color: #dddddd;
  --mixin-Pmh5WPoP4nYf_border-left-style: solid;
  --mixin-Pmh5WPoP4nYf_border-left-width: 1px;
  --mixin-Pmh5WPoP4nYf_border-right-color: #dddddd;
  --mixin-Pmh5WPoP4nYf_border-right-style: solid;
  --mixin-Pmh5WPoP4nYf_border-right-width: 1px;
  --mixin-Pmh5WPoP4nYf_border-top-color: #dddddd;
  --mixin-Pmh5WPoP4nYf_border-top-style: solid;
  --mixin-Pmh5WPoP4nYf_border-top-width: 1px;
  --mixin-Pmh5WPoP4nYf_border-bottom-left-radius: 3px;
  --mixin-Pmh5WPoP4nYf_border-bottom-right-radius: 3px;
  --mixin-Pmh5WPoP4nYf_border-top-left-radius: 3px;
  --mixin-Pmh5WPoP4nYf_border-top-right-radius: 3px;
  --mixin-Pmh5WPoP4nYf_font-family: "Inconsolata";
  --mixin-Pmh5WPoP4nYf_padding-bottom: 1px;
  --mixin-Pmh5WPoP4nYf_padding-left: 4px;
  --mixin-Pmh5WPoP4nYf_padding-right: 4px;
  --mixin-Pmh5WPoP4nYf_padding-top: 1px;
  --mixin-Pmh5WPoP4nYf_white-space: pre-wrap;
  --mixin-GQAEATgu6P_n_border-left-color: #dddddd;
  --mixin-GQAEATgu6P_n_border-left-style: solid;
  --mixin-GQAEATgu6P_n_border-left-width: 3px;
  --mixin-GQAEATgu6P_n_color: #888888;
  --mixin-GQAEATgu6P_n_padding-left: 10px;
  --mixin-GQAEATgu6P_n_white-space: pre-wrap;
  --mixin--T2a3uXQO1hn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--T2a3uXQO1hn_border-bottom-color: #dddddd;
  --mixin--T2a3uXQO1hn_border-bottom-style: solid;
  --mixin--T2a3uXQO1hn_border-bottom-width: 1px;
  --mixin--T2a3uXQO1hn_border-left-color: #dddddd;
  --mixin--T2a3uXQO1hn_border-left-style: solid;
  --mixin--T2a3uXQO1hn_border-left-width: 1px;
  --mixin--T2a3uXQO1hn_border-right-color: #dddddd;
  --mixin--T2a3uXQO1hn_border-right-style: solid;
  --mixin--T2a3uXQO1hn_border-right-width: 1px;
  --mixin--T2a3uXQO1hn_border-top-color: #dddddd;
  --mixin--T2a3uXQO1hn_border-top-style: solid;
  --mixin--T2a3uXQO1hn_border-top-width: 1px;
  --mixin--T2a3uXQO1hn_border-bottom-left-radius: 3px;
  --mixin--T2a3uXQO1hn_border-bottom-right-radius: 3px;
  --mixin--T2a3uXQO1hn_border-top-left-radius: 3px;
  --mixin--T2a3uXQO1hn_border-top-right-radius: 3px;
  --mixin--T2a3uXQO1hn_font-family: "Inconsolata";
  --mixin--T2a3uXQO1hn_padding-bottom: 3px;
  --mixin--T2a3uXQO1hn_padding-left: 6px;
  --mixin--T2a3uXQO1hn_padding-right: 6px;
  --mixin--T2a3uXQO1hn_padding-top: 3px;
  --mixin--T2a3uXQO1hn_white-space: pre-wrap;
  --mixin-8OM48QqbEdoZ_display: flex;
  --mixin-8OM48QqbEdoZ_flex-direction: column;
  --mixin-8OM48QqbEdoZ_align-items: stretch;
  --mixin-8OM48QqbEdoZ_justify-content: flex-start;
  --mixin-8OM48QqbEdoZ_list-style-position: outside;
  --mixin-8OM48QqbEdoZ_padding-left: 40px;
  --mixin-8OM48QqbEdoZ_position: relative;
  --mixin-8OM48QqbEdoZ_list-style-type: disc;
  --mixin-8OM48QqbEdoZ_white-space: pre-wrap;
  --mixin-ZHoC0jeyFdI__display: flex;
  --mixin-ZHoC0jeyFdI__flex-direction: column;
  --mixin-ZHoC0jeyFdI__align-items: stretch;
  --mixin-ZHoC0jeyFdI__justify-content: flex-start;
  --mixin-ZHoC0jeyFdI__list-style-position: outside;
  --mixin-ZHoC0jeyFdI__padding-left: 40px;
  --mixin-ZHoC0jeyFdI__position: relative;
  --mixin-ZHoC0jeyFdI__list-style-type: decimal;
  --mixin-ZHoC0jeyFdI__white-space: pre-wrap;
  --mixin-WNxAz3O9wxDq_color: #1c2b36;
  --mixin-WNxAz3O9wxDq_font-size: 28px;
  --mixin-WNxAz3O9wxDq_font-weight: 600;
  --mixin-WNxAz3O9wxDq_line-height: 28px;
  --mixin-WNxAz3O9wxDq_font-family: "Merriweather", serif;
  --mixin-WNxAz3O9wxDq_white-space: pre-wrap;
  --mixin-om3vbo0CyDN6_color: #1c2b36;
  --mixin-om3vbo0CyDN6_font-size: 24px;
  --mixin-om3vbo0CyDN6_font-weight: 600;
  --mixin-om3vbo0CyDN6_line-height: 24px;
  --mixin-om3vbo0CyDN6_font-family: "Merriweather", serif;
  --mixin-om3vbo0CyDN6_white-space: pre-wrap;
  --mixin-DEZP4hpIQCU1_color: #3291ff;
  --mixin-DEZP4hpIQCU1_white-space: pre-wrap;
  --mixin-NO7jEiVmcOML_white-space: pre-wrap;
  --mixin-d1xc8y2FoVZU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-fBUz69OLBPL0_font-family);
  font-size: var(--mixin-fBUz69OLBPL0_font-size);
  font-weight: var(--mixin-fBUz69OLBPL0_font-weight);
  font-style: var(--mixin-fBUz69OLBPL0_font-style);
  color: var(--mixin-fBUz69OLBPL0_color);
  text-align: var(--mixin-fBUz69OLBPL0_text-align);
  text-transform: var(--mixin-fBUz69OLBPL0_text-transform);
  line-height: var(--mixin-fBUz69OLBPL0_line-height);
  letter-spacing: var(--mixin-fBUz69OLBPL0_letter-spacing);
  white-space: var(--mixin-fBUz69OLBPL0_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-sNcfrmifHADx_color);
  font-weight: var(--mixin-sNcfrmifHADx_font-weight);
  font-size: var(--mixin-sNcfrmifHADx_font-size);
  line-height: var(--mixin-sNcfrmifHADx_line-height);
  letter-spacing: var(--mixin-sNcfrmifHADx_letter-spacing);
  font-family: var(--mixin-sNcfrmifHADx_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-l3K_2uHkxXtw_color);
  font-size: var(--mixin-l3K_2uHkxXtw_font-size);
  font-weight: var(--mixin-l3K_2uHkxXtw_font-weight);
  letter-spacing: var(--mixin-l3K_2uHkxXtw_letter-spacing);
  line-height: var(--mixin-l3K_2uHkxXtw_line-height);
  font-family: var(--mixin-l3K_2uHkxXtw_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-tHpvDy9EkJbg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Q536K_vogDbc_color);
  font-size: var(--mixin-Q536K_vogDbc_font-size);
  font-weight: var(--mixin-Q536K_vogDbc_font-weight);
  line-height: var(--mixin-Q536K_vogDbc_line-height);
  font-family: var(--mixin-Q536K_vogDbc_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-rcLmRN3rDYxk_color);
  font-size: var(--mixin-rcLmRN3rDYxk_font-size);
  font-weight: var(--mixin-rcLmRN3rDYxk_font-weight);
  line-height: var(--mixin-rcLmRN3rDYxk_line-height);
  font-family: var(--mixin-rcLmRN3rDYxk_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Pmh5WPoP4nYf_font-family);
  border-radius: var(--mixin-Pmh5WPoP4nYf_border-top-left-radius)
    var(--mixin-Pmh5WPoP4nYf_border-top-right-radius)
    var(--mixin-Pmh5WPoP4nYf_border-bottom-right-radius)
    var(--mixin-Pmh5WPoP4nYf_border-bottom-left-radius);
  padding: var(--mixin-Pmh5WPoP4nYf_padding-top)
    var(--mixin-Pmh5WPoP4nYf_padding-right)
    var(--mixin-Pmh5WPoP4nYf_padding-bottom)
    var(--mixin-Pmh5WPoP4nYf_padding-left);
  border-top: var(--mixin-Pmh5WPoP4nYf_border-top-width)
    var(--mixin-Pmh5WPoP4nYf_border-top-style)
    var(--mixin-Pmh5WPoP4nYf_border-top-color);
  border-right: var(--mixin-Pmh5WPoP4nYf_border-right-width)
    var(--mixin-Pmh5WPoP4nYf_border-right-style)
    var(--mixin-Pmh5WPoP4nYf_border-right-color);
  border-bottom: var(--mixin-Pmh5WPoP4nYf_border-bottom-width)
    var(--mixin-Pmh5WPoP4nYf_border-bottom-style)
    var(--mixin-Pmh5WPoP4nYf_border-bottom-color);
  border-left: var(--mixin-Pmh5WPoP4nYf_border-left-width)
    var(--mixin-Pmh5WPoP4nYf_border-left-style)
    var(--mixin-Pmh5WPoP4nYf_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GQAEATgu6P_n_color);
  padding-left: var(--mixin-GQAEATgu6P_n_padding-left);
  border-left: var(--mixin-GQAEATgu6P_n_border-left-width)
    var(--mixin-GQAEATgu6P_n_border-left-style)
    var(--mixin-GQAEATgu6P_n_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--T2a3uXQO1hn_font-family);
  border-radius: var(--mixin--T2a3uXQO1hn_border-top-left-radius)
    var(--mixin--T2a3uXQO1hn_border-top-right-radius)
    var(--mixin--T2a3uXQO1hn_border-bottom-right-radius)
    var(--mixin--T2a3uXQO1hn_border-bottom-left-radius);
  padding: var(--mixin--T2a3uXQO1hn_padding-top)
    var(--mixin--T2a3uXQO1hn_padding-right)
    var(--mixin--T2a3uXQO1hn_padding-bottom)
    var(--mixin--T2a3uXQO1hn_padding-left);
  border-top: var(--mixin--T2a3uXQO1hn_border-top-width)
    var(--mixin--T2a3uXQO1hn_border-top-style)
    var(--mixin--T2a3uXQO1hn_border-top-color);
  border-right: var(--mixin--T2a3uXQO1hn_border-right-width)
    var(--mixin--T2a3uXQO1hn_border-right-style)
    var(--mixin--T2a3uXQO1hn_border-right-color);
  border-bottom: var(--mixin--T2a3uXQO1hn_border-bottom-width)
    var(--mixin--T2a3uXQO1hn_border-bottom-style)
    var(--mixin--T2a3uXQO1hn_border-bottom-color);
  border-left: var(--mixin--T2a3uXQO1hn_border-left-width)
    var(--mixin--T2a3uXQO1hn_border-left-style)
    var(--mixin--T2a3uXQO1hn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-8OM48QqbEdoZ_display);
  flex-direction: var(--mixin-8OM48QqbEdoZ_flex-direction);
  align-items: var(--mixin-8OM48QqbEdoZ_align-items);
  justify-content: var(--mixin-8OM48QqbEdoZ_justify-content);
  list-style-position: var(--mixin-8OM48QqbEdoZ_list-style-position);
  padding-left: var(--mixin-8OM48QqbEdoZ_padding-left);
  position: var(--mixin-8OM48QqbEdoZ_position);
  list-style-type: var(--mixin-8OM48QqbEdoZ_list-style-type);
  flex-column-gap: var(--mixin-8OM48QqbEdoZ_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ZHoC0jeyFdI__display);
  flex-direction: var(--mixin-ZHoC0jeyFdI__flex-direction);
  align-items: var(--mixin-ZHoC0jeyFdI__align-items);
  justify-content: var(--mixin-ZHoC0jeyFdI__justify-content);
  list-style-position: var(--mixin-ZHoC0jeyFdI__list-style-position);
  padding-left: var(--mixin-ZHoC0jeyFdI__padding-left);
  position: var(--mixin-ZHoC0jeyFdI__position);
  list-style-type: var(--mixin-ZHoC0jeyFdI__list-style-type);
  flex-column-gap: var(--mixin-ZHoC0jeyFdI__flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-WNxAz3O9wxDq_color);
  font-size: var(--mixin-WNxAz3O9wxDq_font-size);
  font-weight: var(--mixin-WNxAz3O9wxDq_font-weight);
  line-height: var(--mixin-WNxAz3O9wxDq_line-height);
  font-family: var(--mixin-WNxAz3O9wxDq_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-om3vbo0CyDN6_color);
  font-size: var(--mixin-om3vbo0CyDN6_font-size);
  font-weight: var(--mixin-om3vbo0CyDN6_font-weight);
  line-height: var(--mixin-om3vbo0CyDN6_line-height);
  font-family: var(--mixin-om3vbo0CyDN6_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-DEZP4hpIQCU1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
