@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-3rv4435RHfyU: var(--token-60q15gbK5t2P);
  --plasmic-token-checkbox-label-fontsize-sm: var(--token-3rv4435RHfyU);
  --token-hdNIzqDX9WUw: var(--token-nzhJo5rxzpC3);
  --plasmic-token-checkbox-label-fontsize-md: var(--token-hdNIzqDX9WUw);
  --token-lvjjbWNOwpCq: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-track-background-off: var(--token-lvjjbWNOwpCq);
  --token-vzOdAz2E3458: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-track-border-off: var(--token-vzOdAz2E3458);
  --token--8k1qyhj6xol: var(--token-2AiSuX3qcmlO);
  --plasmic-token-switch-color-handle-surface-off: var(--token--8k1qyhj6xol);
  --token-T3qzSOEy13fn: var(--token-67OlAgZoyMMH);
  --plasmic-token-switch-color-handle-border-off: var(--token-T3qzSOEy13fn);
  --token-p7RqZGWog3u_: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-switch-color-label-text-off: var(--token-p7RqZGWog3u_);
  --token-pFTK6gurRko9: var(--token-1CRbvGlg6ewu);
  --plasmic-token-switch-color-track-hover-off-background: var(
    --token-pFTK6gurRko9
  );
  --token-JB8sSC9OFLZP: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-handle-hover-border-off: var(
    --token-JB8sSC9OFLZP
  );
  --token-Pgx4xfOUs-8v: var(--token-2AiSuX3qcmlO);
  --plasmic-token-switch-color-handle-hover-surface-off: var(
    --token-Pgx4xfOUs-8v
  );
  --token-NYAqeou0WKHv: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-switch-color-label-hover-text-off: var(--token-NYAqeou0WKHv);
  --token-vXHV-SO16tNQ: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-switch-color-label-focus-text-off: var(--token-vXHV-SO16tNQ);
  --token-vCJY_kscFNjX: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-track-focus-background-off: var(
    --token-vCJY_kscFNjX
  );
  --token-0zq9erD7xMdL: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-track-focus-border-off: var(
    --token-0zq9erD7xMdL
  );
  --token-kANVII0Zjh9O: var(--token-L5Jm3kgWukCd);
  --plasmic-token-switch-color-track-outline-focus-unchecked: var(
    --token-kANVII0Zjh9O
  );
  --token-Ke67RgY5MnLf: var(--token-2AiSuX3qcmlO);
  --plasmic-token-switch-color-handle-focus-surface-off: var(
    --token-Ke67RgY5MnLf
  );
  --token-xTepea-YUQkd: var(--token-67OlAgZoyMMH);
  --plasmic-token-switch-color-handle-focus-border-off: var(
    --token-xTepea-YUQkd
  );
  --token-WUl3RqN9JOwK: var(--token-Lg_D8lDOPdk9);
  --plasmic-token-switch-color-label-active-text-off: var(--token-WUl3RqN9JOwK);
  --token-XPmrDzAM-hPg: var(--token-Ot9tdOY-wz83);
  --plasmic-token-switch-color-track-active-background-off: var(
    --token-XPmrDzAM-hPg
  );
  --token-d7sm9_GxSkPX: var(--token-Ot9tdOY-wz83);
  --plasmic-token-switch-color-track-active-border-off: var(
    --token-d7sm9_GxSkPX
  );
  --token-4WgexPUKjqHd: var(--token-2AiSuX3qcmlO);
  --plasmic-token-switch-color-handle-active-surface-off: var(
    --token-4WgexPUKjqHd
  );
  --token-q9b2H7KGs0Rb: var(--token-rHSGjpMup-Oe);
  --plasmic-token-switch-color-handle-active-border-off: var(
    --token-q9b2H7KGs0Rb
  );
  --token-GeXPU6lThbJV: var(--token-usnHGrPMOGMj);
  --plasmic-token-switch-height-track-md: var(--token-GeXPU6lThbJV);
  --token-sKDlPlxCf5Nc: var(--token-QyJYVQWEE7rW);
  --plasmic-token-switch-height-handle-md: var(--token-sKDlPlxCf5Nc);
  --token-CVdCYXnaTfF1: var(--token-QyJYVQWEE7rW);
  --plasmic-token-switch-width-handle-md: var(--token-CVdCYXnaTfF1);
  --token-Vvp1HkUD7yOu: var(--token-fVo-pYycvfHw);
  --plasmic-token-switch-width-track: var(--token-Vvp1HkUD7yOu);
  --token-HoqjpSK2B0wv: var(--token-Q-gGCJ6oVD1i);
  --plasmic-token-switch-radius-track: var(--token-HoqjpSK2B0wv);
  --token-I3YUUrsSXvHC: var(--token-2RB-LlABK1rQ);
  --plasmic-token-switch-radius-handle: var(--token-I3YUUrsSXvHC);
  --token-GyWWlc4uvFoE: var(--token-k5qyuiDMeumm);
  --plasmic-token-switch-color-handle-border-on: var(--token-GyWWlc4uvFoE);
  --token-O9icv3zTilBT: var(--token-ikGwwJXF58sD);
  --plasmic-token-switch-color-handle-surface-on-action: var(
    --token-O9icv3zTilBT
  );
  --token-frm9Ydm9EB_b: var(--token-RjcxKMo-axWF);
  --plasmic-token-switch-gap-md: var(--token-frm9Ydm9EB_b);
  --token-mV1BcIv_TgAR: var(--token-XxUsrtwwicvG);
  --plasmic-token-switch-height-handle-sm: var(--token-mV1BcIv_TgAR);
  --token--miqJDk85LJ9: var(--token-XxUsrtwwicvG);
  --plasmic-token-switch-width-handle-sm: var(--token--miqJDk85LJ9);
  --token-8_HxAcC33ONE: var(--token-QyJYVQWEE7rW);
  --plasmic-token-switch-height-track-sm: var(--token-8_HxAcC33ONE);
  --token-4s0d0UcjstSB: var(--token-nzhJo5rxzpC3);
  --plasmic-token-switch-label-fontsize-md: var(--token-4s0d0UcjstSB);
  --token-nIQuwTRU2Nx9: var(--token-60q15gbK5t2P);
  --plasmic-token-switch-label-fontsize-sm: var(--token-nIQuwTRU2Nx9);
  --token-z7rmylLdVzZ4: var(--token-usnHGrPMOGMj);
  --plasmic-token-switch-height-handle-lg: var(--token-z7rmylLdVzZ4);
  --token-5zr1ZrdGP5e1: var(--token-8iVFLi0hCwtt);
  --plasmic-token-switch-height-track-lg: var(--token-5zr1ZrdGP5e1);
  --token-1ExCA7918UEk: var(--token-usnHGrPMOGMj);
  --plasmic-token-switch-width-handle-lg: var(--token-1ExCA7918UEk);
  --token--GWiD7IZqDdD: var(--token-60q15gbK5t2P);
  --plasmic-token-dropdown-placeholder-fontsize-md: var(--token--GWiD7IZqDdD);
  --token-67OlAgZoyMMH: #9fb1bd;
  --plasmic-token-semantic-color-general-surface-bold: var(
    --token-67OlAgZoyMMH
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-JotorecySXWw_font-family: "Inter", sans-serif;
  --mixin-JotorecySXWw_font-size: 16px;
  --mixin-JotorecySXWw_font-weight: 400;
  --mixin-JotorecySXWw_font-style: normal;
  --mixin-JotorecySXWw_color: #535353;
  --mixin-JotorecySXWw_text-align: left;
  --mixin-JotorecySXWw_text-transform: none;
  --mixin-JotorecySXWw_line-height: 1.5;
  --mixin-JotorecySXWw_letter-spacing: normal;
  --mixin-JotorecySXWw_white-space: pre-wrap;
  --mixin-JotorecySXWw_user-select: text;
  --mixin-JotorecySXWw_text-decoration-line: none;
  --mixin-JotorecySXWw_text-overflow: clip;
  --mixin-QkV8DCjeDPC5_color: #000000;
  --mixin-QkV8DCjeDPC5_font-weight: 700;
  --mixin-QkV8DCjeDPC5_font-size: 64px;
  --mixin-QkV8DCjeDPC5_line-height: 1;
  --mixin-QkV8DCjeDPC5_letter-spacing: -1px;
  --mixin-QkV8DCjeDPC5_white-space: pre-wrap;
  --mixin--brGoQONJfdo_color: #000000;
  --mixin--brGoQONJfdo_font-size: 48px;
  --mixin--brGoQONJfdo_font-weight: 700;
  --mixin--brGoQONJfdo_letter-spacing: -0.5px;
  --mixin--brGoQONJfdo_line-height: 1.1;
  --mixin--brGoQONJfdo_white-space: pre-wrap;
  --mixin-GN46Zdx5F8F3_color: #0070f3;
  --mixin-GN46Zdx5F8F3_white-space: pre-wrap;
  --mixin-gRGdwmDDU2T1_color: #000000;
  --mixin-gRGdwmDDU2T1_font-size: 32px;
  --mixin-gRGdwmDDU2T1_font-weight: 600;
  --mixin-gRGdwmDDU2T1_line-height: 1.2;
  --mixin-gRGdwmDDU2T1_white-space: pre-wrap;
  --mixin-4twwlXmYV7VI_color: #000000;
  --mixin-4twwlXmYV7VI_font-size: 24px;
  --mixin-4twwlXmYV7VI_font-weight: 600;
  --mixin-4twwlXmYV7VI_line-height: 1.3;
  --mixin-4twwlXmYV7VI_white-space: pre-wrap;
  --mixin-vueFIY0q2TUu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vueFIY0q2TUu_border-bottom-color: #dddddd;
  --mixin-vueFIY0q2TUu_border-bottom-style: solid;
  --mixin-vueFIY0q2TUu_border-bottom-width: 1px;
  --mixin-vueFIY0q2TUu_border-left-color: #dddddd;
  --mixin-vueFIY0q2TUu_border-left-style: solid;
  --mixin-vueFIY0q2TUu_border-left-width: 1px;
  --mixin-vueFIY0q2TUu_border-right-color: #dddddd;
  --mixin-vueFIY0q2TUu_border-right-style: solid;
  --mixin-vueFIY0q2TUu_border-right-width: 1px;
  --mixin-vueFIY0q2TUu_border-top-color: #dddddd;
  --mixin-vueFIY0q2TUu_border-top-style: solid;
  --mixin-vueFIY0q2TUu_border-top-width: 1px;
  --mixin-vueFIY0q2TUu_border-bottom-left-radius: 3px;
  --mixin-vueFIY0q2TUu_border-bottom-right-radius: 3px;
  --mixin-vueFIY0q2TUu_border-top-left-radius: 3px;
  --mixin-vueFIY0q2TUu_border-top-right-radius: 3px;
  --mixin-vueFIY0q2TUu_font-family: "Inconsolata";
  --mixin-vueFIY0q2TUu_padding-bottom: 1px;
  --mixin-vueFIY0q2TUu_padding-left: 4px;
  --mixin-vueFIY0q2TUu_padding-right: 4px;
  --mixin-vueFIY0q2TUu_padding-top: 1px;
  --mixin-vueFIY0q2TUu_white-space: pre-wrap;
  --mixin-ggpE7NujpkOx_border-left-color: #dddddd;
  --mixin-ggpE7NujpkOx_border-left-style: solid;
  --mixin-ggpE7NujpkOx_border-left-width: 3px;
  --mixin-ggpE7NujpkOx_color: #888888;
  --mixin-ggpE7NujpkOx_padding-left: 10px;
  --mixin-ggpE7NujpkOx_white-space: pre-wrap;
  --mixin-2prWmn9ycIUY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2prWmn9ycIUY_border-bottom-color: #dddddd;
  --mixin-2prWmn9ycIUY_border-bottom-style: solid;
  --mixin-2prWmn9ycIUY_border-bottom-width: 1px;
  --mixin-2prWmn9ycIUY_border-left-color: #dddddd;
  --mixin-2prWmn9ycIUY_border-left-style: solid;
  --mixin-2prWmn9ycIUY_border-left-width: 1px;
  --mixin-2prWmn9ycIUY_border-right-color: #dddddd;
  --mixin-2prWmn9ycIUY_border-right-style: solid;
  --mixin-2prWmn9ycIUY_border-right-width: 1px;
  --mixin-2prWmn9ycIUY_border-top-color: #dddddd;
  --mixin-2prWmn9ycIUY_border-top-style: solid;
  --mixin-2prWmn9ycIUY_border-top-width: 1px;
  --mixin-2prWmn9ycIUY_border-bottom-left-radius: 3px;
  --mixin-2prWmn9ycIUY_border-bottom-right-radius: 3px;
  --mixin-2prWmn9ycIUY_border-top-left-radius: 3px;
  --mixin-2prWmn9ycIUY_border-top-right-radius: 3px;
  --mixin-2prWmn9ycIUY_font-family: "Inconsolata";
  --mixin-2prWmn9ycIUY_padding-bottom: 3px;
  --mixin-2prWmn9ycIUY_padding-left: 6px;
  --mixin-2prWmn9ycIUY_padding-right: 6px;
  --mixin-2prWmn9ycIUY_padding-top: 3px;
  --mixin-2prWmn9ycIUY_white-space: pre-wrap;
  --mixin-dTUF8vpFzTwt_display: flex;
  --mixin-dTUF8vpFzTwt_flex-direction: column;
  --mixin-dTUF8vpFzTwt_align-items: stretch;
  --mixin-dTUF8vpFzTwt_justify-content: flex-start;
  --mixin-dTUF8vpFzTwt_list-style-position: outside;
  --mixin-dTUF8vpFzTwt_padding-left: 40px;
  --mixin-dTUF8vpFzTwt_position: relative;
  --mixin-dTUF8vpFzTwt_list-style-type: disc;
  --mixin-dTUF8vpFzTwt_white-space: pre-wrap;
  --mixin-AKrVRIMTpcTK_display: flex;
  --mixin-AKrVRIMTpcTK_flex-direction: column;
  --mixin-AKrVRIMTpcTK_align-items: stretch;
  --mixin-AKrVRIMTpcTK_justify-content: flex-start;
  --mixin-AKrVRIMTpcTK_list-style-position: outside;
  --mixin-AKrVRIMTpcTK_padding-left: 40px;
  --mixin-AKrVRIMTpcTK_position: relative;
  --mixin-AKrVRIMTpcTK_list-style-type: decimal;
  --mixin-AKrVRIMTpcTK_white-space: pre-wrap;
  --mixin-FWkoCryaobVP_color: #000000;
  --mixin-FWkoCryaobVP_font-size: 20px;
  --mixin-FWkoCryaobVP_font-weight: 600;
  --mixin-FWkoCryaobVP_line-height: 1.5;
  --mixin-FWkoCryaobVP_white-space: pre-wrap;
  --mixin-CqAXYohdIhyD_color: #000000;
  --mixin-CqAXYohdIhyD_font-size: 16px;
  --mixin-CqAXYohdIhyD_font-weight: 600;
  --mixin-CqAXYohdIhyD_line-height: 1.5;
  --mixin-CqAXYohdIhyD_white-space: pre-wrap;
  --mixin-nOIm5WGPCJ2W_color: #3291ff;
  --mixin-nOIm5WGPCJ2W_white-space: pre-wrap;
  --mixin-pMk9YaVapfas_white-space: pre-wrap;
  --mixin-vLrltB13Tueu_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-RkDmC0Vz7c8h_box-shadow: 0px 0px 6px 1px var(--token-WQlfRbBqJnGU);
  --plasmic-mixin-button-primary-focus-shadow_box-shadow: var(
    --mixin-RkDmC0Vz7c8h_box-shadow
  );
  --mixin-RkDmC0Vz7c8h_white-space: pre-wrap;
  --plasmic-mixin-button-primary-focus-shadow_white-space: var(
    --mixin-RkDmC0Vz7c8h_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-JotorecySXWw_font-family);
  font-size: var(--mixin-JotorecySXWw_font-size);
  font-weight: var(--mixin-JotorecySXWw_font-weight);
  font-style: var(--mixin-JotorecySXWw_font-style);
  color: var(--mixin-JotorecySXWw_color);
  text-align: var(--mixin-JotorecySXWw_text-align);
  text-transform: var(--mixin-JotorecySXWw_text-transform);
  line-height: var(--mixin-JotorecySXWw_line-height);
  letter-spacing: var(--mixin-JotorecySXWw_letter-spacing);
  white-space: var(--mixin-JotorecySXWw_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-QkV8DCjeDPC5_color);
  font-weight: var(--mixin-QkV8DCjeDPC5_font-weight);
  font-size: var(--mixin-QkV8DCjeDPC5_font-size);
  line-height: var(--mixin-QkV8DCjeDPC5_line-height);
  letter-spacing: var(--mixin-QkV8DCjeDPC5_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin--brGoQONJfdo_color);
  font-size: var(--mixin--brGoQONJfdo_font-size);
  font-weight: var(--mixin--brGoQONJfdo_font-weight);
  letter-spacing: var(--mixin--brGoQONJfdo_letter-spacing);
  line-height: var(--mixin--brGoQONJfdo_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-GN46Zdx5F8F3_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-gRGdwmDDU2T1_color);
  font-size: var(--mixin-gRGdwmDDU2T1_font-size);
  font-weight: var(--mixin-gRGdwmDDU2T1_font-weight);
  line-height: var(--mixin-gRGdwmDDU2T1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-4twwlXmYV7VI_color);
  font-size: var(--mixin-4twwlXmYV7VI_font-size);
  font-weight: var(--mixin-4twwlXmYV7VI_font-weight);
  line-height: var(--mixin-4twwlXmYV7VI_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vueFIY0q2TUu_font-family);
  border-radius: var(--mixin-vueFIY0q2TUu_border-top-left-radius)
    var(--mixin-vueFIY0q2TUu_border-top-right-radius)
    var(--mixin-vueFIY0q2TUu_border-bottom-right-radius)
    var(--mixin-vueFIY0q2TUu_border-bottom-left-radius);
  padding: var(--mixin-vueFIY0q2TUu_padding-top)
    var(--mixin-vueFIY0q2TUu_padding-right)
    var(--mixin-vueFIY0q2TUu_padding-bottom)
    var(--mixin-vueFIY0q2TUu_padding-left);
  border-top: var(--mixin-vueFIY0q2TUu_border-top-width)
    var(--mixin-vueFIY0q2TUu_border-top-style)
    var(--mixin-vueFIY0q2TUu_border-top-color);
  border-right: var(--mixin-vueFIY0q2TUu_border-right-width)
    var(--mixin-vueFIY0q2TUu_border-right-style)
    var(--mixin-vueFIY0q2TUu_border-right-color);
  border-bottom: var(--mixin-vueFIY0q2TUu_border-bottom-width)
    var(--mixin-vueFIY0q2TUu_border-bottom-style)
    var(--mixin-vueFIY0q2TUu_border-bottom-color);
  border-left: var(--mixin-vueFIY0q2TUu_border-left-width)
    var(--mixin-vueFIY0q2TUu_border-left-style)
    var(--mixin-vueFIY0q2TUu_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ggpE7NujpkOx_color);
  padding-left: var(--mixin-ggpE7NujpkOx_padding-left);
  border-left: var(--mixin-ggpE7NujpkOx_border-left-width)
    var(--mixin-ggpE7NujpkOx_border-left-style)
    var(--mixin-ggpE7NujpkOx_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2prWmn9ycIUY_font-family);
  border-radius: var(--mixin-2prWmn9ycIUY_border-top-left-radius)
    var(--mixin-2prWmn9ycIUY_border-top-right-radius)
    var(--mixin-2prWmn9ycIUY_border-bottom-right-radius)
    var(--mixin-2prWmn9ycIUY_border-bottom-left-radius);
  padding: var(--mixin-2prWmn9ycIUY_padding-top)
    var(--mixin-2prWmn9ycIUY_padding-right)
    var(--mixin-2prWmn9ycIUY_padding-bottom)
    var(--mixin-2prWmn9ycIUY_padding-left);
  border-top: var(--mixin-2prWmn9ycIUY_border-top-width)
    var(--mixin-2prWmn9ycIUY_border-top-style)
    var(--mixin-2prWmn9ycIUY_border-top-color);
  border-right: var(--mixin-2prWmn9ycIUY_border-right-width)
    var(--mixin-2prWmn9ycIUY_border-right-style)
    var(--mixin-2prWmn9ycIUY_border-right-color);
  border-bottom: var(--mixin-2prWmn9ycIUY_border-bottom-width)
    var(--mixin-2prWmn9ycIUY_border-bottom-style)
    var(--mixin-2prWmn9ycIUY_border-bottom-color);
  border-left: var(--mixin-2prWmn9ycIUY_border-left-width)
    var(--mixin-2prWmn9ycIUY_border-left-style)
    var(--mixin-2prWmn9ycIUY_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-dTUF8vpFzTwt_display);
  flex-direction: var(--mixin-dTUF8vpFzTwt_flex-direction);
  align-items: var(--mixin-dTUF8vpFzTwt_align-items);
  justify-content: var(--mixin-dTUF8vpFzTwt_justify-content);
  list-style-position: var(--mixin-dTUF8vpFzTwt_list-style-position);
  padding-left: var(--mixin-dTUF8vpFzTwt_padding-left);
  position: var(--mixin-dTUF8vpFzTwt_position);
  list-style-type: var(--mixin-dTUF8vpFzTwt_list-style-type);
  flex-column-gap: var(--mixin-dTUF8vpFzTwt_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-AKrVRIMTpcTK_display);
  flex-direction: var(--mixin-AKrVRIMTpcTK_flex-direction);
  align-items: var(--mixin-AKrVRIMTpcTK_align-items);
  justify-content: var(--mixin-AKrVRIMTpcTK_justify-content);
  list-style-position: var(--mixin-AKrVRIMTpcTK_list-style-position);
  padding-left: var(--mixin-AKrVRIMTpcTK_padding-left);
  position: var(--mixin-AKrVRIMTpcTK_position);
  list-style-type: var(--mixin-AKrVRIMTpcTK_list-style-type);
  flex-column-gap: var(--mixin-AKrVRIMTpcTK_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-FWkoCryaobVP_color);
  font-size: var(--mixin-FWkoCryaobVP_font-size);
  font-weight: var(--mixin-FWkoCryaobVP_font-weight);
  line-height: var(--mixin-FWkoCryaobVP_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-CqAXYohdIhyD_color);
  font-size: var(--mixin-CqAXYohdIhyD_font-size);
  font-weight: var(--mixin-CqAXYohdIhyD_font-weight);
  line-height: var(--mixin-CqAXYohdIhyD_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-nOIm5WGPCJ2W_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
