.buttonBase {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: var(--token-Fi5ZtOs9RR-X) var(--token-7QeHUx9RcMok);
}
.buttonBasesize_sm {
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
  padding: var(--token-Fi5ZtOs9RR-X) var(--token-1zgAc5NcAAV2);
}
.buttonBasesize_lg {
  padding-left: var(--token-mJXIm0Ozopbz);
  padding-right: var(--token-mJXIm0Ozopbz);
}
.buttonBasesize_xl {
  padding-left: var(--token-mJXIm0Ozopbz);
  padding-right: var(--token-mJXIm0Ozopbz);
}
.buttonBase:focus-within {
  outline: none;
}
.buttonBase___focusVisibleWithin {
  outline: none;
}
.button {
  display: flex;
  flex-direction: row;
  background: var(--token-CqgpETt_s0FB);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  width: 100%;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: var(--token-2ZAXwvNudO1R);
  padding: var(--token-QwLgYEOngWyA) var(--token-bIGLfKp9gfQK);
  border: 0px solid var(--token-2PxS9uOmpJtG);
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-yx1w5QKNlcSh));
  width: calc(100% + var(--token-yx1w5QKNlcSh));
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-yx1w5QKNlcSh);
}
.buttonisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.buttonshape_rounded {
  min-width: 100px;
  border-radius: var(--token-oFS7bSmtERNT);
}
.buttonshape_round {
  border-radius: var(--token-VCZjlqRGZ8gN);
  padding: var(--token-O7wpGwaq2Tus) var(--token-oBelxM-j41cD);
}
.buttonshape_sharp {
  border-radius: var(--token-nkMdPNQk5hLB);
}
.buttonsize_sm {
  padding: var(--token-1zgAc5NcAAV2) var(--token-oBelxM-j41cD);
}
.buttonsize_md {
  padding: var(--token-QwLgYEOngWyA) var(--token-bIGLfKp9gfQK);
}
.buttonsize_lg {
  padding: var(--token-Rkgxx9SXWS0V) var(--token-FyZSyQ-mJauc);
}
.buttonsize_xl {
  padding: var(--token-O7wpGwaq2Tus) var(--token-0KSemMVN-q5Y);
}
.buttonbackground_primary {
  background: var(--token-5rRE_ZCHoiAw);
}
.buttonbackground_secondary {
  background: var(--token-iw8nYNemZ5Kg);
}
.buttonbackground_tertiary {
  background: var(--token-HBLBtyoMqWFA);
}
.buttonbackground_destructive {
  background: var(--token--PHB9gzBIZpT);
}
.buttonbackground_action {
  background: var(--token-jWwfiQsxNPd-);
}
.buttonemphasis_subtle {
  background: var(--token-B1kSDB6XpDES);
  border-width: 1px;
  border-color: var(--token-2PxS9uOmpJtG);
}
.buttonemphasis_minimal {
  background: var(--token-7paqYGMcinZd);
}
.buttonemphasis_clear {
  background: none;
}
.buttonforeground_primary {
  border-color: var(--token-UMr8p6znb3TU);
}
.buttonforeground_secondary {
  border-color: var(--token-wzwDQJJqQQTt);
}
.buttonBase:hover .button {
  background: linear-gradient(
      var(--token-3VkZAC7SK5D1),
      var(--token-3VkZAC7SK5D1)
    ),
    var(--token-CqgpETt_s0FB);
}
.buttonBase:focus-within .button {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.buttonBase .button___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px var(--token-L5Jm3kgWukCd);
  outline: none;
}
.buttonBase:active .button {
  background: linear-gradient(
      var(--token-Y2XNG-EPggPE),
      var(--token-Y2XNG-EPggPE)
    ),
    var(--token-CqgpETt_s0FB);
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.startIconContainershowStartIcon {
  display: flex;
}
.startIconContainericonOnly {
  display: flex;
}
.slotTargetStartIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetStartIconemphasis_subtle {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconemphasis_minimal {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconemphasis_clear {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetStartIconforeground_primary {
  color: var(--token-1g_91YChDTik);
}
.slotTargetStartIconforeground_secondary {
  color: var(--token-rHt8TvU0Uy3e);
}
.slotTargetStartIconforeground_tertiary {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetStartIconforeground_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetStartIconforeground_action {
  color: var(--token-9yW6jetbzSV8);
}
.buttonBaseemphasis_subtle:hover .slotTargetStartIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:hover .slotTargetStartIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_subtle:active .slotTargetStartIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:active .slotTargetStartIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.svg__sXoTe {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.contentContainericonOnly {
  display: none;
}
.slotTargetChildren {
  color: var(--token-u5mO1w3_pCt1);
  font-weight: 500;
  white-space: pre;
  font-size: var(--token-zaeTmMYET_aN);
}
.slotTargetChildrenbackground_secondary {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_tertiary {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_destructive {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenbackground_action {
  color: var(--token-u5mO1w3_pCt1);
}
.slotTargetChildrenemphasis_subtle {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenemphasis_minimal {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenemphasis_clear {
  color: var(--token-RtRtUSjoOGH7);
}
.slotTargetChildrenforeground_primary {
  color: var(--token-cCFqtkT5CEn5);
}
.slotTargetChildrenforeground_secondary {
  color: var(--token-biNSbz9S5smx);
}
.slotTargetChildrenforeground_tertiary {
  color: var(--token-3HkJ21bcIwF2);
}
.slotTargetChildrenforeground_destructive {
  color: var(--token-nqGJiF96z8hF);
}
.slotTargetChildrenforeground_action {
  color: var(--token-EVta4tF-m8aY);
}
.buttonBaseemphasis_subtle:hover .slotTargetChildrenemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:hover .slotTargetChildrenemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_subtle:active .slotTargetChildrenemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:active .slotTargetChildrenemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_secondary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_tertiary {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconbackground_destructive {
  color: var(--token-utkWp2bSsfIB);
}
.slotTargetEndIconemphasis_subtle {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconemphasis_minimal {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconemphasis_clear {
  color: var(--token-WQD5MjdU94lK);
}
.slotTargetEndIconforeground_primary {
  color: var(--token-1g_91YChDTik);
}
.slotTargetEndIconforeground_secondary {
  color: var(--token-rHt8TvU0Uy3e);
}
.slotTargetEndIconforeground_tertiary {
  color: var(--token-3Cx_MtOry1Ne);
}
.slotTargetEndIconforeground_destructive {
  color: var(--token-KmU1pkgsocgu);
}
.slotTargetEndIconforeground_action {
  color: var(--token-9yW6jetbzSV8);
}
.buttonBaseemphasis_subtle:hover .slotTargetEndIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:hover .slotTargetEndIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_subtle:active .slotTargetEndIconemphasis_subtle {
  color: var(--token-u5mO1w3_pCt1);
}
.buttonBaseemphasis_minimal:active .slotTargetEndIconemphasis_minimal {
  color: var(--token-u5mO1w3_pCt1);
}
.svg__wOtjI {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
