.listGroupBase {
  display: inline-flex;
  position: relative;
  width: auto;
  height: auto;
  justify-self: flex-start;
  flex-direction: column;
  padding: var(--token-DA4pDViPh__t);
}
.listGroupBase > :global(.__wab_flex-container) {
  flex-direction: column;
}
.listGroupBasesize_sm {
  padding: var(--token-rAqHjGQNQt3r);
}
.listGroupBasesize_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-1X-nOvQnhxrb));
  height: calc(100% + var(--token-1X-nOvQnhxrb));
}
.listGroupBasesize_sm > :global(.__wab_flex-container) > *,
.listGroupBasesize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.listGroupBasesize_sm > :global(.__wab_flex-container) > picture > img,
.listGroupBasesize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-1X-nOvQnhxrb);
}
.listGroupBasesize_lg {
  padding: var(--token-HA67cdlfH6jP);
}
.listGroupBasesize_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-CXS3m1iyST-B));
  height: calc(100% + var(--token-CXS3m1iyST-B));
}
.listGroupBasesize_lg > :global(.__wab_flex-container) > *,
.listGroupBasesize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.listGroupBasesize_lg > :global(.__wab_flex-container) > picture > img,
.listGroupBasesize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-CXS3m1iyST-B);
}
.listGroupGrid {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row-gap: var(--token-2aay77SOugbF);
  grid-column-gap: var(--token-2aay77SOugbF);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 8px;
}
.listGroupGridsize_sm {
  grid-row-gap: var(--token-1X-nOvQnhxrb);
  grid-column-gap: var(--token-1X-nOvQnhxrb);
}
.listGroupGridsize_lg {
  grid-row-gap: var(--token-CXS3m1iyST-B);
  grid-column-gap: var(--token-CXS3m1iyST-B);
}
.listGroupGridcolumns__2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.listGroupGridcolumns__3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.listGroupGridcolumns__4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.listGroupGridcolumns__6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.listGroupGridlayout_unnamedVariant {
  flex-grow: 0;
}
.listItemStack1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.listItemStack1removalOfItems__1 {
  display: none;
}
.listItem__siiqr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jUXxN {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__zhvZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack2size_sm {
  left: auto;
  top: auto;
}
.listItemStack2size_lg {
  left: auto;
  top: auto;
}
.listItemStack2removalOfItems__2 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__ew3YK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y3DJj {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uuRPe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack3size_sm {
  left: auto;
  top: auto;
}
.listItemStack3size_lg {
  left: auto;
  top: auto;
}
.listItemStack3removalOfItems__3 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__mSuMl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__djINf {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__v4UZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack4size_sm {
  left: auto;
  top: auto;
}
.listItemStack4size_lg {
  left: auto;
  top: auto;
}
.listItemStack4removalOfItems__4 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__mA46Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rW9I {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dkJtt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack5size_sm {
  left: auto;
  top: auto;
}
.listItemStack5size_lg {
  left: auto;
  top: auto;
}
.listItemStack5removalOfItems__5 {
  left: auto;
  top: auto;
  display: none;
}
.listItem___76RHm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6TgY {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ervDe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack6size_sm {
  left: auto;
  top: auto;
}
.listItemStack6size_lg {
  left: auto;
  top: auto;
}
.listItemStack6removalOfItems__6 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__uB1D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__v37Fy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__t3ZlQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack7size_sm {
  left: auto;
  top: auto;
}
.listItemStack7size_lg {
  left: auto;
  top: auto;
}
.listItemStack7removalOfItems__7 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__eVeWh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7KoLw {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ourFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack8size_sm {
  left: auto;
  top: auto;
}
.listItemStack8size_lg {
  left: auto;
  top: auto;
}
.listItemStack8removalOfItems__8 {
  left: auto;
  top: auto;
  display: none;
}
.listItem___1ZNtz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__swb9A {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nBruW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack9size_sm {
  left: auto;
  top: auto;
}
.listItemStack9size_lg {
  left: auto;
  top: auto;
}
.listItemStack9removalOfItems__9 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__dDuys:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aPie {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__b75Ms {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack10size_sm {
  left: auto;
  top: auto;
}
.listItemStack10size_lg {
  left: auto;
  top: auto;
}
.listItemStack10removalOfItems__10 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__jrQLz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pi9Ka {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__y2E5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack11size_sm {
  left: auto;
  top: auto;
}
.listItemStack11size_lg {
  left: auto;
  top: auto;
}
.listItemStack11removalOfItems__11 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__uIcgr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__giqMy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xjOz7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack12size_sm {
  left: auto;
  top: auto;
}
.listItemStack12size_lg {
  left: auto;
  top: auto;
}
.listItemStack12removalOfItems__12 {
  left: auto;
  top: auto;
  display: none;
}
.listItem__tWoli:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pHCf9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__a64G3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
