@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-A0Lzkbu6uJto: var(--token-jGGDIdKRIeDV);
  --plasmic-token-theme-font-family-serif: var(--token-A0Lzkbu6uJto);
  --token-VHZRGOSpfmTw: Roboto Mono;
  --plasmic-token-theme-font-family-mono: var(--token-VHZRGOSpfmTw);
  --token-hj3JEq3vfxU9: Source Sans Pro;
  --plasmic-token-theme-font-family-sans: var(--token-hj3JEq3vfxU9);
  --token-TiQ9RsTxau13: 1.75;
  --plasmic-token-theme-font-line-height-lvl-06: var(--token-TiQ9RsTxau13);
  --token-JOs1j2eF9J0i: 1.2;
  --plasmic-token-theme-font-line-height-lvl-02: var(--token-JOs1j2eF9J0i);
  --token-fKjcp-tZOC5a: 1;
  --plasmic-token-theme-font-line-height-lvl-01: var(--token-fKjcp-tZOC5a);
  --token-xZwMR60EjzhH: 1.35;
  --plasmic-token-theme-font-line-height-lvl-03: var(--token-xZwMR60EjzhH);
  --token-lbyOdc9OOmyR: 1.62;
  --plasmic-token-theme-font-line-height-lvl-05: var(--token-lbyOdc9OOmyR);
  --token-rfpRi91NcNoc: 1.5;
  --plasmic-token-theme-font-line-height-lvl-04: var(--token-rfpRi91NcNoc);
  --token-NdoqUROzcv8Q: 4.75em;
  --plasmic-token-theme-font-size-lvl-15: var(--token-NdoqUROzcv8Q);
  --token-H42lj-kQv4ZQ: 1.5em;
  --plasmic-token-theme-font-size-lvl-07: var(--token-H42lj-kQv4ZQ);
  --token-IqEZxNDvTIZJ: 1.75em;
  --plasmic-token-theme-font-size-lvl-08: var(--token-IqEZxNDvTIZJ);
  --token-16DMKWlbRedl: 2.25em;
  --plasmic-token-theme-font-size-lvl-09: var(--token-16DMKWlbRedl);
  --token-QXblDxPnuoZY: 2.625em;
  --plasmic-token-theme-font-size-lvl-10: var(--token-QXblDxPnuoZY);
  --token-OqQN24jeheUp: 3em;
  --plasmic-token-theme-font-size-lvl-11: var(--token-OqQN24jeheUp);
  --token-7K8LXZ7spO9F: 3.375em;
  --plasmic-token-theme-font-size-lvl-12: var(--token-7K8LXZ7spO9F);
  --token-2EwGRQ5kX58N: 3.75em;
  --plasmic-token-theme-font-size-lvl-13: var(--token-2EwGRQ5kX58N);
  --token-U0ZCTi8EqvnO: 4.25em;
  --plasmic-token-theme-font-size-lvl-14: var(--token-U0ZCTi8EqvnO);
  --token-9HPMJ__bOXGt: 1.125em;
  --plasmic-token-theme-font-size-lvl-05: var(--token-9HPMJ__bOXGt);
  --token-CR-s679GAr0w: 0.75em;
  --plasmic-token-theme-font-size-lvl-02: var(--token-CR-s679GAr0w);
  --token-N1hz0WEy-q1X: 0.5em;
  --plasmic-token-theme-font-size-lvl-01: var(--token-N1hz0WEy-q1X);
  --token-Lfd6njrQXLGV: 1em;
  --plasmic-token-theme-font-size-lvl-04: var(--token-Lfd6njrQXLGV);
  --token-0HOhXs24yJGL: 1.25em;
  --plasmic-token-theme-font-size-lvl-06: var(--token-0HOhXs24yJGL);
  --token-hnpYfiCx985W: 0.875em;
  --plasmic-token-theme-font-size-lvl-03: var(--token-hnpYfiCx985W);
  --token-KGPO2kMkMnpK: var(--token-njV1csG1kB8s);
  --plasmic-token-theme-color-universal-main-lvl-01: var(--token-KGPO2kMkMnpK);
  --token-vSYz4C7KzJWS: var(--token-7-3iSscEdlg0);
  --plasmic-token-theme-color-universal-main-lvl-02: var(--token-vSYz4C7KzJWS);
  --token-sMLnhAvP0Udr: var(--token-csqv4R-bbrvA);
  --plasmic-token-theme-color-universal-main-lvl-03: var(--token-sMLnhAvP0Udr);
  --token-_cfz5jS2TNUK: var(--token-5S6dYHnehuGg);
  --plasmic-token-theme-color-universal-main-lvl-04: var(--token-_cfz5jS2TNUK);
  --token-bQFZwRu8onx1: var(--token--qh8euPIU7Eq);
  --plasmic-token-theme-color-universal-main-lvl-05: var(--token-bQFZwRu8onx1);
  --token-xGJIAQL0q22g: var(--token-GFX8yHdC_hN_);
  --plasmic-token-theme-color-universal-main-lvl-06: var(--token-xGJIAQL0q22g);
  --token-LxtL2Zr8wWfY: var(--token-xfw_8MpNiAN0);
  --plasmic-token-theme-color-universal-main-lvl-07: var(--token-LxtL2Zr8wWfY);
  --token-kIjwwZJLoLGs: var(--token-lLPoRkuR8otF);
  --plasmic-token-theme-color-universal-main-lvl-08: var(--token-kIjwwZJLoLGs);
  --token-n_w9g1Ek7VAT: var(--token-TWwvJRcwlDVK);
  --plasmic-token-theme-color-universal-main-lvl-09: var(--token-n_w9g1Ek7VAT);
  --token-tRhvd6yOdAOQ: var(--token-a6Trtn6fCWcR);
  --plasmic-token-theme-color-universal-ancillary-lvl-01: var(
    --token-tRhvd6yOdAOQ
  );
  --token-nLpvXPe26lHg: var(--token-6Wg439ZjD1Ln);
  --plasmic-token-theme-color-universal-ancillary-lvl-02: var(
    --token-nLpvXPe26lHg
  );
  --token-nCi9uZU4MMBG: var(--token-HdU9KbK__kB3);
  --plasmic-token-theme-color-universal-ancillary-lvl-03: var(
    --token-nCi9uZU4MMBG
  );
  --token-6Pc_D9LWxNMT: var(--token-U7DxEoGVYO9q);
  --plasmic-token-theme-color-universal-ancillary-lvl-04: var(
    --token-6Pc_D9LWxNMT
  );
  --token-aBZV5erNjmV0: var(--token-WukeJApuzKIr);
  --plasmic-token-theme-color-universal-ancillary-lvl-05: var(
    --token-aBZV5erNjmV0
  );
  --token-tdAvJW8uufRk: var(--token-KLKPZyIeo7Ka);
  --plasmic-token-theme-color-universal-ancillary-lvl-06: var(
    --token-tdAvJW8uufRk
  );
  --token-K2pD_7AVyruy: var(--token-TUdiFiY3o5Nb);
  --plasmic-token-theme-color-universal-ancillary-lvl-07: var(
    --token-K2pD_7AVyruy
  );
  --token-CbZfXJVfGbEX: var(--token-VwhdqT_D2dI1);
  --plasmic-token-theme-color-universal-ancillary-lvl-08: var(
    --token-CbZfXJVfGbEX
  );
  --token-_ta3mUiU85s1: var(--token-g69LgvuEaqRT);
  --plasmic-token-theme-color-universal-ancillary-lvl-09: var(
    --token-_ta3mUiU85s1
  );
  --token-kjcRcFyMxW0z: var(--token-aUwjgR0qxY5C);
  --plasmic-token-theme-color-universal-main-lvl-10: var(--token-kjcRcFyMxW0z);
  --token-ppdGkQKrSLtb: var(--token-212w07KROKHt);
  --plasmic-token-theme-color-universal-ancillary-lvl-10: var(
    --token-ppdGkQKrSLtb
  );
  --token-3sctROrDjD2p: var(--token-AFCJ0laTLrEd);
  --plasmic-token-theme-color-universal-standard-lvl-01: var(
    --token-3sctROrDjD2p
  );
  --token-i2SPcMvpEMGE: var(--token-q3VCitX_I4xP);
  --plasmic-token-theme-color-universal-standard-lvl-02: var(
    --token-i2SPcMvpEMGE
  );
  --token-3ZqjufxsyArm: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-theme-color-universal-standard-lvl-03: var(
    --token-3ZqjufxsyArm
  );
  --token-FVxIRYV3HiT7: var(--token-OlSC77BWi0Eq);
  --plasmic-token-theme-color-universal-standard-lvl-04: var(
    --token-FVxIRYV3HiT7
  );
  --token-SIuCixRniF72: var(--token-VPB3WV3IT1gq);
  --plasmic-token-theme-color-universal-standard-lvl-05: var(
    --token-SIuCixRniF72
  );
  --token-kmpmYp4QL8Lj: var(--token-1uT3IIrbdlxr);
  --plasmic-token-theme-color-universal-standard-lvl-06: var(
    --token-kmpmYp4QL8Lj
  );
  --token-bs6cJkwMrhnI: var(--token-TiPVh24ZhEs5);
  --plasmic-token-theme-color-universal-standard-lvl-07: var(
    --token-bs6cJkwMrhnI
  );
  --token-tUENvXva6SSK: var(--token-bYax8giCMWFM);
  --plasmic-token-theme-color-universal-standard-lvl-08: var(
    --token-tUENvXva6SSK
  );
  --token-j5gN08uq1MUt: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-theme-color-universal-standard-lvl-09: var(
    --token-j5gN08uq1MUt
  );
  --token-lE5wRSVJEa4o: var(--token-C55EMsbocuaS);
  --plasmic-token-theme-color-universal-standard-lvl-10: var(
    --token-lE5wRSVJEa4o
  );
  --token-WwifPTV6KZp7: var(--token-TVHRBudcTFqL);
  --plasmic-token-theme-color-universal-accent-lvl-01: var(
    --token-WwifPTV6KZp7
  );
  --token-3je87SVDOHS7: var(--token-inTqZxo4BXWT);
  --plasmic-token-theme-color-universal-accent-lvl-02: var(
    --token-3je87SVDOHS7
  );
  --token-fUzCOC3vxZlY: var(--token-j-tQjlkdA-E-);
  --plasmic-token-theme-color-universal-accent-lvl-03: var(
    --token-fUzCOC3vxZlY
  );
  --token-4Zoc8-zGQurL: var(--token-GdEbztdmnHii);
  --plasmic-token-theme-color-universal-accent-lvl-04: var(
    --token-4Zoc8-zGQurL
  );
  --token-uySMF48wP4bZ: var(--token-TygQtT3Ehj1d);
  --plasmic-token-theme-color-universal-accent-lvl-05: var(
    --token-uySMF48wP4bZ
  );
  --token-bF42hCk3vALG: var(--token-gtT-HGoP_yYz);
  --plasmic-token-theme-color-universal-accent-lvl-06: var(
    --token-bF42hCk3vALG
  );
  --token-WweqkuUomuLK: var(--token-qVkE6NIWzrdF);
  --plasmic-token-theme-color-universal-accent-lvl-07: var(
    --token-WweqkuUomuLK
  );
  --token-qOLy3l9DSL1V: var(--token-5ZS3VskDJfKc);
  --plasmic-token-theme-color-universal-accent-lvl-08: var(
    --token-qOLy3l9DSL1V
  );
  --token-6eB_8939qchN: var(--token-UVRM5XWfkrfp);
  --plasmic-token-theme-color-universal-accent-lvl-09: var(
    --token-6eB_8939qchN
  );
  --token-jDJXVJyiLB2X: var(--token-RjEV2p8w7aZs);
  --plasmic-token-theme-color-universal-accent-lvl-10: var(
    --token-jDJXVJyiLB2X
  );
  --token-hRJsmYIVYVlQ: 5.25em;
  --plasmic-token-theme-font-size-lvl-16: var(--token-hRJsmYIVYVlQ);
  --token-3mRMwDsfMoQO: 5.75em;
  --plasmic-token-theme-font-size-lvl-17: var(--token-3mRMwDsfMoQO);
  --token-7UWAYs5JI1EJ: 2.25;
  --plasmic-token-theme-font-line-height-lvl-07: var(--token-7UWAYs5JI1EJ);
  --token-_ys1ebh_8Q3_: 2.5;
  --plasmic-token-theme-font-line-height-lvl-08: var(--token-_ys1ebh_8Q3_);
  --token-gsZ_vbkfKSNa: 3.13;
  --plasmic-token-theme-font-line-height-lvl-09: var(--token-gsZ_vbkfKSNa);
  --token-M5kC19Fw-dj8: 4;
  --plasmic-token-theme-font-line-height-lvl-10: var(--token-M5kC19Fw-dj8);
  --token-IppVK-ou5sXk: 4.38;
  --plasmic-token-theme-font-line-height-lvl-11: var(--token-IppVK-ou5sXk);
  --token-tM3IZB1UpDth: 6.38;
  --plasmic-token-theme-font-line-height-lvl-12: var(--token-tM3IZB1UpDth);
  --token-oG_W-qNYH_ox: var(--token-KGPO2kMkMnpK);
  --plasmic-token-theme-color-badge-status-error: var(--token-oG_W-qNYH_ox);
  --token-5rRE_ZCHoiAw: var(--token-NL1r6Cf5SJIg);
  --plasmic-token-theme-button-bold-default-background-primary-color: var(
    --token-5rRE_ZCHoiAw
  );
  --token-1g_91YChDTik: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-button-non-bold-default-icon-primary-color: var(
    --token-1g_91YChDTik
  );
  --token-cCFqtkT5CEn5: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-button-non-bold-default-text-primary-color: var(
    --token-cCFqtkT5CEn5
  );
  --token-UMr8p6znb3TU: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-button-subtle-default-border-primary-color: var(
    --token-UMr8p6znb3TU
  );
  --token-bARsKQT35Q3Z: var(--token-xGJIAQL0q22g);
  --plasmic-token-theme-semantic-color-main-text: var(--token-bARsKQT35Q3Z);
  --token-NL1r6Cf5SJIg: var(--token-xGJIAQL0q22g);
  --plasmic-token-theme-semantic-color-main-bold: var(--token-NL1r6Cf5SJIg);
  --token-EJmouwcm_aJc: var(--token-LxtL2Zr8wWfY);
  --plasmic-token-theme-semantic-color-main-default: var(--token-EJmouwcm_aJc);
  --token-IxugBh5v1G7j: var(--token-_cfz5jS2TNUK);
  --plasmic-token-theme-semantic-color-main-disabled: var(--token-IxugBh5v1G7j);
  --token-o_DLhjJYUvvP: var(--token-kIjwwZJLoLGs);
  --plasmic-token-theme-semantic-color-main-emphasis: var(--token-o_DLhjJYUvvP);
  --token-xsCv1elf99aa: var(--token-bQFZwRu8onx1);
  --plasmic-token-theme-semantic-color-main-muted: var(--token-xsCv1elf99aa);
  --token-EmTTIKMRWDOk: var(--token-KGPO2kMkMnpK);
  --plasmic-token-theme-semantic-color-main-subtle: var(--token-EmTTIKMRWDOk);
  --token-jZctOfeoNyK5: var(--token-xGJIAQL0q22g);
  --plasmic-token-theme-semantic-color-main-background: var(
    --token-jZctOfeoNyK5
  );
  --token-M9lU7LsdUQrD: var(--token-tdAvJW8uufRk);
  --plasmic-token-theme-semantic-color-ancillary-background: var(
    --token-M9lU7LsdUQrD
  );
  --token-FcWU9p68g7eK: var(--token-tdAvJW8uufRk);
  --plasmic-token-theme-semantic-color-ancillary-bold: var(
    --token-FcWU9p68g7eK
  );
  --token-0rAfWyld2Uyu: var(--token-K2pD_7AVyruy);
  --plasmic-token-theme-semantic-color-ancillary-default: var(
    --token-0rAfWyld2Uyu
  );
  --token-48Fn5ZFrajif: var(--token-6Pc_D9LWxNMT);
  --plasmic-token-theme-semantic-color-ancillary-disabled: var(
    --token-48Fn5ZFrajif
  );
  --token-K6th1w66aD-R: var(--token-CbZfXJVfGbEX);
  --plasmic-token-theme-semantic-color-ancillary-emphasis: var(
    --token-K6th1w66aD-R
  );
  --token-yOfX6Gjhtq03: var(--token-aBZV5erNjmV0);
  --plasmic-token-theme-semantic-color-ancillary-muted: var(
    --token-yOfX6Gjhtq03
  );
  --token--ZiL4mysYqk6: var(--token-tRhvd6yOdAOQ);
  --plasmic-token-theme-semantic-color-ancillary-subtle: var(
    --token--ZiL4mysYqk6
  );
  --token-umDxa7otClAM: var(--token-tdAvJW8uufRk);
  --plasmic-token-theme-semantic-color-ancillary-text: var(
    --token-umDxa7otClAM
  );
  --token-lNXnl-XEBnAU: var(--token-kmpmYp4QL8Lj);
  --plasmic-token-theme-semantic-color-standard-bold: var(--token-lNXnl-XEBnAU);
  --token-J8A7J-5suTIg: var(--token-bs6cJkwMrhnI);
  --plasmic-token-theme-semantic-color-standard-default: var(
    --token-J8A7J-5suTIg
  );
  --token-ejMEFgtWrPiJ: var(--token-FVxIRYV3HiT7);
  --plasmic-token-theme-semantic-color-standard-disabled: var(
    --token-ejMEFgtWrPiJ
  );
  --token-VOitaQ7X4tm1: var(--token-tUENvXva6SSK);
  --plasmic-token-theme-semantic-color-standard-emphasis: var(
    --token-VOitaQ7X4tm1
  );
  --token-fL_YENqKPH8S: var(--token-kmpmYp4QL8Lj);
  --plasmic-token-theme-semantic-color-standard-background: var(
    --token-fL_YENqKPH8S
  );
  --token-VodL_H7MVKOH: var(--token-SIuCixRniF72);
  --plasmic-token-theme-semantic-color-standard-muted: var(
    --token-VodL_H7MVKOH
  );
  --token-Kxpa0mjWdB5S: var(--token-3sctROrDjD2p);
  --plasmic-token-theme-semantic-color-standard-subtle: var(
    --token-Kxpa0mjWdB5S
  );
  --token-0CTZ2W56M2zA: var(--token-kmpmYp4QL8Lj);
  --plasmic-token-theme-semantic-color-standard-text: var(--token-0CTZ2W56M2zA);
  --token-wDaOHcsLH6-m: 24px;
  --plasmic-token-headline-line-height-xxs: var(--token-wDaOHcsLH6-m);
  --token-85XXAV7-tfbp: 64px;
  --plasmic-token-headline-line-height-xxl: var(--token-85XXAV7-tfbp);
  --token-iw8nYNemZ5Kg: var(--token-M9lU7LsdUQrD);
  --plasmic-token-theme-button-bold-default-background-secondary-color: var(
    --token-iw8nYNemZ5Kg
  );
  --token-rHt8TvU0Uy3e: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-button-non-bold-default-icon-secondary-color: var(
    --token-rHt8TvU0Uy3e
  );
  --token-biNSbz9S5smx: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-button-non-bold-default-text-secondary-color: var(
    --token-biNSbz9S5smx
  );
  --token-wzwDQJJqQQTt: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-button-subtle-default-border-secondary-color: var(
    --token-wzwDQJJqQQTt
  );
  --token-oK52kQl9kfVR: var(--token-NL1r6Cf5SJIg);
  --plasmic-token-theme-menu-item-bold-default-background-primary-color: var(
    --token-oK52kQl9kfVR
  );
  --token-Kka_lnAfelZq: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-menu-item-non-bold-default-icon-primary-color: var(
    --token-Kka_lnAfelZq
  );
  --token-SvxgpANeO6I5: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-menu-item-non-bold-default-text-primary-color: var(
    --token-SvxgpANeO6I5
  );
  --token-_ePQcyQVtz8T: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-menu-item-subtle-default-border-primary-color: var(
    --token-_ePQcyQVtz8T
  );
  --token-if1Jmb_ovSoJ: var(--token-FcWU9p68g7eK);
  --plasmic-token-theme-menu-item-bold-default-background-secondary-color: var(
    --token-if1Jmb_ovSoJ
  );
  --token-0XwmntWAkj_m: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-menu-item-non-bold-default-icon-secondary-color: var(
    --token-0XwmntWAkj_m
  );
  --token-PKk4b7l0m-U2: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-menu-item-non-bold-default-text-secondary-color: var(
    --token-PKk4b7l0m-U2
  );
  --token-1v24vLRekFgg: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-menu-item-subtle-default-border-secondary-color: var(
    --token-1v24vLRekFgg
  );
  --token-op4wSQtiXQZl: var(--token-NL1r6Cf5SJIg);
  --plasmic-token-theme-switch-color-handle-surface-on-action: var(
    --token-op4wSQtiXQZl
  );
  --token-kJKLS4lMutTW: var(--token-NL1r6Cf5SJIg);
  --plasmic-token-theme-list-item-icon-brand-primary-color: var(
    --token-kJKLS4lMutTW
  );
  --token-WmmClvS3qN1F: var(--token-FcWU9p68g7eK);
  --plasmic-token-theme-list-item-icon-brand-secondary-color: var(
    --token-WmmClvS3qN1F
  );
  --token-Rs3ahDsqKvAT: var(--token-VodL_H7MVKOH);
  --plasmic-token-theme-list-item-icon-brand-standard-color: var(
    --token-Rs3ahDsqKvAT
  );
  --token-l6rIby6fZK2G: var(--token-bARsKQT35Q3Z);
  --plasmic-token-theme-list-item-text-brand-primary-color: var(
    --token-l6rIby6fZK2G
  );
  --token-IWNJmSGQGgKN: var(--token-umDxa7otClAM);
  --plasmic-token-theme-list-item-text-brand-secondary-color: var(
    --token-IWNJmSGQGgKN
  );
  --token-h4pkIDqpo0I3: var(--token-0CTZ2W56M2zA);
  --plasmic-token-theme-list-item-text-brand-standard-color: var(
    --token-h4pkIDqpo0I3
  );
  --token-G5QMixuI7AWm: var(--token-o_DLhjJYUvvP);
  --plasmic-token-theme-icon-interaction-active-brand-primary-color: var(
    --token-G5QMixuI7AWm
  );
  --token-l8waA4fjPXks: var(--token-EJmouwcm_aJc);
  --plasmic-token-theme-icon-interaction-default-brand-primary-color: var(
    --token-l8waA4fjPXks
  );
  --token-nY79zKnKAiU9: var(--token-NL1r6Cf5SJIg);
  --plasmic-token-theme-icon-interaction-focus-brand-primary-color: var(
    --token-nY79zKnKAiU9
  );
  --token-11MBmQ5XNXTP: var(--token-o_DLhjJYUvvP);
  --plasmic-token-theme-icon-interaction-hover-brand-primary-color: var(
    --token-11MBmQ5XNXTP
  );
  --token-sNYYyClxtrGC: var(--token-IxugBh5v1G7j);
  --plasmic-token-theme-icon-status-brand-universal-primary-color: var(
    --token-sNYYyClxtrGC
  );
  --token-6AqWBJ7b2rcJ: var(--token-K6th1w66aD-R);
  --plasmic-token-theme-icon-interaction-active-brand-secondary-color: var(
    --token-6AqWBJ7b2rcJ
  );
  --token-qst8o75pCo1m: var(--token-0rAfWyld2Uyu);
  --plasmic-token-theme-icon-interaction-default-brand-secondary-color: var(
    --token-qst8o75pCo1m
  );
  --token-v7TMgi6dEMI3: var(--token-FcWU9p68g7eK);
  --plasmic-token-theme-icon-interaction-focus-brand-secondary-color: var(
    --token-v7TMgi6dEMI3
  );
  --token-4gZpCHSAap1q: var(--token-K6th1w66aD-R);
  --plasmic-token-theme-icon-interaction-hover-brand-secondary-color: var(
    --token-4gZpCHSAap1q
  );
  --token-YIQNAvw9-zV4: var(--token-48Fn5ZFrajif);
  --plasmic-token-theme-icon-status-disabled-brand-secondary-color: var(
    --token-YIQNAvw9-zV4
  );
  --token-7QeHUx9RcMok: 16px;
  --plasmic-token-button-padding-base-md: var(--token-7QeHUx9RcMok);
  --token-Fi5ZtOs9RR-X: 2px;
  --plasmic-token-button-padding-base-none: var(--token-Fi5ZtOs9RR-X);
  --token-mJXIm0Ozopbz: 24px;
  --plasmic-token-button-padding-base-lg: var(--token-mJXIm0Ozopbz);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-zq3sTvDLTYNh_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-zq3sTvDLTYNh_font-size: var(--token-Lfd6njrQXLGV);
  --mixin-zq3sTvDLTYNh_font-weight: 400;
  --mixin-zq3sTvDLTYNh_font-style: normal;
  --mixin-zq3sTvDLTYNh_color: #131313;
  --mixin-zq3sTvDLTYNh_text-align: left;
  --mixin-zq3sTvDLTYNh_text-transform: none;
  --mixin-zq3sTvDLTYNh_line-height: var(--token-rfpRi91NcNoc);
  --mixin-zq3sTvDLTYNh_letter-spacing: normal;
  --mixin-zq3sTvDLTYNh_white-space: pre-wrap;
  --mixin-zq3sTvDLTYNh_user-select: text;
  --mixin-zq3sTvDLTYNh_text-decoration-line: none;
  --mixin-zq3sTvDLTYNh_text-overflow: clip;
  --mixin-6qVkLlm26okc_color: #131313;
  --mixin-6qVkLlm26okc_font-weight: 400;
  --mixin-6qVkLlm26okc_font-size: var(--token-7K8LXZ7spO9F);
  --mixin-6qVkLlm26okc_line-height: 1;
  --mixin-6qVkLlm26okc_letter-spacing: -1px;
  --mixin-6qVkLlm26okc_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-6qVkLlm26okc_white-space: pre-wrap;
  --mixin-qQZ1SlOLjJjC_color: #131313;
  --mixin-qQZ1SlOLjJjC_font-size: var(--token-QXblDxPnuoZY);
  --mixin-qQZ1SlOLjJjC_font-weight: 400;
  --mixin-qQZ1SlOLjJjC_letter-spacing: -0.5px;
  --mixin-qQZ1SlOLjJjC_line-height: 1.1;
  --mixin-qQZ1SlOLjJjC_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-qQZ1SlOLjJjC_white-space: pre-wrap;
  --mixin-rVH1sw2WS5iT_color: #0070f3;
  --mixin-rVH1sw2WS5iT_white-space: pre-wrap;
  --mixin-XX11sThFIwfH_color: #131313;
  --mixin-XX11sThFIwfH_font-size: var(--token-IqEZxNDvTIZJ);
  --mixin-XX11sThFIwfH_font-weight: 400;
  --mixin-XX11sThFIwfH_line-height: 1.2;
  --mixin-XX11sThFIwfH_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-XX11sThFIwfH_white-space: pre-wrap;
  --mixin-GMTufwRgbxb4_color: #131313;
  --mixin-GMTufwRgbxb4_font-size: var(--token-0HOhXs24yJGL);
  --mixin-GMTufwRgbxb4_font-weight: 400;
  --mixin-GMTufwRgbxb4_line-height: 1.3;
  --mixin-GMTufwRgbxb4_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-GMTufwRgbxb4_white-space: pre-wrap;
  --mixin-2fSDtOsRtPsY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2fSDtOsRtPsY_border-bottom-color: #dddddd;
  --mixin-2fSDtOsRtPsY_border-bottom-style: solid;
  --mixin-2fSDtOsRtPsY_border-bottom-width: 1px;
  --mixin-2fSDtOsRtPsY_border-left-color: #dddddd;
  --mixin-2fSDtOsRtPsY_border-left-style: solid;
  --mixin-2fSDtOsRtPsY_border-left-width: 1px;
  --mixin-2fSDtOsRtPsY_border-right-color: #dddddd;
  --mixin-2fSDtOsRtPsY_border-right-style: solid;
  --mixin-2fSDtOsRtPsY_border-right-width: 1px;
  --mixin-2fSDtOsRtPsY_border-top-color: #dddddd;
  --mixin-2fSDtOsRtPsY_border-top-style: solid;
  --mixin-2fSDtOsRtPsY_border-top-width: 1px;
  --mixin-2fSDtOsRtPsY_border-bottom-left-radius: 3px;
  --mixin-2fSDtOsRtPsY_border-bottom-right-radius: 3px;
  --mixin-2fSDtOsRtPsY_border-top-left-radius: 3px;
  --mixin-2fSDtOsRtPsY_border-top-right-radius: 3px;
  --mixin-2fSDtOsRtPsY_font-family: "Inconsolata";
  --mixin-2fSDtOsRtPsY_padding-bottom: 1px;
  --mixin-2fSDtOsRtPsY_padding-left: 4px;
  --mixin-2fSDtOsRtPsY_padding-right: 4px;
  --mixin-2fSDtOsRtPsY_padding-top: 1px;
  --mixin-2fSDtOsRtPsY_white-space: pre-wrap;
  --mixin-4cvuIK-_NUq1_border-left-color: #dddddd;
  --mixin-4cvuIK-_NUq1_border-left-style: solid;
  --mixin-4cvuIK-_NUq1_border-left-width: 3px;
  --mixin-4cvuIK-_NUq1_color: #888888;
  --mixin-4cvuIK-_NUq1_padding-left: 10px;
  --mixin-4cvuIK-_NUq1_white-space: pre-wrap;
  --mixin-O7W_4BnHEdvn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-O7W_4BnHEdvn_border-bottom-color: #dddddd;
  --mixin-O7W_4BnHEdvn_border-bottom-style: solid;
  --mixin-O7W_4BnHEdvn_border-bottom-width: 1px;
  --mixin-O7W_4BnHEdvn_border-left-color: #dddddd;
  --mixin-O7W_4BnHEdvn_border-left-style: solid;
  --mixin-O7W_4BnHEdvn_border-left-width: 1px;
  --mixin-O7W_4BnHEdvn_border-right-color: #dddddd;
  --mixin-O7W_4BnHEdvn_border-right-style: solid;
  --mixin-O7W_4BnHEdvn_border-right-width: 1px;
  --mixin-O7W_4BnHEdvn_border-top-color: #dddddd;
  --mixin-O7W_4BnHEdvn_border-top-style: solid;
  --mixin-O7W_4BnHEdvn_border-top-width: 1px;
  --mixin-O7W_4BnHEdvn_border-bottom-left-radius: 3px;
  --mixin-O7W_4BnHEdvn_border-bottom-right-radius: 3px;
  --mixin-O7W_4BnHEdvn_border-top-left-radius: 3px;
  --mixin-O7W_4BnHEdvn_border-top-right-radius: 3px;
  --mixin-O7W_4BnHEdvn_font-family: "Inconsolata";
  --mixin-O7W_4BnHEdvn_padding-bottom: 3px;
  --mixin-O7W_4BnHEdvn_padding-left: 6px;
  --mixin-O7W_4BnHEdvn_padding-right: 6px;
  --mixin-O7W_4BnHEdvn_padding-top: 3px;
  --mixin-O7W_4BnHEdvn_white-space: pre-wrap;
  --mixin-9B-fD0s_N0Dk_display: flex;
  --mixin-9B-fD0s_N0Dk_flex-direction: column;
  --mixin-9B-fD0s_N0Dk_align-items: stretch;
  --mixin-9B-fD0s_N0Dk_justify-content: flex-start;
  --mixin-9B-fD0s_N0Dk_list-style-position: outside;
  --mixin-9B-fD0s_N0Dk_padding-left: 40px;
  --mixin-9B-fD0s_N0Dk_position: relative;
  --mixin-9B-fD0s_N0Dk_list-style-type: disc;
  --mixin-9B-fD0s_N0Dk_white-space: pre-wrap;
  --mixin-X8unSY6WNzua_display: flex;
  --mixin-X8unSY6WNzua_flex-direction: column;
  --mixin-X8unSY6WNzua_align-items: stretch;
  --mixin-X8unSY6WNzua_justify-content: flex-start;
  --mixin-X8unSY6WNzua_list-style-position: outside;
  --mixin-X8unSY6WNzua_padding-left: 40px;
  --mixin-X8unSY6WNzua_position: relative;
  --mixin-X8unSY6WNzua_list-style-type: decimal;
  --mixin-X8unSY6WNzua_white-space: pre-wrap;
  --mixin-l1H14zD-Zynm_color: #131313;
  --mixin-l1H14zD-Zynm_font-size: var(--token-9HPMJ__bOXGt);
  --mixin-l1H14zD-Zynm_font-weight: 400;
  --mixin-l1H14zD-Zynm_line-height: 1.5;
  --mixin-l1H14zD-Zynm_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-l1H14zD-Zynm_white-space: pre-wrap;
  --mixin-J1-cx5xgrccZ_color: #131313;
  --mixin-J1-cx5xgrccZ_font-size: var(--token-Lfd6njrQXLGV);
  --mixin-J1-cx5xgrccZ_font-weight: 400;
  --mixin-J1-cx5xgrccZ_line-height: 1.5;
  --mixin-J1-cx5xgrccZ_font-family: var(--token-hj3JEq3vfxU9);
  --mixin-J1-cx5xgrccZ_white-space: pre-wrap;
  --mixin-K433YExQ_9Ag_color: #3291ff;
  --mixin-K433YExQ_9Ag_white-space: pre-wrap;
  --mixin-0KGN6wGxsnZM_white-space: pre-wrap;
  --mixin-2TEj3cdLibXM_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-zq3sTvDLTYNh_font-family);
  font-size: var(--mixin-zq3sTvDLTYNh_font-size);
  font-weight: var(--mixin-zq3sTvDLTYNh_font-weight);
  font-style: var(--mixin-zq3sTvDLTYNh_font-style);
  color: var(--mixin-zq3sTvDLTYNh_color);
  text-align: var(--mixin-zq3sTvDLTYNh_text-align);
  text-transform: var(--mixin-zq3sTvDLTYNh_text-transform);
  line-height: var(--mixin-zq3sTvDLTYNh_line-height);
  letter-spacing: var(--mixin-zq3sTvDLTYNh_letter-spacing);
  white-space: var(--mixin-zq3sTvDLTYNh_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-6qVkLlm26okc_color);
  font-weight: var(--mixin-6qVkLlm26okc_font-weight);
  font-size: var(--mixin-6qVkLlm26okc_font-size);
  line-height: var(--mixin-6qVkLlm26okc_line-height);
  letter-spacing: var(--mixin-6qVkLlm26okc_letter-spacing);
  font-family: var(--mixin-6qVkLlm26okc_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-qQZ1SlOLjJjC_color);
  font-size: var(--mixin-qQZ1SlOLjJjC_font-size);
  font-weight: var(--mixin-qQZ1SlOLjJjC_font-weight);
  letter-spacing: var(--mixin-qQZ1SlOLjJjC_letter-spacing);
  line-height: var(--mixin-qQZ1SlOLjJjC_line-height);
  font-family: var(--mixin-qQZ1SlOLjJjC_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-rVH1sw2WS5iT_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-XX11sThFIwfH_color);
  font-size: var(--mixin-XX11sThFIwfH_font-size);
  font-weight: var(--mixin-XX11sThFIwfH_font-weight);
  line-height: var(--mixin-XX11sThFIwfH_line-height);
  font-family: var(--mixin-XX11sThFIwfH_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-GMTufwRgbxb4_color);
  font-size: var(--mixin-GMTufwRgbxb4_font-size);
  font-weight: var(--mixin-GMTufwRgbxb4_font-weight);
  line-height: var(--mixin-GMTufwRgbxb4_line-height);
  font-family: var(--mixin-GMTufwRgbxb4_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2fSDtOsRtPsY_font-family);
  border-radius: var(--mixin-2fSDtOsRtPsY_border-top-left-radius)
    var(--mixin-2fSDtOsRtPsY_border-top-right-radius)
    var(--mixin-2fSDtOsRtPsY_border-bottom-right-radius)
    var(--mixin-2fSDtOsRtPsY_border-bottom-left-radius);
  padding: var(--mixin-2fSDtOsRtPsY_padding-top)
    var(--mixin-2fSDtOsRtPsY_padding-right)
    var(--mixin-2fSDtOsRtPsY_padding-bottom)
    var(--mixin-2fSDtOsRtPsY_padding-left);
  border-top: var(--mixin-2fSDtOsRtPsY_border-top-width)
    var(--mixin-2fSDtOsRtPsY_border-top-style)
    var(--mixin-2fSDtOsRtPsY_border-top-color);
  border-right: var(--mixin-2fSDtOsRtPsY_border-right-width)
    var(--mixin-2fSDtOsRtPsY_border-right-style)
    var(--mixin-2fSDtOsRtPsY_border-right-color);
  border-bottom: var(--mixin-2fSDtOsRtPsY_border-bottom-width)
    var(--mixin-2fSDtOsRtPsY_border-bottom-style)
    var(--mixin-2fSDtOsRtPsY_border-bottom-color);
  border-left: var(--mixin-2fSDtOsRtPsY_border-left-width)
    var(--mixin-2fSDtOsRtPsY_border-left-style)
    var(--mixin-2fSDtOsRtPsY_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-4cvuIK-_NUq1_color);
  padding-left: var(--mixin-4cvuIK-_NUq1_padding-left);
  border-left: var(--mixin-4cvuIK-_NUq1_border-left-width)
    var(--mixin-4cvuIK-_NUq1_border-left-style)
    var(--mixin-4cvuIK-_NUq1_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-O7W_4BnHEdvn_font-family);
  border-radius: var(--mixin-O7W_4BnHEdvn_border-top-left-radius)
    var(--mixin-O7W_4BnHEdvn_border-top-right-radius)
    var(--mixin-O7W_4BnHEdvn_border-bottom-right-radius)
    var(--mixin-O7W_4BnHEdvn_border-bottom-left-radius);
  padding: var(--mixin-O7W_4BnHEdvn_padding-top)
    var(--mixin-O7W_4BnHEdvn_padding-right)
    var(--mixin-O7W_4BnHEdvn_padding-bottom)
    var(--mixin-O7W_4BnHEdvn_padding-left);
  border-top: var(--mixin-O7W_4BnHEdvn_border-top-width)
    var(--mixin-O7W_4BnHEdvn_border-top-style)
    var(--mixin-O7W_4BnHEdvn_border-top-color);
  border-right: var(--mixin-O7W_4BnHEdvn_border-right-width)
    var(--mixin-O7W_4BnHEdvn_border-right-style)
    var(--mixin-O7W_4BnHEdvn_border-right-color);
  border-bottom: var(--mixin-O7W_4BnHEdvn_border-bottom-width)
    var(--mixin-O7W_4BnHEdvn_border-bottom-style)
    var(--mixin-O7W_4BnHEdvn_border-bottom-color);
  border-left: var(--mixin-O7W_4BnHEdvn_border-left-width)
    var(--mixin-O7W_4BnHEdvn_border-left-style)
    var(--mixin-O7W_4BnHEdvn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-9B-fD0s_N0Dk_display);
  flex-direction: var(--mixin-9B-fD0s_N0Dk_flex-direction);
  align-items: var(--mixin-9B-fD0s_N0Dk_align-items);
  justify-content: var(--mixin-9B-fD0s_N0Dk_justify-content);
  list-style-position: var(--mixin-9B-fD0s_N0Dk_list-style-position);
  padding-left: var(--mixin-9B-fD0s_N0Dk_padding-left);
  position: var(--mixin-9B-fD0s_N0Dk_position);
  list-style-type: var(--mixin-9B-fD0s_N0Dk_list-style-type);
  flex-column-gap: var(--mixin-9B-fD0s_N0Dk_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-X8unSY6WNzua_display);
  flex-direction: var(--mixin-X8unSY6WNzua_flex-direction);
  align-items: var(--mixin-X8unSY6WNzua_align-items);
  justify-content: var(--mixin-X8unSY6WNzua_justify-content);
  list-style-position: var(--mixin-X8unSY6WNzua_list-style-position);
  padding-left: var(--mixin-X8unSY6WNzua_padding-left);
  position: var(--mixin-X8unSY6WNzua_position);
  list-style-type: var(--mixin-X8unSY6WNzua_list-style-type);
  flex-column-gap: var(--mixin-X8unSY6WNzua_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-l1H14zD-Zynm_color);
  font-size: var(--mixin-l1H14zD-Zynm_font-size);
  font-weight: var(--mixin-l1H14zD-Zynm_font-weight);
  line-height: var(--mixin-l1H14zD-Zynm_line-height);
  font-family: var(--mixin-l1H14zD-Zynm_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-J1-cx5xgrccZ_color);
  font-size: var(--mixin-J1-cx5xgrccZ_font-size);
  font-weight: var(--mixin-J1-cx5xgrccZ_font-weight);
  line-height: var(--mixin-J1-cx5xgrccZ_line-height);
  font-family: var(--mixin-J1-cx5xgrccZ_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-K433YExQ_9Ag_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
