.cardBase {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.cardBase > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.cardBase > :global(.__wab_flex-container) > *,
.cardBase > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBase > :global(.__wab_flex-container) > picture > img,
.cardBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.cardBasesize_sm {
  padding: var(--token-Hz6v97H6xVbi);
}
.cardBasesize_sm > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-Mqe-iV18Ejft));
  height: calc(100% + var(--token-Mqe-iV18Ejft));
}
.cardBasesize_sm > :global(.__wab_flex-container) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_sm > :global(.__wab_flex-container) > picture > img,
.cardBasesize_sm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-Mqe-iV18Ejft);
}
.cardBasesize_lg {
  padding: var(--token-3HQiYjeHaj-l);
}
.cardBasesize_lg > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-UP_KULkav8Lk));
  height: calc(100% + var(--token-UP_KULkav8Lk));
}
.cardBasesize_lg > :global(.__wab_flex-container) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardBasesize_lg > :global(.__wab_flex-container) > picture > img,
.cardBasesize_lg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-UP_KULkav8Lk);
}
.cardBaseorientation_reorientateBase {
  display: flex;
  flex-direction: row;
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-OAMVlOMRRlt0));
  width: calc(100% + var(--token-OAMVlOMRRlt0));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.cardBaseorientation_reorientateBase > :global(.__wab_flex-container) > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > picture
  > img,
.cardBaseorientation_reorientateBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-OAMVlOMRRlt0);
  margin-top: 0px;
}
.cardBasereverse_reverseBase {
  flex-direction: column-reverse;
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > *,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.cardBasereverse_reverseBase > :global(.__wab_flex-container) > picture > img,
.cardBasereverse_reverseBase
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.cardBasetype_pricing {
  width: 100%;
  min-width: 0;
}
.cardBasetype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.cardBasebackgroundLayer_unnamedVariant {
  background: var(--token-LOPaWrJHx7uX);
}
.upperStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: var(--token-kChqS-ho2d5l);
  padding-left: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.upperStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.upperStackorientation_reorientateUpperStack {
  display: flex;
  flex-direction: row;
}
.upperStackorientation_reorientateUpperStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-3ajic8j3bMDk));
  width: calc(100% + var(--token-3ajic8j3bMDk));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackorientation_reorientateUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3ajic8j3bMDk);
  margin-top: 0px;
}
.upperStackreverse_reverseUpperStack {
  flex-direction: column-reverse;
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStackreverse_reverseUpperStack > :global(.__wab_flex-container) > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.upperStackreverse_reverseUpperStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.upperStacktype_pricing {
  display: flex;
  flex-direction: column;
}
.upperStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.upperStacktype_pricing > :global(.__wab_flex-container) > *,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.upperStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.upperStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.flairStack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.flairStacktype_basic {
  display: none;
}
.flairStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.visualStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-kChqS-ho2d5l);
}
.visualStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.visualStack > :global(.__wab_flex-container) > *,
.visualStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.visualStack > :global(.__wab_flex-container) > picture > img,
.visualStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.imageStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.imageStacktype_image {
  display: flex;
}
.imageStacktype_article {
  display: none;
}
.imageStacktype_pricing {
  display: none;
}
.image__wo8I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.img___8GWyR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___8GWyR > picture > img {
  object-fit: cover;
}
.iconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.iconStacktype_image {
  display: flex;
}
.iconStacktype_article {
  display: none;
}
.iconStacktype_user {
  display: none;
}
.iconStacktype_pricing {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.icon__lRhrR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1GJVh {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.actionStack {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
}
.actionStackenableAction {
  display: flex;
}
.svg__iXgsc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.headingStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-kChqS-ho2d5l);
}
.headingStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.headingStack > :global(.__wab_flex-container) > *,
.headingStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headingStack > :global(.__wab_flex-container) > picture > img,
.headingStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.headingStacktype_pricing {
  display: flex;
  flex-direction: row;
}
.headingStacktype_pricing > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.headingStacktype_pricing > :global(.__wab_flex-container) > *,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.headingStacktype_pricing > :global(.__wab_flex-container) > picture > img,
.headingStacktype_pricing
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.headerElementStack {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headerElementStacktype_pricing {
  width: auto;
}
.headerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.headerStacktype_image {
  display: none;
}
.title__dqPe2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.kicker__dxFzu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__e6Cr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__qRnuT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__f8KEl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.subHeadline__xZeqP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__r704K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.titleElementStack > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-7Q6Tq4DaBVj1));
  width: calc(100% + var(--token-7Q6Tq4DaBVj1));
}
.titleElementStack > :global(.__wab_flex-container) > *,
.titleElementStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleElementStack > :global(.__wab_flex-container) > picture > img,
.titleElementStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-7Q6Tq4DaBVj1);
}
.titleElementStacklayout_center > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.titleStack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.titleStackstyles_removeTitle {
  display: none;
}
.titleStackstyles_removeBody {
  display: flex;
}
.titleStacktype_user {
  display: none;
}
.title__j4XnU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.kicker___22Ppw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__cgFrH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.headline__z3GL1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.text__xLQmQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.subHeadline__aJG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__jGx4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.lowerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-OAMVlOMRRlt0));
  height: calc(100% + var(--token-OAMVlOMRRlt0));
}
.lowerStack > :global(.__wab_flex-container) > *,
.lowerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.lowerStack > :global(.__wab_flex-container) > picture > img,
.lowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OAMVlOMRRlt0);
}
.lowerStackorientation_reorientateLowerStack {
  display: flex;
  flex-direction: row;
}
.lowerStackorientation_reorientateLowerStack > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-mOMUgWDDGuJX));
  width: calc(100% + var(--token-mOMUgWDDGuJX));
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackorientation_reorientateLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOMUgWDDGuJX);
  margin-top: 0px;
}
.lowerStackreverse_reverseLowerStack {
  flex-direction: column-reverse;
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.lowerStackreverse_reverseLowerStack > :global(.__wab_flex-container) > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > picture
  > img,
.lowerStackreverse_reverseLowerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.bodyStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.bodyStackstyles_removeBody {
  display: none;
}
.contentStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.contentStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.contentStack > :global(.__wab_flex-container) > *,
.contentStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentStack > :global(.__wab_flex-container) > picture > img,
.contentStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.content___5S44P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___6RwRn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  padding-bottom: 0px;
  min-width: 0;
}
.listStack {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-mOMUgWDDGuJX));
  height: calc(100% + var(--token-mOMUgWDDGuJX));
}
.listStack > :global(.__wab_flex-container) > *,
.listStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.listStack > :global(.__wab_flex-container) > picture > img,
.listStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-mOMUgWDDGuJX);
}
.listStacktype_pricing {
  display: flex;
}
.listGroup___4EKFh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.listItem__fXjc4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wPiKs {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___7Q4RJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__g7NiJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gneB {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5S7PU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__m6Gyr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___949C {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qf97D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__juWCt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fOfYo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5VOx0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__x0KPj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__orYE {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__z7Lwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__x4HhR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cGmiG {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oSv18 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__st9ZH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1J8Lj {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__g3O4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__niaF5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xdLTp {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___6OZyi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem___819A8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vvzI {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__vycUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__gRaVe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0Omcr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__m67Cd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__nYrJl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__h7WqV {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__qrDa8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItem__rQ8Tf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bwE64 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__lHbeO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerStack {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerStack > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-3ajic8j3bMDk));
  height: calc(100% + var(--token-3ajic8j3bMDk));
}
.footerStack > :global(.__wab_flex-container) > *,
.footerStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerStack > :global(.__wab_flex-container) > picture > img,
.footerStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-3ajic8j3bMDk);
}
.footerStacktype_article > :global(.__wab_flex-container) {
  align-items: flex-end;
  justify-content: flex-start;
}
.footerStacktype_pricing {
  width: 100%;
  min-width: 0;
}
.footerStacktype_pricing > :global(.__wab_flex-container) {
  min-width: 0;
}
.footerStacklayout_center > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
}
.footerButton {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerButtonstyles_removeFooterButton {
  display: none;
}
.footerButtontype_article {
  display: none;
}
.footerButtontype_user {
  display: none;
}
.footerButtontype_pricing {
  width: 100%;
  min-width: 0;
}
.footerButtonlayout_center {
  align-items: center;
  justify-content: flex-start;
}
.button__mGDoq:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__miJb {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uaQ5W {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.footerSeparator {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footerSeparatortype_basic {
  display: none;
}
.footerSeparatortype_image {
  display: none;
}
.footerSeparatortype_article {
  display: none;
}
.footerSeparatortype_user {
  display: none;
}
.footerSeparatortype_pricing {
  display: none;
}
.separator:global(.__wab_instance) {
  max-width: 100%;
}
.footerInformation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
  min-width: 0;
}
.footerInformationstyles_removeFooterInformation {
  display: none;
}
.footerInformationtype_basic {
  display: none;
}
.footerInformationtype_image {
  display: none;
}
.footerInformationtype_article {
  display: flex;
}
.footerInformationtype_user {
  display: none;
}
.content:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: var(--token-Cea0ZT4Ix3LR);
  min-width: 0;
}
.footerIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: var(--token-kChqS-ho2d5l);
  padding-right: var(--token-kChqS-ho2d5l);
}
.footerIconStacktype_basic {
  display: none;
}
.footerIconStacktype_image {
  display: none;
}
.footerIconStacktype_pricing {
  display: none;
}
.footerIconStacklayout_center {
  align-items: center;
  justify-content: flex-start;
}
.footerSocialIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerSocialIconStacktype_article {
  display: none;
}
.footerSocialIconStackfooterIconOptions_shareIcons {
  display: none;
}
.footerSocialIconStackfooterIconOptions_contactIcons {
  display: none;
}
.socialIcons__kxFjJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__twhxA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___0Vzjp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__alW9A {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__dbG3Q {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___3PntA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___3X1MH {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__eeVh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___11B0M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__lsXx2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__tmP4Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__iyBa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__ztSt {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__yzwfD {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___3Kzh7 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__eVagu {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__hAox {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__c5RRa {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__hcGfh {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___4DLJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bJJpt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__zTnng {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__apXX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__bD0Gq {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__nDvHq {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg___1Dxl0 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__zAyOe {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__qDgRb {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__lqMdw {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__caMf3 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__auN13 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__mnpFp {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__kW2L {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.footerShareIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerShareIconStacktype_user {
  display: none;
}
.footerShareIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerShareIconStackfooterIconOptions_contactIcons {
  display: none;
}
.shareIcons__ni4Oo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__m3Lzl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__y2BPl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.footerContactIconStack {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.footerContactIconStacktype_article {
  display: none;
}
.footerContactIconStacktype_user {
  display: none;
}
.footerContactIconStackfooterIconOptions_socialIcons {
  display: none;
}
.footerContactIconStackfooterIconOptions_shareIcons {
  display: none;
}
.contactIcons__tNhoz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cqAl6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg___3LnQl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg___48Nrw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
.svg__iMwF0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-34pC0B6OwjEu);
  height: 1em;
}
