@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-39AMjKzkISR9: var(--token-IaNhyDEP_rZQ);
  --plasmic-token-image-padding-lg: var(--token-39AMjKzkISR9);
  --token-xy0I9uMvhTbe: var(--token-ooyqpeY3PJfm);
  --plasmic-token-image-padding-md: var(--token-xy0I9uMvhTbe);
  --token-hBT0gbS-Rl3q: var(--token-sjmCVFAtkAXI);
  --plasmic-token-image-padding-sm: var(--token-hBT0gbS-Rl3q);
  --token-DNZ8WQ0kN_Nu: var(--token-b3CwEocSWMMK);
  --plasmic-token-image-padding-none: var(--token-DNZ8WQ0kN_Nu);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-CK-XJe3-UBaJ_font-family: "Inter", sans-serif;
  --mixin-CK-XJe3-UBaJ_font-size: 16px;
  --mixin-CK-XJe3-UBaJ_font-weight: 400;
  --mixin-CK-XJe3-UBaJ_font-style: normal;
  --mixin-CK-XJe3-UBaJ_color: #535353;
  --mixin-CK-XJe3-UBaJ_text-align: left;
  --mixin-CK-XJe3-UBaJ_text-transform: none;
  --mixin-CK-XJe3-UBaJ_line-height: 1.5;
  --mixin-CK-XJe3-UBaJ_letter-spacing: normal;
  --mixin-CK-XJe3-UBaJ_white-space: pre-wrap;
  --mixin-CK-XJe3-UBaJ_user-select: text;
  --mixin-CK-XJe3-UBaJ_text-decoration-line: none;
  --mixin-CK-XJe3-UBaJ_text-overflow: clip;
  --mixin-vxTTWENshGz2_color: #000000;
  --mixin-vxTTWENshGz2_font-weight: 700;
  --mixin-vxTTWENshGz2_font-size: 64px;
  --mixin-vxTTWENshGz2_line-height: 1;
  --mixin-vxTTWENshGz2_letter-spacing: -1px;
  --mixin-vxTTWENshGz2_white-space: pre-wrap;
  --mixin-04qzIIIbHbcS_color: #000000;
  --mixin-04qzIIIbHbcS_font-size: 48px;
  --mixin-04qzIIIbHbcS_font-weight: 700;
  --mixin-04qzIIIbHbcS_letter-spacing: -0.5px;
  --mixin-04qzIIIbHbcS_line-height: 1.1;
  --mixin-04qzIIIbHbcS_white-space: pre-wrap;
  --mixin-PSgVrhGBDOvk_color: #0070f3;
  --mixin-PSgVrhGBDOvk_white-space: pre-wrap;
  --mixin-UYpf1PRx01Et_color: #000000;
  --mixin-UYpf1PRx01Et_font-size: 32px;
  --mixin-UYpf1PRx01Et_font-weight: 600;
  --mixin-UYpf1PRx01Et_line-height: 1.2;
  --mixin-UYpf1PRx01Et_white-space: pre-wrap;
  --mixin-gW9mvGKdP-Hn_color: #000000;
  --mixin-gW9mvGKdP-Hn_font-size: 24px;
  --mixin-gW9mvGKdP-Hn_font-weight: 600;
  --mixin-gW9mvGKdP-Hn_line-height: 1.3;
  --mixin-gW9mvGKdP-Hn_white-space: pre-wrap;
  --mixin-8kSw0sdw29sN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8kSw0sdw29sN_border-bottom-color: #dddddd;
  --mixin-8kSw0sdw29sN_border-bottom-style: solid;
  --mixin-8kSw0sdw29sN_border-bottom-width: 1px;
  --mixin-8kSw0sdw29sN_border-left-color: #dddddd;
  --mixin-8kSw0sdw29sN_border-left-style: solid;
  --mixin-8kSw0sdw29sN_border-left-width: 1px;
  --mixin-8kSw0sdw29sN_border-right-color: #dddddd;
  --mixin-8kSw0sdw29sN_border-right-style: solid;
  --mixin-8kSw0sdw29sN_border-right-width: 1px;
  --mixin-8kSw0sdw29sN_border-top-color: #dddddd;
  --mixin-8kSw0sdw29sN_border-top-style: solid;
  --mixin-8kSw0sdw29sN_border-top-width: 1px;
  --mixin-8kSw0sdw29sN_border-bottom-left-radius: 3px;
  --mixin-8kSw0sdw29sN_border-bottom-right-radius: 3px;
  --mixin-8kSw0sdw29sN_border-top-left-radius: 3px;
  --mixin-8kSw0sdw29sN_border-top-right-radius: 3px;
  --mixin-8kSw0sdw29sN_font-family: "Inconsolata";
  --mixin-8kSw0sdw29sN_padding-bottom: 1px;
  --mixin-8kSw0sdw29sN_padding-left: 4px;
  --mixin-8kSw0sdw29sN_padding-right: 4px;
  --mixin-8kSw0sdw29sN_padding-top: 1px;
  --mixin-8kSw0sdw29sN_white-space: pre-wrap;
  --mixin-5cw7Wfymi9Q2_border-left-color: #dddddd;
  --mixin-5cw7Wfymi9Q2_border-left-style: solid;
  --mixin-5cw7Wfymi9Q2_border-left-width: 3px;
  --mixin-5cw7Wfymi9Q2_color: #888888;
  --mixin-5cw7Wfymi9Q2_padding-left: 10px;
  --mixin-5cw7Wfymi9Q2_white-space: pre-wrap;
  --mixin-3KpOQJs3yeF1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3KpOQJs3yeF1_border-bottom-color: #dddddd;
  --mixin-3KpOQJs3yeF1_border-bottom-style: solid;
  --mixin-3KpOQJs3yeF1_border-bottom-width: 1px;
  --mixin-3KpOQJs3yeF1_border-left-color: #dddddd;
  --mixin-3KpOQJs3yeF1_border-left-style: solid;
  --mixin-3KpOQJs3yeF1_border-left-width: 1px;
  --mixin-3KpOQJs3yeF1_border-right-color: #dddddd;
  --mixin-3KpOQJs3yeF1_border-right-style: solid;
  --mixin-3KpOQJs3yeF1_border-right-width: 1px;
  --mixin-3KpOQJs3yeF1_border-top-color: #dddddd;
  --mixin-3KpOQJs3yeF1_border-top-style: solid;
  --mixin-3KpOQJs3yeF1_border-top-width: 1px;
  --mixin-3KpOQJs3yeF1_border-bottom-left-radius: 3px;
  --mixin-3KpOQJs3yeF1_border-bottom-right-radius: 3px;
  --mixin-3KpOQJs3yeF1_border-top-left-radius: 3px;
  --mixin-3KpOQJs3yeF1_border-top-right-radius: 3px;
  --mixin-3KpOQJs3yeF1_font-family: "Inconsolata";
  --mixin-3KpOQJs3yeF1_padding-bottom: 3px;
  --mixin-3KpOQJs3yeF1_padding-left: 6px;
  --mixin-3KpOQJs3yeF1_padding-right: 6px;
  --mixin-3KpOQJs3yeF1_padding-top: 3px;
  --mixin-3KpOQJs3yeF1_white-space: pre-wrap;
  --mixin-XiCQhL9OoEcc_display: flex;
  --mixin-XiCQhL9OoEcc_flex-direction: column;
  --mixin-XiCQhL9OoEcc_align-items: stretch;
  --mixin-XiCQhL9OoEcc_justify-content: flex-start;
  --mixin-XiCQhL9OoEcc_list-style-position: outside;
  --mixin-XiCQhL9OoEcc_padding-left: 40px;
  --mixin-XiCQhL9OoEcc_position: relative;
  --mixin-XiCQhL9OoEcc_list-style-type: disc;
  --mixin-XiCQhL9OoEcc_white-space: pre-wrap;
  --mixin-TG3lDC_s5GU2_display: flex;
  --mixin-TG3lDC_s5GU2_flex-direction: column;
  --mixin-TG3lDC_s5GU2_align-items: stretch;
  --mixin-TG3lDC_s5GU2_justify-content: flex-start;
  --mixin-TG3lDC_s5GU2_list-style-position: outside;
  --mixin-TG3lDC_s5GU2_padding-left: 40px;
  --mixin-TG3lDC_s5GU2_position: relative;
  --mixin-TG3lDC_s5GU2_list-style-type: decimal;
  --mixin-TG3lDC_s5GU2_white-space: pre-wrap;
  --mixin-A6mC1VlfZQip_color: #000000;
  --mixin-A6mC1VlfZQip_font-size: 20px;
  --mixin-A6mC1VlfZQip_font-weight: 600;
  --mixin-A6mC1VlfZQip_line-height: 1.5;
  --mixin-A6mC1VlfZQip_white-space: pre-wrap;
  --mixin-gzT06xgCb7E7_color: #000000;
  --mixin-gzT06xgCb7E7_font-size: 16px;
  --mixin-gzT06xgCb7E7_font-weight: 600;
  --mixin-gzT06xgCb7E7_line-height: 1.5;
  --mixin-gzT06xgCb7E7_white-space: pre-wrap;
  --mixin-ZsCUnmSyg_lJ_color: #3291ff;
  --mixin-ZsCUnmSyg_lJ_white-space: pre-wrap;
  --mixin-3lIqtOu49olS_white-space: pre-wrap;
  --mixin-5ejSOThqgWJ7_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-CK-XJe3-UBaJ_font-family);
  font-size: var(--mixin-CK-XJe3-UBaJ_font-size);
  font-weight: var(--mixin-CK-XJe3-UBaJ_font-weight);
  font-style: var(--mixin-CK-XJe3-UBaJ_font-style);
  color: var(--mixin-CK-XJe3-UBaJ_color);
  text-align: var(--mixin-CK-XJe3-UBaJ_text-align);
  text-transform: var(--mixin-CK-XJe3-UBaJ_text-transform);
  line-height: var(--mixin-CK-XJe3-UBaJ_line-height);
  letter-spacing: var(--mixin-CK-XJe3-UBaJ_letter-spacing);
  white-space: var(--mixin-CK-XJe3-UBaJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-vxTTWENshGz2_color);
  font-weight: var(--mixin-vxTTWENshGz2_font-weight);
  font-size: var(--mixin-vxTTWENshGz2_font-size);
  line-height: var(--mixin-vxTTWENshGz2_line-height);
  letter-spacing: var(--mixin-vxTTWENshGz2_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-04qzIIIbHbcS_color);
  font-size: var(--mixin-04qzIIIbHbcS_font-size);
  font-weight: var(--mixin-04qzIIIbHbcS_font-weight);
  letter-spacing: var(--mixin-04qzIIIbHbcS_letter-spacing);
  line-height: var(--mixin-04qzIIIbHbcS_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-PSgVrhGBDOvk_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UYpf1PRx01Et_color);
  font-size: var(--mixin-UYpf1PRx01Et_font-size);
  font-weight: var(--mixin-UYpf1PRx01Et_font-weight);
  line-height: var(--mixin-UYpf1PRx01Et_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-gW9mvGKdP-Hn_color);
  font-size: var(--mixin-gW9mvGKdP-Hn_font-size);
  font-weight: var(--mixin-gW9mvGKdP-Hn_font-weight);
  line-height: var(--mixin-gW9mvGKdP-Hn_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-8kSw0sdw29sN_font-family);
  border-radius: var(--mixin-8kSw0sdw29sN_border-top-left-radius)
    var(--mixin-8kSw0sdw29sN_border-top-right-radius)
    var(--mixin-8kSw0sdw29sN_border-bottom-right-radius)
    var(--mixin-8kSw0sdw29sN_border-bottom-left-radius);
  padding: var(--mixin-8kSw0sdw29sN_padding-top)
    var(--mixin-8kSw0sdw29sN_padding-right)
    var(--mixin-8kSw0sdw29sN_padding-bottom)
    var(--mixin-8kSw0sdw29sN_padding-left);
  border-top: var(--mixin-8kSw0sdw29sN_border-top-width)
    var(--mixin-8kSw0sdw29sN_border-top-style)
    var(--mixin-8kSw0sdw29sN_border-top-color);
  border-right: var(--mixin-8kSw0sdw29sN_border-right-width)
    var(--mixin-8kSw0sdw29sN_border-right-style)
    var(--mixin-8kSw0sdw29sN_border-right-color);
  border-bottom: var(--mixin-8kSw0sdw29sN_border-bottom-width)
    var(--mixin-8kSw0sdw29sN_border-bottom-style)
    var(--mixin-8kSw0sdw29sN_border-bottom-color);
  border-left: var(--mixin-8kSw0sdw29sN_border-left-width)
    var(--mixin-8kSw0sdw29sN_border-left-style)
    var(--mixin-8kSw0sdw29sN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5cw7Wfymi9Q2_color);
  padding-left: var(--mixin-5cw7Wfymi9Q2_padding-left);
  border-left: var(--mixin-5cw7Wfymi9Q2_border-left-width)
    var(--mixin-5cw7Wfymi9Q2_border-left-style)
    var(--mixin-5cw7Wfymi9Q2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3KpOQJs3yeF1_font-family);
  border-radius: var(--mixin-3KpOQJs3yeF1_border-top-left-radius)
    var(--mixin-3KpOQJs3yeF1_border-top-right-radius)
    var(--mixin-3KpOQJs3yeF1_border-bottom-right-radius)
    var(--mixin-3KpOQJs3yeF1_border-bottom-left-radius);
  padding: var(--mixin-3KpOQJs3yeF1_padding-top)
    var(--mixin-3KpOQJs3yeF1_padding-right)
    var(--mixin-3KpOQJs3yeF1_padding-bottom)
    var(--mixin-3KpOQJs3yeF1_padding-left);
  border-top: var(--mixin-3KpOQJs3yeF1_border-top-width)
    var(--mixin-3KpOQJs3yeF1_border-top-style)
    var(--mixin-3KpOQJs3yeF1_border-top-color);
  border-right: var(--mixin-3KpOQJs3yeF1_border-right-width)
    var(--mixin-3KpOQJs3yeF1_border-right-style)
    var(--mixin-3KpOQJs3yeF1_border-right-color);
  border-bottom: var(--mixin-3KpOQJs3yeF1_border-bottom-width)
    var(--mixin-3KpOQJs3yeF1_border-bottom-style)
    var(--mixin-3KpOQJs3yeF1_border-bottom-color);
  border-left: var(--mixin-3KpOQJs3yeF1_border-left-width)
    var(--mixin-3KpOQJs3yeF1_border-left-style)
    var(--mixin-3KpOQJs3yeF1_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-XiCQhL9OoEcc_display);
  flex-direction: var(--mixin-XiCQhL9OoEcc_flex-direction);
  align-items: var(--mixin-XiCQhL9OoEcc_align-items);
  justify-content: var(--mixin-XiCQhL9OoEcc_justify-content);
  list-style-position: var(--mixin-XiCQhL9OoEcc_list-style-position);
  padding-left: var(--mixin-XiCQhL9OoEcc_padding-left);
  position: var(--mixin-XiCQhL9OoEcc_position);
  list-style-type: var(--mixin-XiCQhL9OoEcc_list-style-type);
  flex-column-gap: var(--mixin-XiCQhL9OoEcc_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-TG3lDC_s5GU2_display);
  flex-direction: var(--mixin-TG3lDC_s5GU2_flex-direction);
  align-items: var(--mixin-TG3lDC_s5GU2_align-items);
  justify-content: var(--mixin-TG3lDC_s5GU2_justify-content);
  list-style-position: var(--mixin-TG3lDC_s5GU2_list-style-position);
  padding-left: var(--mixin-TG3lDC_s5GU2_padding-left);
  position: var(--mixin-TG3lDC_s5GU2_position);
  list-style-type: var(--mixin-TG3lDC_s5GU2_list-style-type);
  flex-column-gap: var(--mixin-TG3lDC_s5GU2_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-A6mC1VlfZQip_color);
  font-size: var(--mixin-A6mC1VlfZQip_font-size);
  font-weight: var(--mixin-A6mC1VlfZQip_font-weight);
  line-height: var(--mixin-A6mC1VlfZQip_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-gzT06xgCb7E7_color);
  font-size: var(--mixin-gzT06xgCb7E7_font-size);
  font-weight: var(--mixin-gzT06xgCb7E7_font-weight);
  line-height: var(--mixin-gzT06xgCb7E7_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ZsCUnmSyg_lJ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
